body { font-family:Verdana, Geneva, sans-serif; font-size:12px; margin:0px; padding:0px; width:100%; }
#freeShipTop { width:100%; text-align:center; color:#FFF; font-size:12px; background-color:#696969; font-weight:bold; }
#freeText { color:#fe9b35; text-decoration:none; }
#logoRow { height:57px; text-align:center; }
#logoContainer { height:57px; width:320px; margin-left:auto; margin-right:auto; }
#weLogo { float:left; border-right:1px dotted #CCC; height:57px; }
#cartIcon { float:left; position:relative; height:57px; }
#inCart { position:absolute; bottom:0px; width:100%; text-align:center; color:#9a9a9a; font-size:12px; padding-bottom:5px; }
#searchBar { height:40px; width:100%; background-image:url(/images/mobile/orangeRedBg.gif); }
#searchContainer { height:40px; width:320px; margin-left:auto; margin-right:auto; padding-left:4px; }
#searchInput { float:left; margin-top:5px; padding:7px 0px 0px 5px; height:23px; width:240px; background-image:url(/images/mobile/weMobileSearchBackground.gif); }
#searchButton { float:left; padding:3px 0px 0px 2px; }
#searchTextBox { color:#999; border:0px; width:250px; }
#breadCrumbs { height:40px; background-image:url(/images/mobile/whiteGrayBg.gif); width:100%; }
#breadCrumbText { float:left; padding:12px 0px 0px 10px; }
#breadCrumbLink { color:#006599; font-weight:bold; text-decoration:none; height:40px; }
#breadCrumbBreak { float:left; padding-left:10px; height:40px; }
#customerService { height:30px; background-image:url(/images/mobile/whiteGrayBg.gif); width:100%; border-bottom:1px solid #ccc; text-align:center; color:#666; padding-top:10px; font-weight:bold; font-size:16px; }
#csNumber { color:#fff; font-weight:bold; font-size:16px; text-decoration:none; padding-right:15px; }
#lowerBox { background-image:url(/images/mobile/grayNoiseBackground.gif); width:100%; height:209px; margin-top:20px; }
#socializeText { color:#FFF; font-weight:bold; font-size:16px; width:100%; text-align:center; padding-top:10px; }
#socialIcons { margin-left:auto; margin-right:auto; width:200px; height:28px; margin-top:15px; }
#socialIcon { float:left; height:28px; width:29px; margin-left:15px; }
#lowerSpacer { background-image:url(/images/mobile/footerSpacer.gif); width:100%; height:2px; margin-top:10px;}
#footerText { width:100%; text-align:center; color:#FFF; font-size:11px; font-weight:bold; margin-top:10px; }
#basicForm { margin:0px; padding:0px; }
#bottomLinks { color:#FFF; text-decoration:none; }
#wholeSite { width:100%; text-align:center; overflow:hidden; }
#orderByPhone { color:#FFF; font-size:14px; float:left; font-weight:bold; padding:10px 0px 0px 10px; }
#searchBoxRow { margin:10px auto 10px auto; width:320px; height:30px; }
#searchSubmit { float:left; padding:7px 0px 0px 5px; font-size:12px; }
#searchSubmitButton { font-size:14px; }
#preLoading { background:url(/images/mobile/loading-grey.gif) no-repeat; width:30px; height:30px; margin:auto; }

.tb { display:table; }
.fl { float:left; }
.fr { float:right; }
.clr { clear:both; }
.bl { font-weight:bold; }
.mCenter { margin:0px auto; }
.mWidth { width:320px; }
.bold { font-weight:bold; }

.tp3 { padding-top:3px; }
.tp5 { padding-top:5px; }

.CallToAction { background-color:#333; color:#FFF; font-weight:bold; width:100%; text-align:center; padding-top:15px; height:30px; margin:0px; }
.ctaDownArrow { margin:0px auto; padding:0px; border:0px; background-image:url(/images/mobile/icons/cta_downArrow.gif); background-repeat:no-repeat; height:9px; width:20px; }
.whyShopItem { margin:10px auto 10px auto; height:20px; width:320px; }
.whyShopCheckmark { margin-left:20px; }
.whyShopText { color:#666; margin:2px 0px 0px 10px; font-weight:bold; }
.swipeBox { width:300px; height:165px; margin:0px auto; overflow:hidden; }
.innerSwipeBox { width:300px; height:185px; overflow:auto; }
.pt10 { padding-top:10px; }
.ptb10 { padding-top:10px; padding-bottom:10px; }
.bottomButtonGraphic {
	border:1px solid #CCC; border-radius:5px; width:300px; height:23px; color:#666; text-align:center; padding-top:7px; margin:0px auto 10px auto; cursor:pointer;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #ebebeb) );
	background:-moz-linear-gradient( center top, #ffffff 5%, #ebebeb 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ebebeb');
	background-color:#fff;
}

#fade {display: none; position: fixed;left: 0%;top: 0%;background-color: black;-moz-opacity: 0.7;opacity: .70;filter: alpha(opacity=70);width: 100%;height: 100%; z-index: 100;}

/* email floating widget*/
.discount-container{width:100%;position:fixed;bottom:0px;}
.discount{position:relative;width:280px;height:30px;border:1px solid #ccc;background:#fff;margin:0 auto;padding:5px 10px;}
.save{background:url("/images/mobile/emailPromo/save.png") no-repeat;width:133px;height:29px;position:relative;float:left;}
.get-discount{background:url("/images/mobile/emailPromo/get-discount.png") no-repeat; width:111px; height:31px;border:0; padding:0;margin:0 0 0 15px;cursor:pointer; font-family:"Open Sans", sans-serif; color:#fff; font-weight:bold;border-radius:5px;}
.close{background:url("/images/mobile/emailPromo/discount-close.png") no-repeat; width:18px; height:18px;position:absolute;top:0;right:0;margin:3px 3px 0 0;}
#overlay1, #overlay2 { font-family:'Open Sans', sans-serif; font-weight:normal;display: none;position:fixed;top: 50px; left:50%; margin-left:-150px; width: 300px;height: 50%;z-index: 101;}
.btn-close, .btn-close2 {cursor:pointer;width:40px;height:40px;position:absolute;background:url("/images/mobile/emailPromo/close-button.png") no-repeat;right:-20px;top:-20px;z-index:102;}
.modal-content{background:#fff;position:relative;float:left;width:280px;padding:10px;color:#333;font-size:12px;font-weight:normal;text-align:left;line-height:15px;border:1px solid #ccc;}
.discount-title{color:#f26923;font-size:15px;font-weight:700;text-align:center;margin:5px 0;}
.discount-subtitle{color:#000;font-size:15px;font-weight:700;text-align:center;margin:5px 0;}
.modal-email{border:1px solid #ccc;border-radius:5px;width:270px;height:20px;text-align:left;padding:5px;font-family:'Open Sans', sans-serif; font-size:12px;}
.get-discount-modal{background:url("/images/mobile/emailPromo/get-discount.png") no-repeat; width:111px; height:31px; border:0; padding:0;margin:0 auto;cursor:pointer; font-family:"Open Sans", sans-serif; color:#fff; font-weight:bold;border-radius:5px;}
.modal-continue {background:url("/images/mobile/emailPromo/continue-shopping.png") no-repeat; width:159px; height:31px;display:block;border:0;margin:0 auto;cursor:pointer;font-family:"Open Sans", sans-serif; color:#fff; font-weight:bold;border-radius:5px;}
.modal-button { background:url("/images/mobile/emailPromo/button.png"); width:114px; height:30px;display:block;border:0;margin:0 auto;cursor:pointer; font-family:"Myriad Pro", Helvetica, sans-serif; font-size:14px;color:#fff;font-weight:bold;letter-spacing:1px;}

/* post purchase  */
#thank-you { font-family:'Open Sans', sans-serif; font-weight:normal;display: none;position:absolute;top: 50px;left:50%; margin-left:-150px; width:300px; z-index: 101; text-align:left; }
.modal-content{background:#fff;position:relative;float:left;width:280px;padding:10px;color:#333;font-size:12px;font-weight:normal;text-align:left;line-height:15px;border:1px solid #ccc; text-align:left;}
.modal-thank-you{width:300px;border:0;border-radius:5px;padding:10px 0;position:relative;float:left;background:#fff;font-family:"Open Sans", sans-serif;}
.modal-thank-you .top{padding:0 10px;position:relative;float:left;width:280px;}
.modal-thank-you .bottom{padding:10px;position:relative;float:left;width:280px;border-top:1px solid #ccc;font-size:13px;}
.modal-thank-you .bottom .total{position:relative;float:left;width:280px;text-align:center;font-weight:bold;color:#f26923;margin:10px 0;font-size:13px;}
.modal-thank-you .bottom .add-to-order{position:relative;float:left;width:280px;text-align:center;}
.modal-thank-you .bottom .add-to-order input[type="submit"]{width:266px;height:43px;background:url("/images/mobile/pp/add-to-order.png") no-repeat;border:0;cursor:pointer;}
.modal-thank-you .bottom .no-thanks{position:relative;float:left;width:280px;text-align:center;margin:10px 0 0 0;}
.modal-thank-you .bottom .no-thanks input[type="button"]{width:120px;height:43px;background:url("/images/mobile/pp/no-thanks.png") no-repeat;border:0;cursor:pointer;}
.modal-thank-you .bottom .note{position:relative;float:left;width:280px;margin:10px 0 0 0;text-align:center;font-size:12px;}
.modal-thank-you h1 {font-size:16px;font-weight:600;text-align:center;margin:0 0 10px 0;}
.modal-thank-you p {font-size:13px;}
.modal-thank-you .bottom p {margin:0;text-align:center;}
span.orange {color:#f26923;font-weight:bold;}
.pp-product{width:280px;padding:10px;border-top:1px solid #ccc;position:relative;float:left; text-align:left;}
.pp-product .product-image{position:relative;float:left;width:100px;height:110px;}
.pp-product .product-details{position:relative;float:left;width:165px;margin:0 0 0 10px;font-size:13px;}
.pp-product .product-details .add-this{background:#e3e7f0;border-radius:5px;border:0;padding:2px;font-size:12px;font-weight:bold;width:150px;}
.pp-product .product-details .details{position:relative;float:left;width:165px;margin:5px 0 0 0;}
.pp-product .product-details .our-price{position:relative;float:left;width:165px;margin:10px 0 0 0;font-size:14px;font-weight:bold;}
.pp-product .product-details .list-price{position:relative;float:left;width:165px;font-size:12px;color:#999;}
.strike{text-decoration:line-through;}
.pp-product .quantity{position:relative;float:left;width:260px;padding:5px 10px 0;}
.pp-product .quantity input[type="text"] {width:23px;height:19px;padding:5px;text-align:center;border:1px solid #ccc;border-radius:3px;font-family:"Open Sans", sans-serif; font-size:13px;}
.pp-product .quantity input[type="tel"] {width:23px;height:19px;padding:5px;text-align:center;border:1px solid #ccc;border-radius:3px;font-family:"Open Sans", sans-serif; font-size:13px;}
.pp-product .quantity label {font-size:13px;font-weight:bold;}