#qtyInCartRow { background-color:#666; color:#FFF; height:40px; width:100%; border-bottom:1px solid #CCC; }
#qtyInCartText { font-weight:bold; width:250px; text-align:left; padding:12px 0px 0px 10px; }
#orangeText { color:#fe9b35; }
#productContainer { background-color:#f7f7f7; width:100%; padding-top:15px; }
#itemBox { width:300px; margin:0px auto 15px auto; padding-top:10px; border:1px solid #CCC; background-color:#FFF; height:195px; }
#itemPic { float:left; width:100px; height:100px; padding:0px 5px 0px 5px; }
#itemDetails { float:left; width:175px; padding-left:10px; }
#itemDesc { color:#666; text-align:left; }
#qtyDetails { height:32px; margin:10px 0px 10px 0px; }
#qtyText { float:left; color:#666; padding:5px 10px 0px 0px;; }
#qtyInput { border:0px; background-color:transparent; text-align:center; }
#qtyValue { background-image:url(/images/mobile/qtyBg.gif); background-repeat:no-repeat; width:40px; height:25px; float:left; padding-top:5px; }
#qtyButton { padding-left:10px; float:left; }
#itemPrice { color:#ca0000; font-weight:bold; }
itemPriceSmall { color:#666; font-weight:bold; font-size:10px; }
#removeRow { height:25px; margin-top:10px; }
#removeImg { margin-right:10px; float:left; padding-top:3px; }
#removeText { float:left; color:#666; padding-top:4px; }
#itemBox_noItems { width:300px; margin:15px auto 0px auto; padding-top:10px; height:175px; font-size:18px; font-weight:bold; text-align:center; }
#subTotalRow { height:25px; color:#333; font-size:14px; font-weight:bold; width:95%; margin:0px auto 0px auto; }
#subtotalText { float:left; }
#subtotalAmt { float:right; }
#shipText { float:left; }
#shipAmt { float:right; color:#cc0000; }
#totalRow { height:25px; background-color:#666; color:#fff; font-size:14px; font-weight:bold; width:290px; padding:0px 5px 0px 5px; }
#totalText { float:left; padding-top:2px; }
#totalAmt { float:right; color:#fe9b35; padding-top:2px; }
#totalBox { width:300px; margin:0px auto 15px auto; padding:10px 0px 0px 0px; border:1px solid #CCC; background-color:#FFF; display:table; }
#proceedButtons { margin:0px auto 0px auto; width:282px; margin-bottom:10px; }
#bannerRow { width:100%; height:57px; background-image:url(/images/mobile/backgrounds/bannerBG.gif); }
#valPropBanner1 { width:320px; height:57px; margin:0px auto 0px auto; background-image:url(/images/mobile/banners/valPropBanner1.jpg); background-repeat:no-repeat; }
#gpsBar { width:100%; height:40px; background-image:url(/images/mobile/backgrounds/whiteGray.gif); }
#gpsMsg { width:320px; height:40px; margin:0px auto 0px auto; }
#checkoutOption { width:300px; margin:15px auto 0px auto; text-align:center; }
#orCheckoutWith { width:300px; margin:15px auto 0px auto; text-align:center; font-weight:bold; font-size:14px; color:#666; }
#productContainer2 { background-color:#f7f7f7; width:100%; padding:15px 0px 10px 0px; border-bottom:1px solid #CCC; }
#otherCheckoutOptions { padding-bottom:10px; border-bottom:1px solid #CCC; margin-bottom:10px; }
#inStockRow { height:15px; margin:10px 0px 10px 0px; }
#inStockMark { width:13px; height:12px; float:left; }
#inStockText { float:left; font-weight:bold; color:#666; width:160px; }
#qtySelect { background-color:transparent; border:0px; text-align:center; width:60px; }

.basketRow 	{ width:300px; margin:0px auto 15px auto; padding:10px 0px 10px 0px; border:1px solid #CCC; background-color:#FFF; display:table; }
.couponRow 	{ width:300px; margin:0px auto 15px auto; display:table; text-align:left; }
.promoLnk	{ color:#006599; font-weight:bold; }
.promoApply	{ background:url(/images/mobile/buttons/apply.png) no-repeat; width:71px; height:34px; float:left; margin-left:5px; cursor:pointer; }
.promoField	{ border-radius:3px; color:#888; border:1px solid #cbcbcb; height:28px; width:190px; padding: 0px 5px 0px 5px; margin-top:3px; }
.iconRemovePromo { width:18px; height:18px; background:url(/images/mobile/buttons/removepromo.png) no-repeat; cursor:pointer; margin-left:5px; }