#curModelDetails { height:120px; width:350px; margin-left:auto; margin-right:auto; padding:5px 0px 10px 0px; }
#modelPic { width:100px; height:120px; padding:5px; float:left; }
#modelText { width:230px; height:120px; padding:5px; float:left; }
#currentlyViewing { color:#666; font-size:9px; text-align:left; }
#modelName { color:#666; font-weight:bold; font-size:12px; padding:10px 0px 10px 0px; text-align:left; height:40px; }
#changeDeviceBox { width:197px; }
#redX { width:40px; height:30px; background-image:url(/images/mobile/buttons/redX.jpg); float:left; }
#tapToChange { width:147px; height:25px; color:#FFF; background-color:#999; float:left; padding:5px 0px 0px 10px; }
#sortFilterBar { height:40px; border-top:1px solid #CCC; border-bottom:1px solid #CCC; width:100%; background-image:url(/images/mobile/whiteGrayBg.gif); }
#topResultCnt { float:left; font-size:12px; color:#666; padding:15px 0px 0px 20px; }
#sortButton { width:69px; height:32px; background-image:url(/images/mobile/buttons/sort.gif); float:right; margin:5px 20px 0px 0px; overflow:hidden; }
#filterButton { width:69px; height:32px; background-image:url(/images/mobile/buttons/filter.gif); float:right; margin:5px 20px 0px 0px; }
#mainProductBox { background-color:#f7f7f7; padding-bottom:10px; text-align:center; margin-left:auto; margin-right:auto; display:table; width:100%; }
.singleProdBox { background-color:#FFF; border:1px solid #CCC; padding:5px; width:120px; float:left; margin:10px 0px 0px 10px; }
.singleProdBox2 { background-color:#FFF; border:1px solid #CCC; padding:5px; width:120px; float:left; margin:10px 0px 0px 10px; display:none; }
#prodPic { margin-left:auto; margin-right:auto; height:100px; width:100px; }
#prodDesc { text-align:left; font-size:12px; height:44px; overflow:hidden; margin:5px 0px 5px 0px; color:#000; line-height:14px; }
#prodPrice { text-align:left; font-size:13px; color:#cd0100; font-weight:bold; }
#prodRating { width:100%; text-align:center; height:14px; margin:5px 0px 5px 0px; }
.sortBySelect { width:87px; height:32px; border:0px; background-color:transparent; color:transparent; }
#noProds { font-size:18px; font-weight:bold; margin:10px 0px 10px 0px; }
#filterBar { width:100%; background-color:#696969; font-weight:bold; height:50px; border-bottom:1px solid #CCC; }
#filterSet { color:#fe9b35; float:left; margin:13px 0px 0px 15px; font-size:12px; width:275px; height:19px; overflow:hidden; }
#filterX { color:#FFF; float:right; font-size:24px; margin:12px 20px 0px 0px; }
#homeShopNow { text-align:center; margin:10px 0px 10px 0px; width:100%; height:52px; }
.filterOptions { display:; }
.filterOptionsHidden { display:none; }
#homeSelectBox { background-image:url(/images/mobile/selectButton.jpg); background-repeat:no-repeat; background-position:center; text-align:center; margin-top:15px; width:100%; height:52px; }
#selectBoxContainer { width:280px; overflow:hidden; margin-left:auto; margin-right:auto; padding-top:13px; }
#actualSelectBox { width:302px; font-size:14px; background-color:transparent; border:0px; color:#0e6f9c; font-weight:bold; text-align:center; }
#popDesignRow { height:80px; margin:10px auto 10px auto; width:300px; }
#DesignBox { float:left; padding:0px 7px 0px 7px; width:85px; }
#designText { font-weight:bold; color:#666; font-size:12px; width:100%; text-align:center; }
#filterType { font-weight:bold; font-size:16px; padding:10px 0px 5px 10px; border-bottom:1px solid #666; color:#666; }
#prodBrandModel { color:#fff; background-color:#666; text-align:center; overflow:hidden; height:25px; font-size:10px; padding:0px 3px; margin-bottom:3px; }