#contactBackground { width:100%; background-color:#f7f7f7; padding:15px 0px 0px 0px; border-bottom:1px solid #CCC; }
#contactBox { background-color:#FFF; border:1px solid #CCC; padding:10px; width:300px; margin:0px auto 10px auto; }
#contactBaseData { width:100%; height:70px; }
#contactIcon { float:left; padding-right:15px; width:70px; height:70px; }
#contactTextArea { float:left; color:#666; width:200px; padding-top:15px; }
#contactTextThin { padding-bottom:10px; }
#contactTextThick { font-weight:bold; font-size:16px; }

#dataEntryRow { height:50px; width:100%; padding-bottom:15px; }
#entryTitle { width:300px; text-align:left; margin:0px auto 0px auto; height:20px; }
#entryTitleStar { float:left; padding:0px 10px 0px 10px; width:9px; height:9px; }
#entryTitleText { float:left; font-weight:bold; color:#666; }
#dataEntryInput { border:0px; background-color:transparent; width:275px; margin-top:6px; }
#entryField { height:30px; width:300px; margin:0px auto 0px auto; text-align:center; background-image:url(/images/mobile/dataEntryField.gif); background-repeat:no-repeat; }
#entryArea { height:100px; width:300px; margin:0px auto 0px auto; text-align:left; padding:5px 0px 0px 10px; background-image:url(/images/mobile/dataEntryArea.gif); background-repeat:no-repeat; }
#dataEntryRowQuestion { height:110px; width:100%; padding-bottom:15px; }
#dataEntryArea { border:0px; background-color:transparent; }
#questionButton { width:300px; text-align:left; margin:10px 0px 10px 0px; }