#adSpot { width:100%; height:120px; text-align:center; }
#homeSelectBox { background-image:url(/images/mobile/selectButton.jpg); background-repeat:no-repeat; background-position:center; text-align:center; margin:10px 0px 10px 0px; width:100%; height:52px; }
#homeShopNow { text-align:center; margin-top:15px; width:100%; height:52px; }
#selectBoxContainer { width:280px; overflow:hidden; margin-left:auto; margin-right:auto; padding-top:13px; }
#selectBoxContainer2 { width:280px; overflow:hidden; margin-left:auto; margin-right:auto; padding-top:13px; }
#selectBoxContainer3 { width:280px; overflow:hidden; margin-left:auto; margin-right:auto; padding-top:13px; }
#actualSelectBox { width:302px; font-size:14px; background-color:transparent; border:0px; color:#0e6f9c; font-weight:bold; text-align:center; }
#actualSelectBox2 { width:302px; font-size:14px; background-color:transparent; border:0px; color:#999; font-weight:bold; text-align:center; }

.selectByPulldown { display:; }

.allBrandImgs {
	display:table;
	margin:0px auto;
	width:320px;
}
.brandButton {
	padding:10px;
}
.brandLink {
	text-decoration:none;
	color:#ff9933;
}
.brandImg {
	width:140px;
	height:90px;
	background: #999; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#999999', endColorstr='#6e6e6e'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#999999), to(#6e6e6e)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #999999,  #6e6e6e); /* for firefox 3.6+ */
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	padding-top:40px;
}
.brandImgSmall {
	width:90px;
	height:75px;
	background: #999; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#999999', endColorstr='#6e6e6e'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#999999), to(#6e6e6e)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #999999,  #6e6e6e); /* for firefox 3.6+ */
	border-radius:10px;
	padding-top:15px;
	margin:10px 0px;
}
.brandText {
	width:140px;
	text-align:center;
	background-color:#333;
	padding:10px 0px 10px 0px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}

.catDetails { color:#666; margin:15px 0px 0px 10px; }
#changeBrandBox { width:197px; margin:0px auto 0px auto; }
#redX { width:40px; height:30px; background-image:url(/images/mobile/buttons/redX.jpg); float:left; }
#tapToChange { width:147px; height:22px; color:#FFF; background-color:#999; float:left; padding:8px 0px 0px 5px; font-size:11px; }
.curView { width:147px; text-align:left; }
.curCat { width:147px; text-align:left; font-weight:bold; margin:5px 0px 10px 0px; }
.singleDeviceBox { background-color:#FFF; border:1px solid #CCC; padding:5px; width:120px; float:left; margin:10px 0px 0px 10px; }
#devicePic { margin-left:auto; margin-right:auto; height:118px; width:100px; }
#deviceName { text-align:center; font-size:12px; height:44px; overflow:hidden; margin:5px 0px 5px 0px; color:#000; line-height:14px; }