<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Welcome to CellularOutfitter.com - Save 25&#37; On Accessories!</title>
<style type="text/css">
.ReadMsgBody {
	width: 100%;
}
.ExternalClass {
	width: 100%;
}

@media only screen and (max-width: 479px) {
div[class="mobile-portrait"] {
	display: block !important;
	max-height: inherit !important;
	overflow: visible !important;
	width: auto !important;
}
div[class="desktop-version"] {
	display: none !important;
}
}
</style>
</head>

<body style="margin: 0; padding: 0; width: 100%; -webkit-text-size-adjust: none; -ms-text-size-adjust: none;">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td style="background-color: #f7f7f7;" width="100%" align="center"><!-- Desktop Version -->
      
      <div class="desktop-version">
        <table style="margin: 0;" width="640" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td style="color: #333333; font-family: Verdana, Geneva, sans-serif; font-size: 11px;" width="640" height="50" align="center" valign="middle">Having trouble viewing this email? <a style="color: #006699;" href="http://www.cellularoutfitter.com/images/email/blast/template/welcome/blast.asp?utm_source=streamsend&utm_medium=email2&utm_campaign={{campaign_id}}&utm_promocode={{promo_code}}" target="_blank">Click here</a>.</td>
          </tr>
          <tr>
            <td style="background-color: #2980b9; color: #ffffff; font-family: Verdana, Geneva, sans-serif; font-size: 11px;" width="640" height="30" align="center" valign="middle">Save <b>25&#37;</b> On Cell Phone Accesories - Use Coupon Code <b>WELCOME25</b> @ Checkout! Expires {{expDate}}.</td>
          </tr>
        </table>
        <table width="640" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td style="background-color: #ffffff; color: #999999; font-family: Verdana, Geneva, sans-serif; font-size: 10px; line-height: 175%;" width="240" height="80" align="center" valign="middle"><a href="http://www.cellularoutfitter.com?utm_source=streamsend&utm_medium=email2&utm_campaign={{campaign_id}}&utm_promocode={{promo_code}}" target="_blank"><img style="display: block;" src="http://www.cellularoutfitter.com/images/email/blast/template/images/co-logo.gif" width="220" height="45" alt="Welcome to CellularOutfitter.com" border="0" /></a> <b>WHOLESALE PRICES</b> ON ACCESSORIES</td>
            <td style="background-color: #ffffff;" width="390" align="right" valign="middle"><a href="http://www.cellularoutfitter.com?utm_source=streamsend&utm_medium=email2&utm_campaign={{campaign_id}}&utm_promocode={{promo_code}}" target="_blank"><img src="http://www.cellularoutfitter.com/images/email/blast/template/images/co-values.gif" width="300" height="38" alt="110% Low Price Guarantee | 90-Day Return Policy" border="0" /></a></td>
            <td style="background-color: #ffffff;" width="10"></td>
          </tr>
        </table>
        <table width="640" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td style="background-color: #2980b9; color: #ffffff; font-family: Verdana, Geneva, sans-serif; font-size: 11px; font-weight: bold;" width="79" height="45" align="center" valign="middle"><a style="color: #ffffff; text-decoration: none;" href="http://www.cellularoutfitter.com/c-3-cell-phone-covers-and-gel-skins.html?utm_source=streamsend&utm_medium=email2&utm_campaign={{campaign_id}}&utm_promocode={{promo_code}}" target="_blank">Covers &amp; Skins</a></td>
            <td style="background-color: #124f80;" width="1" height="45"></td>
            <td style="background-color: #2980b9; color: #ffffff; font-family: Verdana, Geneva, sans-serif; font-size: 11px; font-weight: bold;" width="79" height="45" align="center" valign="middle"><a style="color: #ffffff; text-decoration: none;" href="http://www.cellularoutfitter.com/c-7-cell-phone-cases-and-pouches.html?utm_source=streamsend&utm_medium=email2&utm_campaign={{campaign_id}}&utm_promocode={{promo_code}}" target="_blank">Cases &amp; Pouches</a></td>
            <td style="background-color: #124f80;" width="1" height="45"></td>
            <td style="background-color: #2980b9; color: #ffffff; font-family: Verdana, Geneva, sans-serif; font-size: 11px; font-weight: bold;" width="79" height="45" align="center" valign="middle"><a style="color: #ffffff; text-decoration: none;" href="http://www.cellularoutfitter.com/c-18-cell-phone-screen-protectors.html?utm_source=streamsend&utm_medium=email2&utm_campaign={{campaign_id}}&utm_promocode={{promo_code}}" target="_blank">Screen Protectors</a></td>
            <td style="background-color: #124f80;" width="1" height="45"></td>
            <td style="background-color: #2980b9; color: #ffffff; font-family: Verdana, Geneva, sans-serif; font-size: 11px; font-weight: bold;" width="79" height="45" align="center" valign="middle"><a style="color: #ffffff; text-decoration: none;" href="http://www.cellularoutfitter.com/c-24-cell-phone-custom-cases.html?utm_source=streamsend&utm_medium=email2&utm_campaign={{campaign_id}}&utm_promocode={{promo_code}}" target="_blank">Custom Covers</a></td>
            <td style="background-color: #124f80;" width="1" height="45"></td>
            <td style="background-color: #2980b9; color: #ffffff; font-family: Verdana, Geneva, sans-serif; font-size: 11px; font-weight: bold;" width="79" height="45" align="center" valign="middle"><a style="color: #ffffff; text-decoration: none;" href="http://www.cellularoutfitter.com/c-2-cell-phone-chargers-and-data-cables.html?utm_source=streamsend&utm_medium=email2&utm_campaign={{campaign_id}}&utm_promocode={{promo_code}}" target="_blank">Chargers Cables</a></td>
            <td style="background-color: #124f80;" width="1" height="45"></td>
            <td style="background-color: #2980b9; color: #ffffff; font-family: Verdana, Geneva, sans-serif; font-size: 11px; font-weight: bold;" width="79" height="45" align="center" valign="middle"><a style="color: #ffffff; text-decoration: none;" href="http://www.cellularoutfitter.com/c-5-cell-phone-bluetooth-and-hands-free.html?utm_source=streamsend&utm_medium=email2&utm_campaign={{campaign_id}}&utm_promocode={{promo_code}}" target="_blank">Bluetooth Heasdsets</a></td>
            <td style="background-color: #124f80;" width="1" height="45"></td>
            <td style="background-color: #2980b9; color: #ffffff; font-family: Verdana, Geneva, sans-serif; font-size: 11px; font-weight: bold;" width="79" height="45" align="center" valign="middle"><a style="color: #ffffff; text-decoration: none;" href="http://www.cellularoutfitter.com/c-6-cell-phone-holsters-and-car-mounts.html?utm_source=streamsend&utm_medium=email2&utm_campaign={{campaign_id}}&utm_promocode={{promo_code}}" target="_blank">Holsters Mounts</a></a></td>
            <td style="background-color: #124f80;" width="1" height="45"></td>
            <td style="background-color: #2980b9; color: #ffffff; font-family: Verdana, Geneva, sans-serif; font-size: 11px; font-weight: bold;" width="80" height="45" align="center" valign="middle"><a style="color: #ffffff; text-decoration: none;" href="http://www.cellularoutfitter.com/sb-0-sm-0-sc-8-cell-phone-other-accessories.html?utm_source=streamsend&utm_medium=email2&utm_campaign={{campaign_id}}&utm_promocode={{promo_code}}" target="_blank">Other Accessories</a></td>
          </tr>
        </table>
        <table width="640" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td style="background-color: #ffffff;" width="640"><table width="640" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="10"></td>
                  <td width="310" align="left" valign="top"><br />
                    <span style="color: #333333; font-family: Verdana, Geneva, sans-serif; font-size: 60px; line-height: 100%; margin: 0; padding: 0;">WELCOME</span><br />
                    <span style="color: #333333; font-family: Verdana, Geneva, sans-serif; font-size: 24px; line-height: 150%; margin: 0; padding: 0;">TO SERIOUS SAVINGS!</span><br />
                    <br />
                    <p style="color: #666666; font-family: Verdana, Geneva, sans-serif; font-size: 12px; line-height: 200%; margin: 0; padding: 0;">Thanks for signing up for the Cellular Outfitter newsletter and congratulations on finding the absolute lowest prices on cell phone accessories online! You're clearly one smart shopper and we want to make these prices even lower, just for you. Now that you've joined, prepare to receive the hottest phone accessories at prices lower than the general public will ever see!</p>
                    <br />
                    <p style="color: #666666; font-family: Verdana, Geneva, sans-serif; font-size: 12px; line-height: 200%; margin: 0; padding: 0;">As a token of our gratitude, we'd like to give you a little something in return. Use the coupon code WELCOME25 in the next 7 days and get 25&#37; off your next order. It really is that easy. This is only the beginning, so welcome aboard and we look forward to seeing you soon!</p>
                    <br />
                    <p style="color: #666666; font-family: Verdana, Geneva, sans-serif; font-size: 12px; line-height: 200%; margin: 0; padding: 0;"><b style="color: #333333;">PS:</b> Be sure to like us on <a style="color: #006699; font-weight: bold;" href="http://www.facebook.com/cellularoutfitter?utm_source=streamsend&utm_medium=email2&utm_campaign={{campaign_id}}&utm_promocode={{promo_code}}" target="_blank">Facebook</a>, <a style="color: #006699; font-weight: bold;" href="http://twitter.com/celloutfitter?utm_source=streamsend&utm_medium=email2&utm_campaign={{campaign_id}}&utm_promocode={{promo_code}}" target="_blank">Twitter</a> and <a style="color: #006699; font-weight: bold;" href="http://plus.google.com/106042856978446012087?prsrc=3?utm_source=streamsend&utm_medium=email2&utm_campaign={{campaign_id}}&utm_promocode={{promo_code}}" target="_blank">Google+</a> because you never know where more deals will show up!</p>
                    <br /></td>
                  <td width="20"></td>
                  <td width="290" align="left" valign="top"><br />
                    <table width="290" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td style="background-color: #2ecc71;" width="290" align="center" valign="middle"><table width="270" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td width="270" height="15"></td>
                            </tr>
                            <tr>
                              <td style="background-color: #2ecc71; border: 2px solid #ffffff;" width="266" align="center" valign="middle"><table width="270" border="0" cellspacing="0" cellpadding="0">
                                  <tr>
                                    <td width="270" height="10"></td>
                                  </tr>
                                </table>
                                <span style="color: #ffffff; display: block; font-family: Verdana, Geneva, sans-serif; font-size: 18px; line-height: 100%;"><em><a style="color: #ffffff; text-decoration: none;" href="http://www.cellularoutfitter.com?utm_source=streamsend&utm_medium=email2&utm_campaign={{campaign_id}}&utm_promocode={{promo_code}}" target="_blank">W&nbsp;E&nbsp;L&nbsp;C&nbsp;O&nbsp;M&nbsp;E&nbsp;&nbsp;&nbsp;G&nbsp;I&nbsp;F&nbsp;T</a></em></span>
                                <table width="266" border="0" cellspacing="0" cellpadding="0">
                                  <tr>
                                    <td style="color: #ffffff; font-family: Verdana, Geneva, sans-serif; font-size: 96px; line-height: 100%;" width="138" align="right" valign="middle"><a style="color: #ffffff; text-decoration: none;" href="http://www.cellularoutfitter.com?utm_source=streamsend&utm_medium=email2&utm_campaign={{campaign_id}}&utm_promocode={{promo_code}}" target="_blank">25</a></td>
                                    <td width="10"></td>
                                    <td style="color: #ffffff; font-family: Verdana, Geneva, sans-serif; font-size: 48px; line-height: 100%;" width="118" align="left" valign="middle"><a style="color: #ffffff; text-decoration: none;" href="http://www.cellularoutfitter.com?utm_source=streamsend&utm_medium=email2&utm_campaign={{campaign_id}}&utm_promocode={{promo_code}}" target="_blank">&#37;<br />
                                      OFF</a></td>
                                  </tr>
                                </table>
                                <a style="color: #ffffff; text-decoration: none;" href="http://www.cellularoutfitter.com?utm_source=streamsend&utm_medium=email2&utm_campaign={{campaign_id}}&utm_promocode={{promo_code}}" target="_blank"> <span style="color: #ffffff; font-family: Verdana, Geneva, sans-serif; font-size: 18px; line-height: 175%; margin: 0; padding: 0;">Your Next Purchase</span><br />
                                <span style="color: #ffffff; font-family: Verdana, Geneva, sans-serif; font-size: 12px; line-height: 150%; margin: 0; padding: 0;">Offer Expires {{expDate}}<br />
                                &nbsp;</span></a></td>
                            </tr>
                            <tr>
                              <td width="270" height="15"></td>
                            </tr>
                          </table></td>
                      </tr>
                    </table>
                    <table width="290" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="290" height="20"></td>
                      </tr>
                      <tr>
                        <td style="background-color: #f7f7f7; border: 1px dotted #999999; color: #333333; font-family: Verdana, Geneva, sans-serif; font-size: 13px; font-weight: bold; line-height: 100%; margin: 0; padding: 10px 0; width: 288px;" width="290" align="center" valign="middle"><a style="color: #333333; text-decoration: none;" href="http://www.cellularoutfitter.com?utm_source=streamsend&utm_medium=email2&utm_campaign={{campaign_id}}&utm_promocode={{promo_code}}" target="_blank">Enter code <b style="color: #2ecc71;">WELCOME25</b> at checkout.</a></td>
                      </tr>
                      <tr>
                        <td width="290" height="20"></td>
                      </tr>
                      <tr>
                        <td style="background-color: #2ecc71; border: 2px solid #27ae60; border-radius: 40px; color: #ffffff; font-family: Verdana, Geneva, sans-serif; font-size: 30px; line-height: 100%; margin: 0; padding: 10px 0; text-decoration: none; width: 286px;" width="290" align="center" valign="middle"><a style="color: #ffffff; text-decoration: none;" href="http://www.cellularoutfitter.com?utm_source=streamsend&utm_medium=email2&utm_campaign={{campaign_id}}&utm_promocode={{promo_code}}" target="_blank">SHOP NOW &raquo;</td>
                      </tr>
                      <tr>
                        <td width="290" height="20"></td>
                      </tr>
                    </table>
                    <table width="290" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td style="background-color: #cccccc;" width="290" height="1"></td>
                      </tr>
                      <tr>
                        <td><table width="290" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td width="20"></td>
                              <td width="36" height="46" valign="middle"><a href="http://www.facebook.com/cellularoutfitter?utm_source=streamsend&utm_medium=email2&utm_campaign={{campaign_id}}&utm_promocode={{promo_code}}" target="_blank"><img style="display: block;" src="http://www.cellularoutfitter.com/images/email/blast/template/images/ico-lrg-facebook-2x.gif" width="36" height="36" alt="Facebook" border="0" /></a></td>
                              <td width="10"></td>
                              <td style="font-family: Verdana, Geneva, sans-serif; font-size: 12px; font-weight: bold; line-height: 100%;" width="224" align="left" valign="middle"><a style="color: #333333; text-decoration: none;" href="http://www.facebook.com/cellularoutfitter?utm_source=streamsend&utm_medium=email2&utm_campaign={{campaign_id}}&utm_promocode={{promo_code}}" target="_blank">Find us on Facebook</a></td>
                            </tr>
                          </table></td>
                      </tr>
                      <tr>
                        <td style="background-color: #cccccc;" width="290" height="1"></td>
                      </tr>
                      <tr>
                        <td><table width="290" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td width="20"></td>
                              <td width="36" height="46" valign="middle"><a href="http://twitter.com/celloutfitter?utm_source=streamsend&utm_medium=email2&utm_campaign={{campaign_id}}&utm_promocode={{promo_code}}" target="_blank"><img style="display: block;" src="http://www.cellularoutfitter.com/images/email/blast/template/images/ico-lrg-twitter-2x.gif" width="36" height="36" alt="Facebook" border="0" /></a></td>
                              <td width="10"></td>
                              <td style="color: #333333; font-family: Verdana, Geneva, sans-serif; font-size: 12px; font-weight: bold; line-height: 100%;" width="224" align="left" valign="middle"><a style="color: #333333; text-decoration: none;" href="http://twitter.com/celloutfitter?utm_source=streamsend&utm_medium=email2&utm_campaign={{campaign_id}}&utm_promocode={{promo_code}}" target="_blank">Follow us on Twitter</a></td>
                            </tr>
                          </table></td>
                      </tr>
                      <tr>
                        <td style="background-color: #cccccc;" width="290" height="1"></td>
                      </tr>
                      <tr>
                        <td><table width="290" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td width="20"></td>
                              <td width="36" height="46" valign="middle"><a href="http://plus.google.com/106042856978446012087?prsrc=3?utm_source=streamsend&utm_medium=email2&utm_campaign={{campaign_id}}&utm_promocode={{promo_code}}" target="_blank"><img style="display: block;" src="http://www.cellularoutfitter.com/images/email/blast/template/images/ico-lrg-google-2x.gif" width="36" height="36" alt="Facebook" border="0" /></a></td>
                              <td width="10"></td>
                              <td style="color: #333333; font-family: Verdana, Geneva, sans-serif; font-size: 12px; font-weight: bold; line-height: 100%;" width="224" align="left" valign="middle"><a style="color: #333333; text-decoration: none;" href="http://plus.google.com/106042856978446012087?prsrc=3?utm_source=streamsend&utm_medium=email2&utm_campaign={{campaign_id}}&utm_promocode={{promo_code}}" target="_blank">Join our circle on Google+</a></td>
                            </tr>
                          </table></td>
                      </tr>
                      <tr>
                        <td style="background-color: #cccccc;" width="290" height="1"></td>
                      </tr>
                    </table></td>
                  <td width="10"></td>
                </tr>
              </table></td>
          </tr>
        </table>
        <table width="640" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td style="background-color: #ffffff;" width="640"><table width="640" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="11"></td>
                  <td style="color: #006699; font-family: Verdana, Geneva, sans-serif; font-size: 14px; font-weight: bold; line-height: 150%;" width="206" align="center" valign="top"><a href="http://www.cellularoutfitter.com/?utm_source=streamsend&utm_medium=email2&utm_campaign={{campaign_id}}&utm_promocode={{promo_code}}" target="_blank"><img style="display: block;" src="http://www.cellularoutfitter.com/images/email/blast/template/images/ico-value-1.gif" width="107" height="107" alt="Lowest Prices Anywhere, Guaranteed!" border="0" /></a>
                    <table width="186" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="186" height="20"></td>
                      </tr>
                      <tr>
                        <td style="color: #006699; font-family: Verdana, Geneva, sans-serif; font-size: 14px; font-weight: bold;" width="186" align="center"><a style="color: #006699; text-decoration: none;" href="http://www.cellularoutfitter.com?utm_source=streamsend&utm_medium=email2&utm_campaign={{campaign_id}}&utm_promocode={{promo_code}}" target="_blank">Lowest Prices Anywhere, Guaranteed</a></td>
                      </tr>
                      <tr>
                        <td width="186" height="20"></td>
                      </tr>
                    </table></td>
                  <td style="color: #006699; font-family: Verdana, Geneva, sans-serif; font-size: 14px; font-weight: bold; line-height: 150%;" width="206" align="center" valign="top"><a href="http://www.cellularoutfitter.com/?utm_source=streamsend&utm_medium=email2&utm_campaign={{campaign_id}}&utm_promocode={{promo_code}}" target="_blank"><img style="display: block;" src="http://www.cellularoutfitter.com/images/email/blast/template/images/ico-value-2.gif" width="107" height="107" alt="90-Day Returns, 1-Year Warranty" border="0" /></a>
                    <table width="186" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="186" height="20"></td>
                      </tr>
                      <tr>
                        <td style="color: #006699; font-family: Verdana, Geneva, sans-serif; font-size: 14px; font-weight: bold;" width="186" align="center"><a style="color: #006699; text-decoration: none;" href="http://www.cellularoutfitter.com?utm_source=streamsend&utm_medium=email2&utm_campaign={{campaign_id}}&utm_promocode={{promo_code}}" target="_blank">90-Day Return Policy, 1-Year Warranty</a></td>
                      </tr>
                      <tr>
                        <td width="186" height="20"></td>
                      </tr>
                    </table></td>
                  <td style="color: #006699; font-family: Verdana, Geneva, sans-serif; font-size: 14px; font-weight: bold; line-height: 150%;" width="206" align="center" valign="top"><a href="http://www.cellularoutfitter.com/?utm_source=streamsend&utm_medium=email2&utm_campaign={{campaign_id}}&utm_promocode={{promo_code}}" target="_blank"><img style="display: block;" src="http://www.cellularoutfitter.com/images/email/blast/template/images/ico-value-3.gif" width="107" height="107" alt="All Orders Ship Within 24 Hours" border="0" /></a>
                    <table width="186" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="186" height="20"></td>
                      </tr>
                      <tr>
                        <td style="color: #006699; font-family: Verdana, Geneva, sans-serif; font-size: 14px; font-weight: bold;" width="186" align="center"><a style="color: #006699; text-decoration: none;" href="http://www.cellularoutfitter.com?utm_source=streamsend&utm_medium=email2&utm_campaign={{campaign_id}}&utm_promocode={{promo_code}}" target="_blank">All Orders Ship Within 24 Hours</a></td>
                      </tr>
                      <tr>
                        <td width="186" height="20"></td>
                      </tr>
                    </table></td>
                  <td width="11"></td>
                </tr>
              </table></td>
          </tr>
        </table>
        <table width="640" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td style="background-color: #2980b9; color: #ffffff; font-family: Verdana, Geneva, sans-serif; font-size: 11px;" width="640" height="30" align="center" valign="middle"><b><a style="color: #ffffff; text-decoration: none;" href="http://www.cellularoutfitter.com?utm_source=streamsend&utm_medium=email2&utm_campaign={{campaign_id}}&utm_promocode={{promo_code}}" target="_blank">Thanks joining for us! Now you'll receive great deals, offers and promotions in your inbox.</a></b></td>
          </tr>
        </table>
        <table width="640" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td style="background-color: #ffffff;" width="10"></td>
            <td style="background-color: #ffffff; color: #006699; font-family: Verdana, Geneva, sans-serif; font-size: 14px; font-weight: bold; line-height: 150%; margin: 0;" width="180" align="left"><br />
              Connect With Us:</td>
            <td style="background-color: #ffffff;" width="20"></td>
            <td style="background-color: #ffffff; color: #333333; font-family: Verdana, Geneva, sans-serif; font-size: 14px; font-weight: bold; line-height: 150%; margin: 0;" width="215" align="left"><br />
              <a style="color: #006699; text-decoration: none;" href="http://www.cellularoutfitter.com?utm_source=streamsend&utm_medium=email2&utm_campaign={{campaign_id}}&utm_promocode={{promo_code}}" target="_blank">Shop Now &rarr;</a></td>
            <td style="background-color: #ffffff; color: #999999; font-family: Verdana, Geneva, sans-serif; font-size: 14px; font-weight: bold; line-height: 150%; margin: 0;" width="215"></td>
          </tr>
          <tr>
            <td style="background-color: #ffffff;" width="10"></td>
            <td style="background-color: #ffffff; color: #999999; font-family: Verdana, Geneva, sans-serif; font-size: 14px; font-weight: bold; line-height: 150%; margin: 0;" width="180"><table width="180" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="40" height="30" align="center" valign="top"><a style="color: #006699; text-decoration: none;" href="http://www.facebook.com/cellularoutfitter?utm_source=streamsend&utm_medium=email2&utm_campaign={{campaign_id}}&utm_promocode={{promo_code}}" target="_blank"><img style="display: block;" src="http://www.cellularoutfitter.com/images/email/blast/template/images/ico-facebook-2x.gif" width="20" height="20" alt="Facebook" border="0" /></a></td>
                  <td style="font-family: Verdana, Geneva, sans-serif; font-size: 11px;" width="140" align="left" valign="top"><a style="color: #006699; text-decoration: none;" href="http://www.facebook.com/cellularoutfitter?utm_source=streamsend&utm_medium=email2&utm_campaign={{campaign_id}}&utm_promocode={{promo_code}}" target="_blank">Facebook</a></td>
                </tr>
                <tr>
                  <td width="40" height="30" align="center" valign="top"><a href="http://twitter.com/celloutfitter?utm_source=streamsend&utm_medium=email2&utm_campaign={{campaign_id}}&utm_promocode={{promo_code}}" target="_blank"><img style="display: block;" src="http://www.cellularoutfitter.com/images/email/blast/template/images/ico-twitter-2x.gif" width="20" height="20" alt="Twitter" border="0" /></a></td>
                  <td style="font-family: Verdana, Geneva, sans-serif; font-size: 11px;" width="140" align="left" valign="top"><a style="color: #006699; text-decoration: none;" href="http://twitter.com/celloutfitter?utm_source=streamsend&utm_medium=email2&utm_campaign={{campaign_id}}&utm_promocode={{promo_code}}" target="_blank">Twitter</a></td>
                </tr>
                <tr>
                  <td width="40" height="30" align="center" valign="top"><a href="http://plus.google.com/106042856978446012087?prsrc=3?utm_source=streamsend&utm_medium=email2&utm_campaign={{campaign_id}}&utm_promocode={{promo_code}}" target="_blank"><img style="display: block;" src="http://www.cellularoutfitter.com/images/email/blast/template/images/ico-google-2x.gif" width="20" height="20" alt="Google+" border="0" /></a></td>
                  <td style="font-family: Verdana, Geneva, sans-serif; font-size: 11px;" width="140" align="left" valign="top"><a style="color: #006699; text-decoration: none;" href="http://plus.google.com/106042856978446012087?prsrc=3?utm_source=streamsend&utm_medium=email2&utm_campaign={{campaign_id}}&utm_promocode={{promo_code}}" target="_blank">Google+</a></td>
                </tr>
              </table></td>
            <td style="background-color: #ffffff;" width="20"></td>
            <td style="background-color: #ffffff; color: #333333; font-family: Verdana, Geneva, sans-serif; font-size: 11px; line-height: 150%; margin: 0;" width="215" align="left"><br />
              <a style="color: #006699; text-decoration: none;" href="http://www.cellularoutfitter.com/c-3-cell-phone-covers-and-gel-skins.html?utm_source=streamsend&utm_medium=email2&utm_campaign={{campaign_id}}&utm_promocode={{promo_code}}" target="_blank">Covers &amp; Skins</a><br />
              <a style="color: #006699; text-decoration: none;" href="http://www.cellularoutfitter.com/c-7-cell-phone-cases-and-pouches.html?utm_source=streamsend&utm_medium=email2&utm_campaign={{campaign_id}}&utm_promocode={{promo_code}}" target="_blank">Cases &amp; Pouches</a><br />
              <a style="color: #006699; text-decoration: none;" href="http://www.cellularoutfitter.com/c-18-cell-phone-screen-protectors.html?utm_source=streamsend&utm_medium=email2&utm_campaign={{campaign_id}}&utm_promocode={{promo_code}}" target="_blank">Screen Protectors</a><br />
              <a style="color: #006699; text-decoration: none;" href="http://www.cellularoutfitter.com/c-24-cell-phone-custom-cases.html?utm_source=streamsend&utm_medium=email2&utm_campaign={{campaign_id}}&utm_promocode={{promo_code}}" target="_blank">Custom Covers</a><br />
              <br />
              <br /></td>
            <td style="background-color: #ffffff; color: #333333; font-family: Verdana, Geneva, sans-serif; font-size: 11px; line-height: 150%; margin: 0;" width="215" align="left"><br />
              <a style="color: #006699; text-decoration: none;" href="http://www.cellularoutfitter.com/c-2-cell-phone-chargers-and-data-cables.html?utm_source=streamsend&utm_medium=email2&utm_campaign={{campaign_id}}&utm_promocode={{promo_code}}" target="_blank">Chargers &amp; Cables</a><br />
              <a style="color: #006699; text-decoration: none;" href="http://www.cellularoutfitter.com/c-5-cell-phone-bluetooth-and-hands-free.html?utm_source=streamsend&utm_medium=email2&utm_campaign={{campaign_id}}&utm_promocode={{promo_code}}" target="_blank">Bluetooth Headsets</a><br />
              <a style="color: #006699; text-decoration: none;" href="http://www.cellularoutfitter.com/c-6-cell-phone-holsters-and-car-mounts.html?utm_source=streamsend&utm_medium=email2&utm_campaign={{campaign_id}}&utm_promocode={{promo_code}}" target="_blank">Holsters &amp; Mounts</a><br />
              <a style="color: #006699; text-decoration: none;" href="http://www.cellularoutfitter.com/sb-0-sm-0-sc-8-cell-phone-other-accessories.html?utm_source=streamsend&utm_medium=email2&utm_campaign={{campaign_id}}&utm_promocode={{promo_code}}" target="_blank">Other Accessories</a><br />
              <br />
              <br /></td>
          </tr>
        </table>
        <table width="640" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td style="background-color: #cccccc;" width="640" height="2"></td>
          </tr>
        </table>
        <table width="640" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td style="background-color: #ebebeb;" width="10"></td>
            <td style="background-color: #ebebeb; color: #333333; font-family: Verdana, Geneva, sans-serif; font-size: 11px; line-height: 150%; margin: 0;" width="620" align="center"><br />Offer excludes Bluetooth headsets, custom cases and select OEM products.<br /><br />
              This email correspondence has been sent to you as you have indicated you would like to receive special, exclusive offers from CellularOutfitter.com. If this message has been sent in error, or you would no longer like to receive any more periodic offers from CellularOutfitter.com, you may <a style="color: #006699; font-weight: bold;" href="#?utm_source=streamsend&utm_medium=email2&utm_campaign={{campaign_id}}&utm_promocode={{promo_code}}" target="_blank">unsubscribe</a>.<br />
              <br />
              <a style="color: #006699; font-weight: bold;" href="http://www.cellularoutfitter.com/privacypolicy.html?utm_source=streamsend&utm_medium=email2&utm_campaign={{campaign_id}}&utm_promocode={{promo_code}}" target="_blank">Privacy Policy</a> | <a style="color: #006699; font-weight: bold;" href="http://www.cellularoutfitter.com/termsofuse.html?utm_source=streamsend&utm_medium=email2&utm_campaign={{campaign_id}}&utm_promocode={{promo_code}}" target="_blank">Terms &amp; Conditions</a> | <a style="color: #006699; font-weight: bold;" href="http://www.cellularoutfitter.com/contact-us.html?utm_source=streamsend&utm_medium=email2&utm_campaign={{campaign_id}}&utm_promocode={{promo_code}}" target="_blank">Contact Us</a><br />
              <br />
              1410 N. Batavia St. | Orange, CA 92867<br />
              <br />
              &copy;2002-2013 CellularOutfitter.com<br />
              <br /></td>
            <td style="background-color: #ebebeb;" width="10"></td>
          </tr>
        </table>
      </div>
      
      <!-- End Desktop Version --> 
      
      <!-- 320 Version --> 
      
      <![if !mso]>
      
      <div class="mobile-portrait" style="display: none; max-height: 0; overflow: hidden; width: 0;">
        <table width="320" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td style="color: #333333; font-family: Verdana, Geneva, sans-serif; font-size: 11px;" width="320" height="45" align="center" valign="middle">Having trouble viewing this email? <a style="color: #006699;" href="http://www.cellularoutfitter.com/images/email/blast/template/welcome/blast.asp?utm_source=streamsend&utm_medium=email2&utm_campaign={{campaign_id}}&utm_promocode={{promo_code}}" target="_blank">Click here</a>.</td>
          </tr>
          <tr>
            <td style="background-color: #ffffff;" width="320" height="55" align="center" valign="middle"><a href="http://www.cellularoutfitter.com?utm_source=streamsend&utm_medium=email2&utm_campaign={{campaign_id}}&utm_promocode={{promo_code}}" target="_blank"><img style="display: block;" src="http://www.cellularoutfitter.com/images/email/blast/template/images/co-logo.gif" width="220" height="45" alt="Welcome to CellularOutfitter.com" border="0" /></a></td>
          </tr>
          <tr>
            <td style="background-color: #ffffff; color: #999999; font-family: Verdana, Geneva, sans-serif; font-size: 11px; line-height: 100%;" width="320" align="center" valign="middle"><b>WHOLESALE PRICES</b> ON ACCESSORIES</td>
          </tr>
          <tr>
            <td style="background-color: #ffffff;" width="320" height="10"></td>
          </tr>
          <tr>
            <td width="320"><table width="320" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td style="background-color: #2980b9; color: #ffffff; font-family: Verdana, Geneva, sans-serif; font-size: 14px; font-weight: bold;" width="106" height="45" align="center" valign="middle"><a style="color: #ffffff; text-decoration: none;" href="http://www.cellularoutfitter.com/c-3-cell-phone-covers-and-gel-skins.html?utm_source=streamsend&utm_medium=email2&utm_campaign={{campaign_id}}&utm_promocode={{promo_code}}" target="_blank">Covers &amp;<br />
                    Skins</a></td>
                  <td style="background-color: #124f80;" width="1" height="45"></td>
                  <td style="background-color: #2980b9; color: #ffffff; font-family: Verdana, Geneva, sans-serif; font-size: 14px; font-weight: bold;" width="106" height="45" align="center" valign="middle"><a style="color: #ffffff; text-decoration: none;" href="http://www.cellularoutfitter.com/c-7-cell-phone-cases-and-pouches.html?utm_source=streamsend&utm_medium=email2&utm_campaign={{campaign_id}}&utm_promocode={{promo_code}}" target="_blank">Cases &amp;<br />
                    Pouches</a></td>
                  <td style="background-color: #124f80;" width="1" height="45"></td>
                  <td style="background-color: #2980b9; color: #ffffff; font-family: Verdana, Geneva, sans-serif; font-size: 14px; font-weight: bold;" width="106" height="45" align="center" valign="middle"><a style="color: #ffffff; text-decoration: none;" href="http://www.cellularoutfitter.com/c-18-cell-phone-screen-protectors.html?utm_source=streamsend&utm_medium=email2&utm_campaign={{campaign_id}}&utm_promocode={{promo_code}}" target="_blank">Screen<br />
                    Protectors</a></td>
                </tr>
              </table></td>
          </tr>
          <tr>
            <td style="background-color: #ffffff;" width="320" align="center"><br />
              <table width="290" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td style="background-color: #2ecc71;" width="290" align="center" valign="middle"><table width="270" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="270" height="15"></td>
                      </tr>
                      <tr>
                        <td style="background-color: #2ecc71; border: 2px solid #ffffff;" width="266" align="center" valign="middle"><table width="270" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td width="270" height="10"></td>
                            </tr>
                          </table>
                          <span style="color: #ffffff; display: block; font-family: Verdana, Geneva, sans-serif; font-size: 18px; line-height: 100%;"><em><a style="color: #ffffff; text-decoration: none;" href="http://www.cellularoutfitter.com?utm_source=streamsend&utm_medium=email2&utm_campaign={{campaign_id}}&utm_promocode={{promo_code}}" target="_blank">W&nbsp;E&nbsp;L&nbsp;C&nbsp;O&nbsp;M&nbsp;E&nbsp;&nbsp;&nbsp;G&nbsp;I&nbsp;F&nbsp;T</a></em></span>
                          <table width="266" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td style="color: #ffffff; font-family: Verdana, Geneva, sans-serif; font-size: 96px; line-height: 100%;" width="138" align="right" valign="middle"><a style="color: #ffffff; text-decoration: none;" href="http://www.cellularoutfitter.com?utm_source=streamsend&utm_medium=email2&utm_campaign={{campaign_id}}&utm_promocode={{promo_code}}" target="_blank">25</a></td>
                              <td width="10"></td>
                              <td style="color: #ffffff; font-family: Verdana, Geneva, sans-serif; font-size: 48px; line-height: 100%;" width="118" align="left" valign="middle"><a style="color: #ffffff; text-decoration: none;" href="http://www.cellularoutfitter.com?utm_source=streamsend&utm_medium=email2&utm_campaign={{campaign_id}}&utm_promocode={{promo_code}}" target="_blank">&#37;<br />
                                OFF</a></td>
                            </tr>
                          </table>
                          <a style="color: #ffffff; text-decoration: none;" href="http://www.cellularoutfitter.com?utm_source=streamsend&utm_medium=email2&utm_campaign={{campaign_id}}&utm_promocode={{promo_code}}" target="_blank"> <span style="color: #ffffff; font-family: Verdana, Geneva, sans-serif; font-size: 18px; line-height: 175%; margin: 0; padding: 0;">Your Next Purchase</span><br />
                          <span style="color: #ffffff; font-family: Verdana, Geneva, sans-serif; font-size: 12px; line-height: 150%; margin: 0; padding: 0;">Offer Expires {{expDate}}<br />
                          &nbsp;</span></a></td>
                      </tr>
                      <tr>
                        <td width="270" height="15"></td>
                      </tr>
                    </table></td>
                </tr>
              </table>
              <table width="290" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="290" height="20"></td>
                </tr>
                <tr>
                  <td style="background-color: #f7f7f7; border: 1px dotted #999999; color: #333333; font-family: Verdana, Geneva, sans-serif; font-size: 13px; font-weight: bold; line-height: 100%; margin: 0; padding: 10px 0; width: 288px;" width="290" align="center" valign="middle"><a style="color: #333333; text-decoration: none;" href="http://www.cellularoutfitter.com?utm_source=streamsend&utm_medium=email2&utm_campaign={{campaign_id}}&utm_promocode={{promo_code}}" target="_blank">Enter code <b style="color: #2ecc71;">WELCOME25</b> at checkout.</a></td>
                </tr>
                <tr>
                  <td width="290" height="20"></td>
                </tr>
                <tr>
                  <td style="background-color: #2ecc71; border: 2px solid #27ae60; border-radius: 40px; color: #ffffff; font-family: Verdana, Geneva, sans-serif; font-size: 30px; line-height: 100%; margin: 0; padding: 10px 0; text-decoration: none; width: 286px;" width="290" align="center" valign="middle"><a style="color: #ffffff; text-decoration: none;" href="http://www.cellularoutfitter.com?utm_source=streamsend&utm_medium=email2&utm_campaign={{campaign_id}}&utm_promocode={{promo_code}}" target="_blank">SHOP NOW &raquo;</td>
                </tr>
                <tr>
                  <td width="290" height="20"></td>
                </tr>
              </table>
              <table width="290" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="290"><p style="color: #666666; font-family: Verdana, Geneva, sans-serif; font-size: 14px; line-height: 175%; margin: 0; padding: 0;">As a token of our gratitude, we'd like to give you a little something in return. Use the coupon code WELCOME25 in the next 7 days and get 15&#37; off your next order. It really is that easy. This is only the beginning, so welcome aboard and we look forward to seeing you soon!</p>
                    <br />
                    <p style="color: #666666; font-family: Verdana, Geneva, sans-serif; font-size: 14px; line-height: 175%; margin: 0; padding: 0;"><b style="color: #333333;">PS:</b> Be sure to like us on <a style="color: #006699; font-weight: bold;" href="http://www.facebook.com/cellularoutfitter?utm_source=streamsend&utm_medium=email2&utm_campaign={{campaign_id}}&utm_promocode={{promo_code}}" target="_blank">Facebook</a>, <a style="color: #006699; font-weight: bold;" href="http://twitter.com/celloutfitter?utm_source=streamsend&utm_medium=email2&utm_campaign={{campaign_id}}&utm_promocode={{promo_code}}" target="_blank">Twitter</a> and <a style="color: #006699; font-weight: bold;" href="http://plus.google.com/106042856978446012087?prsrc=3?utm_source=streamsend&utm_medium=email2&utm_campaign={{campaign_id}}&utm_promocode={{promo_code}}" target="_blank">Google+</a> because you never know where more deals will show up!</p></td>
                </tr>
              </table>
              <br />
              <table width="290" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td style="background-color: #cccccc;" width="290" height="1"></td>
                </tr>
                <tr>
                  <td><table width="290" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="20"></td>
                        <td width="36" height="46" valign="middle"><a href="http://www.facebook.com/cellularoutfitter?utm_source=streamsend&utm_medium=email2&utm_campaign={{campaign_id}}&utm_promocode={{promo_code}}" target="_blank"><img style="display: block;" src="http://www.cellularoutfitter.com/images/email/blast/template/images/ico-lrg-facebook-2x.gif" width="36" height="36" alt="Facebook" border="0" /></a></td>
                        <td width="10"></td>
                        <td style="font-family: Verdana, Geneva, sans-serif; font-size: 14px; font-weight: bold; line-height: 100%;" width="224" align="left" valign="middle"><a style="color: #333333; text-decoration: none;" href="http://www.facebook.com/cellularoutfitter?utm_source=streamsend&utm_medium=email2&utm_campaign={{campaign_id}}&utm_promocode={{promo_code}}" target="_blank">Find us on Facebook</a></td>
                      </tr>
                    </table></td>
                </tr>
                <tr>
                  <td style="background-color: #cccccc;" width="290" height="1"></td>
                </tr>
                <tr>
                  <td><table width="290" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="20"></td>
                        <td width="36" height="46" valign="middle"><a href="http://twitter.com/celloutfitter?utm_source=streamsend&utm_medium=email2&utm_campaign={{campaign_id}}&utm_promocode={{promo_code}}" target="_blank"><img style="display: block;" src="http://www.cellularoutfitter.com/images/email/blast/template/images/ico-lrg-twitter-2x.gif" width="36" height="36" alt="Facebook" border="0" /></a></td>
                        <td width="10"></td>
                        <td style="color: #333333; font-family: Verdana, Geneva, sans-serif; font-size: 14px; font-weight: bold; line-height: 100%;" width="224" align="left" valign="middle"><a style="color: #333333; text-decoration: none;" href="http://twitter.com/celloutfitter?utm_source=streamsend&utm_medium=email2&utm_campaign={{campaign_id}}&utm_promocode={{promo_code}}" target="_blank">Follow us on Twitter</a></td>
                      </tr>
                    </table></td>
                </tr>
                <tr>
                  <td style="background-color: #cccccc;" width="290" height="1"></td>
                </tr>
                <tr>
                  <td><table width="290" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="20"></td>
                        <td width="36" height="46" valign="middle"><a href="http://plus.google.com/106042856978446012087?prsrc=3?utm_source=streamsend&utm_medium=email2&utm_campaign={{campaign_id}}&utm_promocode={{promo_code}}" target="_blank"><img style="display: block;" src="http://www.cellularoutfitter.com/images/email/blast/template/images/ico-lrg-google-2x.gif" width="36" height="36" alt="Facebook" border="0" /></a></td>
                        <td width="10"></td>
                        <td style="color: #333333; font-family: Verdana, Geneva, sans-serif; font-size: 14px; font-weight: bold; line-height: 100%;" width="224" align="left" valign="middle"><a style="color: #333333; text-decoration: none;" href="http://plus.google.com/106042856978446012087?prsrc=3?utm_source=streamsend&utm_medium=email2&utm_campaign={{campaign_id}}&utm_promocode={{promo_code}}" target="_blank">Join our circle on Google+</a></td>
                      </tr>
                    </table></td>
                </tr>
                <tr>
                  <td style="background-color: #cccccc;" width="290" height="1"></td>
                </tr>
              </table>
              <br />
              <br />
              <table width="320" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td style="background-color: #cccccc;" width="320" height="2"></td>
                </tr>
              </table>
              <table width="320" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td style="background-color: #ebebeb;" width="10"></td>
                  <td style="background-color: #ebebeb; color: #333333; font-family: Verdana, Geneva, sans-serif; font-size: 14px; line-height: 150%; margin: 0;" width="300" align="center"><a style="color: #006699; font-weight: bold;" href="#?utm_source=streamsend&utm_medium=email2&utm_campaign={{campaign_id}}&utm_promocode={{promo_code}}" target="_blank"><br />
                    Unsubscribe</a><br />
                    <br />
                    <a style="color: #006699; font-weight: bold;" href="http://www.cellularoutfitter.com/privacypolicy.html?utm_source=streamsend&utm_medium=email2&utm_campaign={{campaign_id}}&utm_promocode={{promo_code}}" target="_blank">Privacy Policy</a> | <a style="color: #006699; font-weight: bold;" href="http://www.cellularoutfitter.com/termsofuse.html?utm_source=streamsend&utm_medium=email2&utm_campaign={{campaign_id}}&utm_promocode={{promo_code}}" target="_blank">Terms</a> | <a style="color: #006699; font-weight: bold;" href="http://www.cellularoutfitter.com/contact-us.html?utm_source=streamsend&utm_medium=email2&utm_campaign={{campaign_id}}&utm_promocode={{promo_code}}" target="_blank">Contact Us</a><br />
                    <br />
                   Offer excludes Bluetooth headsets, custom cases and select OEM products.<br /><br />
                    1410 N. Batavia St. | Orange, CA 92867<br />
                    <br />
                    &copy;2002-2013 CellularOutfitter.com<br />
                    <br /></td>
                  <td style="background-color: #ebebeb;" width="10"></td>
                </tr>
              </table></td>
          </tr>
        </table>
      </div>
      
      <![endif]> 
      
      <!-- End 320 Version --></td>
  </tr>
</table>
</body>
</html>
