<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Get 20&#37; Off Heavy-Duty Phone Cases. Limited Time Offer.</title>
    <style type="text/css">
        .ReadMsgBody {
        	width: 100%;
        }
        .ExternalClass {
        	width: 100%;
        }
    </style>
</head>

<body style="margin: 0; padding: 0; width: 100%; -webkit-text-size-adjust: none !important;	-ms-text-resize: none !important;">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td style="background-color: #f7f7f7; -webkit-text-size-adjust: none;" width="100%" align="center">
                <!-- Content -->

                <table style="margin: 0;" width="640" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td style="color: #333333; font-family: Verdana, Geneva, sans-serif; font-size: 11px; line-height: 2.0;" width="640" height="40" align="center" valign="middle">
                            Having trouble viewing this email?
                            <a style="color: #006699; font-weight: bold;" href="[SELF LINK]" target="_blank">Click here</a>.
                    </tr>
                    <tr>
                        <td style="background-color: #2980b9; color: #ffffff; font-family: Verdana, Geneva, sans-serif; font-size: 11px;" width="640" height="30" align="center" valign="middle">Save
                            <b>25&#37;</b> On Cell Phone Accessories - Use Coupon Code <b>WELCOME25</b> @ Checkout! Expires {{expDate}}.</td>
                    </tr>
                </table>
                <table width="640" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td style="background-color: #ffffff; color: #999999; font-family: Verdana, Geneva, sans-serif; font-size: 10px; line-height: 175%;" width="240" height="80" align="center" valign="middle">
                            <a href="http://www.cellularoutfitter.com/?dzid=email_transactional_HEADER_2L_NULL_NONE&utm_source=internal&utm_medium=email&utm_campaign=Welcome1&utm_content=Confirmation&utm_promocode=NA" target="_blank">
                                <img style="display: block;" src="http://www.cellularoutfitter.com/images/email/blast/template/images/co-logo.gif" width="220" height="45" alt="CellularOutfitter.com" border="0" />
                            </a>
                            <b>WHOLESALE PRICES</b> ON ACCESSORIES</td>
                        <td style="background-color: #ffffff;" width="390" align="right" valign="middle">
                            <a href="http://www.cellularoutfitter.com/?dzid=email_transactional_HEADER_3L_NULL_NONE&utm_source=internal&utm_medium=email&utm_campaign=Welcome1&utm_content=Confirmation&utm_promocode=NA" target="_blank">
                                <img src="http://www.cellularoutfitter.com/images/email/blast/template/images/co-values.gif" width="300" height="38" alt="110% Low Price Guarantee | 90-Day Return Policy" border="0" />
                            </a>
                        </td>
                        <td style="background-color: #ffffff;" width="10"></td>
                    </tr>
                </table>
                <table width="640" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td style="background-color: #2980b9; color: #ffffff; font-family: Verdana, Geneva, sans-serif; font-size: 11px; font-weight: bold;" width="79" height="45" align="center" valign="middle">
                            <a style="color: #ffffff; text-decoration: none;" href="http://www.cellularoutfitter.com/c-3-cell-phone-covers-and-gel-skins.html?dzid=email_transactional_NAV_1L_NULL_NONE&utm_source=internal&utm_medium=email&utm_campaign=Welcome1&utm_content=Confirmation&utm_promocode=NA" target="_blank">Covers &amp; Skins</a>
                        </td>
                        <td style="background-color: #124f80;" width="1" height="45"></td>
                        <td style="background-color: #2980b9; color: #ffffff; font-family: Verdana, Geneva, sans-serif; font-size: 11px; font-weight: bold;" width="79" height="45" align="center" valign="middle">
                            <a style="color: #ffffff; text-decoration: none;" href="http://www.cellularoutfitter.com/c-7-cell-phone-cases-and-pouches.html?dzid=email_transactional_NAV_2L_NULL_NONE&utm_source=internal&utm_medium=email&utm_campaign=Welcome1&utm_content=Confirmation&utm_promocode=NA" target="_blank">Cases &amp; Pouches</a>
                        </td>
                        <td style="background-color: #124f80;" width="1" height="45"></td>
                        <td style="background-color: #2980b9; color: #ffffff; font-family: Verdana, Geneva, sans-serif; font-size: 11px; font-weight: bold;" width="79" height="45" align="center" valign="middle">
                            <a style="color: #ffffff; text-decoration: none;" href="http://www.cellularoutfitter.com/c-18-cell-phone-screen-protectors.html?dzid=email_transactional_NAV_3L_NULL_NONE&utm_source=internal&utm_medium=email&utm_campaign=Welcome1&utm_content=Confirmation&utm_promocode=NA" target="_blank">Screen Protectors</a>
                        </td>
                        <td style="background-color: #124f80;" width="1" height="45"></td>
                        <td style="background-color: #2980b9; color: #ffffff; font-family: Verdana, Geneva, sans-serif; font-size: 11px; font-weight: bold;" width="79" height="45" align="center" valign="middle">
                            <a style="color: #ffffff; text-decoration: none;" href="http://www.cellularoutfitter.com/c-24-cell-phone-custom-cases.html?dzid=email_transactional_NAV_4L_NULL_NONE&utm_source=internal&utm_medium=email&utm_campaign=Welcome1&utm_content=Confirmation&utm_promocode=NA" target="_blank">Custom Covers</a>
                        </td>
                        <td style="background-color: #124f80;" width="1" height="45"></td>
                        <td style="background-color: #2980b9; color: #ffffff; font-family: Verdana, Geneva, sans-serif; font-size: 11px; font-weight: bold;" width="79" height="45" align="center" valign="middle">
                            <a style="color: #ffffff; text-decoration: none;" href="http://www.cellularoutfitter.com/c-2-cell-phone-chargers-and-data-cables.html?dzid=email_transactional_NAV_5L_NULL_NONE&utm_source=internal&utm_medium=email&utm_campaign=Welcome1&utm_content=Confirmation&utm_promocode=NA" target="_blank">Chargers Cables</a>
                        </td>
                        <td style="background-color: #124f80;" width="1" height="45"></td>
                        <td style="background-color: #2980b9; color: #ffffff; font-family: Verdana, Geneva, sans-serif; font-size: 11px; font-weight: bold;" width="79" height="45" align="center" valign="middle">
                            <a style="color: #ffffff; text-decoration: none;" href="http://www.cellularoutfitter.com/c-5-cell-phone-bluetooth-and-hands-free.html?dzid=email_transactional_NAV_6L_NULL_NONE&utm_source=internal&utm_medium=email&utm_campaign=Welcome1&utm_content=Confirmation&utm_promocode=NA" target="_blank">Bluetooth Headsets</a>
                        </td>
                        <td style="background-color: #124f80;" width="1" height="45"></td>
                        <td style="background-color: #2980b9; color: #ffffff; font-family: Verdana, Geneva, sans-serif; font-size: 11px; font-weight: bold;" width="79" height="45" align="center" valign="middle">
                            <a style="color: #ffffff; text-decoration: none;" href="http://www.cellularoutfitter.com/c-6-cell-phone-holsters-and-car-mounts.html?dzid=email_transactional_NAV_7L_NULL_NONE&utm_source=internal&utm_medium=email&utm_campaign=Welcome1&utm_content=Confirmation&utm_promocode=NA" target="_blank">Holsters Mounts</a>
                        </td>
                        <td style="background-color: #124f80;" width="1" height="45"></td>
                        <td style="background-color: #2980b9; color: #ffffff; font-family: Verdana, Geneva, sans-serif; font-size: 11px; font-weight: bold;" width="80" height="45" align="center" valign="middle">
                            <a style="color: #ffffff; text-decoration: none;" href="http://www.cellularoutfitter.com/sb-0-sm-0-sc-8-cell-phone-other-accessories.html?dzid=email_transactional_NAV_8L_NULL_NONE&utm_source=internal&utm_medium=email&utm_campaign=Welcome1&utm_content=Confirmation&utm_promocode=NA" target="_blank">Other Accessories</a>
                        </td>
                    </tr>
                </table>
                <table width="640" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td style="background-color: #f1f1f1; color: #343434; font-family: Verdana, Geneva, sans-serif; font-size: 18px; " width="640" align="center" valign="top">
                           	<h1 style="font:normal 35px 'Times New Roman', Times, serif; margin:0; padding-top:30px;">THANKS FOR SUBSCRIBING</h1> 
                            <h2 style="font:normal 16px Verdana, Geneva, sans-serif; margin:0; padding:0; color:#606060" >TO THE CELLULAR OUTFITTER NEWSLETTER!</h2>
                 
                            <h3 style="font:bold 14px Verdana, Geneva, sans-serif">Congratulations, You Are Now A VIP!</h3>

                          	<p style="font-style:normal; font-family: Verdana, Geneva, sans-serif; font-size:12px; line-height:2.08; margin-bottom:30px; " >
                            You are now eligible to receive special promotions,
                            exclusive discounts, and valuable insider<br /> information.
                            We value all our customers, but our VIP take top priority. 
                            We'll do our best to bring<br />you the greatest accessories for your needs!
                            </p>
                            <a href="#" target="_blank"><img style="display: block;" src="http://www.cellularoutfitter.com/images/subscribe-batch/save.jpg" alt="" width="171" height="36" border="0" /></a>
                            <br /><br />
                            <p style="font-style:normal; font-family: Verdana, Geneva, sans-serif; font-size:12px; line-height:2.08; " >
                            <strong>Add <a href="mailto:support@email.cellularoutfitter.com" target="_blank" style="color:#026698;">support@email.cellularoutfitter.com</a> to your address book to receive exclusive deals<br />every month. 
                            You'll receive even further discounts on our already incredibly low prices!</strong></p>
                            <br />
                        </td>
                    </tr>
                </table>
                <table width="640" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td style="background-color: #2980b9; color: #ffffff; font-family: Verdana, Geneva, sans-serif; font-size: 11px;" width="640" height="30" align="center" valign="middle">
                            <b>SHOP WITH CONFIDENCE:</b>&nbsp;&nbsp;&nbsp;&nbsp;110% LOW PRICE GUARANTEE&nbsp;&nbsp;&nbsp;&nbsp;90-DAY RETURNS&nbsp;&nbsp;&nbsp;&nbsp;1-YEAR WARRANTY</td>
                    </tr>
                </table>
                <table width="640" border="0" cellspacing="0" cellpadding="0">
                	<tr>
                    	<td align="center" style="background:#FFFFFF; padding:30px 0; line-height:1.875; font:normal 16px Verdana, Geneva, sans-serif; color:#606060; border-top:1px solid #cccccc; ">WE HAND-PICKED THESE QUALITY ACCESSORIES JUST FOR YOU.<br />OUTFIT YOUR DEVICE AT THE LOWEST PRICE POSSIBLE!</td>
                    	
                    </tr>
                    <tr>
                    	<td align="center" bgcolor="#FFFFFF"><img src="http://www.cellularoutfitter.com/images/subscribe-batch/divider.jpg" alt="" width="109" height="1" />
                        <br /><br />
                        </td>
                    </tr>
                  
                </table>
                [UPSELL]
                <table width="640" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                    	<td bgcolor="#FFFFFF" style=" border-top:1px solid #cccccc;">
                        <table width="640" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td width="15">&nbsp;</td>
                                <td>
                                	<table width="610" border="0" cellspacing="0" cellpadding="0">
                                      <tr>
                                        <td style="font:bold 18px 'Times New Roman', Times, serif; color:#02669a; padding:20px 0; " align="center" >
                                        AS A VIP, YOU NOW HAVE <br />ACCESS TO THE FOLLOWING BENEFITS
                                        </td>
                                      </tr>
                                      <tr>
                                      	<td align="center"><img src="http://www.cellularoutfitter.com/images/subscribe-batch/divider.jpg" alt="" width="109" height="1" /></td>
                                      </tr>
                                      <tr><td>&nbsp;</td></tr>
                                      <tr>
                                      	<td>
                                        	<table width="610" border="0" cellspacing="0" cellpadding="0">
                                              <tr>
                                                <td width="25" valign="top"><img style="display: block;" src="http://www.cellularoutfitter.com/images/subscribe-batch/star.jpg" alt="" width="25" height="21" /></td>
                                                <td style="font:bold 15px Verdana, Geneva, sans-serif; color:#016599; " valign="top">Deeply-Discounted Warehouse Prices</td>
                                               
                                              </tr>
                                            </table>
                                            <table width="610" border="0" cellspacing="0" cellpadding="0">
                                              <tr>
                                                <td style="font:normal 11px Verdana, Geneva, sans-serif; color:#7d7d7d; line-height:18px; padding-bottom:30px; padding-top:5px;">
                                                  You can now benefit from the absolute lowest prices online.
                                                  We also offer a <strong>110% low price guarantee</strong>. If you find a lower price on the same product,
                                                  we'll match it and give you an additional 10% off.
                                              </tr>
                                            </table>
                                        </td>
                                      </tr>
                                      
                                      
                                      <tr>
                                      	<td>
                                        	<table width="610" border="0" cellspacing="0" cellpadding="0">
                                              <tr>
                                                <td width="25" valign="top"><img style="display: block;" src="http://www.cellularoutfitter.com/images/subscribe-batch/star.jpg" alt="" width="25" height="21" /></td>
                                                <td style="font:bold 15px Verdana, Geneva, sans-serif; color:#016599;  " valign="top" >The Largest Selection of Accessories Anywhere</td>
                                               
                                              </tr>
                                            </table>
                                            <table width="610" border="0" cellspacing="0" cellpadding="0">
                                              <tr>
                                                <td style="font:normal 11px Verdana, Geneva, sans-serif; color:#7d7d7d; line-height:18px; padding-bottom:30px; padding-top:5px;">
                                                  It doesn't matter how old or new your phone is. We carry 250,000+ accessories for hundreds of phone models.
                                              </tr>
                                            </table>
                                        </td>
                                      </tr>
                                      
                                       <tr>
                                      	<td>
                                        	<table width="610" border="0" cellspacing="0" cellpadding="0">
                                              <tr>
                                                <td width="25" valign="top"><img style="display: block;" src="http://www.cellularoutfitter.com/images/subscribe-batch/star.jpg" alt="" width="25" height="21" /></td>
                                                <td style="font:bold 15px Verdana, Geneva, sans-serif; color:#016599;  " valign="top" >Fast Shipping</td>
                                               
                                              </tr>
                                            </table>
                                            <table width="610" border="0" cellspacing="0" cellpadding="0">
                                              <tr>
                                                <td style="font:normal 11px Verdana, Geneva, sans-serif; color:#7d7d7d; line-height:18px; padding-bottom:30px; padding-top:5px;">
                                                  We're so excited for you to receive your quality merchandise that we make sure that all orders are shipped within 24 hours. All orders placed before 3:00 p.m. EST are shipped that <strong><u>same day</u></strong>.</tr>
                                            </table>
                                        </td>
                                      </tr>
                                      
                                       <tr>
                                      	<td>
                                        	<table width="610" border="0" cellspacing="0" cellpadding="0">
                                              <tr>
                                                <td width="25" valign="top"><img style="display: block;" src="http://www.cellularoutfitter.com/images/subscribe-batch/star.jpg" alt="" width="25" height="21" /></td>
                                                <td style="font:bold 15px Verdana, Geneva, sans-serif; color:#016599;  " valign="top" >90-Day Return policy</td>
                                               
                                              </tr>
                                            </table>
                                            <table width="610" border="0" cellspacing="0" cellpadding="0">
                                              <tr>
                                                <td style="font:normal 11px Verdana, Geneva, sans-serif; color:#7d7d7d; line-height:18px; padding-bottom:30px; padding-top:5px;">
                                                  We want you to be completely satisfied. Should your merchandise not fulfill your expectations, you may return it within 90 days of your invoice receipt.
                                              </tr>
                                            </table>
                                        </td>
                                      </tr>
                                      
                                       <tr>
                                      	<td>
                                        	<table width="610" border="0" cellspacing="0" cellpadding="0">
                                              <tr>
                                                <td width="25" valign="top"><img style="display: block;" src="http://www.cellularoutfitter.com/images/subscribe-batch/star.jpg" alt="" width="25" height="21" /></td>
                                                <td style="font:bold 15px Verdana, Geneva, sans-serif; color:#016599;  " valign="top" >1-Year Warranty </td>
                                               
                                              </tr>
                                            </table>
                                            <table width="610" border="0" cellspacing="0" cellpadding="0">
                                              <tr>
                                                <td style="font:normal 11px Verdana, Geneva, sans-serif; color:#7d7d7d; line-height:18px; padding-bottom:30px; padding-top:5px;">
                                                  All of our products are backed by our 100% Quality Assurance Guarantee.
                                              </tr>
                                            </table>
                                        </td>
                                      </tr>
                                      
                                       <tr>
                                      	<td>
                                        	<table width="610" border="0" cellspacing="0" cellpadding="0">
                                              <tr>
                                                <td width="25" valign="top"><img style="display: block;" src="http://www.cellularoutfitter.com/images/subscribe-batch/star.jpg" alt="" width="25" height="21" /></td>
                                                <td style="font:bold 15px Verdana, Geneva, sans-serif; color:#016599;  " valign="top" >Exclusive Sales &amp; Promotions</td>
                                               
                                              </tr>
                                            </table>
                                            <table width="610" border="0" cellspacing="0" cellpadding="0">
                                              <tr>
                                                <td style="font:normal 11px Verdana, Geneva, sans-serif; color:#7d7d7d; line-height:18px; padding-bottom:30px; padding-top:5px;">
                                                  Add <a href="mailto:support@email.cellularoutfitter.com" target="_blank" style="color:#026698;"><strong>support@email.cellularoutfitter.com</strong></a> to your address book to receive exclusive deals every month. You'll receive even further discounts on our already incredibly low prices!
                                              </tr>
                                            </table>
                                        </td>
                                      </tr>
                                      
                                       
                                      
                                     
                                    </table>
                                </td>
                            <td width="15">&nbsp;</td>
                          </tr>
                        </table>

                        
                        </td>
                    </tr>
                </table>

                 <table width="640" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td style="background-color: #2980b9; color: #ffffff; font-family: Verdana, Geneva, sans-serif; font-size: 11px;" width="640" height="30" align="center" valign="middle">
                            <b>SHOP WITH CONFIDENCE:</b>&nbsp;&nbsp;&nbsp;&nbsp;110% LOW PRICE GUARANTEE&nbsp;&nbsp;&nbsp;&nbsp;90-DAY RETURNS&nbsp;&nbsp;&nbsp;&nbsp;1-YEAR WARRANTY</td>
                    </tr>
                </table>
                
                <table width="640" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td style="background-color: #ffffff;" width="10"></td>
                        <td style="background-color: #ffffff; color: #006699; font-family: Verdana, Geneva, sans-serif; font-size: 14px; font-weight: bold; line-height: 150%; margin: 0;" width="180" align="left">
                            <br />Connect With Us:</td>
                        <td style="background-color: #ffffff;" width="20"></td>
                        <td style="background-color: #ffffff; color: #333333; font-family: Verdana, Geneva, sans-serif; font-size: 14px; font-weight: bold; line-height: 150%; margin: 0;" width="215" align="left">
                            <br />
                            <a style="color: #006699; text-decoration: none;" href="{{model_link}}?utm_source=streamsend&utm_medium=email2&utm_campaign={{campaign_code}}&utm_promocode={{promo_code}}&utm_email={{{email_address}}}" target="_blank">Shop Now &rarr;</a>
                        </td>
                        <td style="background-color: #ffffff; color: #999999; font-family: Verdana, Geneva, sans-serif; font-size: 14px; font-weight: bold; line-height: 150%; margin: 0;" width="215"></td>
                    </tr>
                    <tr>
                        <td style="background-color: #ffffff;" width="10"></td>
                        <td style="background-color: #ffffff; color: #999999; font-family: Verdana, Geneva, sans-serif; font-size: 14px; font-weight: bold; line-height: 150%; margin: 0;" width="180">
                            <table width="180" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="40" height="30" align="center" valign="top">
                                        <img src="http://www.cellularoutfitter.com/images/email/blast/template/images/ico-facebook-2x.gif" width="20" height="20" alt="Facebook" border="0" />
                                    </td>
                                    <td style="font-family: Verdana, Geneva, sans-serif; font-size: 11px;" width="140" align="left" valign="top">
                                        <a style="color: #006699; text-decoration: none;" href="http://www.facebook.com/cellularoutfitter?utm_source=streamsend&utm_medium=email2&utm_campaign={{campaign_code}}&utm_promocode={{promo_code}}&utm_email={{{email_address}}}" target="_blank">Facebook</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="40" height="30" align="center" valign="top">
                                        <img src="http://www.cellularoutfitter.com/images/email/blast/template/images/ico-twitter-2x.gif" width="20" height="20" alt="Twitter" border="0" />
                                    </td>
                                    <td style="font-family: Verdana, Geneva, sans-serif; font-size: 11px;" width="140" align="left" valign="top">
                                        <a style="color: #006699; text-decoration: none;" href="http://twitter.com/celloutfitter?utm_source=streamsend&utm_medium=email2&utm_campaign={{campaign_code}}&utm_promocode={{promo_code}}&utm_email={{{email_address}}}" target="_blank">Twitter</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="40" height="30" align="center" valign="top">
                                        <img src="http://www.cellularoutfitter.com/images/email/blast/template/images/ico-google-2x.gif" width="20" height="20" alt="Google+" border="0" />
                                    </td>
                                    <td style="font-family: Verdana, Geneva, sans-serif; font-size: 11px;" width="140" align="left" valign="top">
                                        <a style="color: #006699; text-decoration: none;" href="https://plus.google.com/106042856978446012087?utm_source=streamsend&utm_medium=email2&utm_campaign={{campaign_code}}&utm_promocode={{promo_code}}&utm_email={{{email_address}}}" target="_blank">Google+</a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td style="background-color: #ffffff;" width="20"></td>
                        <td style="background-color: #ffffff; color: #333333; font-family: Verdana, Geneva, sans-serif; font-size: 11px; line-height: 150%; margin: 0;" width="215" align="left">
                            <br />
                            <a style="color: #006699; text-decoration: none;" href="http://www.cellularoutfitter.com/c-3-cell-phone-covers-and-gel-skins.html?dzid=email_transactional_NAV_1L_NULL_NONE&utm_source=internal&utm_medium=email&utm_campaign=Welcome1&utm_content=Confirmation&utm_promocode=NA" target="_blank">Covers &amp; Skins</a>
                            <br />
                            <a style="color: #006699; text-decoration: none;" href="http://www.cellularoutfitter.com/c-7-cell-phone-cases-and-pouches.html?dzid=email_transactional_NAV_2L_NULL_NONE&utm_source=internal&utm_medium=email&utm_campaign=Welcome1&utm_content=Confirmation&utm_promocode=NA" target="_blank">Cases &amp; Pouches</a>
                            <br />
                            <a style="color: #006699; text-decoration: none;" href="http://www.cellularoutfitter.com/c-18-cell-phone-screen-protectors.html?dzid=email_transactional_NAV_3L_NULL_NONE&utm_source=internal&utm_medium=email&utm_campaign=Welcome1&utm_content=Confirmation&utm_promocode=NA" target="_blank">Screen Protectors</a>
                            <br />
                            <a style="color: #006699; text-decoration: none;" href="http://www.cellularoutfitter.com/c-24-cell-phone-custom-cases.html?dzid=email_transactional_NAV_4L_NULL_NONE&utm_source=internal&utm_medium=email&utm_campaign=Welcome1&utm_content=Confirmation&utm_promocode=NA" target="_blank">Custom Covers</a>
                            <br />
                            <br />
                            <br />
                        </td>
                        <td style="background-color: #ffffff; color: #333333; font-family: Verdana, Geneva, sans-serif; font-size: 11px; line-height: 150%; margin: 0;" width="215" align="left">
                            <br />
                            <a style="color: #006699; text-decoration: none;" href="http://www.cellularoutfitter.com/c-2-cell-phone-chargers-and-data-cables.html?dzid=email_transactional_NAV_5L_NULL_NONE&utm_source=internal&utm_medium=email&utm_campaign=Welcome1&utm_content=Confirmation&utm_promocode=NA" target="_blank">Chargers &amp; Cables</a>
                            <br />
                            <a style="color: #006699; text-decoration: none;" href="http://www.cellularoutfitter.com/c-5-cell-phone-bluetooth-and-hands-free.html?dzid=email_transactional_NAV_6L_NULL_NONE&utm_source=internal&utm_medium=email&utm_campaign=Welcome1&utm_content=Confirmation&utm_promocode=NA" target="_blank">Bluetooth Headsets</a>
                            <br />
                            <a style="color: #006699; text-decoration: none;" href="http://www.cellularoutfitter.com/c-6-cell-phone-holsters-and-car-mounts.html?dzid=email_transactional_NAV_7L_NULL_NONE&utm_source=internal&utm_medium=email&utm_campaign=Welcome1&utm_content=Confirmation&utm_promocode=NA" target="_blank">Holsters &amp; Mounts</a>
                            <br />
                            <a style="color: #006699; text-decoration: none;" href="http://www.cellularoutfitter.com/sb-0-sm-0-sc-8-cell-phone-other-accessories.html?dzid=email_transactional_NAV_8L_NULL_NONE&utm_source=internal&utm_medium=email&utm_campaign=Welcome1&utm_content=Confirmation&utm_promocode=NA" target="_blank">Other Accessories</a>
                            <br />
                            <br />
                            <br />
                        </td>
                    </tr>
                </table>
                <table width="640" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td style="background-color: #cccccc;" width="640" height="2"></td>
                    </tr>
                </table>
                <table width="640" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td style="background-color: #ebebeb;" width="10"></td>
                        <td style="background-color: #ebebeb; color: #333333; font-family: Verdana, Geneva, sans-serif; font-size: 11px; line-height: 150%; margin: 0;" width="620" align="center">
                            <br />If you have any questions, comments, or concerns, please
                            <a style="color: #006699; font-weight: bold;" href="http://www.cellularoutfitter.com/contact-us.html?dzid=email_transactional_FOOTER_1L_NULL_NONE&utm_source=internal&utm_medium=email&utm_campaign=Welcome1&utm_content=Confirmation&utm_promocode=NA" target="_blank">contact us</a>.
                            <br />
                            <br />Our customer service hours are Monday through Friday 6:00 A.M. - 5:00 P.M. Pacific Standard Time.
                            <br />
                            <br />Offer excludes Bluetooth headsets, custom cases, phones and select OEM products.
                            <br />
                            <br />This email correspondence has been sent to you as you have indicated you would like to receive special, exclusive offers from CellularOutfitter.com. If this message has been sent in error, or you would no longer like to receive any more periodic offers from CellularOutfitter.com, you may
                            <a style="color: #006699; font-weight: bold;" href="http://www.cellularoutfitter.com/unsubscribe.html?dzid=email_transactional_FOOTER_2L_NULL_NONE&utm_source=internal&utm_medium=email&utm_campaign=Welcome1&utm_content=Confirmation&utm_promocode=NA" target="_blank">unsubscribe</a>.
                            <br />
                            <br />
                            <a style="color: #006699; font-weight: bold;" href="http://www.cellularoutfitter.com/privacypolicy.html?dzid=email_transactional_FOOTER_3L_NULL_NONE&utm_source=internal&utm_medium=email&utm_campaign=Welcome1&utm_content=Confirmation&utm_promocode=NA" target="_blank">Privacy Policy</a> |
                            <a style="color: #006699; font-weight: bold;" href="http://www.cellularoutfitter.com/termsofuse.html?dzid=email_transactional_FOOTER_4L_NULL_NONE&utm_source=internal&utm_medium=email&utm_campaign=Welcome1&utm_content=Confirmation&utm_promocode=NA" target="_blank">Terms &amp; Conditions</a> |
                            <a style="color: #006699; font-weight: bold;" href="http://www.cellularoutfitter.com/contact-us.html?dzid=email_transactional_FOOTER_4L_NULL_NONE&utm_source=internal&utm_medium=email&utm_campaign=Welcome1&utm_content=Confirmation&utm_promocode=NA" target="_blank">Contact Us</a>
                            <br />
                            <br />1410 N. Batavia St. | Orange, CA 92867
                            <br />
                            <br />&copy;2002-2014 CellularOutfitter.com
                            <br />
                            <br />
                        </td>
                        <td style="background-color: #ebebeb;" width="10"></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>

</html>
