/* CSS Document */

.bmc_pricing_old	{display:none !important; }
.bmc_moreInfo	{display:none !important; }
.bmc_addtocart	{ float:left; width:100%; text-align:center; padding-top:10px; }

a.static-content-font-link 			{ font-size: 12px; font-weight: normal; color: #666666; text-decoration: underline !important; text-align:center; padding:0px 5px 0px 5px;}
a.static-content-font-link:hover 	{ font-size: 12px; font-weight: normal; color: #666666; text-decoration: underline; text-align:center; padding:0px 5px 0px 5px;}

