body { font-family:Verdana, Geneva, sans-serif; font-size:12px; margin:0px; padding:0px; width:100%; }
form { border:0px; margin:0px; }
.fl { float:left; }
.fr { float:right; }
.clr { clear:both; }
.tb { display:table; }
.hide { display:none; }
.mCenter { margin:0px auto; }
.pt { cursor:pointer; }
.bold { font-weight:bold; }
.italic { font-style:italic; }
.mt10 { margin-top:10px; }
.mr15 { margin-right:15px; }
.ml10 { margin-left:10px; }
.mtb15 { margin-top:15px; margin-bottom:15px; }
.pb10 { padding-bottom:10px; }
.pt10 { padding-top:10px; }
.pr5 { padding-right:5px; }
.pr10 { padding-right:10px; }
.pr20 { padding-right:20px; }
.pl20 { padding-left:20px; }
.space15 { margin-top:15px; }
.wholeSite { width:100%; margin:0px auto; }
.centerContain { width:320px; margin:0px auto; }
.header { width:100%; height:75px; }
.topBttn1 { margin-top:23px; margin-right:8px; margin-left:30px; }
.topBttn2 { margin-top:6px; background:url(/images/mobile/buttons/cart.gif); width:32px; height:49px; position:relative; }
.cartItemCount { position:absolute; top:-1px; left:6px; text-align:center; width:18px; }
.cartItemQty { color:#FFF; font-weight:bold; font-size:10px; text-decoration:none; }
.topNav { width:100%; height:40px; background-color:#336799; display:table; border-top:1px solid #CCC; }
.navTxt { font-size:10px; text-align:center; height:30px; }
.accountLogin { padding-top:10px; width:50px; text-align:right; margin-right:10px; }
.loginLink { color:#FFF; font-size:10px; }
.navNumber { padding-top:10px; width:240px; }
.navPhoneNumber { font-size:14px; color:#FFF; text-decoration:none; font-weight:bold; padding-left:10px; }
.Login { width:94px; border-right:1px solid #5286b8; }
.Track { width:128px; border-left:1px solid #003466; border-right:1px solid #5286b8; }
.Call { width:94px; border-left:1px solid #003466; }
.navLink { color:#FFF; text-decoration:none; }
.footerBar {
		width:300px;
		height:40px;
		margin:15px auto;
		background-color:#336799;
		border-radius:5px;
		-moz-box-shadow: 0px 10px 5px #888;
		-webkit-box-shadow: 0px 10px 5px #888;
		box-shadow: 0px 5px 5px #888;
}
.footerHome { font-weight:bold; width:58px; height:28px; text-align:center; padding-top:12px; border-right:1px solid #5286b8; }
.footerContactUs { font-weight:bold; width:94px; height:28px; text-align:center; padding-top:12px; border-left:1px solid #003466; border-right:1px solid #5286b8; }
.footerFullSite { font-weight:bold; width:78px; height:28px; text-align:center; padding-top:5px; border-left:1px solid #003466; border-right:1px solid #5286b8; }
.footerTerms { font-weight:bold; width:64px; height:28px; text-align:center; padding-top:12px; border-left:1px solid #003466; }
.footerLink { color:#FFF; text-decoration:none; }
.copyriteTxt { color:#333; text-align:center; width:320px; margin:20px auto; }
.backToTopBar { width:100%; height:40px; border-bottom:1px solid #CCC; background-color:#336799; }
.backToTopTxt { font-weight:bold; color:#FFF; width:280px; padding:12px 0px 0px 10px; }
.backToTopArrow { margin-top:10px; background:url(/images/mobile/icons/upArrow.gif) no-repeat; width:20px; height:20px; }
.whiteLink { color:#FFF; text-decoration:none; }
.greyLink { color:#666; text-decoration:none; }
.blackLink { color:#000; text-decoration:none; }
.menuItem { line-height:14px; }
.retail { text-decoration:line-through; }
.topValueProp { display:table; background-color:#000034; width:100%; }
.propArrows { background:url(/images/mobile/icons/valuePropArrows.gif); height:13px; width:13px; margin:10px; }
.topValuePropText { color:#FFF; font-size:10px; font-weight:bold; margin:10px 0px; }
.secureIcons { display:table; margin:0px auto; height:42px; width:150px; margin-top:10px; }
.mcAfeeIcon { padding-top:5px; }
.fullSiteLink { color:#00F; text-decoration:underline; font-size:11px; }

.viewmore {
	border:1px solid #CCC; border-radius:5px; width:300px; height:23px; color:#666; text-align:center; padding-top:7px; margin:0px auto 10px auto; cursor:pointer;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #ebebeb) );
	background:-moz-linear-gradient( center top, #ffffff 5%, #ebebeb 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ebebeb');
	background-color:#fff; }
#searchBoxRow { margin:10px auto 10px auto; width:320px; height:30px; }
#preLoading { background:url(/images/mobile/loading-grey.gif) no-repeat; width:30px; height:30px; margin:auto; }
#btnJFY { background:url(/images/mobile/button-justforyou.png) no-repeat; width:264px; height:65px; background-size:264px 65px; margin:10px auto auto auto; }
#btnTrending { background:url(/images/mobile/button-hot.png) no-repeat; width:264px; height:65px; background-size:264px 65px; margin:10px auto auto auto; }
.btnMoreDetail { background:url(/images/mobile/button-details.png) no-repeat; width:105px; height:19px; background-size:105px 19px; margin:auto; }



/********************************/
/*		Login Model Dialog		*/
/********************************/

#divLoginDialog {
	width:350px;
	height:384px;
	overflow:hidden;
	background-color:#fff;
	margin-left:auto;
	margin-right:auto;
	margin-top:142px;
	border:10px solid #32456F;
	position:relative;
}
#divLoginDialog #divLoginTop {
	background:#ECF3F9;
	position:absolute;
	top:0px;
	width:350px;
	height:42px;
	border-bottom:1px solid #CFE2F1;
}
#divLoginDialog #divLoginMiddle {
	position:absolute;
	top:42px;
	width:100%;
	height:236px;
	padding-top:28px;
	padding-left:35px;
}
#divLoginDialog #divLoginBottom {
	background:#ECF3F9;
	position:absolute;
	top:279px;
	width:100%;
	height:106px;
	border-top:1px solid #CFE2F1;
}
#divLoginDialog p {
	font-family:"Arial", "Helvetica", sans-serif;
	color:#7E7F81;
	font-size:0.75em;
	margin-bottom:-0.25em;
}
#divLoginDialog a {
	font-size:inherit;
	font-weight:normal;
	text-decoration:none;
}
#divLoginDialog #divLoginTop p {
	font-size:1.0em;
	margin:0;
	padding:0;
	line-height:1.0em;
	position:absolute;
	left:13px;
	top:14px;
}
#divLoginDialog #divLoginClose {
	position:absolute;
	right:12px;
	top:12px;
	width:19px;
	height:19px;
	background:url(/images/account/button-close.jpg) no-repeat;
	cursor:pointer;
}
#divLoginDialog label {
	display:none;
}
#divLoginDialog #inputEmail, #divLoginDialog #inputPassword, #divLoginDialog #submitButton, #divLoginDialog #divLoginMiddle p {
	float:left;
	clear:left;
}
#divLoginDialog #inputEmail, #divLoginDialog #inputPassword {
	border-radius: 4px;
	-moz-border-radius: 4px;
	-khtml-border-radius: 4px;
	-webkit-border-radius: 4px;
	border:1px solid #BBBBBB;
	width:265px;
	height:28px;
	line-height:28px;
	color:#BBBBBB;
	padding-left:0.5em;
	padding-right:0.5em;
	margin-bottom:1.0em;
	outline:none;
}
#divLoginDialog #inputEmail:focus, #divLoginDialog #inputPassword:focus {
	background:#ECF3F9;
	color:#000;
	outline-color:#000;	
	-webkit-box-shadow: 0px 1px 4px 0px darkgray; /* Saf3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
	box-shadow: 0px 1px 4px 0px darkgray; /* Opera 10.5, IE9, FF4+, Chrome 6+, iOS 5 */
	border:1px solid darkgray;
}
#divLoginDialog #submitButton {
	background:url(/images/account/button-login.jpg) no-repeat;
	width:140px;
	height:40px;
	text-indent:-1000em;
	cursor:pointer;
	border:none;
}
#divLoginDialog #divLoginFacebook {
	background:url(/images/account/button-facebook.jpg) no-repeat;
	width:175px;
	height:34px;
	position:absolute;
	left:78px;
	top:10px;
	cursor:pointer;
}
#divLoginDialog #divLoginGoogle {
	background:url(/images/account/button-google.jpg) no-repeat;
	width:175px;
	height:35px;
	position:absolute;
	left:78px;
	top:53px;
	cursor:pointer;
}

.loginErrorMsg { font-weight:bold; color:#F00; text-align:center; padding:0px 20px; }
.returnPage { width:90%; padding:20px; font-size:12px; font-family:Verdana, Geneva, sans-serif; margin:0px auto; }

/* Promo Start - free pen with each order */
.promoBanner	{ background:url(/images/mobile/banners/co-promo-banner.gif) no-repeat center; width:100%; height:48px; cursor:pointer; background-color:#e74c3c; }
.promoDetails	{ background-color:#f7f7f7; border-bottom:2px solid #CCC; padding-top:11px; width:100%; }
.promoCenterBox	{ margin:0px auto; }
.promoItem		{ background-image:url(/images/mobile/promo/item.jpg); width:139px; height:180px; }
.promoText		{ width:158px; margin:9px 0px 0px 3px; }
.promoCheckRow	{ margin-bottom:10px; }
.promoCheckmark	{ background-image:url(/images/mobile/promo/checkmark.gif); width:9px; height:10px; margin-top:3px; }
.promoDetailTxt	{ margin-left:10px; width:135px; }
.promoHideBox	{ background-color:#336699; color:#FFF; cursor:pointer; width:103px; height:17px; padding-top:2px; text-align:center; border-radius:10px; font-weight:bold; }
/* Promo End */

.discountPrice	{ color:#cc0200; font-weight:bold; }

/** 25% floating discount - start **/
.discount-container { width:1px; height:1px; margin:0px auto; position:fixed; bottom:0px; left:0px; }
.btn-close-sml { cursor:pointer;width:30px;height:30px;position:relative; left:50px; top:-80px; background:url("/images/mobile/emailpromo/close-button2.png") no-repeat; z-index:102; background-size:100% 100%;}
.discount {
	cursor:pointer;
	width:60px;
	height:60px;
	background:url("/images/mobile/emailpromo/25-percent-off-icon-2x.png") no-repeat; 
	position:relative;
	top:-70px;
	left:5px;
	float:left;
	background-size:100% 100%;
	-webkit-box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px 5px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px 5px rgba(50, 50, 50, 0.75);
	behavior: url("/images/mobile/emailpromo/PIE.htc");
	border-radius:50px;
}
#overlay1, #overlay2 { display: none;position:fixed;top: 50px; left:50%; margin-left:-150px; width: 300px; height: 50%; z-index: 101;}
#fade {display: none; position: fixed;left: 0%;top: 0%;background-color: black;-moz-opacity: 0.7;opacity: .70;filter: alpha(opacity=70);width: 100%;height: 100%;z-index: 100;}

#floating-banner { width:264px;height:44px;position:fixed;bottom:0;left:50%;margin-left:-133px;border:1px solid #fff;background:#27ae60; }
#floating-banner .clickable { position:relative;float:left; cursor:pointer;}
#floating-banner .clickable .discount-text{margin:9px 7px 0 9px;position:relative;float:left;background:url("/images/discount/get_25_off.png") no-repeat;width:140px;height:26px;}
#floating-banner .clickable .tap-here{background:url("/images/discount/tap_here.png") no-repeat; width:79px;height:26px;position:relative;float:left;margin:9px 7px 0 0;}
#floating-banner .banner-close{position:relative;float:right;margin:4px 4px 0 0;background:url("/images/discount/bclose.png")no-repeat;width:9px;height:9px;cursor:pointer;}

.modal-title {width:250px;position:relative;float:left;height:20px;line-height:20px;text-align:left;margin:0 0 0 10px;}
.modal-title-left {background-image:url("/images/mobile/emailpromo/top-corner-left.png");width:10px;height:40px;position:relative;float:left;}
.modal-title-center {background-image:url("/images/mobile/emailpromo/bg-1-px.png");width:280px;height:30px;padding-top:10px;position:relative;float:left;text-align:center;line-height:30px;color:#fff;font-weight:bold;font-size:12px;}
.modal-title-right {background-image:url("/images/mobile/emailpromo/top-corner-right.png");width:10px;height:40px;position:relative;float:left;}
.check {background-image:url("/images/mobile/emailpromo/checkmark.png");width:20px; height:20px;position:relative;float:left;}
.btn-close{cursor:pointer;width:40px;height:40px;position:absolute;background:url("/images/mobile/emailpromo/close-button.png");right:-15px;top:-15px;z-index:102;}
.modal-content{background:#fff;position:relative;float:left;width:280px;padding:0 10px;color:#333;font-size:12px;font-weight:normal;text-align:left;line-height:15px;}
.modal-email{border:1px solid #ccc;border-radius:5px;width:250px;height:30px;text-align:left;padding:5px;}
.modal-submit {background:url("/images/mobile/emailpromo/modal-submit.gif"); width:114px; height:30px;display:block;border:0;margin:0 auto;cursor:pointer;}
.modal-continue {background:url("/images/mobile/emailpromo/modal-continue.gif"); width:114px; height:30px;display:block;border:0;margin:0 auto;cursor:pointer;}
.modal-button { background:url("/images/mobile/emailpromo/button.png"); width:114px; height:30px;display:block;border:0;margin:0 auto;cursor:pointer; font-family:"Myriad Pro", Helvetica, sans-serif; font-size:14px;color:#fff;font-weight:bold;letter-spacing:1px;}
/** 25% floating discount - end **/


.footerFaq { font-weight:bold; width:58px; height:28px; text-align:center; padding-top:12px; border-left:1px solid #003466; }
.footerOrderTrack { font-weight:bold; width:142px; height:28px; text-align:center; padding-top:12px; border-left:1px solid #003466; }
.footerBarNew {
		width:262px;
		height:40px;
		margin:15px auto;
		background-color:#336799;
		border-radius:5px;
		-moz-box-shadow: 0px 10px 5px #888;
		-webkit-box-shadow: 0px 10px 5px #888;
		box-shadow: 0px 5px 5px #888;
}