.item-count{margin:5px 0 0 5px;}
.pagination{float:left;margin:0 0 0 10px;}
.pagination-active-left{float:left;width:36px;height:36px;background:url("/images/bmc-b/pagination-active-left.png") no-repeat;margin:0 5px 0 0;}
.pagination-active-right{float:left;width:36px;height:36px;background:url("/images/bmc-b/pagination-active-right.png") no-repeat;margin:0 0 0 5px;}
.pagination-inactive-left{float:left;width:36px;height:36px;background:url("/images/bmc-b/pagination-inactive-left.png") no-repeat;margin:0 5px 0 0;}
.pagination-inactive-right{float:left;width:36px;height:36px;background:url("/images/bmc-b/pagination-inactive-right.png") no-repeat;margin:0 0 0 5px;}
.current-page-top, .current-page-bottom{border:0;background-color:transparent;-webkit-appearance: none;margin:0;padding:0px 5px;font-family:Verdana, Geneva, sans-serif;font-weight:bold;width:60px;height:35px;}
.select-container{float:left;border:1px solid #ccc;border-radius:8px;width:35px;height:35px;overflow:hidden;margin:0 5px;}
.total-pages div#totalPageCnt{display:inline;}
.total-pages div#totalPageCnt2{display:inline;}
.total-pages{float:left;font-weight:normal;margin:10px 5px 0;width:40px;}
