.titleBar { width:100%; height:40px; border-bottom:1px solid #CCC; background-color:#336799; }
.titleTxt { font-weight:bold; color:#FFF; width:280px; padding:12px 0px 0px 10px; }
.titleArrow { margin-top:10px; background:url(/images/mobile/icons/downArrow.gif) no-repeat; width:20px; height:20px; }
.categoryMenu { width:100%; background-color:#fff; display:table; padding-bottom:10px; border-bottom:1px solid #CCC; }
.menuItem { width:140px; height:163px; background-color:#FFF; margin:10px 0px 0px 12px; }
.menuPic { width:138px; height:125px; text-align:center; padding-top:5px; border-left:1px solid #CCC; border-right:1px solid #CCC; border-top:1px solid #CCC; border-top-left-radius:10px; border-top-right-radius:10px; }
.menuTxt { background-color:#000034; width:140px; height:24px; font-size:11px; padding-top:8px; text-align:center; overflow:hidden; font-weight:bold; border-bottom-left-radius:10px; border-bottom-right-radius:10px; }
.menuTxt2 { background-color:#000034; width:140px; height:29px; font-size:11px; padding-top:3px; text-align:center; overflow:hidden; font-weight:bold; border-bottom-left-radius:10px; border-bottom-right-radius:10px; }
.whiteLink { color:#FFF; text-decoration:none; }
.curCategory { width:100%; text-align:center; padding:10px 0px; border-top:1px solid #CCC; }
.viewingTitle { color:#999; font-style:italic; font-size:11px; font-weight:bold; }
.curCat { font-size:16px; font-weight:bold; color:#000031; margin-top:5px; }
.catImg { margin:10px auto; width:70px; height:112px; overflow:hidden; }
.changeCat { 
	background: #fff; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ececec'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ececec)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #fff,  #ececec); /* for firefox 3.6+ */
	width:169px; height:23px; padding-top:9px; border-radius:15px; border:1px solid #CCC; margin:0px auto; font-weight:bold; font-size:10px; }
.sortBar { width:100%; height:45px; background-color:#000034; }
.sortBox { width:200px; height:30px; overflow:hidden; margin:0px auto; padding-top:10px; background:url(/images/mobile/backgrounds/sortBox2.gif) 0px 8px no-repeat; }
.sortObject { color:#000; background-color:transparent; -webkit-appearance:none; width:212px; border:0px; padding:5px; margin-left:10px; }
.filterButton {
	background: #fff; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ececec'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ececec)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #fff,  #ececec); /* for firefox 3.6+ */
	width:80px; height:20px; padding-top:9px; border-radius:15px; border:1px solid #CCC; margin:7px 0px 0px 15px; font-weight:bold; font-size:10px; text-align:center; }

.productRow {
	width:300px;
	margin:10px auto;
	height:175px;
	border-bottom:1px solid #CCC;
}
.productRow2 { display:none; }
.productLeft { width:110px; }
.productPic { margin:5px auto; width:100px; }
.productReviews { text-align:center; width:100px; margin:0px auto; color:#33669b; font-weight:bold; }
.productRight { width:190px; }
.productDetails { color:#666; line-height:16px; padding:5px; overflow:hidden; height:60px; }

.itemDescLink { color:#336699; font-size:12px; text-decoration:underline; }
.itemDescLink:hover { color:#336699; font-size:12px; text-decoration:underline; }

.ourPrice { margin-top:5px; padding-left:5px; }
.priceTitle { font-size:12px; color:#000; font-weight:bold; padding-top:2px; }
.productPrice { color:#cc0000; font-size:14px; font-weight:bold; margin-left:5px; }
.retail { padding-left:5px; }
.retailTitle { color:#999; font-size:11px; }
.retailPrice { color:#999; font-size:11px; text-decoration:line-through; margin-left:5px; }
.retailPriceRed { font-size:11px; color:#cc0000; font-weight:bold; font-family:Arial,sans-serif;}
.retailPriceGrey { font-size:11px; color:#999; font-weight:bold; font-family:Arial,sans-serif;}

.productSavings { color:#326799; font-weight:bold; padding:3px 5px; }
.productRetail { color:#666; font-size:10px; padding:3px 5px; }

.breadCrumbBox { padding:10px 0px; }
.crumb { margin-right:7px; }
.breadCrumb { color:#336699; font-weight:bold; font-size:12px; line-height:32px; }
.breadCrumb:hover { color:#336699; font-weight:bold; font-size:12px; }
.breadCrumb:visited { color:#336699; font-weight:bold; font-size:12px; }
.bradCrumbSplit { background-image:url(/images/mobile/icons/breadCrumbSplit.gif); width:4px; height:5px; margin:13px 7px 0px 0px; }

.currentlyViewing { background-color:#f7f7f7; padding:10px 0px; border-bottom:1px solid #CCC; width:100%; }
.curViewBox { width:300px; }
.eyeIcon { margin:7px 5px; background-image:url(/images/mobile/icons/currentView.gif); width:20px; height:12px; }
.cvText { font-size:14px; padding-top:3px; }
.viewCntTxt { color:#336699; font-weight:bold; font-size:12px; }

.inStockBox { padding-left:5px; margin-top:5px; }
.inStockIcon { background-image:url(/images/mobile/icons/inStock.gif); width:12px; height:12px; }
.inStockText { font-weight:bold; color:#336699; margin-left:2px; font-size:10px; }
.inStockText2 { margin-left:2px; font-size:10px; }

.ratingDetials { margin-left:5px; width:185px; }
.ratings { margin-top:7px; }
.moreDetials {
	background: #fff; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ececec'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ececec)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #fff,  #ececec); /* for firefox 3.6+ */
	width:88px; height:14px; padding-top:1px; border-radius:10px; border:1px solid #CCC; margin:7px 0px 0px 15px; font-weight:bold; font-size:10px; text-align:center; color:#336699; text-decoration:underline; }
	
.narrowResults { width:250px; border-radius:10px; background-color:#FFF; margin-top:100px; position:relative; }
.narrowResultsMainTitle { background-color:#336699; border-top-left-radius:10px; border-top-right-radius:10px; color:#FFF; font-weight:bold; font-size:14px; width:250px; text-align:left; height:23px; padding:13px 0px 0px 10px; border-bottom:1px solid #19334c; border-top:1px solid #86a4c3; }
.narrowResultsSubTitleBar { background-color:#ebebeb; font-weight:bold; padding:13px 0px 0px 10px; width:250px; height:25px; font-size:12px; border-top:1px solid #bbbbbb; border-bottom:1px solid #dbdbdb; }
.narrowResultsSubTitle { color:#006699; text-decoration:underline; }
.narrowResultsContract { background-image:url(/images/mobile/buttons/narrowResultsContract.gif); width:12px; height:8px; margin-right:19px; }
.narrowResultsExpand { background-image:url(/images/mobile/buttons/narrowResultsExpand.gif); width:12px; height:8px; margin-right:19px; }
.filterOptRow { width:100%; margin-left:10px; margin-top:7px; }
.filterCheckbox { width:20px; }
.filterOptText { font-size:12px; padding:2px 0px 0px 10px; width:200px; }
.filterOptLink { color:#336699; text-decoration:underline; cursor:pointer; }
.colorBox { width:13px; height:8px; margin:5px 0px 0px 5px; cursor:pointer; border:1px solid #000; }
.narrowResultsBottomBar { padding-bottom:10px; width:100%; }
.narrowResultsReset {
	background: #fff; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ececec'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ececec)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #fff,  #ececec); /* for firefox 3.6+ */
	width:113px; height:21px; padding-top:5px; border-radius:10px; border:1px solid #CCC; margin:7px 0px 0px 10px; font-weight:bold; font-size:12px; text-align:center; color:#666; }
.norrowResultsApply {
	background: #3366cc; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6699cc', endColorstr='#3366cc'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#6699cc), to(#3366cc)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #6699cc,  #3366cc); /* for firefox 3.6+ */
	width:113px; height:21px; padding-top:5px; border-radius:10px; border:1px solid #3366cc; margin:7px 10px 0px 0px; font-weight:bold; font-size:12px; text-align:center; color:#fff; }
.closeX { background-image:url(/images/mobile/buttons/closeX.png); width:24px; height:24px; position:absolute; top:-10px; right:-10px; }	
.time-left {float:left; height: 16px; width: 180px; background: url("/images/mobile/icons/sales-tag.png") no-repeat; padding: 0 0 0 30px; color: #cc0000; font-family: Arial,sans-serif; font-size: 11px; font-weight: bold; padding-top: 5px;}

.hidden-min, .hidden-sec{display:none;}
.salesTag	{ display:block !important; }
.retailPriceRed	{ display:none !important; }
.retailPriceGrey	{ display:block !important; }