/* Autosuggest styles */
#brm-clear-wrapper {
position: relative;
}
.brm-autosuggest-menu {
	background-color:#fff;
  	position:absolute;
	top:34px;
	left:0px;
	z-index:5000;
	width:100%;
}
.brm-autosuggest-menu > ul {
  float: left;
  width: 45%;
  margin: 0;
  list-style-type: none;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  text-align:left;
  padding:0px 0px 0px 10px;
}
.brm-autosuggest-menu > ul.right {
  width: 45%;
}
.brm-autosuggest-menu > ul > li {
  padding: 3px;
  border-bottom:1px solid #eee;
  margin-left:0px;
}
.brm-autosuggest-menu a {
	display: block;
	color:#005c93;
	text-decoration:none;
}
 
/* Search styles */
#page {
  min-height: 500px;
  padding: 10px;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.fl { float:left; }

.mlt { background:url(/images/mobile/button-morelike.png) no-repeat center center; width:105px; height:19px; background-size:105px 19px; padding:0px; border:0px; margin:0px; cursor:pointer; }

.productgridpage {
  text-align: center;
}

.producttile {
	background:url(/images/mobile/gray-header-1px.png) repeat-x; width:100%; height:92px; padding:5px 0px 5px 0px; background-size:1px 102px;
}

.producttile .tileBox {
	display:inline-block; width:310px; padding:0px 5px 0px 5px;
}

.producttile .tileBox .imgBox {
	float:left; width:90px; height:90px; background-color:#fff;
}

.producttile .tileBox .imgBox > img {
 	width: 84px; height:84px; border:1px solid #ccc; padding:2px;
}

.producttile .productdetail {
	float:left; padding-left:10px; width:210px; color:#333; font-size:12px; text-align:left;
}

.producttile .productdetail .name {
	padding-top:3px; font-size:13px; font-weight:bold; text-align:left;
}

.producttile .productdetail .pricing {
	padding-top:3px;  text-align:left;
}

.product {
  display: inline-block;
  width: 147px;
  height: 245px;
  vertical-align: top;
  margin: 5px;
  /*padding: 5px;*/
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  overflow: hidden;
  text-align: center;
}
.product > img {
  display: block;
}

.product .brand_model {
	color:#fff;
	width:141px;
	padding:2px 3px 2px 3px;
	margin-bottom:2px;
	background-color:#000034;
	height:28px;
	overflow:hidden;
	line-height:14px;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
}

.product .name {
	font-size: 12px;
	color: #000;
	line-height: 14px;
	margin-top:5px;
	padding:0px 5px 0px 5px;
}

.product .pricing {
	width:100%;
	margin:3px 0px 3px 0px;
}

.product .pricing .price {
	display:block;
	font-size: 13px;
	color: #cd0100;
	font-weight: bold;
}

.product .brPricing {
	width:100%;
	margin:3px 0px 3px 0px;
}

.product .brPricing .price {
	display:block;
	font-size: 13px;
	color: #cd0100;
	font-weight: bold;
}

#brm-filters > fieldset {
	margin: 5px;
	padding: 5px;
	border: 1px solid #fff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;	
}

#brm-filters > fieldset > * {
	vertical-align: middle;
	margin: 5px;
}
.viewmore {
  display: block;
  margin: 10px auto;
  text-align: center;
  text-decoration:none;
}
.clear {
  clear: both;
}

.mltGredient { background:url(/images/mobile/gradient-divider.png) no-repeat; width:320px; height:23px; background-size:320px 23px; margin:auto; }
.mltHeaderBG { background:url(/images/mobile/gray-header-1px.png) repeat-x; width:100%; height:102px; background-size:1px 102px; }

#br_searchBoxLeft	{ background:url(/images/mobile/search-left.png) no-repeat; width:33px; height:34px; background-size:33px 34px; margin-left:5px; }
#br_searchBoxCenter	{ background:url(/images/mobile/search-middle.png) repeat-x; width:250px; height:34px; background-size:1px 34px; border:0px; padding:0px 2px 0px 2px; margin:0px; }
#br_searchBoxRight	{ background:url(/images/mobile/search-right.png) no-repeat; width:19px; height:34px; background-size:19px 34px; }
