.titleBar { width:100%; height:40px; border-bottom:1px solid #CCC; background-color:#336799; }
.titleTxt { font-weight:bold; color:#FFF; width:280px; padding:12px 0px 0px 10px; }
.titleArrow { margin-top:10px; background:url(/images/mobile/icons/downArrow.gif) no-repeat; width:20px; height:20px; }
.categoryMenu { width:100%; background-color:#f7f7f7; display:table; padding-bottom:10px; border-bottom:1px solid #CCC; }
.menuItem { width:140px; height:163px; background-color:#FFF; margin:10px 0px 0px 12px; }
.menuPic { width:138px; height:125px; padding-top:5px; border-left:1px solid #CCC; border-right:1px solid #CCC; border-top:1px solid #CCC; border-top-left-radius:10px; border-top-right-radius:10px; }
.menuTxt { background-color:#000034; width:140px; height:24px; padding-top:8px; text-align:center; font-weight:bold; border-bottom-left-radius:10px; border-bottom-right-radius:10px; }
.menuTxt2 { background-color:#000034; width:140px; height:29px; padding-top:3px; text-align:center; font-weight:bold; border-bottom-left-radius:10px; border-bottom-right-radius:10px; }
.whiteLink { color:#FFF; text-decoration:none; }
.curCategory { width:100%; text-align:center; margin:10px 0px; }
.viewingTitle { color:#999; font-style:italic; font-size:11px; font-weight:bold; }
.curCat { font-size:16px; font-weight:bold; color:#000031; margin-top:5px; }
.catImg { margin:0px auto; }
.changeCat { background-color:#000034; color:#FFF; width:140px; height:23px; padding-top:9px; border-radius:5px; margin:0px auto; font-weight:bold; font-size:10px; }