.checkoutSteps {
	height:40px;
	border-bottom:1px solid #CCC;
	color:#336699;
	font-weight:bold;
	background: #fff; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ebebeb'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ebebeb)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #fff,  #ebebeb); /* for firefox 3.6+ */
	width:100%;
}
.lockImg { background:url(/images/mobile/icons/lock.gif) no-repeat 10px 6px; width:23px; height:26px; border-right:1px solid #CCC; padding:10px 12px 5px 12px; }
.step1 { border-left:1px solid #FFF; padding:12px 5px 0px 5px; }
.step2 { padding:12px 5px 0px 5px; }
.inactiveCheckoutStep { color:#999; }
.checkoutTitleBar { background-color:#000034; color:#FFF; font-weight:bold; font-size:13px; padding:12px 10px 0px 10px; height:28px; border-bottom:1px solid #CCC; }
.checkoutTitleBar2 { background-color:#000034; color:#FFF; font-weight:bold; font-size:13px; padding:0px 10px 0px 10px; height:40px; border-bottom:1px solid #CCC; }
.lightBg { background-color:#f7f7f7; padding:5px 0px 10px 0px; display:table; width:100%; }
.lightBgBordered { background-color:#f7f7f7; padding:5px 0px 10px 0px; display:table; width:100%; border-bottom:1px solid #CCC; }
.invisibleText { background-color:transparent; border:0px; font-size:14px; width:240px; margin:5px 0px 0px 10px; }
.invisibleTextSmall { background-color:transparent; border:0px; font-size:14px; width:128px; margin:5px 0px 0px 10px; }
.invisibleSelect { background-color:transparent; border:0px; font-size:14px; width:280px; margin:5px 0px 0px 10px; }
.invisibleSelectSmall { background-color:transparent; border:0px; font-size:14px; width:110px; margin:5px 0px 0px 10px; text-align:center; }
.requiredField { font-size:16px; color:#336699; padding-top:2px; width:20px; height:15px; }
.fullEntryDetails { display:table; }
.formTitle { font-weight:bold; color:#666; margin:0px 10px 0px 10px; display:table; }
.formField { background:url(/images/mobile/backgrounds/checkoutField.gif) no-repeat; height:30px; width:300px; margin-bottom:10px; }
.formFieldSmall { background:url(/images/mobile/backgrounds/checkoutFieldSmall.gif) no-repeat; height:30px; width:128px; margin-bottom:10px; }
.moreOptions { display:table; }
.diffShip { color:#666; padding:2px 0px 0px 5px; width:275px; }
.shippingAddress { display:none; margin-top:10px; }
.cartItem { 
	display:table;
	width:300px;
	border:1px solid #CCC;
	background-color:#FFF;
	margin:15px auto;
	-moz-box-shadow: 0px 10px 5px #888;
	-webkit-box-shadow: 0px 10px 5px #888;
	box-shadow: 0px 5px 5px #888;
}
.cartSummaryTitle { background-color:#000034; width:140px; height:24px; margin:0px auto; border-bottom-left-radius:10px; border-bottom-right-radius:10px; color:#FFF; font-weight:bold; text-align:center; padding-top:8px; }
.cartSummaryTitle2 { background-color:#000034; width:175px; height:32px; margin:0px auto; border-bottom-left-radius:10px; border-bottom-right-radius:10px; color:#FFF; font-weight:bold; text-align:center; cursor:pointer; }
.summaryRow { color:#000034; font-weight:bold; padding:10px; display:table; width:280px; }
.summaryRowDark { color:#000034; font-weight:bold; padding:10px; display:table; width:280px; background-color:#CCC; }
.rowValueGreen { color:#009900; }
.proceedButton { margin:0px auto; width:282px; }
.shippingOptions { background-color:#f7f7f7; }
.shippingOptionRow { display:table; padding:10px 0px 0px 10px; }
.shippingTxt { padding-top:2px; }
.applyShipping { width:125px; background-color:#CCC; color:#666; border-radius:5px; margin:5px auto; text-align:center; height:20px; padding-top:5px; font-weight:bold; }
.mustApply { text-align:center; font-size:10px; margin-bottom:5px; }
.hidden { display:none; }
.creditCards { padding-left:40px; }
.creditCardExamples { padding-bottom:10px; }
.fieldExamples { color:#666; font-style:italic; padding:5px 0px 0px 30px; font-size:10px; font-weight:bold; }
.expDateEntrySpacer { padding:7px 10px 0px 10px; font-size:14px }
.billingAddress { padding:10px; font-weight:bold; line-height:20px; }
.billingAddressBox { 
	display:table;
	width:275px;
	border:1px solid #CCC;
	background-color:#FFF;
	margin:15px 10px;
	-moz-box-shadow: 0px 10px 5px #888;
	-webkit-box-shadow: 0px 10px 5px #888;
	box-shadow: 0px 5px 5px #888;
}
.changeBilling { width:260px; margin:5px auto; padding-bottom:10px; display:table; }
.chgBillingTxt { padding:3px 0px 0px 10px; color:#666; }

.timeBox { margin:10px auto; width:300px; }
.timeClock { background:url(/images/mobile/checkout/icon-clock.png) no-repeat; width:24px; height:24px; }
.timeText { width:265px; font-weight:bold; font-size:9px; margin-left:10px; margin-bottom:5px; }
.timeText2 { width:190px; font-weight:bold; font-size:9px; margin-left:10px; }
.timeText3 { font-weight:bold; font-size:9px; color:#C00; margin-left:3px; }
.activeTimer { color:#C00; font-size:9px; font-weight:bold; margin-left:3px; }

.lockIcon { background-image:url(/images/mobile/icons/lock_trans.png); width:23px; height:26px; margin-right:15px; margin-top:8px; }
.graphicTitle { padding-top:12px; }
.ccForm { width:300px; border:4px solid #CCC; margin:15px auto 15px auto; border-radius:5px; }
.ccTitle { color:#000034; font-weight:bold; text-align:center; padding:0px 0px 10px 0px; border-bottom:1px solid #CCC; font-size:14px; width:100%; margin-bottom:10px; }
.ccFormElements { padding-left:10px; }

.cartSummaryTitleTxt { padding-top:8px; margin-left:10px; }
.expandCart { background-image:url(/images/mobile/checkout/icon-up.png); width:20px; height:20px; margin-left:10px; border-radius:15px; margin-top:5px; }
.contractCart { background-image:url(/images/mobile/checkout/icon-down.png); width:20px; height:20px; margin-left:10px; border-radius:15px; margin-top:5px; }

.itemBox { margin-top:10px; border-bottom:1px solid #CCC; padding-bottom:5px; width:300px; }
.cartImgBox { width:70px; }
.cartImg { width:70px; text-align:center; }
.qtyVal { width:70px; text-align:center; color:#333; margin-top:5px; }
.cartDetails { width:230px; }
.cartItemDesc { font-size:10px; }
.inStockCheck { background-image:url(/images/mobile/checkout/icon-checkmark.png); width:14px; height:14px; margin-right:5px; }
.cartItemStock { color:#009900; font-size:10px; margin-top:5px; }
.cartItemPriceBox { margin:5px 0px 0px 20px; }
.cartItemPriceTitle { width:80px; text-align:right; color:#333; margin-right:15px; }
.cartItemPriceValue { width:80px; text-align:left; color:#333; }
.cartItemPriceTitleTotal { width:80px; text-align:right; color:#C00; margin-right:15px; }
.cartItemPriceValueTotal { width:80px; text-align:left; color:#C00; }

.processingPayment		{ font-weight:bold; font-size:18px; color:#333; text-align:center; display:table; width:300px; margin:15px auto; }

.warning-bar{width:100%;}
.warning{display:table;margin:5px auto;width:306px;border:2px solid #a12830;border-radius:5px;}
.warning .message{float:left;margin:5px;width:258px;font-size:12px;}
.warning .message .title{float:left;color:#a12830;font-weight:bold;width:258px;margin:0 0 10px 0;}
.warning .message ul{list-style:none;list-style-image:url("/images/mobile/checkout/asterisk.png");margin:0;padding:0 0 0 15px;float:left;}
.warning .message ul li{float:left;margin:0 0 5px 0;}
.warning .message ul li a{font-style:italic;}
.warning-sign{float:left;min-height:133px;background:url("/images/mobile/checkout/exclamation-icon.png") no-repeat 5px 5px #a12830;width:38px;height:inherit;background-size:26px 26px;}