.secureRow { height:40px; background-color:#666; width:100%; }
.secureImg { padding:10px 10px 0px 10px; }
.secureText { color:#FFF; font-weight:bold; padding:15px 0px 0px 15px; }
.orderReviewContainer { width:100%; background-color:#f7f7f7; padding:10px 0px 10px 0px; border-bottom:1px solid #CCC; }
.orderReviewBox { border:1px solid #CCC; background-color:#FFF; width:95%; padding-top:15px; margin:0px auto 0px auto; }
.orderReviewRow { height:20px; padding-bottom:10px; }
.thankYouText { color:#666; width:100%; text-align:center; padding-bottom:10px; }
.thankYouTextBlue { color:#666; width:100%; text-align:center; color:#336799; padding-bottom:10px; font-weight:bold; }
.custInfoTitle { font-weight:bold; padding-left:10px; margin-bottom:5px; }
.custInfoValue { padding-right:10px; padding-left:10px; }
.custInfoRow { padding-bottom:10px; }
.alertContainer { margin:15px auto 15px auto; width:300px; height:50px; }
.alertIcon { float:left; margin:0px 15px 0px 10px; width:32px; }
.alertMsg { float:left; width:230px; }
.alertValue { color:#666; margin-bottom:8px; font-size:10px; }
.alertEmail { color:#336799; font-weight:bold; }
.orderReviewRowProd { height:100px; padding-bottom:10px; border-bottom:1px solid #CCC; width:95%; margin:0px auto 15px auto; }
.orderReviewText { font-weight:bold; padding-left:10px; }
.orderReviewValue { font-weight:bold; padding-right:10px; }
.orderReviewRow2 { height:20px; padding:5px 0px 5px 0px; background-color:#666; }
.orderReviewTextWhite { font-weight:bold; padding-left:10px; color:#FFF; }
.orderReviewValueWhite { font-weight:bold; padding-right:10px; color:#fff; }
.thanksText { width:95%; margin:15px auto 15px auto; }
.serviceEmailLink { width:280px; text-align:center; margin:0px auto 0px auto; background-color:#336799; padding-top:5px; height:25px; }
.serviceLink { color:#FFF; text-decoration:none; }