.cuTitle { font-size:18px; font-weight:bold; margin:10px auto; }
.cuDesc { color:#666; width:300px; margin:10px auto; line-height:20px; }
.cuFormRow { display:table; width:300px; margin:5px auto; }
.cuFormTitle { color:#000034; font-weight:bold; width:120px; }
.cuSelectBox { width:120px; }
.requiredField { color:#F00; }
.subForm { margin:10px 0px; }
.extraContactInfo {
	background-color:#f7f7f7;
	border:1px solid #ccc;
	border-radius:5px;
	margin:10px auto;
	width:300px;
	padding:8px;
	-moz-box-shadow: 0px 10px 5px #888;
	-webkit-box-shadow: 0px 10px 5px #888;
	box-shadow: 0px 5px 5px #888;
	line-height:20px;
}