.breadCrumbBox { padding:10px 10px; }
.crumb { margin-right:5px; height:12px; }
.breadCrumb { color:#336699; font-weight:bold; font-size:12px; line-height:32px; }
.breadCrumb:hover { color:#336699; font-weight:bold; font-size:12px; }
.breadCrumb:visited { color:#336699; font-weight:bold; font-size:12px; }
.bcSplitBox			{ height:32px; }
.bradCrumbSplit { background:url(/images/mobile/icons/breadCrumbSplit.gif) no-repeat; width:4px; height:5px; margin:13px 5px 0px 0px; }

.pageDivide { border-bottom:1px solid #CCC; width:100%; }
.addButton_top { margin:10px auto; width:282px; }
.itemNumbers { color:#666; font-size:11px; margin-left:10px; }
.altImg2 { padding:5px; border:1px solid #CCC; border-radius:5px; margin-left:18px; }
.altImages2 { height:90px; padding-bottom:10px; width:100%; }
.pricingRow { width:250px; margin-bottom:5px; }
.priceTitle_b { color:#000; padding-bottom:5px; font-size:14px; text-align:left; width:130px; }
.retailPrice_b { text-decoration:line-through; font-size:18px; text-align:left; }
.wholesalePrice_b { font-size:14px; color:#cc0000; font-weight:bold; padding-bottom:5px; }
.percentOffValue_b { font-size:14px; color:#000; font-weight:bold; }
.saleMsg { width:300px; margin:0px auto 20px auto; }
.saleTag { background:url(/images/mobile/icons/saleTag.gif) no-repeat; width:20px; height:21px; margin-left:3px; }
.saleMsgTxt { color:#333; font-size:11px; font-weight:bold; margin-left:10px; width:260px; }
.hoursLeft { color:#C00; font-weight:bold; }

.productTop { height:85px; width:320px; border-bottom:1px solid #CCC; }
.pricing { width:300px; padding:5px; text-align:center; margin:0px auto; }
.redPrice { font-size:24px; color:#cc0200; font-weight:bold; padding-bottom:5px; }
.percentOff { font-weight:bold; color:#35679a; }
.ourPrice { font-size:12px; color:#000; }
.retailRow { color:#666; padding-bottom:5px; }
.retailPrice { text-decoration:line-through; }
.starRating { margin:5px 0px; }
.reviewCnt { margin:9px 0px 0px 5px; color:#366697; }
.productTitle { color:#000034; font-size:14px; font-weight:bold; padding:15px 10px 10px 10px; text-align:center; }
.productTitle2 { color:#000034; font-size:14px; font-weight:bold; padding:15px 10px 10px 10px; text-align:left; }
.productPic { margin:0px auto 15px auto; width:300px; }
.altImages { height:90px; padding-bottom:10px; border-bottom:1px solid #CCC; width:100%; }
.altImg { padding:10px; border:1px solid #CCC; border-radius:5px; margin-left:18px; }
.outOfStock { font-size:16px; color:#cc0200; font-weight:bold; text-align:center; width:100%; padding:20px 0px }
.inStock { height:30px; padding:15px 0px; width:100%; }
.inStockTxt { width:255px; margin-left:15px; }
.inStockGreen { font-weight:bold; color:#349835; }
.inStockBlack { font-size:11px; margin-top:2px; color:#000; }
.addToCart { border:1px solid #CCC; border-radius:5px; padding:10px; background-color:#f7f7f7; }
.addButton { margin:0px auto; width:282px; padding-bottom:15px; }
.safeShopping { height:15px; margin-bottom:15px; }
.checkmark { background:url(/images/mobile/icons/checkmark.gif); width:14px; height:14px; margin-left:40px; }
.safeMsg { padding-left:10px; color:#333; font-size:11px; font-weight:bold; }
.detailTabs { height:45px; font-weight:bold; margin-top:15px; position:relative; width:100%; }
.detailTab_on { background-color:#000034; font-size:10px; color:#FFF; height:25px; padding-top:14px; border-top:1px solid #CCC; border-bottom:1px solid #CCC; width:103px; text-align:center; }
.detailTab_off { background-color:#f7f7f7; font-size:10px; color:#666; height:25px; padding-top:14px; border-top:1px solid #CCC; border-bottom:1px solid #CCC; width:103px; text-align:center; }
.tabDetails { border-right:1px solid #CCC; border-left:1px solid #CCC; }
.tabCompatibility { border-right:1px solid #CCC; }
.tabReviews { border-right:1px solid #CCC; }
.activeTab { position:absolute; top:40px; left:50px; z-index:999; background:url(/images/mobile/icons/activeTab.gif); width:9px; height:6px; }
.baseView { color:#666; padding:15px 0px 0px 0px; font-size:11px; line-height:18px; display:table; width:100%; }
.showView { display:; }
.hideView { display:none; }
.noReviews { font-size:14px; font-weight:bold; color:#cc0200; text-align:center; padding:0px 15px; }
.reviewBox {
	width:300px;
	margin:0px 0px 15px 0px;
	border:1px solid #CCC;
	-moz-box-shadow: 0px 10px 5px #888;
	-webkit-box-shadow: 0px 10px 5px #888;
	box-shadow: 0px 5px 5px #888;
}
.reviewTopRow { background-color:#000034; font-weight:bold; color:#FFF; height:25px; width:300px; }
.reviewer { padding:2px 0px 0px 10px; width:220px; }
.reviewScore { padding:1px; margin-top:2px; }
.reviewContent { padding:10px; }
.reviewTitle { font-weight:bold; }
.reviewDate { float:right; padding-right:10px; }
#CompatibilityView { height:100px; overflow:auto; }
.productReviewStars { height:20px; width:130px; margin:0px auto; }
.pr { position:relative; }