.trackingFormBox {
	background-color:#f7f7f7;
	border:1px solid #ccc;
	border-radius:5px;
	margin:10px auto;
	width:300px;
	padding:8px;
	-moz-box-shadow: 0px 10px 5px #888;
	-webkit-box-shadow: 0px 10px 5px #888;
	box-shadow: 0px 5px 5px #888;
	line-height:20px;
}
.formInstructions { font-weight:bold; color:#000034; font-weight:bold; }
.toFormRow { display:table; width:300px; margin:5px auto; }
.toFormTitle { color:#000034; font-weight:bold; width:110px; margin-right:10px; text-align:right; }
.requiredField { color:#F00; }
.submitBttn { width:300px; margin:10px auto; text-align:center; }
.orderStatusTitle { font-weight:bold; color:#000034; font-size:14px; margin-top:10px; }
.pullResult { font-size:12px; line-height:16px; padding:10px; }
.pullResult2 { font-size:12px; line-height:16px; padding:10px; color:#F00; border-bottom:1px solid #F00; }