/*
Copyright (c) 2008, Yahoo! Inc. All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.net/yui/license.txt
version: 2.6.0
*/
#nxt-ac-container{position:absolute;width:20em;z-index:9050;}
#nxt-ac-container .yui-ac-content{position:absolute;width:100%;border:1px solid #808080;background:#fff;overflow:hidden;z-index:9050;}
#nxt-ac-container .yui-ac-content ul{margin:0;padding:0;width:100%;text-align:left;font-family:arial;}
#nxt-ac-container .yui-ac-content li{margin:0;padding:2px 5px;cursor:default;white-space:nowrap;}
#nxt-ac-container .yui-ac-content li.yui-ac-highlight{background:#426FD9;color:#FFF;}