/* CSS Document */

#siteTopBar { display:; }
#siteTopBar_b { display:none; }

#logoLine_a { display:; }
#logoLine_b { display:none; }

#topNav { display:; }
#bVersion_topNav { display:none; }

#topAccessoryFinder { display:none; }
#topAccessoryFinder_b { display:none; }
#topAccessoryFinder_alt { display:; }

#footer_grayBox { display:; }
#footer_grayBox_b { display:none; }

#footer_darkBand { display:; }
#footer_darkBand_b { display:none; }

#blueSearchBox { display:none; }

.bigSearchTxt { font-size:18px; color:#FFF; font-weight:bold; margin:18px 10px 0px 90px; }
.bigSearchBox { background-color:#FFF; width:707px; height:25px; margin-top:14px; border-radius:5px; padding:5px 0px 0px 10px; }
.bigSearchBttn { background-image:url(/images/icons/bigSearchMagGlass.gif); width:20px; height:20px; margin:20px 0px 0px 15px; cursor:pointer; }