/* CSS Document */

#mvt_freeReturnMain	{
	display:block !important;
	background: #fcfcfc; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f2f2f2'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f2f2f2)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #ffffff,  #f2f2f2); /* for firefox 3.6+ */
	border:1px solid #e1e1e1;
	width:723px; height:34px; padding:8px 0px 0px 15px;
	color:#333; font-size:20px;
	position:relative;
	}
	
#mvt_freeReturnMain	.normal { font-family:'Open Sans', sans-serif; }
#mvt_freeReturnMain	.boldOrange { color:#ff6600; font-weight:bold; }	
#mvt_freeReturnMain	a { color:#333; font-size:10px; text-transform:uppercase; text-decoration:underline; }
#mvt_btnLearnMore { background:url(/images/freereturnshipping/free-return-button.png) no-repeat; width:23px; height:21px; top:15px; right:7px; position:absolute; cursor:pointer; }
#mvt_buyRiskFree { display:block !important; background:url(/images/freereturnshipping/free-return-button-buy-risk-free.jpg) no-repeat; width:200px; height:40px; cursor:pointer; margin-bottom:10px; clear:both; }
#mvt_buyRiskFreeCheckout { display:block !important; background:url(/images/freereturnshipping/free-return-button-buy-risk-free-checkout.jpg) no-repeat; width:241px; height:48px; cursor:pointer; margin-bottom:10px; clear:both; margin:60px 0px 0px 65px; }
#mvt_srRunnerMain { display:none !important; }
#mvt_srRunnerLeftTop { display:none !important; margin-bottom:10px; }
#mvt_srRunnerLeftBottom { display:block !important; float:left; background:url(/images/freereturnshipping/free-return-button-shoprunner.jpg) no-repeat; width:196px; height:89px; cursor:pointer; }

#mvt_freeShippingBanner	{ display:none !important; }
#mvt_freeReturnShippingBanner { display:block !important; background:url(/images/freereturnshipping/free-return-top-mini-banner.jpg) no-repeat; width:333px; height:53px; cursor:pointer; float:right; margin:5px 10px 0px 0px; }

#mvt_checkoutBanner { display:none !important; }
#mvt_freeReturnShippingCheckoutBanner { display:block !important; }

