/* CSS Document */
#head {width:100%; float:left; background:url(images/head-px.jpg) left top repeat-x;}

#head-left { width:300px; float:left;}

#head-left h1 {font-size:30px; color:#e5e5e5; padding:24px 0 47px 30px;}
#head-left h1 a {font-size:18px; color:#e5e5e5; text-decoration:none; font-weight:normal;}
#head-left h1 a:hover { color:#e5e5e5; border-bottom:1px dotted; text-decoration:none;}

#head-right { width:250px; float:right; margin:35px 30px 0  0;}
#head-right ul {margin:0; padding:0; list-style:none; float:right;}
#head-right ul li {float:left; font-size:13px; color:#f7f7f7; }
#head-right ul li.face { background:url(images/toy.jpg) left top no-repeat; padding:0 0 0 25px;}
#head-right ul li.admn { padding:0 10px 0 7px;}

#head-right ul li a { text-decoration:underline; color:#FFFFFF;}
#head-right ul li a:hover { color:#d0c6a2; border-bottom:1px dotted; text-decoration:none;}
#head-right h2 {font-size:11px; color:#f7f7f7; float:right; font-weight:normal; padding:10px 0px 0 0; }