<script language=JavaScript>
function trim(x){
    var tempword=x;
   if(tempword==null||tempword.length==0){tempword=" ";}
	if (tempword==""){return tempword;}
	while(tempword.substring(0,1)==" "){ tempword=tempword.substring(1,tempword.length);}
	while(tempword.substring(tempword.length-1,tempword.length)==" "){tempword=tempword.substring(0,tempword.length-1);}
	return tempword;
}
function checkentry(obj,req,typ,nam){
  var fl=true;
  var bag="";
  var bagmsg="";
  obj.value=trim(obj.value);
  switch(typ)
  {
	case "A"  : bag="ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz 1234567890"; bagmsg="Only Alphanumeric Characters Allowed"; break;
	case "N"  : bag=".0123456789"; bagmsg="Only Numbers Allowed"; break;
	case "WD" : bag="0123456789"; bagmsg="Only Numbers Allowed"; break;
	case "C"  : bag="ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz"; bagmsg="Only Characters Allowed"; break;
	case "S"  : bag="ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz "; bagmsg="Only Characters Allowed"; break;
	case "E"  : bag="ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz1234567890.@_"; bagmsg="No Special Characters other than dot, @ or underscrore Allowed"; break;
	case "L"  : bag="ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz1234567890._/"; bagmsg="No Special Characters other than dot, / or underscrore Allowed"; break;
	case "W"  : bag="ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz .1234567890!@$?_(),:;"; bagmsg="No Special Characters Allowed"; break;
	default   : bag=""; bagmsg=""; break;
  }
  for(var i=0;i<obj.value.length;i++){
	if (bag.indexOf(obj.value.charAt(i))==-1){
	   fl=true;
	   if (typ=="W"){
	       if (obj.value.charCodeAt(i)==13){fl=false;}
	       if (obj.value.charCodeAt(i)==10){fl=false;}
	   }
	   if(fl)
		  { alert(bagmsg);  obj.focus();  return false;break;}
	}
  }
  if (req==1 && obj.value.length==0){
       if (nam=="")
  	      {alert("Empty Field Not Allowed");  obj.focus();return false;}
  	   else
  	      {alert("Empty "+ nam +" Field Not Allowed");  obj.focus();return false;}
  }
	return true;
}
function Submitform()
{
	if (document.frmUP.txtpage.value!=0)
	{
		if (parseInt(document.frmUP.txtpage.value)>parseInt(document.frmUP.totpage.value))
		{
			document.frmUP.txtpage.value=document.frmUP.totpage.value;
			document.frmUP.page.value=document.frmUP.totpage.value;
		}
		else
		{
			document.frmUP.page.value=document.frmUP.txtpage.value;
		}
		return true;
	}
}
function Submitgo()
{
	if (document.frmUP.txtpage.value!=0)
	{
		if (parseInt(document.frmUP.txtpage.value)>parseInt(document.frmUP.totpage.value))
		{
			document.frmUP.txtpage.value=document.frmUP.totpage.value;
			document.frmUP.page.value=document.frmUP.totpage.value;
		}
		else
		{
			document.frmUP.page.value=document.frmUP.txtpage.value;
			document.frmUP.method='get';
			document.frmUP.submit();
			return true;
		}
	}
}

function Submitgo1()
{
	if (document.frmDW.txtpageno1.value!=0)
	{
		if (parseInt(document.frmDW.txtpageno1.value)>parseInt(document.frmDW.totpage1.value))
		{
			document.frmDW.txtpageno1.value=document.frmDW.totpage1.value;
			document.frmDW.page1.value=document.frmDW.totpage1.value;
		}
		else
		{
			document.frmDW.page1.value=document.frmDW.txtpageno1.value;
			document.frmDW.method='get';
			document.frmDW.submit();
			return true;
		}
	}
}

function Submitform1()
{

		if (document.frmDW.txtpageno1.value!=0)
		{

			if (parseInt(document.frmDW.txtpageno1.value)>parseInt(document.frmUP.totpage.value))
			{
				document.frmDW.txtpageno1.value=document.frmUP.totpage.value;
				document.frmUP.page.value=document.frmUP.totpage.value;

			}
			else
			{
				document.frmDW.page1.value=document.frmDW.txtpageno1.value;
			}
			return true;
		}

}
</script>

<title id="pageTitle"></title>
<table width="100%" cellpadding="4">
	<tr>
		<!--
		
		-->
		<td valign="top">
			[LOGO]
			<!---->
			[MERCHANDIZING]
			[CONTENT]
		</td>
	</tr>
	<script language="javascript">
		function SubstringExists(sLookIn, sLookFor)
		{
			return (sLookIn.toUpperCase().indexOf(sLookFor.toUpperCase()) >= 0)
		}
		function SubmitData(sDataParams)
		{
			var sData = "";
			if (!SubstringExists(sDataParams,"SH="))
				sData = "SH=" + frmViewState.iptSH.value + "&";
	
			if (!SubstringExists(sDataParams,"SI="))
				sData += "SI=" + frmViewState.iptSI.value + "&";
	
			if (!SubstringExists(sDataParams,"LAP="))
				sData += "LAP=" + frmViewState.iptLAP.value + "&";
				sData += sDataParams;
				window.location = "?" + sData;
		}
	</script>
	<script>
		//analytics script
		var xmlhttp = null;
		function Load(sURL ) {
		if (typeof window.ActiveXObject != 'undefined' ) {
			xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
			xmlhttp.onreadystatechange = process ;
		}
		else {
			xmlhttp = new XMLHttpRequest();
			xmlhttp.onload = process ;
		}
			xmlhttp.open( "GET", sURL, true );
			xmlhttp.send(null);
		}
	</script>
</table>
