<table>
	<tr>
		<td align="center" valign="bottom">
			<div class="NormalText">
				<form action="http://www.wirelessemporium.com/cart/item_add.asp" method="post">
					<a href="[URL]" title="[NAME]"><img OnError="src='http://search.wirelessemporium.com/search/images/nopic_new_white.gif'" src="[IMG]" border="0" alt="[NAME]" title="[NAME]" /></a>
					<br>
					<a href="[URL]" title="[NAME]">[NAME]</a>
					<br>
					<input type="hidden" name="prodid" value="[ITEMID]"><input type="hidden" name="relatedid" value="0"><input type="hidden" name="qty" value="1"><input type="image" src="/search/images/buynow.jpg" />
					<br>
					<span style="TEXT-DECORATION: line-through">$[LINEITEMPRICE]</span><font color="red"><b>&nbsp;&nbsp;$[PRICE]</b></font>
				</form>
			</div>
		</td>
	</tr>
</table>