.404-banner{position:relative;margin:20px auto;width:880px;}
.404-banner .404-cellphone {position:relative;float:left;width:179px;height:200px;background:url(/images/404/404-cellphone.png) no-repeat;}