.bmc_productBox { width:193px; margin-top:10px; padding-bottom:5px; border-bottom:1px solid #ccc; }
.bmc_productBox2 { width:193px; margin-top:10px; padding-bottom:5px; border-bottom:1px solid #ccc; display:none; }
.bmc_productPic { width:100%; height:120px; text-align:center; position:relative; }
.bmc_productOnSale { width:95px;height:45px;pointer-events:none; }
.bmc_productTitle { width:98%; text-align:center; padding:25px 10px 0px 10px; height:43px; overflow:hidden; }
.bmc_rating { width:100%; text-align:center; height:12px; }
.bmc_outOfStock { width:100%; text-align:center; padding-top:10px; height:35px; font-size:13px; color:#CC0033; font-weight:bold; }
.bmc_retailPrice { width:100%; text-align:center; padding-top:10px; height:15px; font-size:14px; color:#666666; }
.bmc_wholesale1 { width:100%; text-align:center; padding-top:5px; height:15px; font-size:14px; color:#666666; }
.bmc_wholesale2 { width:100%; text-align:center; padding-top:5px; height:15px; font-size:14px; color:#000; font-weight:bold; }
.bmc_holidayPrice { width:100%; text-align:center; padding-top:5px; height:15px; font-size:14px; color:#000; font-weight:bold; }
.bmc_moreInfo { width:100%; text-align:center; padding-top:10px; }
a.BMC-ItemPerPage { font-size:12px; color:#3C599B; text-decoration:underline; font-weight:normal;}
a.BMC-ItemPerPage:hover { font-size:12px; color:#3C599B; text-decoration:underline; font-weight:normal;}
a.BMC-ItemPerPage-on { font-size:12px; color:#333; text-decoration:none; font-weight:normal;}
a.BMC-ItemPerPage-on:hover { font-size:12px; color:#333; text-decoration:none; font-weight:normal;}
.activePageNum { color:#000; text-decoration:none; }
.inactivePageNum { color:#00C; text-decoration:underline; cursor:pointer; }
.activePageNum2 { color:#000; text-decoration:none; }
.inactivePageNum2 { color:#3C599B; text-decoration:underline; cursor:pointer; }
.paginationLink1 { padding:0px 5px 0px 5px; float:left; }
.paginationLink2 { padding:0px 5px 0px 5px; float:left; display:none; }