.bmc_productBox { width:253px; padding-top:10px; padding-bottom:5px; border-bottom:1px solid #ccc; border-right:1px solid #CCC; }
.bmc_productBox2 { width:253px; margin-top:10px; padding-bottom:5px; border-bottom:1px solid #ccc; display:none; }
.bmc_productPic { width:100%; height:220px; text-align:center; position:relative; }
.bmc_productOnSale { width:95px;height:45px;pointer-events:none; }
.bmc_productTitle { width:200px; padding-top:5px; height:60px; margin-bottom:10px; overflow:hidden; }
.bmc_rating { width:90px; height:18px; }
.bmc_outOfStock { width:100%; text-align:center; padding-top:10px; height:35px; font-size:13px; color:#CC0033; font-weight:bold; }
.bmc_retailPrice { width:100%; padding-top:10px; font-size:14px; color:#999; }
.bmc_wholesale1 { width:100%; padding-top:5px; font-size:14px; color:#666666; }
.bmc_wholesale2 { width:100%; padding-top:5px; font-size:14px; color:#000; font-weight:bold; }
.bmc_holidayPrice { width:100%; padding-top:5px; height:15px; font-size:14px; color:#000; font-weight:bold; }
.bmc_moreInfo { width:100%; text-align:center; padding-top:10px; }
a.BMC-ItemPerPage { font-size:12px; color:#3C599B; text-decoration:underline; font-weight:normal;}
a.BMC-ItemPerPage:hover { font-size:12px; color:#3C599B; text-decoration:underline; font-weight:normal;}
a.BMC-ItemPerPage-on { font-size:12px; color:#333; text-decoration:none; font-weight:normal;}
a.BMC-ItemPerPage-on:hover { font-size:12px; color:#333; text-decoration:none; font-weight:normal;}
.bmc_pricing { width:220px; text-align:left; }
.prodTitleLink { text-decoration:underline; color:#336699; font-size:13px; line-height:20px; }
.prodTitleLink:hover { text-decoration:underline; color:#336699; font-size:13px; line-height:20px; }
.bmcPriceRed { font-size: 18px; color: #CC0033; font-weight: bold; }
.bmc_quickView { width:80px; margin-left:40px; text-decoration:underline; color:#336699; font-weight:bold; font-size:11px; cursor:pointer; }
.quickViewIcon { background-image:url(/images/icons/quickViewMag.gif); width:12px; height:12px; margin-right:5px; }

.colorBox { width:13px; height:8px; margin:5px 0px 0px 5px; cursor:pointer; }

.previousActive { background-image:url(/images/buttons/previousPage_active.gif); width:16px; height:16px; cursor:pointer; }
.previousInactive { background-image:url(/images/buttons/previousPage_inactive.gif); width:16px; height:16px; }
.nextActive { background-image:url(/images/buttons/nextPage_active.gif); width:16px; height:16px; cursor:pointer; }
.nextInactive { background-image:url(/images/buttons/nextPage_inactive.gif); width:16px; height:16px; }

.blankSelect { border:0px; background-color:transparent; -webkit-appearance: none; }
.pageOptionSelectBoxBig { background-image:url(/images/backgrounds/bmc_dropDownBig.gif); width:200px; height:30px; overflow:hidden; }
.pageOptionSelectBoxSmall { background-image:url(/images/backgrounds/bmc_dropDownSmall.gif); width:109px; height:30px; overflow:hidden; }
.bmcBig { margin:7px 0px 0px 5px; width:215px; }
.bmcSmall { margin:7px 0px 0px 5px; width:124px; }
.pageOptionTitle { font-size:16px; margin:5px 10px 0px 10px; }
.pageOptionBox { width:100%; }
.paginationBox { margin-right:15px; }
.paginationItemCnt { font-size:14px; margin:2px 5px 0px 0px; }
.paginationViewAll { margin-top:2px; }
.viewAllProdsLink { text-decoration:underline; color:#336699; margin-left:5px; font-size:14px; cursor:pointer; }
.viewAllProdsLink:hover { text-decoration:underline; color:#336699; margin-left:5px; font-size:14px; cursor:pointer; }
.pageLinks { margin-top:10px; }
.extraPages { color:#666; font-size:13px; margin-right:5px; }

.activePageNum { color:#000; text-decoration:none; }
.inactivePageNum { color:#00C; text-decoration:underline; cursor:pointer; }
.activePageNum2 { color:#000; text-decoration:none; }
.inactivePageNum2 { color:#3C599B; text-decoration:underline; cursor:pointer; }
.paginationLink1 { padding:0px 5px 0px 5px; float:left; width:12px; text-align:center; }
.paginationLink2 { padding:0px 5px 0px 5px; float:left; display:none; }

.filterMainBox { padding-bottom:10px; margin:0px 0px 10px 13px; width:163px; background-color:#FFF; border-left:1px solid #ccc; border-right:1px solid #ccc; border-bottom:1px solid #ccc; border-bottom-left-radius:10px; border-bottom-right-radius:10px; }
.topFilterBox { border-bottom:1px solid #CCC; width:100%; padding-bottom:10px; }
.filterTitleRow { width:143px; margin-left:10px; margin-top:15px; padding-bottom:10px; }
.filterIcon { background-image:url(/images/icons/filterIcon.gif); width:12px; height:8px; margin:5px 5px 0px 0px; }
.filterTitle { font-size:15px; font-weight:bold; }
.filterOptRow { width:100%; margin-left:10px; margin-top:7px; }
.filterCheckbox { width:20px; }
.filterOptText { font-size:10px; padding:2px 0px 0px 10px; width:100px; }
.filterOptLink { color:#336699; text-decoration:underline; cursor:pointer; }

.quickViewBox { width:635px; height:445px; background-color:#FFF; border-radius:15px; margin:100px auto; position:relative; padding:10px; }
.closeIcon { position:absolute; top:-18px; right:-18px; background-image:url(/images/icons/closeWindow.png); width:36px; height:36px; }

.imgSide { width:300px; }
.quickViewItemPicBig { padding-top:20px; }
.altPics { padding-top:20px; }
.altPic { border:1px solid #CCC; margin:0px 3px 3px 0px; padding:3px; }
.activeAlt { border:1px solid #000; margin:0px 3px 3px 0px; padding:3px; }

.detailSide { width:320px; text-align:left; }
.quickViewItemDesc { padding-top:20px; font-weight:bold; font-size:18px; line-height:22px; }
.quickViewSku { margin-top:10px; font-size:12px; }
.sku { margin-right:15px; }
.quickViewPrice { margin-top:10px; }
.curPrice { font-weight:bold; color:#CC0033; font-size:24px; margin-right:15px; }
.msrp { color:#999; font-size:16px; padding-top:7px; }
.quickViewReviews { border-bottom:1px solid #ebebeb; padding-bottom:15px; width:90%; margin-top:10px; }
.reviewCnt { margin-left:15px; color:#336699; font-size:16px; }
.quickViewStock { margin-top:15px; }
.inStockIcon { background-image:url(/images/icons/instockBadge.gif); width:20px; height:20px; }
.inStockText { margin-left:10px; font-size:14px; color:#000; }
.quickViewQty { margin-top:15px; }
.qtyBox { border:0px; background-color:transparent; background:url(/images/backgrounds/qtyBox.gif) no-repeat; width:40px; height:30px; text-align:center; }
.qtyText { font-weight:bold; font-size:16px; margin:5px 0px 0px 10px; }
.quickViewAddToCart { margin-top:15px; padding-bottom:15px; border-bottom:1px solid #ebebeb; width:90%; }
.quickViewFullDetails { margin-top:15px; }
.viewFullDetails { font-weight:bold; font-size:14px; color:#336699; }
.detailsArrow { background:url(/images/icons/viewDetails.gif) no-repeat; width:16px; height:16px; margin-left:10px; }