.bold { font-weight:bold; }
.orderTotalRow { float:left; width:948px; border-bottom:1px solid #CCC; border-left:1px solid #CCC; border-right:1px solid #CCC; }
.orderTotalTitle { padding-top:5px; float:right; width:400px; font-size:16px; color:#333; text-align:right; height:30px; border-right:1px solid #CCC; padding-right:15px; }
.orderTotals { padding-top:5px; float:right; width:125px; font-size:16px; color:#222; text-align:right; text-align:center; height:30px; }
.shippingSubtitle { float:left; width:348px; height:28px; font-size:12px; border-bottom:1px solid #CCC; border-left:1px solid #CCC; border-right:1px solid #CCC; background-color:#f4f4f4; color:#000; font-weight:bold; }
.billingSubtitle { float:left; width:588px; height:28px; font-size:12px; border-bottom:1px solid #CCC; border-left:1px solid #CCC; border-right:1px solid #CCC; background-color:#f4f4f4; color:#000; font-weight:bold; }
.billingSubtitleText { padding:5px 8px; }
.shippingFormEntry { float:left; width:348px; height:28px; font-size:12px; border-left:1px solid #CCC; border-right:1px solid #CCC; color:#000; padding-bottom:5px; }
.shippingFormTitle { float:left; font-weight:bold; width:100px; padding:10px 15px 0px 0px; font-size:12px; text-align:right; }
.shippingFormField { float:left; padding-top:5px; }
.activeBillingField { border-radius:5px; height:22px; width:200px; border:1px solid #CCC; }
.entryExample { color:#999; font-size:12px; float:left; margin-left:115px; width:200px; }
.shippingSubtitleLower { float:left; width:348px; height:28px; font-size:12px; border-top:1px solid #CCC; border-bottom:1px solid #CCC; border-left:1px solid #CCC; border-right:1px solid #CCC; background-color:#f4f4f4; color:#000; font-weight:bold; }
.shippingOptions { float:left; padding:15px 0px 0px 10px; width:230px; }
.shippingFormEntryBottom { float:left; width:348px; height:45px; font-size:12px; border-left:1px solid #CCC; border-right:1px solid #CCC; color:#000; border-bottom:1px solid #CCC; border-bottom-right-radius:5px; border-bottom-left-radius:5px; padding-bottom:5px; }
.applyButton { float:left; cursor:pointer; background:url(/images/buttons/checkout/apply.gif) no-repeat; margin-top:10px; width:74px; height:30px; }

.billOption1 { height:30px; border-bottom:1px solid #CCC; border-left:1px solid #CCC; border-right:1px solid #CCC; padding-top:10px; display:table; width:588px; }
.billOption2 { height:30px; border-left:1px solid #CCC; border-right:1px solid #CCC; padding-top:10px; display:table; width:588px; }
.billOptionRadio { float:left; width:15px; padding-left:15px; }
.billOptionTitle { float:left; padding:2px 0px 0px 10px; font-weight:bold; font-size:12px; }

.billingFields { display:table; width:588px; position:relative; padding-bottom:20px; border-left:1px solid #CCC; border-right:1px solid #CCC; }
.grayOut { position:absolute; top:0px; left:1px; width:588px; height:190px; background-color:#fff; opacity:0.6; filter:alpha(opacity=60); }
.billingFormEntry1 { float:left; width:588px; height:20px; font-size:12px; color:#000; padding-bottom:5px; }
.billingFormEntry2 { float:left; width:588px; height:30px; font-size:12px; color:#000; padding-bottom:5px; }
.billingFormItem { float:left; font-weight:bold; width:200px; padding:10px 15px 0px 40px; font-size:12px; text-align:left; }

.billingSubtitleLower { float:left; width:588px; height:28px; font-size:12px; border:1px solid #CCC; background-color:#f4f4f4; color:#000; font-weight:bold; }
.paymentSection { border-bottom:1px solid #CCC; border-left:1px solid #CCC; border-right:1px solid #CCC; display:table; padding:15px; }
.paymentHeader { display:table; }
.paymentLock { float:left; margin-right:15px; width:49px; height:49px; background-image:url(/images/checkout/paymentLock.gif) }
.paymentHeaderText { float:left; }

.checkoutFooter { display:table; margin-top:15px; }
.shopMore { float:left; width:485px; padding:100px 0px 0px 15px; text-align:left; }
.showMoreLink { text-decoration:underline; color:#336699; font-size:11px; }
.trustAndOrder { float:left; width:400px; }
.trustIcons { display:table; margin:0px auto; }
.placeOrder { padding-top:15px; }