.tb { display:table; }
.fl { float:left; }
.fr { float:right; }
.mCenter { margin:0px auto; }
.shipNotice { background-color:#f4f4f4; width:658px; height:43px; border-bottom:1px solid #CCC; border-left:1px solid #CCC; border-right:1px solid #CCC; }
.greenCheckmark { background:url(/images/icons/shippingCheckmark.gif) no-repeat; width:24px; height:24px; margin:10px 10px 0px 20px; }
.shipNoticeText { width:520px; color:#333; font-size:13px; padding:15px 0px 0px 0px; }
.boldGreen { color:#339900; font-size:14px; font-weight:bold; }

.purchasedOn { font-weight:bold; color:#333; font-size:11px; }
.purchaseDate { font-size:11px; margin-left:5px; }
.customerPic { width:90px; height:60px; border:2px solid #def0fe; }

/* START - Winning mvt values */
#mvt_billing1 {display:none;}
#mvt_billing2 {display:;}
#mvt_testi { display:; }
#mvt_trust1 { display:; }
#mvt_trust2 { display:none; }
#mvt_payment1 {display:none;}
#mvt_payment2 {display:;}
#mvt_topNav {display:none;}
#mvt_topBanner	{ display:; }
#mvt_apply1 { display:; }
#mvt_apply2 { display:none; }
/* END - Winning mvt values */

.holdingTxt { font-weight:bold; margin-left:10px; font-size:12px; padding-top:2px; }
.holdingTxt2 { font-weight:bold; margin-left:5px; font-size:12px; padding-top:2px; }
.activeTimer { margin-left:5px; }
.activeTimer_b { margin:10px auto 0px auto; }
.checkoutTimer { color:#C00; font-weight:bold; font-size:12px; padding-top:2px; }
.checkoutTimer_b { color:#C00; font-weight:bold; font-size:24px; }
.flTimer { 
	padding:10px; width:154px; height:84px; border:1px solid #CCC; border-radius:5px; text-align:center; 
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #e3e3e3) );
	background:-moz-linear-gradient( center top, #ffffff 5%, #e3e3e3 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e3e3e3');
	background-color:#fff;
	position:fixed; top:300px; margin-left:990px; 
}

.finalChanceBox { width:500px; height:278px; background-color:#FFF; margin:100px auto; }
.finalChance { font-size:24px; font-weight:bold; color:#336699; text-align:center; width:450px; margin:10px auto; line-height:30px; }
.stillInterested { width:450px; text-align:center; margin:0px auto; font-size:20px; color:#999; }
.stillInterestedCta { margin:20px auto; width:325px; cursor:pointer; }
.noThanks { width:450px; margin:20px auto; text-align:center; color:#666; text-decoration:underline; cursor:pointer; }

.welcomeBackLogo { width:450px; text-align:left; }
.welcomeBackTitle { font-size:24px; font-weight:bold; color:#336699; text-align:left; width:450px; margin:10px auto; line-height:30px; }
.welcomeBackMsg { font-size:18px; font-weight:bold; color:#336699; text-align:left; width:450px; margin:10px auto; line-height:30px; }