.fl { float:left; }
.fr { float:right; }
.customHeader { display:table; background-image:url(/images/custom/landingPage/headerBg.gif); height:254px; width:1020px; position:relative; margin-top:10px; }

.customHeaderText { margin:66px 0px 0px 406px; }
.customHeaderPhone { position:absolute; left:33px; top:35px; }
.customHeaderRibbon { position:absolute; right:-10px; top:-9px; }
.headBulkText { height:330px; width:600px; margin-left:390px; }
.bulkTextTitle { font-weight:bold; margin-top:16px; font-size:18px; }
.bulkTextBody { color:#666; line-height:25px; margin-top:10px; font-size:14px; }
.createButton { margin:25px 0px 0px 40px; }
.detailSection { width:1020px; height:475px; background-image:url(/images/custom/landingPage/detailBg.gif); margin-top:20px; }
.detailTitle { display:table; padding:45px 0px 0px 42px; }
.titleArrow { width:24px; height:24px; padding-top:10px; }
.titleText { font-size:36px; font-weight:bold; margin-left:15px; }
.stepImages { display:table; }
.processStep1 { margin:30px 0px 0px 45px; }
.processStep2 { margin:30px 0px 0px 45px; border:10px solid #d3d3d3; }
.processStep3 { margin:30px 0px 0px 45px; }
.processOp { margin:120px 0px 0px 40px; font-weight:bold; font-size:48px; color:#333; }
.stepTextAndNum { display:table; margin-top:20px; }
.stepNum1 { background-color:#339933; font-weight:bold; color:#FFF; border-radius:15px; width:23px; height:23px; text-align:center; margin-left:80px; }
.stepNum2 { background-color:#339933; font-weight:bold; color:#FFF; border-radius:15px; width:23px; height:23px; text-align:center; margin-left:215px; }
.stepNum3 { background-color:#339933; font-weight:bold; color:#FFF; border-radius:15px; width:23px; height:23px; text-align:center; margin-left:120px; }
.stepText { color:#666; font-weight:bold; margin-left:10px; font-size:18px; }
.extendedDetailSection { display:table; }
.whySection { width:460px; height:130px; margin:30px 0px 0px 30px; }
.whyIcon { width:100px; height:97px; }
.whyText { margin-left:15px; width:340px; }
.whyTitle { font-weight:bold; font-size:18px; color:#000; }
.whyBody { font-size:12px; line-height:20px; color:#333; }
.priceRow { border:1px solid #CCC; border-radius:10px; display:table; margin:15px 0px 15px 30px; }
.grayPR1 { background-color:#f0f0f0; padding:30px; border-right:1px solid #CCC; border-top-left-radius:10px; border-bottom-left-radius:10px; }
.grayPR { background-color:#f0f0f0; padding:30px; border-right:1px solid #CCC; }
.prLine1 { font-weight:bold; color:#000; font-size:16px; text-align:center; }
.prLine2 { color:#999; font-size:10px; text-align:center; }
.prLine3 { color:#999; font-size:24px; text-align:center; }
.bluePR { background-color:#eef3f7; width:420px; padding:19px 30px; text-align:center; border-top-right-radius:10px; border-bottom-right-radius:10px; }
.sampleCases { margin:30px 0px 0px 30px; height:322px; }
.customerText { margin:60px 0px 0px 30px; height:322px; }
.subtitleText { color:#999; font-size:16px; font-style:italic; }
.allBrands { display:table; margin:20px 0px 0px 60px; }
.modelChecklist { width:310px; }
.brandNameCheck { display:table; }
.brandName { font-weight:bold; font-size:24px; color:#666; }
.modelList { color:#2296d3; font-size:12px; line-height:16px; }
.breakBar { margin:0px auto; width:830px; height:16px; }
.allPhoneLinks { display:table; width:920px; margin:0px 40px; }
.phoneLink { margin:20px 0px 0px 30px; }
.phoneImg { text-align:center; height:260px; }
.phoneName { text-align:center; color:#333; font-size:12px; margin:10px 0px 20px 0px; }