.main {padding:0px;}
.col-main{ padding:0px;}
#flashContent{display:block;}

#ccw {
	width:958px;
}
#ccw #header, #ccw #first, #ccw #second, #ccw #third, #ccw #fourth {
	position:relative;
	/*border:1px solid green;*/
}
#ccw h2, #ccw h3 {
	font-weight:800;
	font-family: 'Open Sans', sans-serif;
	/*font-size:25px;*/
	color:#333333;
	text-transform:uppercase;
	display:block;
	text-align:center;
	white-space:nowrap;
}
#ccw h2 {
	font-size:2.5em;
	line-height:1.5em;
	margin-top:0.0em;
	margin-bottom:0.0em;
}
#ccw h3 {
	font-size:1.33em;
	line-height:1.2em;
}
#ccw h4 {
	font-family:Verdana, Geneva, sans-serif;
	font-weight:bold;
	color:#666666;
	text-transform:uppercase;
	display:block;
	text-align:center;
	white-space:nowrap;
}
#ccw p {
	margin-left:auto;
	margin-right:auto;
	line-height:1.75em;
	color:#666666;
	font-family:Verdana, Geneva, sans-serif;
}
#ccw a {
	color:#3EB2D9;
	text-decoration:underline;
}
#ccw #header {
	height:110px;
}
#ccw #headerBanner {
	position:absolute;
	left:13px;
	top:5px;
	width:530px;
	height:175px;
}
#ccw #headerBanner h1 {
	font-size:4.0em;
	font-family: 'Open Sans', sans-serif;
	font-weight:300;
	padding-left:0;
	margin-bottom:-0.125;
}
#ccw #headerBanner .h1Bold {
	font-weight:800;
	font-family: 'Open Sans', sans-serif;
	color:#333333;
	text-transform:uppercase;
}
#ccw #headerBanner #hrHeader {
	height:1px;
	width:475px;
	background:#CCCCCC;
}
#ccw #headerBanner p {
	/*font-size:1.4em;*/
	font-size:16px;
	font-family: 'Open Sans', sans-serif;
	font-weight:300;
	margin-top:0em;
	padding-left:0.25em;
	padding-right:0em;
}
#ccw #tool {
	background:url(/images/customCase/header-tool-small.png) no-repeat;
	width:211px;
	height:133px;
	right:0px;
	top:-4px;
	position:absolute;
	z-index:20;
}
#ccw #arrow {
	background:url(/images/customCase/header-arrow-small.png) no-repeat;
	width:28px;
	height:28px;
	top:43px;
	right:190px;
	position:absolute;
}
#ccw #photo {
	background:url(/images/customCase/header-photograph-small.png) no-repeat;
	width:111px;
	height:80px;
	top:22px;
	right:236px;
	position:absolute;
}
#ccw #price {
	background:url(/images/customCase/custom-case-pricing.png) no-repeat;
	width:82px;
	height:82px;
	top:0px;
	right:374px;
	position:absolute;
}
#ccw #grad {
	background:url(/images/customCase/header-1px-gradient.png) repeat-x;
	width:100%;
	height:65px;
	top:45px;
	position:absolute;
}
#ccw #first {
	height:1235px;
	/*border:1px solid lightgreen;*/
}
#ccw #first #flashContainer {
	width:713px;
	height:1000px;
	position:relative;
}
#ccw #first #flashContainer #flashBorder {
	width:710px;
	height:890px;
	background:#333333;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-khtml-border-radius: 8px;
	-webkit-border-radius: 8px;
	padding-top:20px;
	position:absolute;
	left:0px;
	top:20px;
}
#ccw #first #flashContainer #flashBorder #flashBorderInner {
	width:670px;
	height:870px;
	background:#FFF;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-khtml-border-radius: 8px;
	-webkit-border-radius: 8px;
	margin-left:auto;
	margin-right:auto;
}
#ccw #first #flashContainer #flashBorder #flashBorderInner #flashContent {
	/*width:650px;
	height:870px;*/
	margin-left:auto;
	margin-right:auto;
}
#ccw #first #aside {
	width:240px;
	height:959px;
	position:absolute;
	left:720px;
	top:20px;
}
#ccw #first #aside .help #a1 {
	height:286px;
}
#ccw #first #aside .help #a2 {
	height:309px;
}
#ccw #first #aside .help #a3 {
	height:225px;
}
#ccw .helpBody p {
	width:200px;
	/*border:1px solid orange;*/
}
#ccw #first #aside .help {
	/*border:1px solid purple;*/
	/*position:relative;*/
	margin-bottom:1.0em;
}
#ccw #first #aside .helpHeader {
	/*background:url(/images/customCase/title-header.png);*/
	width:237px;
	height:50px;
	/*top:0px;
	position:absolute;*/
	border:1px solid #ECECEC;
	
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0px;
	
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	-webkit-border-bottom-right-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 1%, #ececec 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ffffff), color-stop(100%,#ececec)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 1%,#ececec 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 1%,#ececec 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 1%,#ececec 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 1%,#ececec 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ececec',GradientType=0 ); /* IE6-9 */
}
#ccw #first #aside h4 {
	/*line-height:50px;*/
	padding-top:0.3em;
}
#ccw #first #aside .helpBody {
	width:237px;
	border:1px solid #ECECEC;

	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 8px;
	-moz-border-radius-bottomleft: 8px;
	
	-webkit-border-top-left-radius: 0px;
	-webkit-border-top-right-radius: 0px;
	-webkit-border-bottom-right-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;

	height:100%;
	/*border:1px solid pink;*/
	padding-bottom:1.5em;
}
#ccw #first #aside #VidTut {
	width:200px;
	height:108px;
	/*background:darkgray;*/
	background:url(/images/customCase/button-video-tutorial.png) no-repeat;
	width:197px;
	height:120px;
	margin-left:auto;
	margin-right:auto;
	cursor:pointer;
}
#divViewNow {
	margin-left:auto;
	margin-right:auto;
	width:137px;
	height:54px;
	/*background:url(/images/customCase/cta-view-now.png) no-repeat;*/
	background:#FF9900;
	cursor:pointer;
	color:#FFF;

	line-height:54px;
	text-align:center;
	text-transform:uppercase;
	font-weight:800;
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
	
	border-radius: 4px;
	-moz-border-radius: 4px;
	-khtml-border-radius: 4px;
	-webkit-border-radius: 4px;
		
	-webkit-box-shadow: 0px 1px 4px 0px darkgray; /* Saf3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
	box-shadow: 0px 1px 4px 0px darkgray; /* Opera 10.5, IE9, FF4+, Chrome 6+, iOS 5 */

}
#ccw #divViewNow a {
	color:white;
	text-decoration:none;
}
.separator {
	background:url(/images/customCase/hori-div.png) no-repeat;
	width:972px;
	height:38px;
}
#ccw #second {
	height:500px;
}
#ccw #third {
	margin-bottom:1.25em;
}
#ccw #third h3 {
	text-align:left;
	padding-left:0.5em;
	font-size:0.75em;
}
#ccw #third li {
	font-size:0.625em;
}
#ccw #second h2 {
	margin-top:0.0em;
	margin-bottom:0.625em;
}
.colBase {
	position:absolute;
	width:100%;
	height:10px;
	bottom:0px;
}
.colBase div {
	background:#EBEBEB;
	width:300px;
	height:10px;
	margin-left:auto;
	margin-right:auto;	
}
.triCol {
	float:left;
	width:33%;
	height:427px;
	position:relative;
}
#triColMiddle {
	border-left:1px solid #EBEBEB;
	border-right:1px solid #EBEBEB;
}
.whyImgX {
	width:300px;
	height:155px;
	margin-left:auto;
	margin-right:auto;
}
#whyImg1 {
	background:url(/images/customCase/quality-hero-1.jpg) no-repeat;
}
#whyImg2 {
	background:url(/images/customCase/quality-hero-2.jpg) no-repeat;
}
#whyImg3 {
	background:url(/images/customCase/quality-hero-3.jpg) no-repeat;
}
.triCol h3 {
	margin-top:0.75em;
	margin-bottom:1.5em;
}
.triCol p {
	width:260px;
}

#getFlash { margin-left:100px; text-align:center; width:500px; }