.fl { float:left; }
.fr { float:right; }
.customHeader { display:table; background-image:url(/images/custom/headerBg.gif); height:106px; width:1020px; position:relative; margin-top:10px; }
.customHeaderIcon { margin:16px 0px 0px 49px; }
.customHeaderText { margin:33px 0px 0px 22px; }
.customHeaderLinkBar { background-image:url(/images/custom/headerLinkBg.gif); width:1020px; height:39px; margin-bottom:31px; border-bottom-right-radius:10px; border-bottom-left-radius:10px; }
.customHeaderLink { background-image:url(/images/custom/headerLinkBreak.gif); background-repeat:no-repeat; background-position:left; color:#FFF; font-weight:bold; padding:9px 30px; }
.customHeaderRibbon { position:absolute; right:-7px; top:-6px; }
.toolBox { border:20px solid #333; width:650px; border-radius:10px; margin:0px auto; }
.flashLink { width:650px; margin:0px auto; text-align:center; }
.detailSection { width:1020px; height:741px; background-image:url(/images/custom/detailBg.gif); margin-top:20px; }
.detailsImg { width:470px; }
.detailTitle { width:980px; border-bottom:1px solid #afb1b0; padding:20px; }
.detailSubTitle { width:980px; padding-left:20px; margin-bottom:20px; font-weight:bold; color:#999; margin-bottom:30px; font-size:13px; }
.detailText { width:450px; margin-left:40px; }
.detailMiniTitle { font-weight:bold; color:#000; font-size:15px; margin-bottom:10px; }
.detailMiniBody { color:#666; font-size:12px; line-height:20px; margin-bottom:40px; }
.bottomCustomText { color:#666; font-size:11px; margin:20px 0px; padding-left:40px; }