.faq-title{ font-size:24px; border-bottom:1px solid #CACACA; font-weight:bold; color:#000;margin:10px 0 10px 0;padding:0 0 10px 0;}
.faq-left-nav { position:relative;float:left;margin:0 10px 0 0; }
.faq-nav-section{ position:relative;border:2px solid #CACACA;border-radius:10px;width:210px; margin:0 0 10px 0; }
.back-nav{border-bottom:2px solid #cacaca;padding:10px;width:190px;font-size:14px;}
.back-nav a{font-weight:normal;}
.section-title{ font-size:16px; font-weight:bold;margin:10px 0 20px 0; padding:0 10px; }
.faq-nav-section ul {list-style:none; margin:0 5px 10px 5px; padding:0;font-size:14px;font-weight:normal;color:#336699; line-height:22px;} 
.faq-nav-section ul li {padding:5px 10px;}
.faq-nav-section ul li.active{ color:#fff; background:#336699;border-radius:5px; }
.faq-nav-section ul li a.faq-link:link, .faq-nav-section ul li a.faq-link:visited{font-size:14px;font-weight:normal;text-decoration:none;}
.faq-nav-section ul li a.faq-link:hover , .faq-nav-section ul li a.faq-link:active{font-size:14px;font-weight:normal;text-decoration:underline;}
.faq-nav-section ul li.active a.faq-link:link, .faq-nav-section ul li.active a.faq-link:visited{color:#fff;font-size:14px;font-weight:normal;text-decoration:none;}
.faq-nav-section ul li.active a.faq-link:hover , .faq-nav-section ul li.active a.faq-link:active{color:#fff;font-size:14px;font-weight:normal;text-decoration:underline;}
.faq-nav-section ul li div a:link, .faq-nav-section ul li div a:visited{font-size:14px;font-weight:normal;text-decoration:none;}
.faq-nav-section ul li div a:hover , .faq-nav-section ul li div a:active{font-size:14px;font-weight:normal;text-decoration:underline;}
.faq-main-section { position:relative;float:left;width:786px;margin: 0 0 20px 0; }
.faq-search { position:relative;float:right;width:395px; }
.search-field{ border:1px solid #cacaca;font-size:14px;width:265px;margin:0 5px 0 0;height:22px;padding:5px;color:#cacaca;position:relative;float:left; }
.search-help{ border:0;width:113px;height:34px;background:url(/images/faq/search-help.png) no-repeat;cursor:pointer;position:relative;float:left;} 
.faq-content { position:relative;float:left;width:786px;margin:10px 0 0 0;font-size:14px;line-height:22px; }
.faq-content h2 { font-size:22px; font-weight:normal; }
.back-link {position:relative;margin:0 0 10px 0;}
.faq-content ul.questions {list-style:none; margin:0 10px 0 0; padding:0; font-size:14px;font-weight:normal;color:#336699; line-height:22px;} 
.faq-content ul.questions li {padding:10px 15px;}
.faq-content ul.questions li:nth-child(odd){ background-color:#ebebeb; }
.faq-content ul.questions li ul {list-style:disc;padding:0 0 0 10px;}
.faq-content ul.questions li:nth-child(odd) ul li:nth-child(odd) {background-color:#ebebeb;}
.faq-content ul.questions li:nth-child(even) ul li:nth-child(odd) {background-color:#fff;}
.faq-content ul.questions li ul li {background:#fff;padding:0px;}
.faq-content ul.questions li ul li a {font-size:14px;font-weight:normal;}
.faq-content ul.questions li ul li:nth-child(even) ul li {background:#fff;}
.faq-content ul.questions li ul li:nth-child(odd) ul li {background:#ebebeb;}
.faq-content a:link, .faq-content a:visited {font-size:14px;font-weight:normal;color:#0695cf;text-decoration:none;}
.faq-content a:hover, .faq-content a:active {font-size:14px;font-weight:normal;color:#0695cf;text-decoration:underline;}
.faq-content table { border:2px solid #cacaca;border-spacing:0; }
.faq-content table {border-radius:10px;}
.faq-content table tr:nth-child(even) td {background:#ebebeb;}
.faq-content table tr td {border-right:2px solid #cacaca;}
.faq-content table tr td:last-child{border-right:0;}
.faq-content table tr td {padding:10px;}
.highlight{background:#ffff00;}

.contactEmail{width: 400px;height: 25px;padding: 5px;color: #666;font-size: 15px;border: 1px solid #ccc;-moz-box-shadow: inset 0 0 1px 1px #ccc;-webkit-box-shadow: inset 0 0 1px 1px #ccc;box-shadow: inset 0 0 1px 1px #ccc;}
.contactContent{width: 400px;height: 150px;padding: 5px;color: #666;font-size: 15px;border: 1px solid #ccc;-moz-box-shadow: inset 0 0 1px 1px #ccc;-webkit-box-shadow: inset 0 0 1px 1px #ccc;box-shadow: inset 0 0 1px 1px #ccc;vertical-align: top;}