

/********************************************/


#divSaleContainer {
	width:988px;
	min-height:10px;
	margin-left:auto;
	margin-right:auto;
	
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	
}
.divSale {
	margin-top:12px;
	position:relative;
}
#divSaleBanner {
	width:987px;
	margin-top:16px;
}





/********************************************/

#divThumbPhoto ul {
	display:inline;
}


.divSale#ProdDetails {
	height:658px;
	background:#EBEBEB;
}

#divSpotlight {
	top:10px;
	left:10px;
	width:552px;
	height:560px;
	padding:20px;
	position:relative;
}

#divSpotlight h1 {
	color:#333333;
	font-size:18px;
	font-weight:normal;
}
#divPhotoContainer {
	position:absolute;
	left:0px;
	top:100px;
	height:400px;
	width:300px;
}
#divMainPhoto {
	/*background-image:url(/productpics/big/apple-iphone-5-3-in-1-armor-case-w-stand-black-red-33703.jpg);*/
	background-repeat:no-repeat;
	background-size:300px 300px;
	height:300px;
	width:300px;
}
#divThumbnails {
	margin-top:15px;
	padding-left:38px;
}
.divThumbnailSingle {
	background-size:50px 50px;
	width:48px;
	height:48px;
	background-repeat:no-repeat;
	border:1px solid #ccc;
	display:inline-block;
	margin:0 10px 0 10px;
	
	border-radius: 4px;
	-moz-border-radius: 4px;
	-khtml-border-radius: 4px;
	-webkit-border-radius: 4px;
}
.justRound {
	border-radius: 4px;
	-moz-border-radius: 4px;
	-khtml-border-radius: 4px;
	-webkit-border-radius: 4px;
}
#ts1 {
	/*background-image:url(/productpics/AltViews/apple-iphone-5-3-in-1-armor-case-w-stand-black-red-33703-0_thumb.jpg);*/
}
#ts2 {
	/*background-image:url(/productpics/AltViews/apple-iphone-5-3-in-1-armor-case-w-stand-black-red-33703-1_thumb.jpg);*/
}
#ts3 {
	/*background-image:url(/productpics/AltViews/apple-iphone-5-3-in-1-armor-case-w-stand-black-red-33703-2_thumb.jpg);*/
}

/*
#divDescContainer {
	position:absolute;
	top:58px;
	right:0px;
	width:258px;
}
*/

#divShareThisDeal {
	width:308px;
	height:48px;
	position:absolute;
	left:148px;
	bottom:0px;
	background:#EBEBEB;

	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 8px;
	-moz-border-radius-bottomleft: 8px;
	
	-webkit-border-top-left-radius: 0px;
	-webkit-border-top-right-radius: 0px;
	-webkit-border-bottom-right-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	
	text-align:center;
	line-height:48px;
	
	color:#424445;
	font-weight:bold;
	font-size:12px;
}
#divTwit, #divFace, #divPint {
	display:inline-block;
	width:29px;
	height:28px;
	position:relative;
	top:0.75em;
	padding-left:8px;
	left:12px;
}
#divTwit {
	background:url(/images/lightningDeal/CO-Black-Friday-Twitter.png) no-repeat;
}
#divFace {
	background:url(/images/lightningDeal/CO-Black-Friday-Facebook.png) no-repeat;
}
#divPint {
	width:30px;
	background:url(/images/lightningDeal/CO-Black-Friday-Pinterest.png) no-repeat;
	display:none;
}
#divRoundedBox {
	width:265px;
	height:432px;
	right:21px;
	top:52px;
	position:absolute;
	background:url(/images/lightningDeal/CO-Black-Friday-Product-Zone.png) no-repeat;
	text-align:center;
}
#divInvBlow {
	margin-top: 64px;
	text-transform: uppercase;
	font-size: 11px;
}
#divPriceBlowout {
	font-size: 30px;
	color: #C00;
	font-weight: bold;
	margin-top: 6px;
}
#divStarRating {
	position:relative;
	margin:10px auto 10px auto;
	width:200px;
}
#divStarRating a {
	color:#369;
	text-decoration:underline;
	margin-left:0.5em;
	font-weight:normal;
}
#divStarRating div {
	display:inline-block;
}
.star {
	width:17px;
	height:16px;
	display:inline-block;
	text-align:center;
}
.full {
	background:url(/images/review/greenStarFull.gif) no-repeat 0px 0px;
}
.empty {
	/*background:url(/images/review/grayStar.gif) no-repeat 0px 0px;*/
	width:0px;
}
.half {
	background:url(/images/review/greenStarHalf.gif) no-repeat 0px 0px;
}
.sup {
	background:none;
	width:100px;
	padding-top:0px;
}
#divTheNumbers {
	height:69px;
	
	padding-left:11px;
	margin-top:20px;
}
.third, .divider {
	float:left;
	margin-top:9px;
	height:60px;
	overflow:hidden;
	/*border:1px solid red;*/
}
.third {
	width:33%;
}
.divider {
	/*border-left:1px solid #ccc;
	border-right:1px solid #fff;*/
	width:0px;
}
.third .title {
	font-weight:bold;
	margin-top:0.1em;
	font-size:12px;
}
.third .price {
	font-weight:bold;
	font-size:16px;
	color:#369;
	margin-top:0.3em;
}
#divQty {
	margin-top:20px;
	font-size:14px;
	color:#666;
}
#qty {
	width:37px;
	height:24px;

	border:none;
	outline:none;
	/*border-right:1px solid #ccc;
	border-bottom:1px solid #ccc;*/

	border-radius: 4px;
	-moz-border-radius: 4px;
	-khtml-border-radius: 4px;
	
	-moz-box-shadow:    inset 0px 1px 1px 1px #ccc;
	-webkit-box-shadow: inset 0px 1px 1px 1px #ccc;
	box-shadow:         inset 0px 1px 1px 1px #ccc;
	text-align:center;
	color:#666;
	font-size:14px;

	margin-left:0.5em;
}
#divLimitedQty {
	margin-top:10px;
	color:#666;
}
#divLimitedQty h2 {
	font-weight:bold;
	color:#666;
	line-height:2.25em;
	font-size:12px;
}
#QtyContainer {
	line-height:8px;
	height:22px;
	font-size:12px;
}
#varQtyRemaining {
	display:inline-block;
	font-weight:bold;
}
.varQtyINS {
	color:#3e658e;
}
.varQtyOOS {
	color:red;
}

#divAddToCartButton {
	width:271px;
	height:51px;
	margin-left:-1px;
	margin-top:20px;
	color:#fff;
	line-height:48px;
	font-size:19px;
	text-indent:-1.0em;
}
.addCartButtonINS {
	background:url(/images/lightningDeal/CO-Black-Friday-Add-To-Cart-Button.png) no-repeat;
}
.addCartButtonOOS {
	background:url(/images/lightningDeal/CO-Black-Friday-Sold-Out-CTA.png) no-repeat;
}


/********************************************/


#divCountdown {
	position:absolute;
	height:180px;
	width:362px;
	right:14px;
	top:10px;
	background:#EBEBEB;
	-moz-box-shadow: inset 0 0 3px 3px #CCC;
	-webkit-box-shadow: inset 0 0 3px 3px #CCC;
	box-shadow: inset 0 0 3px 3px #CCC;
}
#divCountdownHeader {
	position:relative;
	width:390px;
	height:30px;
	background:#295383;
	top:-2px;
	left:-2px;
	
	text-align:center;
	color:#FFF;
	text-transform:uppercase;
	line-height:30px;
	text-shadow: -1px 1px 2px #000;
	
	font-size:17px;
	
}
#divCountdownHeaderBlackTriangle {
	position:absolute;
	width:0;
	height:0;
	border-color: #000 #FFF #FFF #000;
	border-style:solid;
	border-width:6px 6px 6px 6px;
	right:0px;
	bottom:-12px;
}

#divCountdownHeaderBlueTriangle {
	position:absolute;
	width:0;
	height:0;
	border-color: transparent #295383 transparent transparent;
	border-style:solid;
	border-width:7px 7px 7px 7px;
	left:-14px;
	top:8px;
}
#divCountdownHeart {
	position:absolute;
	bottom:0px;
	width:282px;
	height:28px;
	left:31px;

	background:#295383;

	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0px;
	
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	-webkit-border-bottom-right-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	
	box-shadow: inset 0 -2px 2px #103554;
	text-align:center;
	font-size:12px;
	line-height:28px;
	color:#FFF;
	
	padding-left:18px;
}
#divCountdownHeart div {
	/*background:url(/images/lightningDeal/CO-Black-Friday-Heart-Icon.png) no-repeat 0px 5px;
	display:inline-block;
	width:20px;
	height:23px;*/
	position:relative;
	width:0;
	height:0
}
#divCountdownHeart div div {
	position:absolute;
	background:url(/images/lightningDeal/CO-Black-Friday-Heart-Icon.png) no-repeat 0px 5px;
	display:inline-block;
	width:20px;
	height:23px;
}
#divClockDigits {
	font-size:55px;
	text-align:center;
	margin-top:14px;
}
.digit {
	color:#fff;
	text-shadow: -1px 1px 2px #000;
	display:inline-block;
	padding-left:3px;
	width:88px;
	height:90px;
	line-height:86px;
	text-align:center;
	background:url(/images/lightningDeal/CO-Black-Friday-Timer-Frame.png) no-repeat;
}
.colon {
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#000;
	position:relative;
	top:-.1em;
	font-size:1.1em;
}
#divCurrentUpcomingDeals {
	width:376px;
	height:450px;
	top:190px;
	right:0px;
}
#HeaderEffect {
	height:48px;
	width:100%;
	line-height:48px;
	background:#EBEBEB;
	position:absolute;
	font-weight:bold;
	color:#3f3f3f;
	text-transform:uppercase;
	font-size:14px;
	text-indent:4px;
}
#divBlueCircle {
	background:url(/images/lightningDeal/CO-Black-Friday-Upcoming-Deals-Arrow.png) no-repeat;
	width:26px;
	height:27px;
	display:inline-block;
	position:relative;
	top:0.5em;
	left:2px;
}
#divUpcomingItems {
	top:262px;
	right:0px;
	position:absolute;
	width:352px;
}
.upcomingItemContainer {
	height:123px;
	clear:both;
	color:#666;
	line-height:18px;
	margin-bottom:60px;
	position:relative;
	/*background:green;*/
}
.upcomingItemHoverContainer, #soldOutHover {
	height:102px;
	width:295px;
	position:absolute;
	top:0px;
	left:0px;
	background-color:rgba(0,0,0,0.8);
	background-color:#323232\9;/*IE 8 and below*/
	text-align:center;
	padding-top:21px;
}
.upcomingItemHoverContainer {
	height:72px;
	width:305px;
	border:15px solid #a9a9aa;
}
.upcomingItemHoverContainer h2, #soldOutHover h2 {
	color:#a9a9aa !important;
	font-weight:bold;
	font-size:11px;
	text-transform:uppercase;
}
.upcomingItemHoverContainer div, #soldOutHover div {
	color:#fff;
}
#soldOutHover {
	top:100px;
}
.divSecondaryTimer {
	font-weight:bold;
}
.upcomingItemContainer .img {
	border:1px solid #ccc;
	height:108px;
	width:108px;
	/*background-image:url(/productpics/big/anodized-aluminum-pencil-shaped-stylus-for-capacitive-touchscreens-blue-24824.jpg);*/
	background-repeat:none;
	background-size:110px 110px;

	border-radius: 8px;
	-moz-border-radius: 8px;
	-khtml-border-radius: 8px;
	-webkit-border-radius: 8px;
	
	float:left;
	margin-right:10px;
	
	overflow:hidden;
}
.upcomingItemContainer .desc {
	width:175px;
	height:57px;
	overflow:hidden;
	-o-text-overflow: ellipsis;
	-webkit-text-overflow: ellipsis;
	text-overflow: ellipsis;
}
.upcomingItemContainer .priceDeal {
	font-weight:bold;
	color:#cc0000;
	margin-top:4px;
}
.upcomingItemContainer .priceRetail {
	text-decoration:line-through;
}
.padlock {
	background:#a9a9aa url(/images/lightningDeal/CO-Black-Friday-Lock-Icon.png) no-repeat 20px 5px;	
	width:60px;
	height:40px;
	position:absolute;
	top:-15px;
	left:122px;
	border-radius: 0 0 30px 30px;
	-moz-border-radius: 0 0 30px 30px;
	-khtml-border-radius: 0 0 30px 30px;
	-webkit-border-radius: 0 0 30px 30px;
}
#divExtremeDeals {
	position:absolute;
	top:575px;
	right:57px;

	background:url(/images/lightningDeal/CO-Black-Friday-Bulls-Eye.png) no-repeat 0px 4px;
	padding-left:42px;
	color:#666;
	height:35px
}
#divExtremeDeals h2 {
	font-weight:bold;
	text-transform:uppercase;
	color:#666;
	font-size:12px;
	line-height:0px;
}
.squiggle {
	background:url(/images/lightningDeal/CO-Black-Friday-Product-Divider.png) no-repeat;
	width:345px;
	height:32px;
	position:absolute;
	top:134px;
	right:14px;
}

/********************************************/



.mask { background:#FFF; position:absolute; }
.bl {
	left:0px;
	bottom:0px;
}
.br {
	right:0px;
	bottom:0px;
}
#FiftyFourBlock {
	width:54px;
	height:30px;
}
#FiftyFourTriangle {
	height:0px;
	width:0px;
	/*border-left:transparent;
	border-top:transparent;*/
	border-color: #EBEBEB #FFF #FFF #EBEBEB;
	border-style:solid;
	border-width:15px 15px 15px 15px;
	right:54px;
}
#divWideStripAtBottom {
	height:38px;
	width:100%;
}
.hide {
	display:none;
}
.hr {
	margin:20px 0 0px 0;
	width:100%;
	border-bottom:1px solid #ccc;
}
.hrGrid {
	/*margin:0px 0 40px 0;*/
	clear:both;
}
.hrMini {
	margin:3px 0 0px 0;
	width:100%;
	border-bottom:1px solid #ccc;
}	


/******************************************************/

#divLowerPortion {
	/*padding-top:696px;
	background-color:lightyellow;*/
}
.divOtherProducts {
	color:#666;
	clear:both;
	/*padding-top:20px;*/
	padding:20px 0 10px 0;
}
.divSectionTitle {
	margin:20px 0 10px 0;
	
	width:962px;
	height:42px;

	border-radius: 8px;
	-moz-border-radius: 8px;
	-khtml-border-radius: 8px;
	-webkit-border-radius: 8px;

	/*
	Goofy in IE
	-moz-box-shadow:    inset 0px 1px 1px 1px #808080;
	-webkit-box-shadow: inset 0px 1px 1px 1px #808080;
	box-shadow:         inset 0px 1px 1px 1px #808080;*/

	overflow:hidden;
}
.divSectionTitle div {
	width:100%;
	height:100%;
	background: #a5a3a4; /* Old browsers */
	background: -moz-linear-gradient(top,  #a5a3a4 0%, #363636 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a5a3a4), color-stop(100%,#363636)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #a5a3a4 0%,#363636 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #a5a3a4 0%,#363636 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #a5a3a4 0%,#363636 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #a5a3a4 0%,#363636 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a5a3a4', endColorstr='#363636',GradientType=0 ); /* IE6-9 */
}
.divOtherProducts h2 {
	color:#fff;
	font-size:17px;
	line-height:42px;
	padding:0;
	margin:0;
	text-indent:1.0em;
	
	text-shadow: 0px 2px 2px #424242;
	white-space:nowrap;
}
.divSectionTitle img {
	position:relative;
	top:7px;
}
.divOtherProducts h2 span {
	font-weight:bold;
}
.divOnSale {
	/**/
}
.strike {
	text-decoration:line-through;
}
.divOnSaleSingle {
	width:20%;
	min-height:200px;
	float:left;
	position:relative;
	text-align:center;
	padding-top:20px;
	padding-bottom:20px;
}
.divPhoto {
	width:146px;
	height:146px;
	/*background-image:url(/productpics/big/apple-iphone-5-panda-protector-faceplate.jpg);*/
	background-size:146px 146px;
	background-repeat:no-repeat;
	margin-left:auto;
	margin-right:auto;
}
.divTitle {
	margin-top:1.0em;
	line-height:18px;
	height:38px;
	overflow:hidden;
	-o-text-overflow: ellipsis;
	-webkit-text-overflow: ellipsis;
	text-overflow: ellipsis;
}
.divExclamation {
	line-height:24px;
	color:#c00;
	font-weight:bold;
}
.divStartingAt {
	line-height:18px;
	margin-bottom:2.0em;
}
.divShopNowButton {
	width:117px;
	height:29px;

	background: #1ba907; /* Old browsers */
	background: -moz-linear-gradient(top,  #1ba907 0%, #1f7103 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1ba907), color-stop(100%,#1f7103)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #1ba907 0%,#1f7103 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #1ba907 0%,#1f7103 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #1ba907 0%,#1f7103 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #1ba907 0%,#1f7103 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1ba907', endColorstr='#1f7103',GradientType=0 ); /* IE6-9 */
	
	font-weight:bold;
	text-transform:uppercase;
	line-height:29px;
	color:#fff;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}
.clear {
	clear:both;
}

/****************************************************/

#divExpandedDetails {
	background:#fff;
	width:552px;
	min-height:350px;
	padding:20px;
	border:10px solid #EBEBEB;
	border-top:none;
	position:absolute;
	top:560px;
	left:0px;
	z-index:12;
}
.hideBorder {
	border-bottom-width: 0px !important;
	/*border:10px solid orange !important;
	border-top:none !important;*/
}
#divExpandedDetailsContainer {
	color:#666;
}
#divExpandedDetailsContainer h2 {
	text-transform:uppercase;
	color:#666;
	font-weight:bold;
}
#divExpandedDetailsContainer ul {
	padding-left:2.0em;
}
#divExpandedDetailsContainer ul li {
	line-height:24px;
	font-size:11px;
}
#divExpandedDetailsContainer p {
	line-height:24px;
}
.fDate {
	float:right;
	font-style:italic;
	margin-top:20px;
	font-size:11px;
}
#divExpandedDetailsContainer h3 {
	color:#666;
	font-size:24px;
	font-weight:normal;
}
#divSquareStars {
	width:200px;
	margin-top:20px;
}
.squareStar {
	width:25px;
	height:24px;
	display:inline-block;
	text-align:center;
	margin-right:3px;
}
.ssFull {
	background:url(/images/blackFriday2012/star-lrg-full.png) no-repeat 0px 0px;
}
.ssEmpty {
	background:url(/images/blackFriday2012/star-lrg-empty.png) no-repeat 0px 0px;
}
#divReviewContainer {
	margin-top:20px;
}
#divProductFeatures {
	
}
#divProductDetails {
	margin-top:3.0em;
}
#divProductReviews {
	margin-top:3.0em;
}
#revBy {
	font-weight:bold;
	text-transform:uppercase;
}
#divFeaturedItemDetailsContainer {
	position:absolute;
	top:530px;
	left:12px;
	width:552px;
	height:39px;
	background:url(/images/lightningDeal/CO-Black-Friday-View-Details.png) no-repeat 46px 0px;
}
#divButtonShowToggle {
	width:117px;
	margin-left:224px;
	margin-top:8px;
	text-align:center;	
	/*padding-right:140px;*/
	/*padding-left:20px;*/
	text-transform:uppercase;
	font-weight:bold;
	color:#666;
	/*line-height:8px;
	height:18px;*/
}
.arrowUp {
	/*background:url(/images/blackFriday2012/show-details-up-arrow.png) no-repeat right 0px !important;
}
.clickable {
	cursor:pointer;
}

