#rightSideItems { display:none; }
#rightSideTestimonial1 { display:; }
#rightSideTestimonial2 { display:none; }
#relatedItems_new { display:; }

#buyNow1 { width:400px; padding-left:20px; }
#detailTabs { width:780px; }
#detailBars { width:780px; }
#trustLogos { width:780px; }
#googleAd { width:780px; }