#buyNow1 { display:; background-color:#ebebeb; border:1px solid #999; border-radius:15px; }
#buyNow2 { display:none; }
#detailTabs { display:none; }
#detailBars { display:; }

#itemDesc_1 { display:none; }
#itemDesc_2 { display:; }