/* CSS Document */

.fieldWrapper-HL	{ border:2px solid #cd0000; width:398px; height:24px; padding-top:7px; text-align:center; margin:5px 0px 5px 0px; background-color:#ffece8; position:relative; }
.fieldWrapper		{ border:1px solid #b2b2b2; width:400px; height:25px; padding-top:8px; text-align:center; margin:5px 0px 5px 0px; background-color:#fff; position:relative; }
.frmField-HL		{ width:390px; border:0px; background-color:#ffece8; color:#cd0000; }
.frmField			{ width:390px; border:0px; color:#999; }
.darkGreenRoundBox	{ border:1px solid #64c6af; border-radius:10px; background-color:#17A51D; }
.orangeRoundBox		{ border:1px solid #ff6600; border-radius:10px; background-color:#ff6600; }
.greyRoundBox		{ border:1px solid #e6e6e6; border-radius:10px; background-color:#e6e6e6; }	
.greenRoundBox		{ border:1px solid #64c6af; border-radius:10px; background-color:#64c6af; }
.contactEmail		{ width:400px; height:25px; padding:5px; color:#666; font-size:15px; border:1px solid #ccc; -moz-box-shadow: inset 0 0 1px 1px #ccc; -webkit-box-shadow: inset 0 0 1px 1px #ccc; box-shadow: inset 0 0 1px 1px #ccc; }
.contactContent		{ width:400px; height:150px; padding:5px; color:#666; font-size:15px; border:1px solid #ccc; -moz-box-shadow: inset 0 0 1px 1px #ccc; -webkit-box-shadow: inset 0 0 1px 1px #ccc; box-shadow: inset 0 0 1px 1px #ccc; vertical-align:top; }	

.form	{ text-align:left; }
.tracking-form{float:left;margin:20px;background:#f2f2f2;width:795px;border-radius:10px;padding:20px 60px;font-size:14px;}
.track-zip-email{float:left;width:349px;margin:0 25px 0 20px;padding:0 25px 0 0;border-right:2px solid #ccc;}
.track-order-number{float:left;}
.track-title{font-weight:bold;display:block;margin:0 0 20px 0; font-size:16px;}
.field-label{font-weight:normal;display:block;margin:0 0 10px 0;font-weight:bold;font-size:14px;}
.field-label .asterisk{color:#ff6600;font-weight:bold;}
.field{display:block;margin:0 0 10px 0;}
.field input{border:1px solid #999;padding:5px;font-size:14px;width:335px;color:#999;height:20px;font-family:Arial,sans-serif;}
.field input.error{border:#cd0000;background:#ffece8;border:2px solid #cd0000;color:#cd0000;font-family:Arial,sans-serif;}
.field span.error-msg{font-size:10px;color:#cd0000;display:block;margin:5px 0 0 0;font-weight:bold;}
.submit-container{float:left;width:795px;text-align:center;margin:30px 0 30px 0;}
.track-your-order{background: url("/images/orderstatus/TrackMyOrder-CTA-Bar.png") repeat-x;height: 72px;width: 400px;color: #fff;font-size: 30px;font-weight: bold;border: 0px;border-radius: 5px;cursor: pointer;box-shadow: 2px 5px 5px #666;}
.divider{width:775px;height:1px;border-top:1px solid #ccc;float:left;margin:0 10px 20px 10px;}
.subdivider{width:775px;border-bottom:1px solid #fff;float:left;}
.shipping-notes{width:795px;float:left;text-align:center;margin:10px 0 0 0;color:#555;font-size:14px;}
.info{background:url("/images/orderstatus/OrderHasntShippedInfo-Bar.png") no-repeat;width:572px;height:20px;float:left;margin:0 0 30px 40px;padding:30px 15px 30px 110px;border-radius:10px;font-size:16px;color:#fff;font-weight:bold;}
.info a:link, .info a:visited{font-weight:bold;color:#5fb6fd;text-decoration:none;}
.info a:hover, .info a:active{font-weight:bold;color:#5fb6fd;text-decoration:underline;}
.shipping-logos {width:347px;float:left;margin:0 0 0 151px;}
.shipping-logos .label{float:left;font-size:14px;padding:25px 0;}
.shipping-logos .ups{float:left;margin:0 0 0 30px;background:url("/images/orderstatus/UPS-Icon.png") no-repeat;width:58px;height:69px;}
.shipping-logos .usps{float:left;margin:0 0 0 30px;background:url("/images/orderstatus/USPS-Icon.png") no-repeat;width:78px;height:65px;}
