h1 {	color: #333333;}
.product-review 	{	font-size: 11px; font-weight: normal; text-decoration: none;	}
.prodTab_off { float:left; border-top:1px solid #ccc; border-bottom:1px solid #ccc; height:25px; background-color:#f0f0f0; cursor:pointer; }
.prodTab_on { float:left; border-top:1px solid #ccc; height:26px; background-color:#fff; }
#detailBars { width:780px; }

.buyNowDetailRow { margin:10px 10px; }
.itemBuyNowTitle { width:160px; text-align:left; font-size:13px; font-weight:bold; }
.itemBuyNowTitle2 { width:160px; text-align:left; }
.itemRetailValue { font-size:22px; text-decoration:line-through; }
.itemSaveValue { font-size:14px; }
.sitewideSale { color:#cc0000; font-weight:bold; font-size:13px; }
.saleCountdown { padding:4px 5px 8px 5px; border:1px solid #990000; margin-right:5px; text-align:center; border-radius:5px; width:18px; height:12px; background-image:url(/images/backgrounds/saleCountdown.gif); color:#FFF; font-weight:bold; font-size:14px; }
.countdownTitles { margin:2px 0px 0px 162px; }
.saleCountdownTitle { width:28px; text-align:center; margin-right:6px; font-weight:bold; font-size:11px; }
.itemBuyNowQty { font-size:13px; font-weight:bold; padding-top:12px; }
.qtyBox { margin:0px 7px; padding-top:12px; }
.qtyField { width:25px; text-align:center; border-radius:5px; }
.paymentOptions { background-image:url(/images/icons/paymentOptions.gif); width:222px; height:23px; }
.productCheckRow { margin-bottom:10px; }
.saleTimeLeft { border:1px solid #CCC; border-radius:5px; padding:4px 9px; }
.clockIcon { background-image:url(/images/icons/saleClock.gif); width:40px; height:40px; }
.saleTimeText { width:340px; margin-left:10px; font-size:13px; margin-top:5px; }

.alertField	{ border:1px solid #cd0000; /*color:#cd0000; background-color:#ffece8;*/ }