#slides1	.slides_container 			{ display:none; }
/*#slides1	.slides_container div.slide { width:460px; height:340px; }*/
#slides1	.pagination 				{ position:absolute; top:8px; right:30px; display:inline-block; z-index:5; }
#slides1	.pagination li 				{ float:left; margin:0 2px; list-style:none; }
#slides1	.pagination li a 			{ float:left; display:inline-block; width:20px; height:0px; padding-top:20px; background-image:url(/images/brand-sub/dot-gray.png); background-position:0 0; overflow:hidden; }
#slides1	.pagination li.current a 	{ background-image:url(/images/brand-sub/dot-blue.png);}
#slides1	.item						{ float:left;}

#slides2	.slides_container 			{ display:none; }
/*#slides2	.slides_container div.slide { width:460px; height:340px; }*/
#slides2	.pagination 				{ position:absolute; top:8px; right:30px; display:inline-block; z-index:5; }
#slides2	.pagination li 				{ float:left; margin:0 2px; list-style:none; }
#slides2	.pagination li a 			{ float:left; display:inline-block; width:20px; height:0px; padding-top:20px; background-image:url(/images/brand-sub/dot-gray.png); background-position:0 0; overflow:hidden; }
#slides2	.pagination li.current a 	{ background-image:url(/images/brand-sub/dot-blue.png);}
#slides2	.item						{ float:left;}

/*
#slides_mainbanner	.pagination 				{ position:absolute; bottom:0px; left:0px; display:inline-block; z-index:5; }
#slides_mainbanner	.pagination li 				{ float:left; margin:0 1px; list-style:none; }
#slides_mainbanner	.pagination li a 			{ display:inline-block; width:12px; height:0; padding-top:12px; background-image:url(/images/template/index/pagination.png); background-position:0 0; float:left; overflow:hidden; }
#slides_mainbanner	.pagination li.current a 	{ background-position:0 -12px; }
*/

.blue-arrow-left		{ position:absolute; z-index:6; width:20px; height:20px; background:url(/images/brand-sub/arrow-left-gray.png) no-repeat; cursor:pointer; float:left;}
.blue-arrow-left:hover	{ position:absolute; z-index:6; width:20px; height:20px; background:url(/images/brand-sub/arrow-left-blue.png) no-repeat; cursor:pointer; float:left;}
.blue-arrow-right		{ position:absolute; z-index:6; width:20px; height:20px; background:url(/images/brand-sub/arrow-right-gray.png) no-repeat; cursor:pointer; float:left;}
.blue-arrow-right:hover	{ position:absolute; z-index:6; width:20px; height:20px; background:url(/images/brand-sub/arrow-right-blue.png) no-repeat; cursor:pointer; float:left;}