.body { margin: 0px; padding: 0px; background-image: url("/images/mainbg.jpg"); background-repeat:no-repeat; background-position: center top; font-family:Arial, Helvetica, sans-serif; }
a.cat-font2 { font-size: 12px; color: #ffffff; text-decoration: none; font-weight: bold; }
a.cat-font2:hover { font-size: 12px; color: #ffffff; text-decoration: underline; font-weight: bold; }
a { font-size: 12px; color: #0695cf; font-weight:bold; text-decoration: none; }
a:hover { font-size: 12px; color: #0695cf; font-weight:bold; text-decoration: underline; }
.inputbox { font-size: 11px; color: #666666; text-decoration: none; border: 1px solid #D6D6D6; }
.top-text-grey { font-size: 11px; color: #515050; text-decoration: none; padding-left: 10px; margin-left: 10px; }
.nevi-font-bold { font-size: 14px; color: #000000; font-weight: bold; }
a.bottom-nevi-font { font-size: 11px; color: #7f7f7f; text-decoration: none; }
a.bottom-nevi-font:hover { font-size: 11px; color: #7f7f7f; text-decoration: underline; }

/*
Copyright (c) 2008, Yahoo! Inc. All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.net/yui/license.txt
version: 2.6.0
*/
#nxt-ac-container{position:absolute;width:20em;z-index:9050;}
#nxt-ac-container .yui-ac-content{position:absolute;width:100%;border:1px solid #808080;background:#fff;overflow:hidden;z-index:9050;}
#nxt-ac-container .yui-ac-content ul{margin:0;padding:0;width:100%;text-align:left;font-family:arial;}
#nxt-ac-container .yui-ac-content li{margin:0;padding:2px 5px;cursor:default;white-space:nowrap;}
#nxt-ac-container .yui-ac-content li.yui-ac-highlight{background:#426FD9;color:#FFF;}

body #google_amark_b, body #google_amark_b * { text-align:left !important; padding:0 !important; margin:0 !important; border:0 !important; position:relative !important; font-weight:normal !important; text-decoration:none !important; font-size:11px !important; font-family:Arial, sans-serif !important; background:#fff !important; float:none !important; }
#google_amark_b .m img, #google_amark_b #t img, #google_amark_b #x a { display:block !important; }
#google_amark_b .h { position:absolute !important; width:325px !important; border:1px solid #ccc !important; }
#google_amark_b #t { padding:6px 0 1px 0px !important; }
#google_amark_b #l { left:10px !important; }
#google_amark_b #x { position:absolute !important; right:0px !important; top:0px !important; border-left:1px solid #ccc !important; border-bottom:1px solid #ccc !important; }
#google_amark_b #c { padding:5px 10px 10px 10px !important; color:#676767 !important; border-top:1px solid #ccc !important;  }
#google_amark_b #c p { padding:5px 0 0 0 !important; }
#google_amark_b #c p.p { padding:0 !important; }
#google_amark_b #c p.p img { top: 5px !important; }
#google_amark_b #c p a:link, #google_amark_b #c p a:visited { color:#0000CC !important; text-decoration:underline !important; }

/* Site Framework */
#logo { width: 320px; height: 90px; background: url(/images/stitch/top.jpg) 0px 0px no-repeat; cursor:pointer; }
#verisignLogo { width: 80px; height: 45px; background: url(/images/stitch/top.jpg) -485px -178px no-repeat; cursor:pointer; }
#lowestPrice { width: 194px; height: 54px; background: url(/images/stitch/top.jpg) -321px 0px no-repeat; cursor:pointer; }
#shopBrands { width: 193px; height: 21px; background: url(/images/stitch/top.jpg) -3px -91px no-repeat; }
#shopCarriers { width: 193px; height: 21px; background: url(/images/stitch/top.jpg) -3px -113px no-repeat; }
#conFB { width: 40px; height: 40px; background: url(/images/stitch/top.jpg) -379px -137px no-repeat; cursor:pointer; }
#conTw { width: 40px; height: 40px; background: url(/images/stitch/top.jpg) -420px -137px no-repeat; cursor:pointer; }
#conBL { width: 40px; height: 40px; background: url(/images/stitch/top.jpg) -461px -137px no-repeat; cursor:pointer; }
#viewCart { width: 160px; height: 28px; background: url(/images/stitch/top.jpg) -372px -55px no-repeat; cursor:pointer; }
#googleChkOutImg { width: 72px; height: 73px; background: url(/images/stitch/top.jpg) -505px -84px no-repeat; cursor:pointer; }
#ccImg { width: 283px; height: 26px; background: url(/images/stitch/top.jpg) -201px -205px no-repeat; }
#tellFriend { width: 177px; height: 31px; background: url(/images/stitch/top.jpg) -201px -139px no-repeat; cursor:pointer; }
#bookmark { width: 177px; height: 31px; background: url(/images/stitch/top.jpg) -201px -171px no-repeat; cursor:pointer; }
#searchBttn { width: 36px; height: 28px; background: url(/images/stitch/top.jpg) -335px -55px no-repeat; cursor:pointer; }
#searchLeft { width: 13px; height: 28px; background: url(/images/stitch/top.jpg) -321px -55px no-repeat; }
#nextopia { width: 107px; height: 29px; background: url(/images/stitch/top.jpg) -178px -70px no-repeat; }
#bbb { width: 135px; height: 52px; background: url(/images/stitch/top.jpg) -369px -84px no-repeat; cursor:pointer; }
#truste { width: 171px; height: 47px; background: url(/images/stitch/top.jpg) -197px -91px no-repeat; cursor:pointer; }
#shopWiki { width: 99px; height: 77px; background: url(/images/stitch/top.jpg) -101px -139px no-repeat; cursor:pointer; }
#inc5000 { width: 100px; height: 71px; background: url(/images/stitch/top.jpg) -0px -135px no-repeat; }
#mainMenuBr { width: 2px; height: 36px; background: url(/images/stitch/top.jpg) -0px -91px no-repeat; }
#mainMenuBg { width: 1px; height: 36px; background: url(/images/stitch/top.jpg) -516px -0px no-repeat; }
#searchBg { width: 1px; height: 28px; background: url(/images/stitch/top.jpg) -518px -0px no-repeat; }
#newsletterSub { width: 19px; height: 19px; background: url(/images/stitch/top.jpg) -379px -178px no-repeat; cursor:pointer; }
#btmBoxBtmRight { width: 10px; height: 26px; background: url(/images/stitch/top.jpg) -399px -178px no-repeat; }
#btmBoxTopRight { width: 9px; height: 19px; background: url(/images/stitch/top.jpg) -410px -178px no-repeat; }
#btmBoxBtmLeft { width: 9px; height: 26px; background: url(/images/stitch/top.jpg) -420px -178px no-repeat; }
#btmBoxTopLeft { width: 9px; height: 19px; background: url(/images/stitch/top.jpg) -430px -178px no-repeat; }
.top-sublink-blue { font-size: 11px; color:#3399CC; text-decoration: none; }
h1 { font-family: Arial, Helvetica, sans-serif; font-size: 18px; color: #3399CC; margin: 0px; padding: 0px; }
a.top-sublink-gray { font-size: 11px; color: #999999; text-decoration: none; }
a.top-sublink-gray:hover { font-size: 11px; color: #999999; text-decoration: underline; }
.static-content-font { font-size: 12px; font-weight: normal; color: #666666; text-align: justify; padding-right:20px; }
.headerText { font-size: 18px; font-weight: normal; color: #000000; }
.activeBigTab { background-image:url(/images/activeBigTab.gif); padding-left:10px; border-bottom:1px solid #FFF; }
.inactiveBigTab { background-color:#272727; padding-left:10px; border-bottom:1px solid #FFF; }
.topsale { font-size: 12px; font-weight: normal; color: #0099CC; text-decoration: none; }
a.topsale-link:link { font-size: 12px; font-weight: normal; color: #0099CC; text-decoration: none; }
a.topsale-link:hover { font-size: 12px; font-weight: normal; color: #0099CC; text-decoration: underline; }

/* index images */
/*#banner { width: 620px; height: 275px; background: url(/images/stitch/index.jpg) 0px 0px no-repeat; cursor:pointer; }*/
#spotlight { width: 169px; height: 200px; background: url(/images/stitch/index.jpg) -621px -0px no-repeat; }
#newArrivals { width: 232px; height: 41px; background: url(/images/stitch/index.jpg) -621px -201px no-repeat; }
#topItems { width: 232px; height: 41px; background: url(/images/stitch/index.jpg) -621px -243px no-repeat; }
#topModels { width: 232px; height: 41px; background: url(/images/stitch/index.jpg) -621px -285px no-repeat; }