/*.body { margin: 0px; padding: 0px; background-image: url("/images/mainbg.jpg"); background-repeat:no-repeat; background-position: center top; font-family:Arial, Helvetica, sans-serif; }*/
.body { margin: 0px; padding: 0px; background:url(/images/template/background-pattern.jpg) repeat; font-family:Arial, Helvetica, sans-serif; }

.fl { float:left; }
.fr { float:right; }
.tb { display:table; }
.mCenter { margin:0px auto; }
.hide { display:none; }
.mr5 { margin-right:5px; }
.mr15 { margin-right:15px; }
.lt { text-decoration:line-through; }
.pt { cursor:pointer; }

.onSale { background:url(/images/co-sale-icon.png) no-repeat 0px 20px; }
.clickable { cursor:pointer; }

.left_nav { font-size: 14px; color: #000; text-decoration: none; }
a.left_nav:hover { font-size: 14px; color: #000; text-decoration: underline; }

left_nav2 { font-size: 14px; color: #000; text-decoration: none; }
a.left_nav2:hover { font-size: 14px; color: #000; text-decoration: underline; }

h1 { font-size: 18px; color: #3399CC; margin: 0px; padding: 0px; }
.activeBigTab { background-image:url(/images/activeBigTab.gif); padding-left:10px; }
.inactiveBigTab { background-color:#272727; padding-left:10px; }
.top-link { font-size: 12px; font-weight: bold; color: #FFF; text-decoration: none; }
.blue-title { font-size: 14px; color: #0066CC; text-decoration: none; }
.lowestPrice { font-size: 14px; color: #2468bb; font-weight:bold; text-decoration: none; }
.red-title { font-size: 14px; color: #FF0000; text-decoration: none; }
.cat-font { font-size: 14px; color: #666666; text-decoration: none; font-weight: normal; }
a.cat-font2 { font-size: 12px; color: #FFF; text-decoration: none; font-weight: normal; }
a.cat-font2:hover { font-size: 12px; color: #FFF; text-decoration: underline; font-weight: normal; }
.price-font { font-size: 13px; color: #666666; font-style: italic; text-decoration: none; font-weight: normal; }
.top-text-grey { font-size: 11px; color: #515050; text-decoration: none; padding-left: 10px; margin-left: 10px; }
.headerText { font-size: 18px; font-weight: normal; color: #000; }
.medium-grey { font-size: 13px; font-weight: bold; color: #999999; }
.product-description { font-size: 12px; color: #000; text-decoration:none; text-align:justify; }
.mc-text { font-size: 12px; color: #000; text-decoration: none; }
.mc-text2 { font-size: 13px; color: #000; text-decoration: none; }
.static-content-font { font-size: 12px; font-weight: normal; color: #666666; text-decoration: none; text-align: justify; padding-right:20px; }
a.static-content-font-link { font-size: 12px; font-weight: normal; color: #666666; text-decoration: none; text-align: justify; padding-right:20px; }
a.static-content-font-link:hover { font-size: 12px; font-weight: normal; color: #666666; text-decoration: underline; text-align: justify; padding-right:20px; }
.orange-subtitle { font-size: 13px; color: #ff8222; text-decoration: none; }
.contain-reale-pro { font-size: 13px; color: #666666; font-weight: normal; text-decoration: none; padding-left: 15px; }
.nevi-font-bold { font-size: 14px; color: #000; text-decoration: none; font-weight: bold; }
a.bottom-nevi-font { font-size: 11px; color: #7f7f7f; text-decoration: none; }
a.bottom-nevi-font:hover { font-size: 11px; color: #7f7f7f; text-decoration: underline; }
.top-text-black { font-size: 12px; color: #000; }
.top-text-grey { font-size: 11px; color: #515050; text-decoration: none; }
.checkout-text { font-size: 12px; color: #000; font-weight: normal; }
.checkout-blue { font-size: 12px; color: #3399CC; font-weight: bold; }
.blue-star { font-size: 14px; color: #3399CC; font-weight: bold; }
.cart-text { font-size: 11px; color: #666666; text-decoration: none; font-weight: bold; }
.red-price { font-size: 32px; color: #CC0033; font-weight: bold; }
.red-price-small { font-size: 13px; color: #CC0033; font-weight: bold; }
a.top-click-here { font-size: 14px; color: #0695cf; font-weight:bold; text-decoration: none; }
a.top-click-here:hover { font-size: 14px; color: #0695cf; font-weight:bold; text-decoration: underline; }
a.text-desc-link { font-size: 12px; color: #0695cf; font-weight:bold; text-decoration: none; }
a.text-desc-link:hover { font-size: 12px; color: #0695cf; font-weight:bold; text-decoration: underline; }

a { font-size: 12px; color: #0695cf; font-weight:bold; text-decoration: none; }
a:hover { font-size: 12px; color: #0695cf; font-weight:bold; text-decoration: underline; } 

.title { font-size: 14px; color: #000; }

.top-sublink-blue { font-size: 11px; color:#3399CC; text-decoration: none; }
.top-sublink-gray { font-size: 11px; color: #999999; text-decoration: none; padding-top:5px; }
a.top-sublink-gray:link { font-size: 11px; color: #999999; text-decoration: none; }
a.top-sublink-gray:visited { font-size: 11px; color: #999999; text-decoration: none; }
a.top-sublink-gray:active { font-size: 11px; color: #999999; text-decoration: none; }
a.top-sublink-gray:hover { font-size: 11px; color: #999999; text-decoration: underline; }

.topsale { font-size: 12px; font-weight: normal; color: #0099CC; text-decoration: none; }
.topsale-link		 	{ font-size: 12px; font-weight: normal; color: #0099CC; text-decoration: none; }
a.topsale-link:link 	{ font-size: 12px; font-weight: normal; color: #0099CC; text-decoration: none; }
a.topsale-link:visited 	{ font-size: 12px; font-weight: normal; color: #0099CC; text-decoration: none; }
a.topsale-link:active 	{ font-size: 12px; font-weight: normal; color: #0099CC; text-decoration: none; }
a.topsale-link:hover 	{ font-size: 12px; font-weight: normal; color: #0099CC; text-decoration: underline; }

a.red-price-link:link { font-size: 13px; color: #CC0033; font-weight: bold; text-decoration: none; }
a.red-price-link:visited { font-size: 13px; color: #CC0033; font-weight: bold; text-decoration: none; }
a.red-price-link:active { font-size: 13px; color: #CC0033; font-weight: bold; text-decoration: none; }
a.red-price-link:hover { font-size: 13px; color: #CC0033; font-weight: bold; text-decoration: underline; }

a.blue-header:link { font-size: 16px; color: #3399CC; font-weight: bold; text-decoration: none; }
a.blue-header:visited { font-size: 16px; color: #3399CC; font-weight: bold; text-decoration: none; }
a.blue-header:active { font-size: 16px; color: #3399CC; font-weight: bold; text-decoration: none; }
a.blue-header:hover { font-size: 16px; color: #3399CC; font-weight: bold; text-decoration: underline; }

a.bold-text { font-size: 13px; color: #000; text-decoration: none; }
a.bold-text:hover { font-size: 13px; color: #000; text-decoration: underline; }

a.itemDesc-small { font-size: 12px; color: #000; text-decoration: none; }
a.itemDesc-small:hover { font-size: 12px; color: #000; text-decoration: underline; }

a.cellphone-font { font-size: 13px; color: #3399CC; font-weight: bold; text-decoration: none; }
a.cellphone-font:hover { font-size: 13px; color: #3399CC; font-weight: bold; text-decoration: underline; }

a.product-cart { font-size: 12px; color: #999999; font-weight: bold; text-decoration: none; }
a.product-cart:hover { font-size: 12px; color: #999999; font-weight: bold; text-decoration: underline; }

a.product-checkout { font-size: 12px; color: #666666; font-weight: bold; text-decoration: none; }
a.product-checkout:hover { font-size: 12px; color: #666666; font-weight: bold; text-decoration: underline; }

a.link-cart { font-size: 10px; color: #999999; font-weight: bold; text-decoration: none; }
a.link-cart:hover { font-size: 10px; color: #999999; font-weight: bold; text-decoration: underline; }

.inputbox { font-size: 11px; color: #666666; border: 1px solid #D6D6D6; }
.cate-pro-border { border: 1px solid #dbdbdb; }

/* old css */
.top-text-red {
	font-size: 11px;
	color: #d01d00;
}
.top-text-orange {
	font-size: 11px;
	color: #f96900;
}
.shop-by-horizon-line {
	border-top: 1px solid #dbdbdb;
	border-bottom: 1px solid #dbdbdb;
}
.pro-title {
	font-size: 12px;
	color: #828282;
	text-decoration: none;
	text-align:left;
}
a.pro-title-link { font-size: 12px; color: #828282; text-decoration: none; text-align:left; }
a.pro-title-link:hover { font-size: 12px; color: #828282; text-decoration: underline; text-align:left; }
.top-ten-text {
	font-size: 11px;
	color: #828282;
	text-decoration: none;
}
.top-ten-text-red {
	font-size: 11px;
	color: #d01d00;
	text-decoration: none;
	font-weight: bold;
}
.peding-jwelphone {
	padding-left: 10px;
}
.inputbox2 {
	font-size: 11px;
	color: #7f7f7f;
	text-decoration: none;
	width: 20px;
	border: 1px solid #adadad;
	text-align: center;
}
.content-bold-blue {
	font-size: 12px;
	font-weight: bold;
	color: #087db4;
	text-decoration: none;
	line-height: 18px;
	padding-left: 20px;
}
.textfield {
	font-size: 12px;
	font-weight: normal;
	color: #7f7f7f;
	text-decoration: none;
	background-color: #FFF;
	border: 1px solid #d5d7d7;
	padding-left: 2px;
}
.cellphone-category-font {
	font-size: 11px;
	color: #434343;
	text-decoration: none;
	line-height: 16px;
}
a.cellphone-category-font-link { font-size: 11px; color: #434343; text-decoration: none; line-height: 16px; }
a.cellphone-category-font-link:hover { font-size: 11px; color: #434343; text-decoration: underline; line-height: 16px; }
.cate-pro-border-bottomless {
	border-style: solid;
	border-width: 1px 1px 0px 1px;
	border-color: #dbdbdb;
}

#ys_cart TABLE.ys_basket {
	BORDER-RIGHT: #c31919 1px solid;
	BORDER-TOP: #c31919 1px solid;
	BORDER-LEFT: #c31919 1px solid;
	WIDTH: 100%;
	BORDER-BOTTOM: #c31919 1px solid
}
TABLE.ys_basket {
	FONT: 11px/11px Arial,arial,verdana,sans-serif;
	WIDTH: 300px;
	BORDER-COLLAPSE: collapse
}
TABLE.ys_basket TD {
	BORDER-RIGHT: #ccc 1px solid;
	PADDING-RIGHT: 5px;
	BORDER-TOP: #ccc 1px solid;
	PADDING-LEFT: 5px;
	PADDING-BOTTOM: 5px;
	VERTICAL-ALIGN: top;
	BORDER-LEFT: #ccc 1px solid;
	PADDING-TOP: 5px;
	BORDER-BOTTOM: #ccc 1px solid;
	WHITE-SPACE: normal;
	empty-cells: show
}


/*.body { margin: 0px; padding: 0px; background-image: url("/images/mainbg.jpg"); background-repeat:no-repeat; background-position: center top; font-family:Arial, Helvetica, sans-serif; }*/
.body { margin: 0px; padding: 0px; background:url(/images/template/background-pattern.jpg) repeat; font-family:Arial, Helvetica, sans-serif; }
a.cat-font2 { font-size: 12px; color: #ffffff; text-decoration: none; font-weight: bold; }
a.cat-font2:hover { font-size: 12px; color: #ffffff; text-decoration: underline; font-weight: bold; }
a { font-size: 12px; color: #0695cf; font-weight:bold; text-decoration: none; }
a:hover { font-size: 12px; color: #0695cf; font-weight:bold; text-decoration: underline; }
.inputbox { font-size: 11px; color: #666666; text-decoration: none; border: 1px solid #D6D6D6; }
.top-text-grey { font-size: 11px; color: #515050; text-decoration: none; padding-left: 10px; margin-left: 10px; }
.nevi-font-bold { font-size: 14px; color: #000000; font-weight: bold; }
a.bottom-nevi-font { font-size: 11px; color: #7f7f7f; text-decoration: none; }
a.bottom-nevi-font:hover { font-size: 11px; color: #7f7f7f; text-decoration: underline; }

/*
Copyright (c) 2008, Yahoo! Inc. All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.net/yui/license.txt
version: 2.6.0
*/
#nxt-ac-container{position:absolute;width:20em;z-index:9050;}
#nxt-ac-container .yui-ac-content{position:absolute;width:100%;border:1px solid #808080;background:#fff;overflow:hidden;z-index:9050;}
#nxt-ac-container .yui-ac-content ul{margin:0;padding:0;width:100%;text-align:left;font-family:arial;}
#nxt-ac-container .yui-ac-content li{margin:0;padding:2px 5px;cursor:default;white-space:nowrap;}
#nxt-ac-container .yui-ac-content li.yui-ac-highlight{background:#426FD9;color:#FFF;}

body #google_amark_b, body #google_amark_b * { text-align:left !important; padding:0 !important; margin:0 !important; border:0 !important; position:relative !important; font-weight:normal !important; text-decoration:none !important; font-size:11px !important; font-family:Arial, sans-serif !important; background:#fff !important; float:none !important; }
#google_amark_b .m img, #google_amark_b #t img, #google_amark_b #x a { display:block !important; }
#google_amark_b .h { position:absolute !important; width:325px !important; border:1px solid #ccc !important; }
#google_amark_b #t { padding:6px 0 1px 0px !important; }
#google_amark_b #l { left:10px !important; }
#google_amark_b #x { position:absolute !important; right:0px !important; top:0px !important; border-left:1px solid #ccc !important; border-bottom:1px solid #ccc !important; }
#google_amark_b #c { padding:5px 10px 10px 10px !important; color:#676767 !important; border-top:1px solid #ccc !important;  }
#google_amark_b #c p { padding:5px 0 0 0 !important; }
#google_amark_b #c p.p { padding:0 !important; }
#google_amark_b #c p.p img { top: 5px !important; }
#google_amark_b #c p a:link, #google_amark_b #c p a:visited { color:#0000CC !important; text-decoration:underline !important; }

/* Site Framework */
#lhnchatimg { width: 133px; height: 28px; background: url(/images/stitch/top.jpg) 0px -92px no-repeat; cursor:pointer; }
#cartIcon { width: 27px; height: 28px; background: url(/images/stitch/top.jpg) -540px -15px no-repeat; cursor:pointer; }
#logo { width: 247px; height: 60px; background: url(/images/stitch/top.jpg) -183px 0px no-repeat; cursor:pointer; }
#prop90 { width: 182px; height: 46px; background: url(/images/stitch/top.jpg) 0px 0px no-repeat; cursor:pointer; }
#prop110 { width: 182px; height: 46px; background: url(/images/stitch/top.jpg) 0px -46px no-repeat; cursor:pointer; }
#searchBttn { width: 70px; height: 19px; background: url(/images/stitch/top.jpg) 0px -206px no-repeat; cursor:pointer; }
#shopByBrand { width: 130px; height: 16px; background: url(/images/stitch/top.jpg) -182px -74px no-repeat; margin-left:auto; margin-right:auto; }
#leftNavArrow { width: 15px; height: 15px; background: url(/images/stitch/top.jpg) -540px 0px no-repeat; float:right; }
#magGlass { width: 18px; height: 17px; background: url(/images/stitch/top.jpg) -540px -43px no-repeat; }
#cardDownArrow { width: 11px; height: 28px; background: url(/images/stitch/top.jpg) -558px -43px no-repeat; cursor:pointer; }
#topMenuBr { width: 5px; height: 28px; background: url(/images/stitch/top.jpg) -567px -0px no-repeat; }
#mainMenuBr { width: 3px; height: 30px; background: url(/images/stitch/top.jpg) -134px -92px no-repeat; }

#verisignLogo { width: 80px; height: 45px; background: url(/images/stitch/top.jpg) -485px -178px no-repeat; cursor:pointer; }
#lowestPrice { width: 194px; height: 54px; background: url(/images/stitch/top.jpg) -321px 0px no-repeat; cursor:pointer; }
#shopBrands { width: 193px; height: 21px; background: url(/images/stitch/top.jpg) -3px -91px no-repeat; }
#shopCarriers { width: 193px; height: 21px; background: url(/images/stitch/top.jpg) -3px -113px no-repeat; }
#conFB { width: 40px; height: 40px; background: url(/images/stitch/top.jpg) -379px -137px no-repeat; cursor:pointer; }
#conTw { width: 40px; height: 40px; background: url(/images/stitch/top.jpg) -420px -137px no-repeat; cursor:pointer; }
#conBL { width: 40px; height: 40px; background: url(/images/stitch/top.jpg) -461px -137px no-repeat; cursor:pointer; }
#viewCart { width: 160px; height: 28px; background: url(/images/stitch/top.jpg) -372px -55px no-repeat; cursor:pointer; }
#googleChkOutImg { width: 72px; height: 73px; background: url(/images/stitch/top.jpg) -505px -84px no-repeat; cursor:pointer; }
#ccImg { width: 283px; height: 26px; background: url(/images/stitch/top.jpg) -201px -205px no-repeat; }
#tellFriend { width: 177px; height: 31px; background: url(/images/stitch/top.jpg) -201px -139px no-repeat; cursor:pointer; }
#bookmark { width: 177px; height: 31px; background: url(/images/stitch/top.jpg) -201px -171px no-repeat; cursor:pointer; }
#searchLeft { width: 13px; height: 28px; background: url(/images/stitch/top.jpg) -321px -55px no-repeat; }
#nextopia { width: 107px; height: 29px; background: url(/images/stitch/top.jpg) -178px -70px no-repeat; }
#bbb { width: 135px; height: 52px; background: url(/images/stitch/top.jpg) -369px -84px no-repeat; }
#truste { width: 171px; height: 47px; background: url(/images/stitch/top.jpg) -197px -91px no-repeat; }
#shopWiki { width: 99px; height: 77px; background: url(/images/stitch/top.jpg) -101px -139px no-repeat; }
#inc5000 { width: 100px; height: 71px; background: url(/images/stitch/top.jpg) -0px -135px no-repeat; }
#mainMenuBg { width: 1px; height: 36px; background: url(/images/stitch/top.jpg) -516px -0px no-repeat; }
#searchBg { width: 1px; height: 28px; background: url(/images/stitch/top.jpg) -518px -0px no-repeat; }
#newsletterSub { width: 19px; height: 19px; background: url(/images/stitch/top.jpg) -379px -178px no-repeat; cursor:pointer; }
#btmBoxBtmRight { width: 10px; height: 26px; background: url(/images/stitch/top.jpg) -399px -178px no-repeat; }
#btmBoxTopRight { width: 9px; height: 19px; background: url(/images/stitch/top.jpg) -410px -178px no-repeat; }
#btmBoxBtmLeft { width: 9px; height: 26px; background: url(/images/stitch/top.jpg) -420px -178px no-repeat; }
#btmBoxTopLeft { width: 9px; height: 19px; background: url(/images/stitch/top.jpg) -430px -178px no-repeat; }
.top-sublink-blue { font-size: 11px; color:#3399CC; text-decoration: none; }
h1 { font-family: Arial, Helvetica, sans-serif; font-size: 18px; color: #3399CC; margin: 0px; padding: 0px; }
a.top-sublink-gray { font-size: 11px; color: #999999; text-decoration: none; }
a.top-sublink-gray:hover { font-size: 11px; color: #999999; text-decoration: underline; }
.static-content-font { font-size: 12px; font-weight: normal; color: #666666; text-align: justify; padding-right:20px; }
.headerText { font-size: 18px; font-weight: normal; color: #000000; }
.activeBigTab { background-image:url(/images/activeBigTab.gif); padding-left:10px; border-bottom:1px solid #FFF; }
.inactiveBigTab { background-color:#272727; padding-left:10px; border-bottom:1px solid #FFF; }
.topsale { font-size: 12px; font-weight: normal; color: #0099CC; text-decoration: none; }
a.topsale-link:link { font-size: 12px; font-weight: normal; color: #0099CC; text-decoration: none; }
a.topsale-link:hover { font-size: 12px; font-weight: normal; color: #0099CC; text-decoration: underline; }

/* index images */
/*#banner { width: 620px; height: 275px; background: url(/images/stitch/index.jpg) 0px 0px no-repeat; cursor:pointer; }*/
#spotlight { width: 169px; height: 200px; background: url(/images/stitch/index.jpg) -621px -0px no-repeat; }
#newArrivals { width: 232px; height: 41px; background: url(/images/stitch/index.jpg) -621px -201px no-repeat; }
#topItems { width: 232px; height: 41px; background: url(/images/stitch/index.jpg) -621px -243px no-repeat; }
#topModels { width: 232px; height: 41px; background: url(/images/stitch/index.jpg) -621px -285px no-repeat; }

.alertBoxHidden { color:#900; font-weight:bold; font-size:18px; border:2px solid #900; border-radius:10px; padding:15px; margin:100px 0px 100px 0px; margin-left:auto; margin-right:auto; width:450px; display:none; }
.alertBox { color:#900; font-weight:bold; font-size:18px; border:2px solid #900; border-radius:10px; padding:15px; margin:100px 0px 100px 0px; margin-left:auto; margin-right:auto; width:450px; }

/* new site framework (10/1/2012) */
#topNav				{ background:url(/images/template/blue-bar-background.jpg) repeat-x; width:100%; height:44px; }
#topNav-Div 		{ float:left; background:url(/images/template/blue-bar-divider.jpg) no-repeat; width:6px; height:44px; }
#topAccessoryFinder	{ background:url(/images/template/quickfinder-background2.jpg) repeat-x; width:100%; height:59px; border-bottom-left-radius:5px; border-bottom-right-radius:5px; margin-top:1px; }
#topBtnSearch		{ background:url(/images/template/search-button.png) no-repeat; width:98px; height:27px; }
#blueSearchBox		{ background:url(/images/template/search-bar-background.jpg) repeat-x; width:100%; height:51px; border-radius:5px; float:left; }
#blueShopByBrand	{ background:url(/images/template/header-shop-by-brand2.jpg) no-repeat; width:185px; height:38px; float:left; }
#leftBrandWarpper	{ float:left; width:173px; padding:0px 5px 0px 5px; border-left:1px solid #bcbcbc; border-bottom:1px solid #bcbcbc; border-right:1px solid #bcbcbc; background-color:#dedede; border-bottom-left-radius:5px; border-bottom-right-radius:5px; }
#leftBrandBox		{ float:left; width:100%; padding:8px 0px 8px 0px; cursor:pointer; }
#leftBrandDiv		{ float:left; width:100%; height:0px; border-top:1px solid #bcbcbc; border-bottom:1px solid #efefef; }

#topHeaderUVP1_1	{ background:url(/images/template/uvp-1-1.jpg) no-repeat; width:171px; height:47px; float:right; }
#topHeaderUVP1_2	{ background:url(/images/template/uvp-1-2.jpg) no-repeat; width:171px; height:47px; float:right; }
#topHeaderUVP1_3	{ background:url(/images/template/uvp-1-3.jpg) no-repeat; width:171px; height:47px; float:right; }
#topHeaderUVP3_1	{ background:url(/images/template/uvp-3-1.jpg) no-repeat; width:171px; height:47px; float:right; }
#topHeaderUVP3_2	{ background:url(/images/template/uvp-3-2.jpg) no-repeat; width:171px; height:47px; float:right; }
#topHeaderUVP3_3	{ background:url(/images/template/uvp-3-3.jpg) no-repeat; width:171px; height:47px; float:right; }

a.footerLink			{ color:#ccc; }
a.footerLink:hover		{ color:#ccc; text-decoration:underline;}

.customBadge { width:70px; height:70px; position:absolute; top:20px; right:20px; }

.topCartBox { background-color:#27ae60; padding:0px 20px 0px 20px; height:28px; }
.cartIcon_02 { background-image:url(/images/icons/cart02.gif); width:14px; height:14px; margin-top:7px; }
.topCartText { float:left; color:#FFF; font-size:12px; padding:7px 10px 0px 10px; font-family: 'Open Sans', sans-serif; font-weight:600; }
.topBarLinkBox { padding:5px 20px 0px 20px; border-left:1px solid #417299; height:23px; }
.topBarLink { color:#FFF !important; font-size:13px !important; font-family: 'Open Sans', sans-serif !important; font-weight:600 !important; }
.liveChatBox { height:28px; overflow:hidden; }
.loginTxt { color:#FFF; font-size:12px; font-family: 'Open Sans', sans-serif; font-weight:600; }
.loginGear { background-image:url(/images/icons/loginGear.gif); width:14px; height:14px; margin-right:10px; margin-top:1px; }
.topBoxLine { border-left:1px solid #417299; }
.lhnchatimg_b { width:133px; height:28px; padding-top:5px; }
.livehelpIcon { background-image:url(/images/icons/liveHelp.gif); width:16px; height:14px; margin: 0px 10px 0px 20px; }

.fullWidth { width:1020px; }
.coLogo_02 { background-image:url(/images/icons/coLogo02.gif); width:255px; height:65px; cursor:pointer; }
.searchBoxFull { border:10px solid #e8e8e8; border-radius:10px; margin:12px 0px 0px 15px; height:35px; background-color:#e8e8e8; }
.searchIcon { background-image:url(/images/icons/searchIcon.gif); width:17px; height:17px; margin:10px 0px 0px 10px; }
.searchInputBox { margin:9px 0px 0px 10px; }
.searchBoxInner { background-color:#FFF; border-radius:10px; }
.searchInput { border:0px; background-color:transparent; color:#999; width:220px; font-family: 'Open Sans', sans-serif; font-weight:600; }
.searchInputBig { border:0px; background-color:transparent; color:#999; width:700px; font-family: 'Open Sans', sans-serif; font-weight:600; }
.searchGo { cursor:pointer; background-color:#27ae60; color:#FFF; font-family: 'Open Sans', sans-serif; font-weight:600; font-size:12px; padding-top:10px; height:25px; width:40px; text-align:center; border-top-right-radius:10px; border-bottom-right-radius:10px; }
.lowPriceVP { background-image:url(/images/valueProps/lowestPrice.gif); width:199px; height:50px; border-right:2px dotted #CCC; margin:10px 0px 0px 20px; }
.returnsVP { background-image:url(/images/valueProps/90dayReturns.gif); width:199px; height:50px; margin-top:10px; }
.lowPriceVP_small { background:url(/images/banners/lowestPrice.gif) no-repeat left; width:154px; height:39px; border-right:2px dotted #CCC; margin:20px 0px 0px 10px; padding-right:10px; }
.returnsVP_small { background:url(/images/banners/90DayReturns.gif) no-repeat right; width:154px; height:41px; margin-top:20px; padding-left:10px; }

.topNav_b { width:100%; height:50px; background-color:#1a71b8; border-bottom:1px solid #124f80; border-top-left-radius:10px; border-top-right-radius:10px; }
.topNavBase { text-align:center; height:35px; padding:15px 5px 0px 5px; border-right:1px solid #124f80; }
.topNavBase2 { text-align:center; height:35px; padding:15px 5px 0px 5px; }
.topNav_b_link { color:#FFF !important; font-size:14px !important; font-family: 'Open Sans', sans-serif !important; font-weight:600 !important; }

.finder_versionB { background-color:#e8e8e8; height:60px; border-bottom-left-radius:10px; border-bottom-right-radius:10px; }
.finderTxt { margin:18px 0px 0px 18px; font-size:17px; font-family: 'Open Sans', sans-serif; font-weight:400; }
.finderBox { background-color:#FFF; border:1px solid #CCC; border-radius:10px; padding:10px; margin:10px 0px 0px 15px; }
.finderNum { font-weight:bold; font-size:16px; }
.finderSelectObj { border:0px; margin:1px 0px 0px 4px; }
.finderBttn { height:37px; background-color:#27ae60; border-radius:10px; margin:12px 0px 0px 15px; cursor:pointer; }
.finderBttnTxt { font-family: 'Open Sans', sans-serif; font-weight:600; color:#FFF; margin:7px 0px 0px 10px; }
.finderBttnArrow { background-image:url(/images/icons/searchArrow.gif); width:8px; height:10px; margin:13px 10px 0px 10px; }

.footerDarkBand { color:#fff; width:1020px; margin:0px auto; height:40px; padding-top:3px; }
.checkBurst { background-image:url(/images/icons/checkBurst.gif); width:37px; height:36px; margin:0px 10px; }
.boldHeader { font-family: 'Open Sans Condensed', sans-serif; font-weight:700; font-size:24px; }
.thinHeader { font-family: 'Open Sans Condensed', sans-serif; font-weight:300; font-size:24px; margin-left:10px; padding-right:20px; border-right:1px solid #000; }
.italicHeader { font-family: 'Open Sans Condensed', sans-serif; font-weight:300; font-size:24px; font-style:italic; padding-left:20px; border-left:1px solid #333; }
.emailBox { height:28px; background-color:#FFF; border:1px solid #CCC; border-radius:5px; margin:3px 0px 0px 20px; }
.emailIcon { background:url(/images/icons/emailIcon.gif) no-repeat center; width:18px; height:12px; padding:8px 10px 0px 10px; height:20px; border-right:1px solid #CCC; }
.emailField { margin:6px 0px 0px 5px; }
.submitEmail { background:url(/images/icons/searchArrow.gif) no-repeat center #27ae60; height:30px; width:36px; margin-left:5px; cursor:pointer; margin-top:3px; border-radius:5px; }

.footerLowerLinks { color:#fff; width:1020px; text-align:left; padding-top:20px; }
.footerRow1 { width:240px; }
.footerRow2 { width:465px; margin-left:20px; }
.footerRow3 { width:260px; margin-left:20px; }
.footerTitle { font-family: 'Open Sans Condensed', sans-serif; font-weight:700; font-size:18px; padding-bottom:5px; margin-bottom:10px; border-bottom:1px solid #666; width:100%; }
.footerTitleBottom { font-family: 'Open Sans Condensed', sans-serif; font-weight:700; font-size:18px; padding-bottom:5px; margin-bottom:10px; border-bottom:1px solid #666; width:100%; margin-top:30px; }
.footerTitleBottomLock { font-family: 'Open Sans Condensed', sans-serif; font-weight:700; font-size:18px; padding-bottom:5px; margin-bottom:10px; border-bottom:1px solid #666; width:100%; margin-top:30px; background:url(/images/icons/confidenceLock.gif) no-repeat right; }
.footerLinkBox { margin-bottom:5px; }
.brandLinks { width:230px; }
.paymentOptionsB { background:url(/images/icons/paymentOptions_b.gif); width:260px; height:30px; }
.confidence1 { width:115px; height:80px; border:5px solid #666; background-color:#FFF; }
.confidence2 { width:115px; height:80px; border:5px solid #666; background-color:#FFF; margin-left:10px; }

.veryBottomLinks { width:666px; margin:30px auto; }
.copywriteTxt { font-family: 'Open Sans', sans-serif; font-weight:400; color:#FFF; font-size:12px; padding-right:10px; border-right:1px solid #fff; }
.vbl_a { padding:0px 10px; border-right:1px solid #FFF; }
.vbl_b { padding:0px 10px; }

/* TEST CODE START */
#topAccessoryFinder_alt		{ background:url(/images/template/quickfinder-background2.jpg) repeat-x; width:100%; height:59px; border-bottom-left-radius:5px; border-bottom-right-radius:5px; margin-top:1px; }

#topAccessoryFinder_alt2	{ background:url(/images/template/quickfinder-background2.jpg) repeat-x; width:100%; height:59px; border-bottom-left-radius:5px; border-bottom-right-radius:5px; margin-top:1px; }
.smallAccessoryFinderText	{ color:#FFF; font-weight:bold; margin:5px 10px 0px 10px; font-size:14px; padding-top:15px; }
.accessoryFinderField		{ background-color:#FFF; border-radius:5px; margin-right:5px; padding:5px; margin-top:15px; }
.accessorySelect			{ border:0px; width:120px; }
.accessoryFinderSubmit		{ background:url(/images/buttons/accessoryFinderGo.gif) no-repeat left; width:46px; height:59px; cursor:pointer; padding-right:15px; border-right:1px solid #5d5d5d; }
.emailSubmitBox				{ border-left:1px solid #757575; padding-left:15px; color:#FFF; height:54px; padding-top:5px; margin-right:10px; }
.emailSubmitLrgTxt			{ font-size:24px; margin:0px auto; }
.emailSubmitSmlTxt			{ font-size:11px; margin:0px auto; }
.esField					{ border:0px; width:145px; }
.emailSubmitBttn			{ background:url(/images/buttons/emailSubmit.gif); width:28px; height:28px; cursor:pointer; margin-top:15px; }

#topAccessoryFinder_alt3	{ background:url(/images/template/quickfinder-background2.jpg) repeat-x; width:100%; height:59px; border-bottom-left-radius:5px; border-bottom-right-radius:5px; margin-top:1px; }
.mediumAccessoryFinderText	{ color:#FFF; font-weight:bold; margin:5px 10px 0px 35px; font-size:18px; padding-top:15px; }
.accessoryFinderFieldLrg	{ background-color:#FFF; border-radius:5px; margin-right:15px; padding:5px; margin-top:15px; }
.accessoryLargeSelect		{ border:0px; width:180px; }
.accessoryFinderSubmitLrg	{ background:url(/images/buttons/accessoryFinderGoLrg.gif) no-repeat left; width:91px; height:59px; cursor:pointer; }

.topSearchBox				{ background-color:#FFF; width:265px; height:25px; margin-top:14px; border-radius:5px; padding-left:2px; border:2px solid #CCC; }
.topSearchFieldBox			{ margin-top:3px; }
.topSearchMag				{ background-image:url(/images/buttons/topSearchMag.gif); width:17px; height:17px; margin-right:5px; margin-top:4px; }
.searchInputSmall 			{ border:0px; background-color:transparent; color:#999; width:180px; font-family: 'Open Sans', sans-serif; font-weight:600; }
.topSearchSubmit			{ background-color:#0da903; color:#FFF; font-weight:bold; font-size:14px; padding:4px 10px 0px 10px; height:21px; border-top-right-radius:3px; border-bottom-right-radius:3px; cursor:pointer; }

.emailFloatingTab			{ background-image:url(/images/backgrounds/emailSubmitTab.png); width:372px; height:110px; position:fixed; left:0px; z-index:999; }
.floatingTabText			{ color:#FFF; font-size:14px; margin:10px 0px 20px 20px; font-weight:bold; }
.floatingEmailBox			{ border:2px solid #CCC; background:#FFF; border-radius:5px; margin:30px 0px 0px 20px; }
.floatingEmailFieldBox		{ padding-top:3px; }
.esField2					{ border:0px; width:245px; margin:1px 0px 0px 10px; }
.floatingEmailSubmitBttn	{ background-color:#27ae60; color:#FFF; font-size:12px; font-weight:bold; padding:5px 10px 0px 10px; border-top-right-radius:3px; border-bottom-right-radius:3px; cursor:pointer; height:21px; }

.newsRegCTA					{ background-image:url(/images/buttons/cta.gif); width:306px; height:53px; cursor:pointer; margin:20px auto; }
.minEmailOffer				{ margin:0px 0px 0px 15px; cursor:pointer; position:relative; }
.minEmailBar				{ color:#FFF; font-weight:bold; font-size:24px; position:absolute; top:-10px; left:0px; }
/* TEST CODE END */

.promoBoxMain		{ width:600px; background-color:#FFF; margin:100px auto 0px auto; }
.promoBoxMain2		{ width:600px; background-color:#FFF; margin:100px auto 0px auto; padding-left:15px; }
.containerA			{ width:100%; }
.containerB			{ display:none; }
.closeWinRow		{ width:595px; height:18px; padding:5px 5px 0px 0px; }
.closeWin			{ background-image:url(/images/promo/closeWindow.gif); width:18px; height:18px; cursor:pointer; }
.promoTitle			{ font-weight:bold; font-size:36px; width:600px; text-align:center; margin:0px 0px 20px 0px; color:#333; }
.promoDetails		{ width:545px; margin:0px auto; text-align:left; font-size:14px; color:#333; line-height:24px; }
.promoDetails2		{ width:575px; margin-left:10px; text-align:left; font-size:13px; font-weight:bold; color:#333; line-height:22px; }
.promoDetails2Small	{ font-size:14px; }
.promoDetails2Ex1	{ letter-spacing:.011em; }
.promoDetails2Ex2	{ letter-spacing:.021em; }
.promoDetails2Ex3	{ letter-spacing:.02em; }
.promoBottom		{ margin-top:15px; }
.itemPic			{ background-image:url(/images/promo/promoItem.jpg); width:248px; height:304px; }
.itemPic2			{ background-image:url(/images/promo/promoItem2.jpg); width:248px; height:304px; background-repeat:no-repeat; background-position:center; padding-right:18px; }
.promoPoints		{ width:314px; }
.promoPoints2		{ width:314px; margin-top:7px }
.promoPointRow		{ width:100%; margin-bottom:25px; padding-left:2px }
.promoPointRow2		{ width:100%; margin-bottom:25px; padding-left:10px }
.promoCheckmark		{ background-image:url(/images/promo/checkmark.gif); width:19px; height:20px; margin:12px 10px 0px 0px; }
.promoCheckmarkSL	{ background-image:url(/images/promo/checkmark.gif); width:19px; height:20px; margin:0px 10px 0px 0px; }
.promoPointTxt		{ font-size:13px; font-weight:bold; color:#333; line-height:22px; width:275px; text-align:left; letter-spacing:0.022em; }
.promoCTA			{ background-image:url(/images/promo/cta.gif); width:306px; height:53px; cursor:pointer; }
.promoCTA2			{ background-image:url(/images/promo/cta.gif); width:306px; height:53px; cursor:pointer; margin:40px 0px 0px 10px; }
.promoRestrictions	{ color:#949494; font-size:10px; width:100%; text-align:center; margin-top:5px; }

/* Brand Model Category Filters */

.filter-heading{
	width:143px;
	margin-left:10px;
	margin-top:15px;
	padding-bottom:10px;
	border-bottom:1px solid #CCC;
}
.filter-heading-arrow{
	float: left;
}
.filter-heading-name{
	float:left;
	font-size:11px;
	font-weight:bold ;
}

.filter-item{
	width:143px;
	margin-left:10px;
	margin-top:7px;
}

.filter-item-checkbox{
	float:left;
	margin-right: 5px;
}
.filter-item-name{
	float:left;
	width: 110px;
	font-size:10px;
	padding-top:2px;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */
