.promoBoxMain		{ width:600px; background-color:#FFF; margin:100px auto 0px auto; }
.containerA			{ display:block;width:600px; margin:0 auto; }
.containerB			{ display:none; }
.closeWinRow		{ width:595px; height:18px; padding:5px 5px 0px 0px; }
.closeWin			{ background-image:url(/images/promo/closeWindow.gif); width:18px; height:18px; cursor:pointer; }
.promoTitle			{ font-weight:bold; font-size:36px; width:600px; text-align:center; margin:0px 0px 20px 0px; color:#333; }
.promoDetails		{ width:545px; margin:0px auto; text-align:left; font-size:14px; color:#333; line-height:24px; }
.promoBottom		{ margin-top:15px; }
.itemPic			{ background-image:url(/images/promo/promoItem.jpg); width:248px; height:304px; }
.promoPoints		{ width:306px; }
.promoPointRow		{ width:100%; margin-bottom:25px; }
.promoCheckmark		{ background-image:url(/images/promo/checkmark.gif); width:19px; height:20px; margin:12px 10px 0px 0px; }
.promoPointTxt		{ font-size:13px; color:#333; line-height:22px; width:275px; text-align:left; }
.promoCTA			{ background-image:url(/images/promo/cta.gif); width:306px; height:53px; cursor:pointer; }
.promoRestrictions	{ color:#949494; font-size:10px; width:100%; text-align:center; margin-top:5px; }