.containerA			{ display:none; }
.containerB			{ display:block;width:500px;margin:0 auto; }
.promoBoxMainB		{ width:500px; background-color:#296FAB; margin:100px auto 0px auto; }
.closeRow			{ width:490px;margin:10px 10px 0 0; }
.closeButton		{ width:10px;height:12px;background:url(/images/promoB/close.png) no-repeat;cursor:pointer; }
.promoTitleB		{ width:100%;margin:5px 0 0 0;text-align:center;font-family:'Source Sans Pro', Arial, sans-serif;font-weight:900;font-size:60px;color:#fff;line-height:65px; }
.promoSubtitle		{ width:100%;text-align:center;font-family:'Source Sans Pro', Arial, sans-serif;font-weight:normal;font-size:32px;color:#fff;line-height:35px; }
.expiry				{ width:500px;height:15px;margin:10px 0 0 0;background:url(/images/promoB/expiry.png) no-repeat;}
.emailFormContainer	{ width:500px;height:54px;margin:38px 0 0 0; }
.emailForm			{ margin:0 auto;height:44px;border:5px solid #548CBC;width:432px; }
.emailField			{ width:258px;height:12px;padding:16px;font-size:14px;font-family:Arial,Helvetica,sans-serif;text-align:left;margin:0;border:0;color:#999; }	
.emailSubmit		{ width:142px;height:44px;padding:0;margin:0;background:url(/images/promoB/get-the-offer.png) no-repeat;border:0;cursor:pointer; }
.bottomText			{ width:500px;text-align:center;margin:18px 0 30px 0;color:#6992BE;font-size:12px;line-height:18px; }