/* CSS Document */
.shadetabs { padding: 4px 0px; margin-left: 0px; margin-top: 0px; margin-bottom: -2px; font: bold 12px; font-family: Arial, Helvetica, sans-serif; list-style-type: none; text-align: left; }
.shadetext { border: 0px solid #CCCCCC; width: 140px; height: 25px; position: relative; left: 30px; top: 4px; }
.shadetabs li { display: inline; }
.shadetabs li a { text-decoration: none; position: relative; z-index: 1; margin-right: 0px; margin-bottom: 0px; padding: 3px 25px; color: #FFFFFF; background: white url(/images/product/tab_background_off.jpg) top left; }
.shadetabs li a:visited { color: #FFFFFF; }
.shadetabs li a:hover { text-decoration: none; color: #FFFFFF; border-bottom-color: #CCCCCC; top: 0px; }
.shadetabs li a.selected { position: relative; top: 0px; color: #FFFFFF; border-bottom-color: #CCCCCC; background-image: url(/images/product/tab_background_on.jpg); }
.shadetabs li a.selected:hover { text-decoration: none; }
.tabcontent { display: none; font-size: 10pt; color: black; font-family: Arial, Helvetica, sans-serif; }

.bmc_productBox { float:left; height:305px; width:186px; margin-top:10px; padding:10px 0px 5px 0px; text-align:center; /*position:relative;*/ border-right:1px dashed #CCC; border-bottom:1px solid #ccc;}
.bmc_productBox2 { float:left; width:186px; margin-top:10px; padding-bottom:5px; border-right:1px dashed #CCC; border-bottom:1px solid #ccc; display:none; }
.bmc_productPic { float:left; width:100%; height:120px; text-align:center; font-size:10px; }
.product-bmc-soldOut { float:left; width:100%; padding-top:5px; }
.product-bmc-details { float:left; width:100%; padding:5px 0px 0px 0px; font-size:10px;}
.product-bmc-desc { width:170px; height:46px; overflow:hidden;}
.product-bmc-customize { position:absolute; right:0px; top:0px; cursor:pointer; }
.activePageNum { color:#000; text-decoration:none; }
.inactivePageNum { color:#00C; text-decoration:underline; cursor:pointer; }
.paginationLink1 { padding:0px 5px 0px 5px; float:left; }
.paginationLink2 { padding:0px 5px 0px 5px; float:left; display:none; }
.alertBoxHidden { color:#900; font-weight:bold; font-size:18px; border:2px solid #900; border-radius:10px; padding:15px; margin:100px 0px 100px 0px; margin-left:auto; margin-right:auto; width:450px; display:none; }
.alertBox { color:#900; font-weight:bold; font-size:18px; border:2px solid #900; border-radius:10px; padding:15px; margin:100px 0px 100px 0px; margin-left:auto; margin-right:auto; width:450px; }

body { margin: 0px; font-family: Arial, Helvetica, sans-serif; font-size:12px; }
a:link { text-decoration:none; color:#CC3300;}
a:visited { text-decoration:none; color:#CC3300;}
a:active { text-decoration:none; color:#CC3300;}
a:hover { text-decoration:underline; color:#CC3300;}

div { font-size:12px; }
h1 { font-size: 18px; color:#363636; text-decoration: none; display: inline; }
h2 { font-size:12px; font-weight: normal; color:#000; display:inline;}
h3 { font-size: 16px; color:#000; text-decoration: none; display: inline; }		
p {font-size: 11px; text-decoration:none;}
form { margin:0px; padding:0px; }

.pricing-large-bold {  font-weight: bold; font-size: 18px; }
.pricing-large-bold-red {  font-weight: bold; font-size: 20px; }
.pricing-large-bold { color: #000000; }
.pricing-large-bold-red, .pricing-smaller-bold-red { color: #FF0000; }
.smlText { font-size: 10px; font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; }
.normalText { font-size:12px; font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; }
.related-1 { font-size: 16px; color: #003399; font-weight: normal; font-family: Trebuchet MS, Arial, Helvetica, sans-serif; }
.boldText { font-size: 15px; font-weight: bold; color: #000000; font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; }
.product-desc { font-size:13px; color:#000; font-family: Trebuchet MS, Arial, Helvetica, sans-serif; }
.pricing-large { font-size: 24px; color: #000000; font-weight: normal; font-family: Tahoma, Trebuchet MS, Arial, Helvetica, sans-serif; }
.pricing-large-red { font-size: 24px; color: #FF0000; font-weight: normal; font-family: Tahoma, Trebuchet MS, Arial, Helvetica, sans-serif; }
.altImgText { font-weight: bold; color:#333333; font-family: Verdana, Arial, Helvetica, sans-serif; margin-top: 0px; margin-bottom: 4px; }
.altImgBorder { border: 1px solid gray; border-radius:4px; padding:2px; }

.simImgBorder { border: 1px solid gray; border-radius:4px; padding:2px; }
.altImgBorder_big { border: 1px solid gray; padding:8px; border-radius:4px; margin:10px 2px 0px 2px; cursor:pointer; }
.altImgBorder_big:hover { border: 3px solid gray; padding:8px; border-radius:4px; margin:0px; }

.shippingRateGoButton {
	color:#FFF;
	padding:3px;
	border:1px solid #CCC;
	border-radius:5px;
	margin-left:10px;
	width:60px;
	text-align:center;
	font-weight:bold;
	background: #ff6600; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff6501', endColorstr='#fe3501'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#ff6501), to(#fe3501)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #ff6501,  #fe3501); /* for firefox 3.6+ */
}

.product-bmc-onSale { width:73px; height:74px; background:url(/images/saleIcon.png) no-repeat; position:absolute; top:-20px; right:0px; z-index:1; }
.clickable { cursor:pointer; }

.siteTopText				{ font-size: 12px; padding-top:4px; color:#ffffff; font-weight:bold; float:left;}
.topNavBox					{ font-size: 12px; width:100%; height:100%;}
.topNavBox-Child			{ display:block; width:170px; cursor:pointer;}

a.topNavLink				{ font-size: 12px; color:#ffffff; font-weight:bold; width:100%; display:block;}
a.topNavLink:hover			{ font-size: 12px; color:#ffffff; font-weight:bold; width:100%; display:block; text-decoration:none;}
a.topNavLink-Child			{ font-size: 12px; color:#ffffff; display:block;}
a.topNavLink-Child:hover	{ font-size: 12px; color:#E2B804; display:block;}

a.leftNavLink2			{ font-size: 12px; font-weight:bold; width:150px; height:35px; padding:0px 10px 0px 40px; display:table-cell; vertical-align:middle; color:#707070; color:#707070;}
a.leftNavLink2:hover	{ font-size: 12px; font-weight:bold; width:150px; height:35px; padding:0px 10px 0px 40px; display:table-cell; vertical-align:middle; color:#F06627; text-decoration:none; color:#F06627;}

a.leftNavLink		{ font-size: 14px; font-weight:bold; width:160px; height:25px; padding:10px 0px 0px 40px; color:#707070; display:block;}
a.leftNavLink:hover	{ font-size: 14px; font-weight:bold; width:160px; height:25px; padding:10px 0px 0px 40px; color:#F06627; display:block;  text-decoration:none;}
.siteBottomTitle	{ font-size: 13px; font-weight:bold; color:#ffffff; }
.siteBottomLink		{ font-size: 12px; color:#787878; height:15px; padding-top:3px; }
a.siteBottomLink	{ font-size: 12px; color:#787878; text-decoration:underline; }

.pageOn				{ font-size:11px; width:20px; height:25px; margin-right:4px; float:left;}
a.pageOn:link		{ font-size:11px; width:100%; height:20px; padding-top:5px; border:1px solid #717171; background-color:#717171; color:#fff; text-decoration:none;}
a.pageOn:visited	{ font-size:11px; width:100%; height:20px; padding-top:5px; border:1px solid #717171; background-color:#717171; color:#fff; text-decoration:none;}
a.pageOn:active		{ font-size:11px; width:100%; height:20px; padding-top:5px; border:1px solid #717171; background-color:#717171; color:#fff; text-decoration:none;}
a.pageOn:hover		{ font-size:13px; width:100%; height:20px; padding-top:5px; border:1px solid #717171; background-color:#717171; color:#fff; text-decoration:none;}

.pageOff			{ font-size:11px; width:20px; height:25px; margin-right:4px; float:left;}
a.pageOff:link		{ font-size:11px; width:100%; height:20px; padding-top:5px; border:1px solid #ccc; background-color:#fff; color:#717171; text-decoration:none;}
a.pageOff:visited	{ font-size:11px; width:100%; height:20px; padding-top:5px; border:1px solid #ccc; background-color:#fff; color:#717171; text-decoration:none;}
a.pageOff:active	{ font-size:11px; width:100%; height:20px; padding-top:5px; border:1px solid #ccc; background-color:#fff; color:#717171; text-decoration:none;}
a.pageOff:hover		{ font-size:13px; width:100%; height:20px; padding-top:5px; border:1px solid #717171; background-color:#717171; color:#fff; text-decoration:none;}

.pageNext			{ font-size:12px; width:50px; height:25px; margin-right:4px; float:left;}
a.pageNext:link		{ font-size:12px; width:100%; height:20px; padding-top:5px; border:1px solid #ccc; background-color:#fff; color:#717171; text-decoration:none;}
a.pageNext:visited	{ font-size:12px; width:100%; height:20px; padding-top:5px; border:1px solid #ccc; background-color:#fff; color:#717171; text-decoration:none;}
a.pageNext:active	{ font-size:12px; width:100%; height:20px; padding-top:5px; border:1px solid #ccc; background-color:#fff; color:#717171; text-decoration:none;}
a.pageNext:hover	{ font-size:12px; width:100%; height:20px; padding-top:5px; border:1px solid #717171; background-color:#717171; color:#fff; text-decoration:none;}

a.cellphone-link			{ text-decoration:none; color:#000; font-size:12px; }
a.cellphone-link:hover		{ text-decoration:underline; color:#000;}

.cellphone2-link			{ text-decoration:none; color:#000; font-weight:bold;}
a.cellphone2-link:link		{ text-decoration:none; color:#000; font-weight:bold;}
a.cellphone2-link:visited	{ text-decoration:none; color:#000; font-weight:bold;}
a.cellphone2-link:active	{ text-decoration:none; color:#000; font-weight:bold;}
a.cellphone2-link:hover		{ text-decoration:underline; color:#000; font-weight:bold;}

.cellphone3-link			{ text-decoration:none; color:#666; font-weight:bold;}
a.cellphone3-link:link		{ text-decoration:none; color:#666; font-weight:bold;}
a.cellphone3-link:visited	{ text-decoration:none; color:#666; font-weight:bold;}
a.cellphone3-link:active	{ text-decoration:none; color:#666; font-weight:bold;}
a.cellphone3-link:hover		{ text-decoration:underline; color:#666; font-weight:bold;}

a.cellphone4-link			{ font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;}

a.product-desc-cart:link { font-size: 12px; color: #CC3300; text-decoration: underline; font-family: Arial, Verdana; }
a.product-desc-cart:visited { font-size: 12px; color: #CC3300; text-decoration: underline; font-family: Arial, Verdana; }
a.product-desc-cart:active { font-size: 12px; color: #CC3300; text-decoration: none; font-family: Arial, Verdana; }
a.product-desc-cart:hover { font-size: 12px; color: #CC3300; text-decoration: none; font-family: Arial, Verdana; }

.index-price-retail			{ color:#808080;	}
.index-price-our			{ color:#C7212B; font-weight:bold;	}

#login_info 	{	visibility:hidden; font-size:11px;	}
#billing_info 	{	display:none; font-size:11px;		}
#Promotions 	{	display:none;						}

.DivCell{ float: left;}
.DivCenter{ margin-left: auto; margin-right: auto;}
.DivCenterContent{ text-align: center;}
.CleanUp{ clear:both; height:1px; font-size:1px; border:none; margin:0; padding:0; background:transparent; font-size: 1px;}

.bottomText	{ font-size:11px; color:#333333; text-align:justify; }
a.bottomText-link	{ font-size:11px; color: #CC3300; text-decoration:none; }

.boldText { font-size: 15px; font-weight: bold; color: #000000; font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; }
.pricing-gray { font-size: 12px; color: #999999; font-weight: normal; font-family: Arial, Helvetica, sans-serif; }
.pricing-orange { font-size: 15px; color: #FF6633; font-weight: bold; font-family: Arial, Helvetica, sans-serif; }
.pricing-gray2 { font-size: 12px; color: #999999; font-weight: normal; font-family: Arial, Helvetica, sans-serif; }
.pricing-orange2 { font-size: 15px; color: #FF6633; font-weight: bold; font-family: Arial, Helvetica, sans-serif; }
.pricing-small-red { font-size: 15px; color: #FF0000; font-weight: bold; font-family: Tahoma, Trebuchet MS, Arial, Helvetica, sans-serif; }
.topText	{ font-size:11px; color:#333333; text-align:justify; }
a.topText-link	{ font-size:11px; color: #CC3300; text-decoration:none; }


a.breadcrumb 		{ font-size:11px; color: #FF6600; text-decoration: none; }
.breadcrumbFinal 	{ font-size:11px; color: #000; }

.colorBoxSelected			{ display:inline-block; width:12px; height:12px; padding:1px; border:1px solid #999;}
.colorBoxSelected:hover		{ display:inline-block; width:12px; height:12px; padding:1px; border:1px solid #ccc;}
.colorBoxUnselected			{ display:inline-block; width:12px; height:12px; padding:1px; border:1px solid #fff;}
.colorBoxUnselected:hover	{ display:inline-block; width:12px; height:12px; padding:1px; border:1px solid #ccc;}

h1.brand				{ font-size:28px; color:#000; }
h1.brandModel			{ font-size:24px; color:#000; font-weight:bold; }
h1.category				{ font-size:26px; color:#000; font-weight:bold; }
h1.catBrand				{ font-size:24px; color:#000; font-weight:bold; }
h1.brandModelCat		{ font-size:24px; color:#000; font-weight:bold; }
h1.brandModelCat2		{ font-size:15px; color:#494949; font-weight:bold; }
h1.tablet				{ font-size:26px; margin-bottom:0px; color:#181818; }
h1.product				{ font-size:20px; color:#000; font-family: Trebuchet MS, Arial, Helvetica, sans-serif; }
h2.brand				{ font-size:13px; color:#aaa; font-weight:bold; }
h2.unlocked-cell-phones	{ font-size:16px; color:#aaa; font-weight:bold; }
h2.tablet				{ font-size:14px; color:#999999; font-family: Trebuchet MS, Arial, Helvetica, sans-serif; }
h2.bmc					{ font-size:15px; color:#fff; font-weight:bold; }
h2.category				{ font-size:14px; color:#999999; font-family: Trebuchet MS, Arial, Helvetica, sans-serif;}
h3.brandModel			{ font-size:16px; color:#494949; font-weight:normal;}

.TopSellingCatItems { font-size: 11px; font-weight: normal; color: #5F5F5F; text-decoration: none;}
a.TopSellingCatItems:link { font-size: 11px; font-weight: normal; color: #5F5F5F; text-decoration: none;}
a.TopSellingCatItems:visited { font-size: 11px; font-weight: normal; color: #5F5F5F; text-decoration: none;}
a.TopSellingCatItems:active { font-size: 11px; font-weight: normal; color: #5F5F5F; text-decoration: none;}
a.TopSellingCatItems:hover { font-size: 11px; font-weight: normal; color: #5F5F5F; text-decoration: underline;}

a.lnkAltView		{ margin-right:5px; border:1px solid #ccc; padding:10px; border-radius:5px; display:inline-block; }
a.lnkOtherStyle		{ margin-right:1px; border:1px solid #ccc; padding:1px; border-radius:5px; display:inline-block; }

.pdp						{ float:left; text-align:left; }
.pdp .purchaseZone .leftZone { float:left; width:448px; }
.pdp .purchaseZone .leftZone a.lnkReview		{ color:#346697; text-decoration:none; }
.pdp .purchaseZone .leftZone a.lnkReview:hover	{ color:#346697; text-decoration:underline; }
.pdp .purchaseZone .rightZone				{ float:left; width:300px; }
.pdp .purchaseZone .rightZone .buyNowBox 	{
	float:left; width:263px; height:460px; margin-left:15px; padding-top:20px; 
	border:1px solid #CCC; border-radius:5px;
	-moz-box-shadow: 0px 10px 5px #888;
	-webkit-box-shadow: 0px 10px 5px #888;
	box-shadow: 0px 5px 5px #888;
}
.pdp .purchaseZone .rightZone .freeSameDayShipping 	{
	float:left; width:100%; height:48px;
	background: #999; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#e9e9e9)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #f9f9f9,  #e9e9e9); /* for firefox 3.6+ */
	border-top:1px solid #CCC;
	border-bottom:1px solid #CCC;
	color:#336799;
	}
.pdp .purchaseZone .rightZone .shopWithConfidence {
	float:left; width:100%; text-align:center; height:23px; padding-top:6px; font-weight:bold; font-size:14px; margin-top:10px;
	background: #ff6600; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe6700', endColorstr='#ff3401'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#fe6700), to(#ff3401)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #fe6700,  #ff3401); /* for firefox 3.6+ */
	color:#fff;
}

.pdp .productDetailZone { float:left; width:100%; margin-bottom:50px; }
.pdp .productDetailZone .selected	{ background:url(/images/product/zonal-tab.png) no-repeat; width:249px; float:left; text-align:center; padding-top:15px; height:40px; color:#fff; font-size:16px; font-weight:bold; }
.pdp .productDetailZone .first 		{ width:246px; float:left; background-color:#f7f7f7; text-align:center; padding-top:15px; height:32px; color:#336699; font-size:15px; font-weight:bold; border-top:1px solid #ccc; border-bottom:1px solid #ccc; border-left:1px solid #ccc; border-right:1px solid #e7e7e7; }
.pdp .productDetailZone .middle		{ width:247px; float:left; background-color:#f7f7f7; text-align:center; padding-top:15px; height:32px; color:#336699; font-size:15px; font-weight:bold; border-top:1px solid #ccc; border-bottom:1px solid #ccc; border-right:1px solid #e7e7e7; }
.pdp .productDetailZone .last		{ width:247px; float:left; background-color:#f7f7f7; text-align:center; padding-top:15px; height:32px; color:#336699; font-size:15px; font-weight:bold; border-top:1px solid #ccc; border-bottom:1px solid #ccc; border-right:1px solid #ccc; }

.pdp .productReviewZone .selected	{ background:url(/images/product/zonal-tab.png) no-repeat; width:249px; float:left; text-align:center; padding-top:15px; height:40px; color:#fff; font-size:16px; font-weight:bold; }
.pdp .productReviewZone .last		{ width:478px; float:left; background-color:#f7f7f7; text-align:right; padding:10px 20px 0px 0px; height:37px; color:#336699; border-top:1px solid #ccc; border-bottom:1px solid #ccc; border-right:1px solid #ccc; }
.pdp .productQnaZone .selected	{ background:url(/images/product/zonal-tab.png) no-repeat; width:249px; float:left; text-align:center; padding-top:15px; height:40px; color:#fff; font-size:16px; font-weight:bold; }
.pdp .productQnaZone .last		{ width:478px; float:left; background-color:#f7f7f7; text-align:right; padding:10px 20px 0px 0px; height:37px; color:#336699; border-top:1px solid #ccc; border-bottom:1px solid #ccc; border-right:1px solid #ccc; }
.pdp .crossSellZone .selected	{ background:url(/images/product/zonal-tab.png) no-repeat; width:249px; float:left; text-align:center; padding-top:15px; height:40px; color:#fff; font-size:16px; font-weight:bold; }
.pdp .crossSellZone .last		{ width:478px; float:left; background-color:#f7f7f7; text-align:right; padding:10px 20px 0px 0px; height:37px; color:#336699; border-top:1px solid #ccc; border-bottom:1px solid #ccc; border-right:1px solid #ccc; }
.pdp .recentViewZone .selected	{ background:url(/images/product/zonal-tab.png) no-repeat; width:249px; float:left; text-align:center; padding-top:15px; height:40px; color:#fff; font-size:16px; font-weight:bold; }
.pdp .recentViewZone .last		{ width:478px; float:left; background-color:#f7f7f7; text-align:right; padding:10px 20px 0px 0px; height:37px; color:#336699; border-top:1px solid #ccc; border-bottom:1px solid #ccc; border-right:1px solid #ccc; }


.pdp h1						{ font-size:24px; color:#333; font-weight:normal; }
.pdp .breadcrumb			{ width:100%; color:#444; padding:5px 0px 10px 0px; }
.pdp a.breadcrumb:link		{ color:#444; text-decoration:none; }
.pdp a.breadcrumb:visited	{ color:#444; text-decoration:none; }
.pdp a.breadcrumb:active	{ color:#444; text-decoration:none; }
.pdp a.breadcrumb:hover		{ color:#444; text-decoration:underline; }


/* Site Framework */
.left				{ float:left; }
.right				{ float:right; }
.clear				{ clear:both; }
.fl					{ float:left; }
.fr					{ float:right; }
.ffl				{ float:left; width:100%; }
.ffr				{ float:right; width:100%; }
.divContainer		{ width:100%; display:table; }
#siteTop-Blackbar	{ height:28px; background:url(/images/template/top/top-1px-bg.png) repeat-x;}
#siteTop-Blackdiv	{ height:28px; width:2px; margin:0px 20px 0px 20px; background:url(/images/template/top/top-vert-div.png) repeat-x; float:left; }
#siteTop-OrderNowPhone	{ height:24px; width:24px; background:url(/images/template/top/icon-phone.png) no-repeat; float:left; }
#siteTop-Livechat		{ height:24px; width:24px; background:url(/images/template/top/icon-chat.png) no-repeat; float:left; }
#siteTop-RewardsProgram	{ height:24px; width:24px; background:url(/images/template/top/ico_rewards.png) no-repeat; float:left; }
#siteTop-Text			{ color:#fff; font-size:13px; font-weight:bold; float:left; }
#siteTop-Text:hover		{ color:#fff; font-size:13px; font-weight:bold; float:left; text-decoration:underline;}
#siteTop-Cart2			{ width:59px; height:28px; background:url(/images/template/top/sitetop-cart.gif) no-repeat; cursor:pointer; float:left;}
#siteTop-CartBar2		{ height:28px; background:url(/images/template/top/sitetop-cart-bar.gif) repeat-x; cursor:pointer; float:left;}
#siteTop-CartBar3		{ height:28px; background:url(/images/template/top/sitetop-cart-bar.gif) repeat-x; cursor:pointer; float:left;}
#siteTop-HelpCenterBar	{ height:2px; width:280px; background:url(/images/template/top/help-hori-div.png) no-repeat; float:left; margin:10px 0px 10px 0px;}
#siteTop-ImgOrder		{ height:70px; width:70px; background:url(/images/template/top/lrg-icon-clock.png) no-repeat; float:left;}
#siteTop-ImgFaq			{ height:70px; width:70px; background:url(/images/template/top/lrg-icon-faq.png) no-repeat; float:left;}
#siteTop-OrangeArrows	{ height:9px; width:12px; background:url(/images/template/top/help-arrows.png) no-repeat; float:left;}

#siteTop-Bar		{ height:22px; background:url(/images/template/top/background-bar-top.gif) repeat-x;}
#siteTop-Div		{ width:4px; height:22px; background:url(/images/stitch/topbottom_mini.jpg) -2px -0px no-repeat; float:left;}
#siteTop-Cart		{ width:43px; height:22px; background:url(/images/stitch/topbottom_mini.jpg) -0px -221px no-repeat; cursor:pointer; float:left;}
#siteTop-CartBar	{ height:22px; background:url(/images/template/top/shopping_cart_bar.gif) repeat-x; cursor:pointer; float:left;}

#logo				{ width:405px; height:60px; background:url(/images/stitch/topbottom_mini.jpg) -36px -0px no-repeat; cursor:pointer;}
#freeShipping		{ width:283px; height:45px; background:url(/images/stitch/topbottom_mini.jpg) -442px -0px no-repeat;}
#verisignLogo		{ width:70px; height:50px; background:url(/images/stitch/topbottom_mini.jpg) -359px -305px no-repeat; cursor:pointer;}

#topNav-Custom				{ width:359px; height:27px; background:url(/images/template/top/custom-covers.png) no-repeat; float:left; }
#topNav-Bar					{ height:52px; background:url(/images/template/top/background-bar-nav-orange.gif) repeat-x; cursor:pointer; float:left;}
#topNav-Bar:hover			{ height:52px; background:url(/images/template/top/background-bar-nav-gray.jpg) repeat-x; cursor:pointer; float:left;}
#topNav-Div					{ width:4px; height:52px; background:url(/images/stitch/topbottom_mini.jpg) -2px -23px no-repeat; float:left;}
#topNav-BarGray				{ height:52px; background:url(/images/template/top/background-bar-nav-divider-gray.gif) repeat-x; cursor:pointer; float:left;}
#topNav-BarGray:hover		{ height:52px; background:url(/images/template/top/background-bar-nav-gray.jpg) repeat-x; cursor:pointer; float:left;}
#topNav-LeftFold			{ width:10px; height:37px; background:url(/images/stitch/topbottom_mini.jpg) -7px -0px no-repeat;}
#topNav-RightFold			{ width:10px; height:37px; background:url(/images/stitch/topbottom_mini.jpg) -18px -0px no-repeat;}
#topNav-Search-Bar			{ height:37px; background:url(/images/template/top/background-searchbar-gray.gif) repeat-x; float:left;}
#topNav-Search-Left			{ width:7px; height:37px; background:url(/images/stitch/topbottom_mini.jpg) -7px -38px no-repeat; float:left;}
#topNav-Search-Middle		{ height:37px; background:url(/images/template/top/background-searchbar-middle.gif) repeat-x; float:left;}
#topNav-Search-Middle-long	{ height:37px; width:451px; background:url(/images/template/top/background-searchbar-middle.gif) repeat-x; float:left;}
#topNav-Search-Right		{ width:7px; height:37px; background:url(/images/stitch/topbottom_mini.jpg) -17px -38px no-repeat; float:left;}
#topNav-Search-RightDiv		{ width:1px; height:37px; background:url(/images/stitch/topbottom_mini.jpg) -82px -114px no-repeat; float:left;}
#topNav-Search-Button		{ width:75px; height:37px; background:url(/images/stitch/topbottom_mini.jpg) -35px -61px no-repeat; cursor:pointer; float:left;}
#topNav-Search-CallUsAt		{ width:178px; height:37px; background:url(/images/stitch/topbottom_mini.jpg) -822px -162px no-repeat; float:right;}
#topNav-Search-Arrow		{ width:22px; height:37px; background:url(/images/stitch/topbottom_mini.jpg) -922px -117px no-repeat; float:right; cursor:pointer;}
#topNav-Search-LightGray	{ height:36px; background:url(/images/template/top/background-searchbar-light-gray.gif) repeat-x; float:left;}
#topNav-Search-LightGrayDiv	{ width:5px; height:37px; background:url(/images/stitch/topbottom_mini.jpg) -98px -76px no-repeat; float:left;}
#topNav-orderbyphone		{ width:188px; height:37px; background:url(/images/stitch/topbottom_mini.jpg) -253px -98px no-repeat; float:left;}
#topNav-divider				{ width:3px; height:37px; background:url(/images/stitch/topbottom_mini.jpg) -59px -180px no-repeat; float:left;}

.dropDownBottom				{ background:url(/images/template/top/dropDown_bottom.png) no-repeat; width:500px; height:10px; }
.topDropDownBodyBar			{ height:210px; background:url(/images/template/top/dropDown_bg.png) repeat-x;}
.topDropDownDiv				{ border-left:1px solid #000; border-right:1px solid #575757; width:0px; height:205px;}

#leftNav-BrandTop			{ width:200px; height:46px; background:url(/images/stitch/topbottom_mini.jpg) -454px -0px no-repeat;}
#leftNav-BrandMiddle		{ width:200px; height:35px; background:url(/images/stitch/topbottom_mini.jpg) -454px -47px no-repeat; cursor:pointer;}
#leftNav-BrandBottom		{ width:200px; height:35px; background:url(/images/stitch/topbottom_mini.jpg) -454px -83px no-repeat; cursor:pointer;}

#leftNav-AccessoryTop		{ width:200px; height:36px; background:url(/images/stitch/topbottom_mini.jpg) -253px -61px no-repeat;}
#leftNav-AccessoryMiddle	{ height:111px; background:url(/images/template/leftNav/accessory-finder-middle.gif) repeat-x;}
#leftNav-AccessoryBottom	{ width:200px; height:34px; background:url(/images/stitch/topbottom_mini.jpg) -212px -223px no-repeat; cursor:pointer;}
#leftNav-BBB				{ width:197px; height:65px; background:url(/images/stitch/topbottom_mini.jpg) -456px -119px no-repeat;  cursor:pointer;}
#leftNav-phonePlanTop		{ width:160px; height:107px; background:url(/images/stitch/topbottom_mini.jpg) -0px -307px no-repeat;  cursor:pointer;}
#leftNav-phonePlanBottom	{ width:160px; height:493px; background:url(/images/stitch/topbottom_mini.jpg) -655px -0px no-repeat;  cursor:pointer;}

#bottomLogo-BBB				{ width:141px; height:80px; background:url(/images/stitch/topbottom_mini.jpg) -111px -61px no-repeat; float:left; cursor:pointer;}
#bottomLogo-Trust			{ width:174px; height:80px; background:url(/images/stitch/topbottom_mini.jpg) -253px -136px no-repeat; float:left; cursor:pointer;}
#bottomLogo-BizRate			{ width:130px; height:80px; background:url(/images/stitch/topbottom_mini.jpg) -119px -142px no-repeat; float:left; cursor:pointer;}
#bottomLogo-Inc5000			{ width:105px; height:80px; background:url(/images/stitch/topbottom_mini.jpg) -428px -185px no-repeat; float:left; }
#bottomLogo-RedHearing		{ width:79px; height:80px; background:url(/images/stitch/topbottom_mini.jpg) -29px -99px no-repeat; float:left; }
#bottomLogo-Second500		{ width:100px; height:67px; background:url(/images/stitch/topbottom_mini.jpg) -534px -200px no-repeat; float:left; cursor:pointer;}

#bottomLogo-BBBnew			{ width:126px; height:51px; background:url(/images/bottom-logos/seal_bbb.png) no-repeat; float:left; cursor:pointer;}
#bottomLogo-RRatings		{ width:138px; height:56px; background:url(/images/bottom-logos/seal_resellerRatings.png) no-repeat; float:left; cursor:pointer; }
#bottomLogo-Inc5000new		{ width:80px; height:80px; background:url(/images/bottom-logos/seal_inc5000.png) no-repeat; float:left; cursor:pointer;}
#bottomLogo-IR				{ width:178px; height:51px; background:url(/images/bottom-logos/seal_IR.png) no-repeat; float:left; cursor:pointer;}
#bottomLogo-redHerring		{ width:80px; height:80px; background:url(/images/bottom-logos/seal_redHerring.png) no-repeat; float:left; cursor:pointer;}

#bottom-facebook			{ width:37px; height:35px; background:url(/images/stitch/topbottom_mini.jpg) -823px -81px no-repeat;  cursor:pointer;}
#bottom-twitter				{ width:37px; height:35px; background:url(/images/stitch/topbottom_mini.jpg) -861px -81px no-repeat;  cursor:pointer;}
#bottom-youtube				{ width:37px; height:35px; background:url(/images/stitch/topbottom_mini.jpg) -899px -81px no-repeat;  cursor:pointer;}
#bottom-Div					{ width:5px; height:331px; background:url(/images/stitch/topbottom_mini.jpg) -1001px -0px no-repeat; float:left;}
#bottom-newsLeft			{ width:10px; height:44px; background:url(/images/stitch/topbottom_mini.jpg) -0px -107px no-repeat; float:left;}
#bottom-newsBar				{ height:44px; background:url(/images/template/bottom/newsletter-background-middle.gif) repeat-x; float:left;}
#bottom-newsRight			{ width:10px; height:44px; background:url(/images/stitch/topbottom_mini.jpg) -13px -107px no-repeat; float:left;}
#bottom-newsSubmit			{ width:74px; height:22px; background:url(/images/stitch/topbottom_mini.jpg) -44px -221px no-repeat; cursor:pointer;}

#catHeader-middle			{ height:30px; background:url(/images/template/background-header-middle.gif) repeat-x; float:left; }
#catHeader-left				{ width:17px; height:30px; background:url(/images/stitch/topbottom_mini.jpg) -84px -114px no-repeat; float:left;}
#catHeader-right			{ width:10px; height:30px; background:url(/images/stitch/topbottom_mini.jpg) -84px -145px no-repeat; float:left;}

#subcatHeader-left			{ width:37px; height:30px; background:url(/images/stitch/topbottom_mini.jpg) -0px -246px no-repeat; float:left;}
#subcatHeader-middle		{ height:30px; background:url(/images/template/we_subcatBar.jpg) repeat-x; float:left;}
#subcatHeader-arrow			{ width:10px; height:30px; background:url(/images/stitch/topbottom_mini.jpg) -50px -246px no-repeat; float:left;}
#subcatHeader-right			{ width:9px; height:30px; background:url(/images/stitch/topbottom_mini.jpg) -40px -246px no-repeat; float:left;}

#cat-Topmodels-left			{ width:10px; height:185px; background:url(/images/stitch/topbottom_mini.jpg) -1035px -0px no-repeat; float:left;}
#cat-Topmodels-right		{ width:10px; height:185px; background:url(/images/stitch/topbottom_mini.jpg) -1046px -0px no-repeat; float:left;}
#cat-video-leftArrow		{ width:45px; height:160px; background:url(/images/stitch/topbottom_mini.jpg) -159px -180px no-repeat; cursor:pointer; float:left;}
#cat-video-leftArrow:hover	{ width:45px; height:160px; background:url(/images/stitch/topbottom_mini.jpg) -205px -180px no-repeat; cursor:pointer; float:left;}
#cat-video-rightArrow		{ width:45px; height:160px; background:url(/images/stitch/topbottom_mini.jpg) -251px -180px no-repeat; cursor:pointer; float:left;}
#cat-video-rightArrow:hover	{ width:45px; height:160px; background:url(/images/stitch/topbottom_mini.jpg) -297px -180px no-repeat; cursor:pointer; float:left;}

#bigborder-left				{ width:10px; height:265px; background:url(/images/stitch/topbottom_mini.jpg) -1007px -0px no-repeat; float:left;}
#bigborder-div				{ width:5px; height:215px; background:url(/images/stitch/topbottom_mini.jpg) -1029px -0px no-repeat; float:left;}
#bigborder-right			{ width:10px; height:265px; background:url(/images/stitch/topbottom_mini.jpg) -1018px -0px no-repeat; float:left;}
#bigborder-bottom			{ width:748px; height:8px; background:url(/images/stitch/topbottom_mini.jpg) -0px -342px no-repeat;}

#mShopperWeLogo				{ width:320px; height:40px; background:url(/images/stitch/topbottom_mini.jpg) -0px -266px no-repeat;}
#bottomFacebookLogo			{ width:33px; height:32px; background:url(/images/stitch/topbottom_mini.jpg) -470px -268px no-repeat;}
#bottomTwitterLogo			{ width:33px; height:32px; background:url(/images/stitch/topbottom_mini.jpg) -504px -268px no-repeat;}
#bottomYouTubeLogo			{ width:33px; height:32px; background:url(/images/stitch/topbottom_mini.jpg) -538px -268px no-repeat;}

#dropDownArrow				{ width:4px; height:7px; background:url(/images/stitch/topbottom_mini.jpg) -38px -211px no-repeat;}
#doubleYellowArrow			{ width:4px; height:7px; background:url(/images/stitch/topbottom_mini.jpg) -38px -211px no-repeat;}

#liveChat					{ width:149px; height:37px; background:url(/images/stitch/topbottom_mini.jpg) -320px -266px no-repeat;}
#twitterLogo				{ width:55px; height:20px; background:url(/images/stitch/topbottom_mini.jpg) -0px -244px no-repeat;}

#bullet						{ width:8px; height:8px; background:url(/images/stitch/topbottom_mini.jpg) -9px -61px no-repeat;}

.blogText	 				{ font-size:11px; color:#333333;}
a.blogLink:link				{ font-size:12px; font-weight:bold; text-decoration:none; color:#0082D0;}
a.blogLink:visited			{ font-size:12px; font-weight:bold; text-decoration:none; color:#0082D0;}
a.blogLink:active			{ font-size:12px; font-weight:bold; text-decoration:none; color:#0082D0;}
a.blogLink:hover			{ font-size:12px; font-weight:bold; text-decoration:underline; color:#0082D0;}

.blogBox					{ border-left:1px solid #ccc; border-bottom:1px solid #ccc; border-right:1px solid #ccc; overflow:auto; text-align:justify; }
.graybox-left				{ width:10px; height:34px; background:url(/images/stitch/topbottom_mini.jpg) -137px -180px no-repeat; float:left;}
.graybox-middle				{ height:34px; background:url(/images/template/indexBottom/headers-text-middle.gif) repeat-x; float:left;}
.graybox-right				{ width:10px; height:34px; background:url(/images/stitch/topbottom_mini.jpg) -148px -180px no-repeat; float:left;}
.graybox-inner				{ width:100%; height:100%; padding-top:9px; font-size:15px; font-weight:bold; color:#494949;}

.iphone-header-box			{ height:34px; background:url(/images/brands/iphone/header_bg.gif) repeat-x;}
.iphone-arrow-left			{ width:30px; height:120px; background:url(/images/brands/iphone/arrow_left_off.png) no-repeat; cursor:pointer; float:left;}
.iphone-arrow-left:hover	{ width:30px; height:120px; background:url(/images/brands/iphone/arrow_left_on.png) no-repeat; cursor:pointer; float:left;}
.iphone-arrow-right			{ width:30px; height:120px; background:url(/images/brands/iphone/arrow_right_off.png) no-repeat; cursor:pointer; float:left;}
.iphone-arrow-right:hover	{ width:30px; height:120px; background:url(/images/brands/iphone/arrow_right_on.png) no-repeat; cursor:pointer; float:left;}


.header-box				{ height:34px; background:url(/images/brands/iphone/header_bg.gif) repeat-x;}
.big-arrow-left			{ width:30px; height:120px; background:url(/images/brands/iphone/arrow_left_off.png) no-repeat; cursor:pointer; float:left;}
.big-arrow-left:hover	{ width:30px; height:120px; background:url(/images/brands/iphone/arrow_left_on.png) no-repeat; cursor:pointer; float:left;}
.big-arrow-right		{ width:30px; height:120px; background:url(/images/brands/iphone/arrow_right_off.png) no-repeat; cursor:pointer; float:left;}
.big-arrow-right:hover	{ width:30px; height:120px; background:url(/images/brands/iphone/arrow_right_on.png) no-repeat; cursor:pointer; float:left;}

#checkoutTopNav			{ display:none; }


.cartReviewHeader		{ background:url(/images/checkout/1-px-bg.png) repeat-x; height:35px; width:100%; border-top-left-radius:5px; border-top-right-radius:5px; color:#fff; }
.cartReviewRows			{ width:798px; float:left; border-left:1px solid #ccc; border-right:1px solid #ccc; }
.cartReviewRow			{ float:left; height:80px; border-bottom:1px solid #ccc; padding-top:20px; }
.cartReviewBottom		{ width:798px; float:left; border-left:1px solid #ccc; border-right:1px solid #ccc; border-bottom:1px solid #ccc; border-bottom-left-radius:5px; border-bottom-right-radius:5px; }

.cartWrapper			{ width:798px; float:left; border:1px solid #ccc; border-radius:5px; }
.cartShippingLeft		{ width:368px; padding:0px 10px 0px 10px; float:left; border-right:1px solid #ccc; }
.cartShippingRight		{ width:379px; padding:0px 15px 0px 15px; float:left; }
.cartLeftRow			{ width:100%; float:left; padding-top:10px; }
.cartExampleRow			{ width:100%; float:left; padding-top:0px; }
.cartLeftText			{ float:left; width:100px; text-align:right; color:#444; font-size:13px; }
.cartLeftTextField		{ float:left; width:240px; text-align:right; }
.cartExample			{ float:left; width:220px; text-align:left; padding-left:20px; color:#999; font-size:9px; }
.cartLeftStar			{ float:left; width:28px; text-align:center; padding-top:5px; }
.cartPaymentLeft		{ width:349px; padding:10px 10px 0px 10px; float:left; height:200px; }
.cartPaymentMiddle		{ float:left; width:60px; height:250px; text-align:center; padding-bottom:10px; }
.cartPaymentRight		{ width:349px; padding:10px 10px 0px 10px; float:left; }
.cartLeftText2			{ float:left; width:135px; text-align:right; color:#444; font-size:13px; padding-right:15px; }
.cartLeftTextField2		{ float:left; width:199px; text-align:left; }
.cartReviewBottomLeft	{ width:470px; float:left; }
.cartReviewBottomRight	{ width:327px; float:left; border-left:1px solid #ccc; background-color:#f7f7f7; border-bottom-right-radius:5px; }
/*.cartReviewRowQty		{ margin-left:50px; width:60px; height:23px; padding-top:7px; font-size:15px; text-align:center; background:url(/images/checkout/qty-field.png) no-repeat; }*/
.cartReviewRowQty		{ margin-left:50px; width:60px; height:24px; padding-top:6px; font-size:15px; text-align:center; background-color:#f7f7f7; border-radius:5px; }

.hide 					{ display:none; }
.lnkAltimage			{ margin-right:2px; }

.p10					{ padding:10px; }
.tb						{ display:table; }

.fcMainBox				{ position:absolute; top:28px; right:0px; width:290px; border:5px solid #ee7944; border-bottom-left-radius:5px; border-bottom-right-radius:5px; background-color:#FFF; z-index:9999;
						-moz-box-shadow: 0px 10px 5px #888;
						-webkit-box-shadow: 0px 10px 5px #888;
						box-shadow: 0px 5px 5px #888;
}
.fcArrow				{ background: url(/images/template/top/sitetop-cart-bar.gif); height:18px; padding:10px 5px 0px 5px; cursor:pointer; }
.fcTopRow				{ padding:10px; background-color:#f7f7f7; width:270px; border-bottom:1px solid #CCC; }
.fcAddedCheck			{ background-image:url(/images/floatingCart/success-checkmark.png); width:19px; height:19px; margin-right:10px; }
.fcAddedText			{ font-weight:bold; font-size:14px; }
.fcCloseCheck			{ background-image:url(/images/floatingCart/close-x.png); width:15px; height:15px; margin-left:5px; cursor:pointer; }
.fcCloseText			{ cursor:pointer; }
.fcItem					{ padding-bottom:5px; border-bottom:1px solid #CCC; width:290px; }
.fcImg					{ padding:10px; width:100px; height:100px; }
.fcDesc					{ width:160px; font-weight:bold; padding:10px 10px 0px 0px; text-align:left; }
.fcPriceRow				{ width:160px; padding:5px 10px 0px 0px; }
.fcPriceTitle			{ font-weight:bold; width:80px; text-align:right; padding-top:2px; }
.fcPrice				{ font-weight:bold; color:#C00; font-size:16px; text-align:right; width:70px; }
.fcRetailTitle			{ width:80px; text-align:right; }
.fcRetail				{ text-align:right; width:70px; text-decoration:line-through; }
.qtyRow					{ width:280px; padding-left:10px; }
.qtyTitle				{ font-weight:bold; }
.qtyAmt					{ width:25px; text-align:center; border-right:1px solid #000; }
.qtyAmt2				{ width:25px; text-align:center; border-right:1px solid #000; }
.fcRemove				{ padding-left:10px; cursor:pointer; text-decoration:underline; font-size:10px; color:#006699; !important; }
.subTotalRow			{ padding:10px; border-bottom:1px solid #CCC; width:270px; }
.fcSubtotalTitle		{ width:170px; text-align:right; }
.fcSubtotalAmt			{ width:80px; text-align:right; }
.fcSubtotalTitle2		{ width:170px; text-align:right; margin-top:5px; }
.fcShipAmt				{ width:80px; text-align:right; font-weight:bold; margin-top:5px; }
.itemTotalRow			{ padding:10px; width:270px; }
.itemTotalTitle			{ width:170px; text-align:right; font-weight:bold; font-size:14px; }
.itemTotalAmt			{ width:80px; text-align:right; font-weight:bold; font-size:14px; color:#C00; }
.fcCheckoutRow			{ width:280px; padding:5px 5px 15px 5px; }
.fcViewCart				{ background-image:url(/images/floatingCart/cta-view-cart.png); width:132px; height:36px; cursor:pointer; }
.fcCheckout1			{ background-image:url(/images/floatingCart/cta-checkout-sm.png); width:132px; height:36px; margin-left:5px; cursor:pointer; }
.fcCheckout2			{ background-image:url(/images/floatingCart/cta-checkout-lrg.png); width:272px; height:36px; cursor:pointer; }
.fcViewCartLink			{ cursor:pointer; text-decoration:underline; font-size:10px; color:#006699; !important; padding-top:5px; }
.otherItemSlot			{ padding:10px; font-weight:bold; border-bottom:1px solid #CCC; background-color:#f7f7f7; width:270px; text-align:left; }

#btnAddToCart			{ display:none; }

/* Here is the test CSS */
.qtyAmtAdj				{ margin-left:10px; }
.qtyAdjBttn				{ border-right:1px solid #CCC; padding-right:10px; }
.fcSecureLock			{ background-image:url(/images/icons/secureLock.gif); width:12px; height:16px; }
.fcSecureTxt			{ font-size:11px; color:#333; padding-top:2px; margin-left:5px; }
.fcProceedToCart		{ background-image:url(/images/floatingCart/proceedToCart.gif); width:272px; height:36px; margin:0px auto; cursor:pointer; }
.fcOrSpacer				{ color:#999; font-size:14px; font-weight:bold; margin:10px auto; }
.fcCheckoutTxtLink		{ color:#006699; font-size:14px; font-weight:bold; margin:0px auto; text-decoration:underline; cursor:pointer; }
.fcSecureMsg			{ margin-bottom:8px; }

/* new top 2nd row and email acquisition widget assets */
.fold-left{background:url("/images/template/top/fold-left.png") no-repeat; width:10px; height:14px;}
.fold-right{background:url("/images/template/top/fold-right.png") no-repeat; width:10px; height:14px;}
.menu2{background:url("/images/template/top/menu-bar2-bg.png") repeat-x;border-left:1px solid #ccc;border-right:1px solid #ccc;border-bottom:1px solid #ccc;height:36px;}
.search{margin:5px 0 5px 10px; padding: 4px 5px;background:url("/images/template/top/search-long.png") no-repeat; width:416px; height:18px; position:relative;float:left;}
.search input { width:412px; height:12px; border:0; padding:3px;color:#999; }
.search-button-container{ padding:5px 0;width:37px; height:26px; position:relative;float:left; }
.search-button {cursor:pointer;width:37px; height:26px; border:0; background:url("/images/template/top/search-button.png") no-repeat; }
.menu2-separator{background:url("/images/template/top/menu-bar2-separator.png") no-repeat; width:2px; height:36px;position:relative;float:left; margin:0 10px;}
.custom-case-container{ width:241px; height:18px; position:relative;float:left; padding:9px 0;}
.custom-case{ background:url("/images/template/top/custom-case.png") no-repeat; border:0; width:241px; height:18px;}
.discount-label { background:url("/images/template/top/15-percent-off.png") no-repeat; border:0; width:182px; height:30px; margin:3px 10px 3px 0;position:relative;float:left;}
.discount-label25 { background:url("/images/template/top/25-percent-off.png") no-repeat; border:0; width:182px; height:30px; margin:3px 10px 3px 0;position:relative;float:left;}
.discount{background:url("/images/template/top/discount-long.png") no-repeat; width:236px; height:19px;position:relative;float:left;margin:5px 0 4px 0; padding:4px;}
.discount input { width:230px; height:12px; padding:3px; border:0; color:#999; }
.discount-button-container{ padding:5px 0;width:37px; height:26px; position:relative;float:left; }
.discount-button {cursor:pointer;width:37px; height:26px; border:0; background:url("/images/template/top/go-button.png") no-repeat; }
.hide {display:none;}
.close{background:url("/images/template/top/close.png") no-repeat; width:18px; height:18px; position:relative;float:right;display:block;}
.email-container{ width:550px; font-family:'PT Sans', Helvetica, sans-serif; background-color:#f9f9f9; padding:10px; border-radius:5px; -moz-box-shadow: 0px 5px 5px #222; -webkit-box-shadow: 0px 5px 5px #222; box-shadow: 0px 5px 5px #222; top:50px; left:50%; margin-left:-275px; position:fixed; }
.email-container h1, .email-container p, .email-container input { margin:0 auto; display:block; }
.email-container h1 { text-align:center; font-size:40px; font-weight:normal;}
.email-container p { line-height:30px; font-size:14px;}
.email-container div { margin:10px auto 0 auto; padding-top:12px; text-align:center; font-size: 22px; width:282px; height:42px; color:#fff; background:url("/images/template/top/continue-button.png") no-repeat; border:0; cursor:pointer; font-family:'PT Sans', Helvetica, sans-serif; }
.floating-container{position:fixed;width:372px;bottom:0; z-index:500;}
.floating-discount{position:relative;float:left;margin-left:20px;width:372px;}
.floating-discount-title{font-family:'Open Sans', sans-serif;font-size:15px;font-weight:normal;width:332px;padding:10px 20px 5px;position:relative;float:left;height:21px;border-top-left-radius:10px;border-top-right-radius:10px;background:#333;color:#fff; cursor:pointer;}
.contract{width:16px;height:16px;background:url("/images/template/top/contract-expand.png") 0 0 no-repeat; margin:2px 0 0 0;cursor:pointer;position:relative;float:right;}
.expand{width:16px;height:16px;background:url("/images/template/top/contract-expand.png") 0 -16px no-repeat; margin:2px 0 0 0;cursor:pointer;position:relative;float:right;}
.email-discount-container{font-family:'Open Sans', sans-serif;color:#fff;font-weight:normal;font-size:15px;width:332px;position:relative;float:left;height:40px;background:#333;padding:0 20px 5px;}
.floating-email{position:relative;float:left;width:248px;height:21px;padding:5px;border:0;border-top-left-radius:5px;border-bottom-left-radius:5px;font-family:'Open Sans', sans-serif; font-size:15px;color;#999;}
.floating-submit{position:relative;float:left;width:72px;height:31px;background:url("/images/template/top/floating-submit.png") no-repeat;border:0;cursor:pointer;color:#fff;font-family:'Open Sans', sans-serif; font-size:15px;font-weight:bold;}

/* 404 page */
.top-content{display:table;margin:0 0 45px 0;}
.page-not-found{float:left;width:226px;height:470px;background:url("/images/404/page-not-found.png") no-repeat;margin:0 35px 0 0;}
.content{float:left;width:677px;}
.content .header{float:left;width:677px;color:#333333; border-bottom:1px solid #ccc;padding:0 0 30px 0;margin:0 0 30px 0;}
.content .header h1{font-size:64px;font-weight:bold;margin:5px 0 10px 0;text-align:center;display:block;}
.content .header h2, .content .links h2{font-size:23px;font-weight:normal;margin:0 0 10px 0;text-align:center;display:block;}
.content .header h2 span{color:#f36b2d;font-weight:bold;}
.content .links{position:relative;float:left;width:677px;color:#333333;}
.content .links-container-left,.content .links-container-right{position:relative;float:left;text-align:center;width:250px;text-align:left;font-size:15px;line-height:25px;}
.links-container-left{margin:20px 0 0 90px;}
.links-container-right{margin:20px 0 0 0;}
.content .links a{text-decoration:underline;color:#006699;}

.section{display:table;width:938px;margin:0 0 20px 0;}
.section .items{margin:10px auto 0;float:left;width:958px;overflow:hidden;height:220px;}
.items .item{width:120px;padding:5px;}
.item{float:left;}
.item .image{width:120px;height:100px;text-align:center;margin:5px 0;}
.item .name{text-align:center;height:45px;line-height:15px;overflow:hidden;}
.item .name a{color:#000;text-decoration:none;}
.item .prices{text-align:center;margin:20px 0 0 0;}
.prices .regular-price{font-size:10px;font-weight:bold;color:#666666;text-decoration:line-through;}
.prices .price{font-size:16px;font-weight:bold;color:#ff0000;}

.decline-content {width:846px;position:relative;float:left;margin:20px 46px;padding:10px;}
.decline-content .head {position:relative;float:left;width:100%;border-bottom:1px solid #ccc; padding:0 0 10px 0;margin:0 0 20px 0;}
.decline-content .head .title{position:relative;float:left;font-size:24px;font-weight:600;}
.decline-content .head .lock{position:relative;float:left;margin:0 0 0 10px;background:url("/images/decline/lock.png") no-repeat;width:17px; height:24px;}
.decline-content .head .steps {position:relative;float:right;}
.steps div {padding:6px 0 6px 33px; margin:0 0 0 10px;}
.steps .step1{position:relative;float:left;color:#ccc;font-size:14px;font-weight:bold;background:url("/images/decline/step1.png") no-repeat;}
.steps .step2{position:relative;float:left;color:#000;font-size:14px;font-weight:bold;background:url("/images/decline/step2.png") no-repeat;}
.steps .step3{position:relative;float:left;color:#ccc;font-size:14px;font-weight:bold;background:url("/images/decline/step3.png") no-repeat;}
ul.errors {list-style-type:none;margin:0;display:block;position:relative;float:left;display:inline;padding:0;}
ul.errors li {display:block;background:url("/images/decline/icon-warning.png") no-repeat 8px 5px #b01332;padding:10px 10px 8px 38px;color:#fff;margin:0 0 10px 0;position:relative;float:left;width:818px;font-weight:bold;}
.form-container{position:relative;float:left;width:866px;margin:20px 0 0 0;}

.form-container .form {position:relative;float:left;width:644px; margin:0 20px 0 0;}
.form-container .form h1 {font-size:18px;font-weight:bold;margin:0 0 10px 0;float:left;}
.form-container .form h1 span {color:#f26923;}
.form-container .form .step1, .form-container .form .step2{position:relative;float:left;width:624px;border:1px solid #ccc;border-radius:5px;padding:20px 10px 10px 10px;margin:0 0 20px 0;}
.form-container .notes{position:relative;float:left;width:160px;padding:20px;border:1px solid #ccc;border-radius:5px;margin:33px 0 0 0;}
.form-container .form .step1 input, .form-container .form .step1 select {border:1px solid #b01332;background:#f2e6e8;margin:0 0 5px 0;padding:3px;}
.form-container .form .step1 .tip {font-size:11px;font-style:italic;position:relative;float:left;margin:20px 0 0 20px;}
.step1 .tip a{color:#008ea3;text-decoration:underline;}

.cards {margin:0 0 20px 20px; position:relative;float:left;}
.cards div {position:relative;float:left;margin:0 5px 0 0;}
.mast-off{background:url("/images/decline/cc-mast-off.png") no-repeat; width:49px;height:32px;}
.mast-on{background:url("/images/decline/cc-mast-on.png") no-repeat; width:49px;height:32px;}
.visa-off{background:url("/images/decline/cc-visa-off.png") no-repeat; width:49px;height:32px;}
.visa-on{background:url("/images/decline/cc-visa-on.png") no-repeat; width:49px;height:32px;}
.amex-off{background:url("/images/decline/cc-amex-off.png") no-repeat; width:49px;height:32px;}
.amex-on{background:url("/images/decline/cc-amex-on.png") no-repeat; width:49px;height:32px;}
.disc-off{background:url("/images/decline/cc-disc-off.png") no-repeat; width:49px;height:32px;}
.disc-on{background:url("/images/decline/cc-disc-on.png") no-repeat; width:49px;height:32px;}
.form-container .form .step1 .fields {position:relative;float:left;margin:0 0 5px 20px;width:606px;}
.step1 .fields  .label-container{width:115px; position:relative;float:left;margin:0 20px 0 0;text-align:right;font-size:14px;}
.step1 .fields  .field-container {position:relative;float:left;margin:0 10px 0 0;line-height:16px;}
.step1 .fields a.orange{color:#f26923;font-weight:bold;}


.form-container .form .step2 .billing { position:relative;float:left;width:606px;margin:0 0 20px 0; }
.step2 .billing .content-container  a{color:#008ea3;font-size:13px;}
.step2 .field-container{position:relative;float:left;}
.step2 .field-container input{margin:0 0 5px 0; padding:3px;border:1px solid #666;}
.step2 .field-container .disabled {color:#999;}
.step2 .field-container .enabled{border:1px solid gray;color:#000;}
.step2 .fields{position:relative;float:left;width:606px;margin:0 0 20px 0;}
.step2 .label-container{position:relative;float:left;margin:0 20px 0 0;text-align:right;font-size:14px;width:130px;font-weight:bold;}
.step2 .billing .label-container {font-size:18px;color:#999;width:130px;font-weight:normal;}
.step2 .content-container{position:relative;float:left;font-size:14px;color:#999;}
.step2 .billing .content-container{font-size:10px; margin-top:5px;}

.notes .note {position:relative;float;left; width:160px; border-bottom:1px solid #ccc; padding:0 0 10px 0;margin:0 0 20px 0;}
.notes .note h1 {font-size:18px;font-weight:bold;margin:0;float:left;display:block;width:100%;}
.notes .call-us{width:160px;position:relative;float:left;background:url("/images/decline/icon-phone.png") no-repeat 5px; padding:0 0 0 30px;color:#000;font-weight:bold;font-size:14px;font-family:"Open Sans", sans-serif;margin:0 0 20px 0;}
.notes .call-us span{color:#999;font-size:8px;font-weight:bold;}
.notes .chat-now{width:160px;position:relative;float:left;background:url("/images/decline/icon-chat.png") no-repeat 5px; padding:0 0 0 30px;color:#000;font-weight:bold;font-size:14px;font-family:"Open Sans", sans-serif;}
.notes .chat-now span{color:#999;font-size:8px;font-weight:bold;}
.notes .note p {margin:0;}
.notes a {color:#000;}


.buttons-container {width:867px;position:relative;float:left;margin:10px 0 50px 0;}
.buttons{width:499px;margin:0 auto;position:relative;height:50px;line-height:56px;}
.buttons .submit {position:relative;float:left;width:272px;height:56px;border:0;padding:0;text-align:center;font-weight:bold;font-size:16px;line-height:22px;}
.buttons .submit img{border:0;cursor:pointer;}
.buttons .or{font-size:14px;font-weight:bold;margin:0 20px;position:relative;float:left;}
.buttons .paypal{position:relative;float:left;background:url("/images/decline/paypal.png") no-repeat;width:146px;height:44px;}


/* SIM */
.breadcrumbs{ position:relative;float:left;width:748px;font-family:'Open Sans', sans-serif; font-size:12px; }
.breadcrumbs a.breadcrumb {color:#006797;font-weight:bold;text-decoration:underline;}
.breadcrumbs .separator { background:url("http://keydiscoveryinc.com/wireless-emporium/we-sim/images/bc-separator.png") no-repeat;margin:10px 5px 0; width:5px; height:5px;display:inline-block;}

.sim-header { position:relative; float:left; width:748px; margin:10px 0 0 0; }
.sim-image{position:relative;float:left;width:125px;margin:0 10px 0 20px; text-align:center;}
.sim-image .bg{width:125px;position:absolute;top:0;left;0;background:#eeeeee;border-radius:5px;height:119px;z-index:-15000;}
.sim-image .sim{position:relative;margin:8px auto 0; border:0;z-index:1;width:87px;height:137px;background:url("http://keydiscoveryinc.com/wireless-emporium/we-sim/images/sim-image.png") no-repeat;}
.sim-desc{position:relative;float:left;width:593px;padding:10px 0;}
.sim-desc .title{width:573px;position:relative;float:left;font-size:28px;font-weight:600;font-family:'Open Sans', sans-serif;padding:0 10px;}
.sim-desc .subtitle {position:relative;float:left;width:573px;border-bottom:1px solid #cccccc;padding:0 10px 8px;}
.sim-desc .subtitle .text{font-size:16px;font-weight:normal;font-family:'Open Sans', sans-serif;position:relative;float:left;height:20px;padding:4px 0;}
.sim-desc .subtitle .button{position:relative;float:left;background:url("http://keydiscoveryinc.com/wireless-emporium/we-sim/images/learn-more.png") no-repeat;width:110px;height:28px;margin:0 0 0 10px;}
.sim-desc .features{position:relative;float:left;width:573px;padding:0 10px;font-size:14px;font-weight:600;}
.sim-desc .features ul {list-style-type:none;padding:0;}
.sim-desc .features ul li {background:url("http://keydiscoveryinc.com/wireless-emporium/we-sim/images/checkmark.png") no-repeat; padding:0 0 0 18px; margin:0 10px 0 0;display:inline-block;}

.pagination{position:relative;float:left;margin:20px 0 5px 0;font-size:14px;font-family:'Open Sans', sans-serif;}
.sort {width:726px; position:relative;float:left; border:1px solid #ccc;background:#f7f7f7;font-family:'Open Sans', sans-serif;font-size:14px;margin:0 0 20px 0;font-size:14px;font-family:'Open Sans', sans-serif;padding:3px 10px;}
.sort label { position:relative;float:left;padding:8px 0;margin:0 5px 0 0;}
.sort .styled-select select {
	background: transparent;
   width: 150px;
   padding: 5px;
   font-size: 14px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 34px;
   -webkit-appearance: none;
	position:relative;float:left;
	font-family:'Open Sans', sans-serif;
}

.styled-select {
   width: 122px;
   height: 31px;
   overflow: hidden;
   background: url("http://keydiscoveryinc.com/wireless-emporium/we-sim/images/down-arrow.png") no-repeat right #fff;
   border: 1px solid #ccc;
   border-radius:3px;
   position:relative;float:left;
   margin:0 10px 0 0;
}

.sort .left {width:400px;}
.sort .right{width:300px;text-align:right;}
.sort .left .sort-option{position:relative;float:left;margin:0 10px 0 0;}
.sort .left .view-option{position:relative;float:left;}
.sort .right .pagenum{padding:8px 0;}

.sim-products {position:relative;float:left;width:746px;padding:0 0 20px 0;font-family:'Open Sans', sans-serif;border-bottom:1px solid #ccc;margin:0 0 20px 0;}
.sim-products .sim-product, .section-main .sim-product{position:relative;float:left;width:186px;text-align:center;border:0;margin:0 0 20px 0;}
.sim-product .image { width:186px;position:relative;float:left;text-align:center; }
.sim-product .image img { margin:0 auto; border:0;}
.sim-product .name { width:150px; margin:10px 18px 5px; position:relative;text-align:center;float:left; }
.sim-product .name a:link, .sim-product .name a:visited {text-decoration:none;color:#000;}
.sim-product .name a:hover, .sim-product .name a:active{text-decoration:underline;color:#000;}
.sim-product .price {color:#ff6501;font-weight:bold;}
.sim-product .price span.our {color:#000;}
.sim-product .list-price {color:#666; margin-bottom:10px;}
.sim-product .list-price .strike {text-decoration:line-through;}
.sim-product .free-ship{width:138px;height:27px;margin:0 auto;background:url("http://keydiscoveryinc.com/wireless-emporium/we-sim/images/free-shipping.png") no-repeat;}

.sim-section {width:746px;position:relative;float:left;font-family:'Open Sans', sans-serif; border-bottom:1px solid #ccc;padding:0 0 20px 0;margin:0 0 20px 0;}
.sim-section-header{position:relative;float:left;width:746px;margin:0 0 20px 0;}
.fp-icon {position:relative;float:left;background:url("http://keydiscoveryinc.com/wireless-emporium/we-sim/images/add-icon.png") no-repeat;width:50px;height:33px;margin:0 20px 0 0;}
.sim-section-header .sim-section-title{position:relative;float:left;font-size:18px; font-weight:bold;}
.back-to-top{position:relative;float:right;background:url("http://keydiscoveryinc.com/wireless-emporium/we-sim/images/up-arrow.png") no-repeat; padding:0 10px 0 20px; color:#33669b;font-size:12px;text-decoration:none;}
.sim-section .sim-section-main {position:relative;float:left;width:746px;}
.sim-section .sim-section-main .fp-combo{position:relative;float:left;width:746px;margin:0 0 10px 0;}
.sim-section .sim-section-main .fp-combo .product{position:relative;float:left;width:130px;text-align:center;}
.sim-section .sim-section-main .fp-combo .plus{position:relative;float:left;width:30px;height:30px;background:url("http://keydiscoveryinc.com/wireless-emporium/we-sim/images/plus.png") no-repeat;background-position:0px;padding:35px 0;}
.sim-section .sim-section-main .add-both{position:relative;float:left;width:368px;}
.sim-section .sim-section-main .add-both .price-both{position:relative;float;left;width:368px;margin:0 0 10px 0;font-size:13px;font-weight:bold;}
.sim-section .sim-section-main .add-both .price-both span{color:#ff6501;}
.sim-section .sim-section-main .add-both .button-container{position:relative;float:left;width:368px;margin:0 0 10px 0;}
.sim-section .sim-section-main .add-both input{background:url("http://keydiscoveryinc.com/wireless-emporium/we-sim/images/cta.png") no-repeat;border:0;width:206px;height:34px;position:relative;float:left;margin:0;padding:0;cursor:pointer;}
.sim-section .sim-section-main .add-both .in-stock{background:url("http://keydiscoveryinc.com/wireless-emporium/we-sim/images/checkmark.png") no-repeat; padding:0 0 0 20px; position:relative;float:left;width:352px;margin:0 0 10px 0;font-size:13px;}
.sim-section .sim-section-main .fp-options{position:relative;float:left;width:746px;}
.fp-options input[type="checkbox"]{margin-bottom:0;}
.fp-options label {color:#33669b;text-decoration:underline;}
.fp-options span.price{color:#ff6501;font-weight:bold;}
.ov-icon{position:relative;float:left;background:url("http://keydiscoveryinc.com/wireless-emporium/we-sim/images/eyeball.png") no-repeat;width:50px;height:28px;margin:0 20px 0 0;}

#slides {position:relative;float:left;width:748px;}

.slides_container {width:706px;height:210px;position:relative;float:left;}
.slides_container div {width:160px;}
.slides_control {height:201px !important;width:1000px;}
.products .product, .sim-section-main .product{position:relative;float:left;width:186px;text-align:center;border:0;margin:0 0 20px 0;}
.slides_container .slide {width:701px !important;}
.slides_container .slide div {width:165px;position:relative;float:left;margin:0 5px;}
.slides_container .slide div .image { width:165px;position:relative;float:left;text-align:center; }
.slides_container .slide div .image img { margin:0 auto; border:0;}
.slides_container .slide div .name { width:165px;margin:10px 0; position:relative;text-align:center;float:left; }
.slides_container .slide div .name a:link, .slides_container div .name a:visited {text-decoration:none;color:#000;}
.slides_container .slide div .name a:hover, .slides_container div .name a:active{text-decoration:underline;color:#000;}
.slides_container .slide div .price {width:165px;position:relative;float:left;color:#ff6501;font-weight:bold;text-align:center;}
.slides_container .slide div .price span.our {color:#000;}
.slides_container .slide div .list-price {width:165px;position:relative;float:left;text-align:center;color:#666; margin-bottom:10px;}
.slides_container .slide div .list-price .strike {text-decoration:line-through;}
.slides_container .slide div .free-ship-container{width:165px;;position:relative;float:left;}
.slides_container .slides_control .slide div.free-ship1{width:143px;height:27px;margin:0 10px;background:url("http://keydiscoveryinc.com/wireless-emporium/we-sim/images/free-shipping.png") no-repeat;}

.slides_control {left:0;}
.arrow-left {position:relative;float:left;background:url("http://keydiscoveryinc.com/wireless-emporium/we-sim/images/left.png") no-repeat;width:21px;	height:103px;cursor:pointer;}
.arrow-right {position:relative;float:left;background:url("http://keydiscoveryinc.com/wireless-emporium/we-sim/images/right.png") no-repeat;width:21px;height:103px;cursor:pointer;}

.spiel-section{width:746px;position:relative;float:left;height:5px;height:650px;}
.spiel-top{width:708px;position:absolute;padding:20px;top:0;background:#f7f7f7;border-radius:5px;height:524px;font-family:'Open Sans', sans-serif;font-size:12px;}
.spiel-top h1{margin:0;text-align:center;font-weight:600;font-size:28px;}
.spiel-top h2{margin:0;text-align:center;font-weight:normal;font-size:20px;}
.spiel-top ul {list-style-type:none;padding:0;margin:30px 0 0 0;}
.spiel-top ul li{padding:10px 0 0 50px; margin:0 20px 30px 5px;display:inline-block;min-height:50px;width:270px;}
.spiel-top ul li.icon1{background:url("http://keydiscoveryinc.com/wireless-emporium/we-sim/images/globe.png") no-repeat;}
.spiel-top ul li.icon2{background:url("http://keydiscoveryinc.com/wireless-emporium/we-sim/images/lock.png") no-repeat 5px 0;}
.spiel-top ul li.icon3{background:url("http://keydiscoveryinc.com/wireless-emporium/we-sim/images/phone.png") no-repeat 8px 0;}
.spiel-top ul li.icon4{background:url("http://keydiscoveryinc.com/wireless-emporium/we-sim/images/clock.png") no-repeat;}
.spiel-top ul li p{margin:0 0 10px 0;}

.landing-desc .features ul {list-style-type:none;padding:0;}
.landing-desc .features ul li {background:url("http://keydiscoveryinc.com/wireless-emporium/we-sim/images/checkmark.png") no-repeat; padding:0 0 0 18px; margin:0 10px 0 0;display:inline-block;}

.spiel-bottom-container{width:746px;position:absolute;bottom:20px;}
.spiel-bottom{width:746px;float:left;}
.iphone{position:relative;float:left;background:url("http://keydiscoveryinc.com/wireless-emporium/we-sim/images/iphone.png") no-repeat; width:236px;height:259px;}
.spiel-bottom-content{font-family:'Open Sans', sans-serif;font-size:12px;position:relative;float:left;margin:50px 0 0 10px;width:473px;}
.spiel-bottom-container .back-to-top {font-family:'Open Sans', sans-serif;font-size:12px;position:absolute;right:0;bottom:30px;}

.siteBlue { color:#006699; }
a.siteBlue { color:#006699; }

.pages					{ float:right; height:30px;}
.pages .on				{ float:left; border:2px solid #ff6600; padding:3px 7px 3px 7px; background-color:#ff6600; color:#fff; font-size:15px; font-weight:bold; margin-left:7px; border-radius:2px; cursor:pointer; }
.pages .on:hover		{ float:left; border:2px solid #ff6600; padding:3px 7px 3px 7px; background-color:#ff6600; color:#fff; font-size:15px; font-weight:bold; margin-left:7px; border-radius:2px; cursor:pointer; }

.pages .off				{ float:left; border:2px solid #ccc; padding:3px 7px 3px 7px; background-color:#fff; color:#006699; font-size:15px; margin-left:7px; border-radius:2px; cursor:pointer; }
.pages .off:hover		{ float:left; border:2px solid #ff6600; padding:3px 7px 3px 7px; background-color:#ff6600; color:#fff; font-size:15px; font-weight:bold; margin-left:7px; border-radius:2px; cursor:pointer; }

.unlocked	a.sortingOn		{ color:#006699; font-size:16px; text-decoration:underline; font-weight:bold; }
.unlocked	a.sortingOff	{ color:#006699; font-size:16px; }
.unlocked	.item			{ float:left; width:230px; margin:50px 0px 0px 17px; position:relative; }
.unlocked	.item	.title	{ float:left; width:100%; font-size:16px; color:#333; padding-top:8px; height:58px; overflow:hidden; text-align:left; }
.unlocked	.item	.title	a { font-size:16px; color:#333; }
.unlocked	.item	.review	{ float:left; color:#006699; font-size:15px; margin-left:10px; }
.unlocked	.item	.price			{ float:left; font-size:16px; color:#ff6600; font-weight:bold; margin-left:7px; }
.unlocked	.item	.priceRetail	{ float:left; font-size:14px; color:#888; text-decoration:line-through; }
.unlocked	.item	.freeShipping	{ float:left; color:#333; font-size:15px; font-weight:bold; padding-top:8px; }
.unlocked	.item	.carrierLogo	{ position:absolute; top:0px; right:-5px; z-index:100px; }

.hidden	{ display:none; }

.popup-container { width:650px; font-family:'PT Sans', Helvetica, sans-serif; background-color:#f9f9f9; -moz-box-shadow: 0px 5px 5px #222; -webkit-box-shadow: 0px 5px 5px #222; box-shadow: 0px 5px 5px #222; top:50px; left:50%; margin-left:-350px; position:fixed; }
.popup-container a.close { background:url(/images/freereturnshipping/popup-button-x.png) no-repeat; width:32px; height:31px; top:-15px; right:-15px; position:absolute; }

#mvt_freeReturnMain	{
	display:block !important;
	background: #fcfcfc; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f2f2f2'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f2f2f2)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #ffffff,  #f2f2f2); /* for firefox 3.6+ */
	border:1px solid #e1e1e1;
	width:723px; height:34px; padding:8px 0px 0px 15px;
	color:#333; font-size:20px;
	position:relative;
	}
	
#mvt_freeReturnMain	.normal { font-family:'Open Sans', sans-serif; }
#mvt_freeReturnMain	.boldOrange { color:#ff6600; font-weight:bold; }	
#mvt_freeReturnMain	a { color:#333; font-size:10px; text-transform:uppercase; text-decoration:underline; }
#mvt_btnLearnMore { background:url(/images/freereturnshipping/free-return-button.png) no-repeat; width:23px; height:21px; top:15px; right:7px; position:absolute; cursor:pointer; }
#mvt_buyRiskFree { display:block !important; background:url(/images/freereturnshipping/free-return-button-buy-risk-free.jpg) no-repeat; width:200px; height:40px; cursor:pointer; margin-bottom:10px; clear:both; }
#mvt_buyRiskFreeCheckout { display:block !important; background:url(/images/freereturnshipping/free-return-button-buy-risk-free-checkout.jpg) no-repeat; width:241px; height:48px; cursor:pointer; margin-bottom:10px; clear:both; margin:60px 0px 0px 65px; }
#mvt_srRunnerLeftBottom { display:block !important; float:left; background:url(/images/freereturnshipping/free-return-button-shoprunner.jpg) no-repeat; width:196px; height:89px; cursor:pointer; }
#mvt_freeReturnShippingBanner { display:block !important; background:url(/images/freereturnshipping/free-return-top-mini-banner.jpg) no-repeat; width:333px; height:53px; cursor:pointer; float:right; margin:5px 10px 0px 0px; }
#mvt_checkoutBanner { display:none !important; }
#mvt_freeReturnShippingCheckoutBanner { display:block !important; }

.titleIconRecommend { background-image:url(/images/icons/recommendedItems.gif); width:50px; height:45px; }
.titleIconRecent { background-image:url(/images/icons/recentlyViewed.gif); width:50px; height:45px; }
.titleIconTabs { background-image:url(/images/icons/productTabIcon.gif); width:50px; height:45px; }
.titleIconExclusiveOffer { background-image:url(/images/icons/exclusiveOffer.gif); width:50px; height:45px; }
.titleIconShareThoughts { background-image:url(/images/icons/shareThoughts.gif); width:50px; height:45px; }
.titleMainBar { height:28px; background-color:#e6e6e6; margin-top:6px; width:668px; font-size:18px; font-weight:bold; color:#000; padding:5px 0px 0px 20px; position:relative; }
.titleRight { width:10px; height:33px; background-image:url(/images/icons/titleBarRight.gif); margin-top:6px; }