.nxt-ac-item, .nxt-ac-products-container, .nxt-ac-section-container, .nxt-ac-main, .nxt-ac-header {
	zoom:1
}
.nxt-ac-item:after, .nxt-ac-products-container:after, .nxt-ac-section-container:after, .nxt-ac-main:after, .nxt-ac-header:after {
	content:" ";
	display:block;
	visibility:hidden;
	clear:both;
	height:.1px;
	font-size:.1em;
	line-height:0
}
.nxt-ac-main {
	z-index:1050;
	font-family:Arial, "Helvetica Neue", Helvetica, Geneva, sans-serif;
	font-size:12px;
	width:400px!important;
	position:absolute;
	top:28px;
	overflow:hidden;
	padding:5px;
	margin:0;
	text-align:left;
	border:1px solid #ddd;
	min-height:20px;
	-webkit-border-radius:0 0 5px 5px;
	-moz-border-radius:0 0 5px 5px;
	border-radius:0 0 5px 5px;
	-webkit-box-shadow:0 2px 5px #ccc;
	-moz-box-shadow:0 2px 5px #ccc;
	box-shadow:0 2px 5px #ccc;
	-webkit-box-shadow:0 2px 5px rgba(0, 0, 0, .2);
	-moz-box-shadow:0 2px 5px rgba(0, 0, 0, .2);
	box-shadow:0 2px 5px rgba(0, 0, 0, .2)
}
.nxt-ac-main, .nxt-ac-main .nxt-ac-products-container, .nxt-ac-main .nxt-ac-section-container {
	background-color:#fff
}
.nxt-ac-main .nxt-ac-header {
	font-size:16px;
	font-weight:700;
	padding:5px;
	color:#575c6d;
	cursor:default
}
.nxt-ac-item {
	cursor:pointer;
	border-top:1px solid #eee;
	padding:6px;
	font-style:normal;
	color:#1e4ea7;
	outline:none;
	font-size:11px;
	font-family:"Lucida Grande", Lucida, Verdana, sans-serif;
	line-height:16px;
	position:relative
}
.nxt-ac-products-container .nxt-ac-item {
	clear:both
}
.nxt-ac-main .nxt-ac-selected {
	background:#eee;
	border-top:1px solid #eee
}
.nxt-ac-item img {
	border:none;
	float:left;
	margin-right:10px
}
.nxt-ac-item b {
	font-weight:700;
	text-decoration:underline
}
.nxt-ac-item .nxt-item-txt {
	display:table-cell;
	padding:0;
	color:#1e4ea7
}
.nxt-ac-item .nxt-item-txt a {
	color:#1e4ea7;
	text-decoration:none
}
.nxt-ac-section-container .nxt-item-txt, .nxt-ac-section-container .nxt-ac-item h3 {
	padding:0;
	margin:0;
	font-weight:400;
	font-size:11px
}
.nxt-ac-section-container .nxt-item-txt b, .nxt-ac-section-container .nxt-ac-item h3 b, .nxt-ac-section-container .nxt-item-txt u, .nxt-ac-section-container .nxt-ac-item h3 u {
	font-weight:700;
	text-decoration:underline
}
.nxt-ac-section-container a {
	color:#1e4ea7;
	text-decoration:none;
	font-weight:400
}
.nxt-ac-section-container .nxt-item-txt i {
	color:#666;
	font-size:11px;
	font-style:normal
}
.nxt-ac-all {
	padding:6px 5px;
	border-top:4px solid #eee;
	text-align:right;
	font-size:12px;
	font-family:Arial, "Helvetica Neue", Helvetica, Geneva, sans-serif
}
.nxt-ac-all a {
	text-decoration:none;
	color:#1e4ea7
}
.nxt-ac-all a:hover {
	text-decoration:underline
}
.nxt-ac-banner {
	margin:0;
	font-weight:400;
	font-size:12px;
	padding:5px
}
