/* CSS Document */

#normalPdpBanner { display:none; }
#promoPdpBanner { display:; }

#fcAddBttn { display:none; }
#fcAddBttnPromo { display:; }

#promoFreeGiftMsg { display:; }

#popCartRemove { display:none; }
#popCartRemoveWithPromo { display:; }