body { font-family:Verdana, Geneva, sans-serif; font-size:12px; margin:0px; padding:0px; width:100%; }
#freeShipTop { width:100%; text-align:center; color:#FFF; font-size:18px; background-color:#696969; font-weight:bold; }
#freeText { color:#fe9b35; text-decoration:none; }
#logoRow { height:57px; text-align:center; }
#logoContainer { height:57px; width:320px; margin-left:auto; margin-right:auto; }
#weLogo { float:left; border-right:1px dotted #CCC; height:57px; }
#cartIcon { float:left; position:relative; height:57px; }
#inCart { position:absolute; bottom:0px; width:100%; text-align:center; color:#9a9a9a; font-size:12px; padding-bottom:5px; }
#searchBar { height:40px; width:100%; background-image:url(/images/mobile/orangeRedBg.gif); }
#searchContainer { height:40px; width:320px; margin-left:auto; margin-right:auto; padding-left:4px; }
#searchInput { float:left; margin-top:5px; padding:7px 0px 0px 5px; height:23px; width:240px; background-image:url(/images/mobile/weMobileSearchBackground.gif); }
#searchButton { float:left; padding:3px 0px 0px 2px; }
#searchTextBox { color:#999; border:0px; width:250px; }
#breadCrumbs { height:40px; background-image:url(/images/mobile/whiteGrayBg.gif); width:100%; }
#breadCrumbText { float:left; padding:12px 0px 0px 10px; }
#breadCrumbLink { color:#006599; font-weight:bold; text-decoration:none; height:40px; }
#breadCrumbBreak { float:left; padding-left:10px; height:40px; }
#customerService { height:30px; background-image:url(/images/mobile/whiteGrayBg.gif); width:100%; border-bottom:1px solid #ccc; text-align:center; color:#666; padding-top:10px; font-weight:bold; font-size:16px; }
#csNumber { color:#fff; font-weight:bold; font-size:16px; text-decoration:none; padding-right:15px; }
#lowerBox { background-image:url(/images/mobile/grayNoiseBackground.gif); width:100%; height:209px; margin-top:20px; }
#socializeText { color:#FFF; font-weight:bold; font-size:16px; width:100%; text-align:center; padding-top:10px; }
#socialIcons { margin-left:auto; margin-right:auto; width:200px; height:28px; margin-top:15px; }
#socialIcon { float:left; height:28px; width:29px; margin-left:15px; }
#lowerSpacer { background-image:url(/images/mobile/footerSpacer.gif); width:100%; height:2px; margin-top:10px;}
#footerText { width:100%; text-align:center; color:#FFF; font-size:11px; font-weight:bold; margin-top:10px; }
#basicForm { margin:0px; padding:0px; }
#bottomLinks { color:#FFF; text-decoration:none; }
#wholeSite { width:100%; text-align:center; overflow:hidden; }
#orderByPhone { color:#FFF; font-size:14px; float:left; font-weight:bold; padding:10px 0px 0px 10px; }
#searchBoxRow { margin:10px auto 10px auto; width:320px; height:30px; }
#searchSubmit { float:left; padding:7px 0px 0px 5px; font-size:12px; }
#searchSubmitButton { font-size:14px; }