#curModelDetails { height:120px; width:350px; margin-left:auto; margin-right:auto; padding:5px 0px 10px 0px; }
#modelPic { width:100px; height:120px; padding:5px; float:left; }
#modelText { width:230px; height:120px; padding:5px; float:left; }
#currentlyViewing { color:#666; font-size:9px; text-align:left; }
#modelName { color:#666; font-weight:bold; font-size:12px; padding:10px 0px 10px 0px; text-align:left; height:40px; }
#changeDeviceBox { width:197px; }
#redX { width:40px; height:30px; background-image:url(/images/mobile/buttons/redX.jpg); float:left; }
#tapToChange { width:147px; height:25px; color:#FFF; background-color:#999; float:left; padding:5px 0px 0px 10px; }
#mainProductBox { background-color:#f7f7f7; padding-bottom:10px; text-align:center; margin-left:auto; margin-right:auto; display:table; width:100%; }
#singleProdBox { background-color:#FFF; border:1px solid #CCC; padding-top:5px; width:140px; float:left; margin:10px 0px 0px 10px; }
#prodPic { margin-left:auto; margin-right:auto; height:100px; width:136px; height:127px; }
#prodDesc { text-align:center; background-color:#333; color:#FFF; font-weight:bold; font-size:12px; height:45px; overflow:hidden; padding:5px; margin:5px 0px 0px 0px; line-height:14px; }
#noProds { font-size:18px; font-weight:bold; margin:10px 0px 10px 0px; }