#curBrandDetails { height:120px; width:100%; margin-left:auto; margin-right:auto; padding:5px 0px 10px 0px; border-bottom:1px solid #CCC; border-top:1px solid #CCC; }
#selectDevice { color:#666; font-size:9px; text-align:center; width:250px; }
#brandLogo { width:300px; height:40px; padding:5px; margin:10px auto 10px auto; border:1px solid #CCC; border-radius:10px; }
#changeBrandBox { width:197px; margin:0px auto 0px auto; }
#redX { width:40px; height:30px; background-image:url(/images/mobile/retina/models/we-m-button-red-x.png); background-size:40px 30px; float:left; }
#tapToChange { width:147px; height:25px; color:#FFF; background-color:#999; float:left; padding:5px 0px 0px 10px; }
#mainDiviceBox { background-color:#f7f7f7; padding-bottom:10px; text-align:center; margin-left:auto; margin-right:auto; display:table; width:100%; }
#noDevices { font-size:18px; font-weight:bold; margin:10px 0px 10px 0px; }
.singleDeviceBox { background-color:#FFF; border:1px solid #CCC; padding:5px; width:120px; float:left; margin:10px 0px 0px 10px; }
#devicePic { margin-left:auto; margin-right:auto; height:118px; width:100px; }
#deviceName { text-align:center; font-size:12px; height:44px; overflow:hidden; margin:5px 0px 5px 0px; color:#000; line-height:14px; }