/* Autosuggest styles */
#brm-clear-wrapper {
position: relative;
}
.brm-autosuggest-menu {
	background-color:#fff;
  	position:absolute;
	top:32px;
	left:0px;
	z-index:5000;
	width:100%;
}
.brm-autosuggest-menu > ul {
  float: left;
  width: 45%;
  margin: 0;
  list-style-type: none;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  text-align:left;
  padding:0px 0px 0px 10px;
}
.brm-autosuggest-menu > ul.right {
  width: 45%;
}
.brm-autosuggest-menu > ul > li {
  padding: 3px;
  border-bottom:1px solid #eee;
  margin-left:0px;
}
.brm-autosuggest-menu a {
	display: block;
	color:#005c93;
	text-decoration:none;
}
 
/* Search styles */
#page {
  min-height: 500px;
  padding: 10px;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.fl { float:left; }

.mlt { 
	background: url(/images/mobile/retina/items/we-m-button-morelikethis.png) no-repeat center center;
	background-size:111px 22px;
	height:22px;
	width: 111px;
/*	position: relative;*/
	cursor: pointer;
	z-index: 1;
	text-align: center;
	padding: 0px; 
	border:0px;
}


.productgridpage {
  text-align: center;
}

.producttile {
	background:url(/images/mobile/background-more-like-this-2.jpg) repeat-x; height:90px; padding:5px 0px 5px 0px;
}

.producttile .tileBox {
	display:inline-block; width:310px; padding:0px 5px 0px 5px;
}

.producttile .tileBox .imgBox {
	float:left; width:90px; height:90px; background-color:#fff;
}

.producttile .tileBox .imgBox > img {
 	width: 84px; height:84px; border:1px solid #ccc; padding:2px;
}

.producttile .productdetail {
	float:left; padding-left:10px; width:210px; color:#333; font-size:12px; text-align:left;
}

.producttile .productdetail .name {
	padding-top:3px; font-size:13px; font-weight:bold; text-align:left;
}

.producttile .productdetail .pricing {
	padding-top:3px;  text-align:left;
}

.product {
  display: inline-block;
  width: 137px;
  height: 220px;
  vertical-align: top;
  margin: 5px;
  padding: 5px;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  overflow: hidden;
  text-align: center;
}
.product > img {
  display: block;
}

.product .brand_model {
	color:#fff;
	width:131px;
	padding:1px 3px 1px 3px;
	margin-bottom:2px;
	background-color:#666666;
}

.product .name {
	font-size: 12px;
	color: #000;
	line-height: 14px;
	margin-top:5px;
}

.product .pricing {
	margin:3px 0px 3px 0px;
}

.product .pricing .price {
	font-size: 13px;
	color: #cd0100;
	font-weight: bold;
}

#brm-filters > fieldset {
	margin: 5px;
	padding: 5px;
	border: 1px solid #fff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;	
}

#brm-filters > fieldset > * {
	vertical-align: middle;
	margin: 5px;
}
.viewmore {
  display: block;
  margin: 10px auto;
  text-align: center;
  text-decoration:none;
}
.clear {
  clear: both;
}

#br_searchBox	{ width:220px; height:20px; padding:5px; border-left:1px solid #ccc; border-bottom:1px solid #ccc; border-top:1px solid #ccc; color:#666; margin-left:30px; }
/*#br_searchBtn	{ width:26px; height:27px; background:url(/images/mobile/button-search.jpg) no-repeat; border:0px; }*/

#br_btnJfy		{ background:url(/images/mobile/button-just-for-you.png) no-repeat; width:300px; height:62px; background-size:300px 62px; }
#br_btnTrending	{ background:url(/images/mobile/button-trend.png) no-repeat; width:300px; height:62px; background-size:300px 62px; }