#checkoutStepBox { float:left; padding:3px 10px 0px 0px; }
#checkoutStepImgBox { float:left; padding-right:10px; }
#secureRow { height:40px; background-color:#666; width:100%; }
#secureImg { float:left; padding:10px 10px 0px 10px; }
#secureText { float:left; color:#FFF; font-weight:bold; padding-top:15px; }
#checkoutOption { width:300px; margin:15px auto 0px auto; text-align:center; }
#otherOptions { width:100%; border-top:1px solid #CCC; border-bottom:1px solid #CCC; background-color:#f7f7f7; margin-top:10px; padding-bottom:10px; }
#dataEntryRow { height:50px; width:100%; padding-bottom:15px; }
#entryTitle { width:300px; text-align:left; margin:0px auto 0px auto; height:20px; }
#entryField { height:30px; width:300px; margin:0px auto 0px auto; text-align:center; background-image:url(/images/mobile/retina/checkout/we-m-field.png); background-size:300px 30px; background-repeat:no-repeat; }
#entryTitleStar { float:left; padding:0px 10px 0px 10px; }
#entryTitleText { float:left; font-weight:bold; color:#666; }
#dataEntryInput { border:0px; background-color:transparent; width:275px; margin-top:6px; }
#entryFormContainer { width:100%; background-color:#f7f7f7; padding-top:15px; border-bottom:1px solid #CCC; }
#checkBoxRow1 { border-bottom:1px solid #CCC; padding:15px 20px 0px 10px; height:45px; }
#checkmarkIcon { float:left; padding-right:15px; }
#checkmarkText { float:left; width:240px; }
#checkBoxRow2 { border-bottom:1px solid #CCC; padding:15px 20px 0px 10px; height:45px; background-color:#f7f7f7; }
#boldOrange { color:#fd7110; font-weight:bold; padding-bottom:3px; }
#arrivesIn { color:#666; font-style:italic; }
#otherShippingOptions { width:100%; }
#waitingForZip { width:100%; text-align:center; font-weight:bold; color:#F00; padding:15px 0px 15px 0px; }
#billingAddrForm { width:100%; background-color:#f7f7f7; padding-top:15px; border-bottom:1px solid #CCC; }
#orderReviewContainer { width:100%; background-color:#f7f7f7; padding:10px 0px 10px 0px; border-bottom:1px solid #CCC; }
#orderReviewBox { border:1px solid #CCC; background-color:#FFF; width:95%; padding-top:15px; margin:0px auto 0px auto; }
#orderReviewRow { height:20px; padding-bottom:10px; }
.orderReviewText { float:left; font-weight:bold; padding-left:10px; }
.orderReviewValue { float:right; font-weight:bold; padding-right:10px; }
.orderReviewValueRed { float:right; font-weight:bold; padding-right:10px; color:#F00; }
#orderReviewRow2 { height:20px; padding:5px 0px 5px 0px; background-color:#666; }
#orderReviewTextWhite { float:left; font-weight:bold; padding-left:10px; color:#FFF; }
.orderReviewValueOrange { float:right; font-weight:bold; padding-right:10px; color:#ff9902; }
#continueCheckout { width:100%; text-align:center; padding-top:15px; }
#taxMsg { font-size:10px; font-style:italic; }
#ccInstructions { color:#666; width:270px; margin:0px auto 0px auto; line-height:15px; font-size:11px; padding-bottom:15px; }
#entryFieldSmall { height:30px; width:300px; margin:0px auto 0px auto; text-align:center; }
#securityCode1 { float:left; height:30px; width:128px; background-image:url(/images/mobile/retina/payment/we-m-field-short.png); background-size:128px 30px; background-repeat:no-repeat; }
#securityCode2 { float:left; padding:8px 0px 0px 15px; color:#fc6700; font-weight:bold; width:128px; text-align:left; }
#dataEntryInputSmall { border:0px; background-color:transparent; width:115px; margin-top:6px; text-align:center; }
#exp1 { float:left; height:30px; width:128px; background-image:url(/images/mobile/retina/payment/we-m-field-short.png); background-size:128px 30px; background-repeat:no-repeat; }
#exp2 { float:left; margin-left:15px; height:30px; width:128px; background-image:url(/images/mobile/retina/payment/we-m-field-short.png); background-size:128px 30px; background-repeat:no-repeat; }
#changeAddress1 { float:left; padding-left:10px; }
#changeAddress2 { float:left; padding:3px 0px 0px 10px; color:#666; }
#secureIcons { width:300px; height:48px; margin:15px auto 0px auto; }

#itemBox { width:300px; margin:0px auto 15px auto; padding-top:10px; border:1px solid #CCC; background-color:#FFF; height:130px; }
#itemPic { float:left; width:100px; height:100px; padding-right:5px; }
#itemDetails { float:left; width:175px;}
#itemDesc { color:#666; text-align:left; }
#qtyDetails { height:32px; margin:10px 0px 10px 0px; }
#qtyText { float:left; color:#666; padding:5px 10px 0px 0px;; }
#qtyValue { width:40px; color:#666; height:25px; float:left; padding-top:5px; }
#itemPrice { color:#ca0000; font-weight:bold; }
itemPriceSmall { color:#666; font-weight:bold; font-size:10px; }

#orderReviewRowMsg { height:60px; padding-bottom:10px; border-bottom:1px solid #CCC; width:95%; margin:0px auto 15px auto; }
#thankYouText { color:#666; width:100%; text-align:center; padding-bottom:10px; }
#thankYouTextOrange { color:#666; width:100%; text-align:center; color:#ff6600; padding-bottom:10px; font-weight:bold; }
.custInfoTitle { font-weight:bold; padding-left:10px; margin-bottom:5px; }
.custInfoValue { padding-right:10px; padding-left:10px; }
#custInfoRow { padding-bottom:10px; }
#alertContainer { margin:15px auto 15px auto; width:300px; height:50px; }
#alertIcon { float:left; margin:0px 15px 0px 10px; width:32px; }
#alertMsg { float:left; width:230px; }
#alertValue { color:#666; margin-bottom:8px; font-size:10px; }
#alertEmail { color:#ff6600; font-weight:bold; }
#orderReviewRowProd { height:100px; padding-bottom:10px; border-bottom:1px solid #CCC; width:95%; margin:0px auto 15px auto; }
#thanksText { width:95%; margin:15px auto 15px auto; }
#serviceEmailLink { width:280px; text-align:center; margin:0px auto 0px auto; background-color:#ff6600; padding-top:5px; height:25px; }
#serviceLink { color:#FFF; text-decoration:none; }


/*decline page*/
.warning{width:100%;background:#b01332;height:40px;}
.warning-container{width:280px;display:table;margin:0 auto;color:#fff;background:url("/images/decline/mobile/icon-warning.png") 10px 8px no-repeat;font-weight:bold;font-size:12px;padding:12px 0 0 40px;height:28px;text-align:left;}
.warning-message{width:320px;display:table;margin:10px;color:#b01332;margin:0 auto;font-size:12px;}
.warning-message ul{list-style:none;list-style-image:url("/images/decline/mobile/red-bullet.png");position:relative;float:left;padding:0 0 0 30px;margin:10px 0;}
.warning-message ul li{position:relative;float:left;margin:0 0 5px 0;text-align:left;}
.warning-message ul li a{color:#b01332;}