#priceRating { height:30px; width:100%; padding:5px 0px 10px 0px; }
#prices { float:left; width:190px; margin-left:10px; }
#regPrice { float:left; width:100%; color:#666; text-align:left; }
#wePrice { float:left; width:100%; color:#ca0000; margin-top:4px; font-size:22px; font-weight:bold; text-align:left; }
#ratingInfo { float:right; width:110px; margin-right:10px; }
#ratingStars { float:right; width:100%; text-align:right; }
#readReviews { float:right; width:100%; color:#01649b; text-decoration:underline; text-align:right; margin-top:8px; }
#prodPic { margin-left:auto; margin-right:auto; width:300px; height:300px; }
#prodDescBox { border-top:1px solid #CCC; border-bottom:1px solid #CCC; background-color:#f7f7f7; width:100%; padding:15px 0px 15px 0px; text-align:center; }
#prodDesc { color:#666; font-size:14px; font-weight:bold; width:275px; margin-left:auto; margin-right:auto; }
#outOfStock { font-size:14px; font-weight:bold; width:275px; margin-left:auto; margin-right:auto; color:#900; }
#qtyRow { width:100%; height:30px; padding:20px 0px 20px 0px; border-bottom:1px solid #ccc; }
#qtyObjects { width:100px; margin-left:auto; margin-right:auto; height:30px; }
#qtyText { font-size:14px; color:#666; float:left; font-weight:bold; padding:5px 10px 0px 0px; }
#qtyValue { background-image:url(/images/mobile/qtyBg.gif); background-repeat:no-repeat; width:40px; height:25px; float:left; padding-top:5px; }
#qtyInput { border:0px; background-color:transparent; text-align:center; }
#valuePropRow { background-color:#666; color:#FFF; height:40px; width:100%; border-bottom:1px solid #CCC; }
#valueBox { width:300px; margin-left:auto; margin-right:auto; }
#valueCheckmark { float:left; padding-top:8px; width:21px; height:23px; padding-left:10px; }
#valueText { float:left; font-weight:bold; width:250px; text-align:left; padding:12px 0px 0px 10px; }
#tabContainer { background-color:#f7f7f7;; width:100%; padding:20px 0px 20px 0px; }
#tabRow { height:38px; position:relative; width:95%; margin-left:auto; margin-right:auto; }
.detailsTab_on { background-color:#FFF; padding:10px 5px 0px 5px; border-left:1px solid #CCC; border-right:1px solid #CCC; border-top:1px solid #CCC; color:#fe9b35; font-weight:bold; height:28px; z-index:1; width:66px; position:absolute; top:0px; left:0px; text-align:center; }
.detailsTab_off { background-color:#333; color:#FFF; padding:10px 5px 0px 5px; font-weight:bold; height:29px; z-index:10; width:66px; position:absolute; top:0px; left:0px; text-align:center; }
.featuresTab_on { background-color:#FFF; padding:10px 5px 0px 5px; border-left:1px solid #CCC; border-right:1px solid #CCC; border-top:1px solid #CCC; color:#fe9b35; font-weight:bold; height:28px; z-index:1; width:76px; position:absolute; top:0px; left:83px; text-align:center; }
.featuresTab_off { background-color:#333; color:#FFF; padding:10px 5px 0px 5px; font-weight:bold; height:29px; z-index:10; width:76px; position:absolute; top:0px; left:83px; text-align:center; }
.reviewsTab_on { background-color:#FFF; padding:10px 5px 0px 5px; border-left:1px solid #CCC; width:70px; border-right:1px solid #CCC; border-top:1px solid #CCC; color:#fe9b35; font-weight:bold; height:28px; z-index:1; position:absolute; top:0px; left:173px; text-align:center; }
.reviewsTab_off { background-color:#333; color:#FFF; padding:10px 5px 0px 5px; font-weight:bold; height:29px; z-index:10; width:70px; position:absolute; top:0px; left:173px; text-align:center; }
.detailsTabContent_on { background-color:#FFF; border:1px solid #CCC; width:95%; margin-left:auto; margin-right:auto; padding:15px 5px 10px 5px; text-align:left; }
.detailsTabContent_off { display:none; }
.featuresTabContent_on { background-color:#FFF; border:1px solid #CCC; width:95%; margin-left:auto; margin-right:auto; padding:15px 5px 10px 5px; text-align:left; }
.featuresTabContent_off { display:none; }
.reviewsTabContent_on { background-color:#FFF; border:1px solid #CCC; width:95%; margin-left:auto; margin-right:auto; padding:15px 5px 10px 5px; }
.reviewsTabContent_off { display:none; }
#mainProductBox { background-color:#f7f7f7; border-bottom:1px solid #CCC; padding-bottom:10px; text-align:center; margin-left:auto; margin-right:auto; display:table; width:100%; }
#refProdctBox { width:300px; margin-left:auto; margin-right:auto; }
.singleProdBox { background-color:#FFF; border:1px solid #CCC; padding:5px; width:120px; float:left; margin:10px 0px 0px 10px; }
#refPic { margin-left:auto; margin-right:auto; height:100px; width:100px; }
#refDesc { text-align:left; font-size:12px; height:44px; line-height:14px; overflow:hidden; margin:5px 0px 5px 0px; color:#000; }
#refPrice { text-align:left; font-size:13px; color:#cd0100; font-weight:bold; }
#refRating { width:100%; text-align:center; height:14px; margin:5px 0px 5px 0px; }
#bottumButton { width:100%; text-align:center; margin-top:15px;}
#altImgRow { width:250px; margin-left:auto; margin-right:auto; height:50px; padding:5px 0px 10px 0px; }
#altImgBox { border:1px solid #CCC; border-radius:5px; width:40px; height:40px; padding:4px; float:left; margin-left:10px; }
#addToCartRow { width:300px; margin-left:auto; margin-right:auto; padding:10px 0px 10px 0px; }
#reviewBox1 { border-top:1px solid #CCC; background-color:#f7f7f7; width:100%; padding:15px 0px 15px 0px; text-align:left; }
#reviewBox2 { border-top:1px solid #CCC; background-color:#fff; width:100%; padding:15px 0px 15px 0px; text-align:left; }
#reviewTitleRow { height:25px; width:100%; }
#reviewTitle { float:left; font-size:18px; font-weight:bold; color:#000; padding-left:10px; }
#reviewStars { float:right; padding-right:10px; }
#reviewText { font-size:12px; color:#000; padding:0px 10px 0px 10px; }
#reviewerAndStars { height:15px; width:100%; }
#reviewer { font-size:14px; padding-left:10px; float:left; }

.prodTitle { text-align:left; font-size:12px; font-weight:bold; color:#000; padding:10px; width:280px; }
.prodTitleExpand { background:url(/images/mobile/buttons/expandTitle.gif) no-repeat; width:22px; height:22px; margin:7px; }
.prodTitleExpandBlank { width:22px; height:22px; margin:7px; }
.prodTitleContract { background:url(/images/mobile/buttons/contractTitle.gif) no-repeat; width:22px; height:22px; margin:7px; }
.starBox { width:320px; text-align:left; }
.productPics { width:100%; border-top:1px solid #CCC; margin-top:15px; }
.productSwipeBox { width:300px; height:300px; margin:0px auto; overflow:hidden; padding-top:15px; }
.innerProductSwipeBox { width:300px; height:325px; overflow:auto; }
.blackBar { background-color:#333; height:25px; width:100%; border-top:1px solid #CCC; border-bottom:1px solid #CCC; margin-top:15px; }
.blackBarBigText { font-weight:bold; font-size:13px; color:#FFF; padding-top:4px; }
.blackBarSmallText { font-size:9px; color:#FFF; text-align:left; padding-left:15px; }
.pricingTable { width:150px; margin:15px auto; }
.retailPrice { color:#999; text-decoration:line-through; font-size:12px; padding-top:7px; }
.wePrice { font-weight:bold; color:#ca0000; font-size:22px; padding-left:15px; }
.saveAmt { font-weight:bold; color:#000; text-align:center; width:150px; margin-top:5px; }
.stockMsg { font-size:12px; color:#000; line-height:16px; padding-top:10px; }
.inStock { font-weight:bold; color:#339900; }
.saveForLater { margin:10px auto; }
.customerReviews2 { border-top:1px solid #CCC; border-bottom:1px solid #CCC; padding:15px 0px; }
.reviewsTitle { width:150px; font-weight:bold; color:#000; }
.starBox2 { width:150px; padding-right:15px; }
.actualStarCnt { width:280px; text-align:right; color:#000; text-decoration:none; padding-right:15px; margin-top:20px; }
.starBreakDown { width:300px; padding-top:10px; }
.starTitle { font-weight:bold; color:#000; }
.starValue { width:224px; height:9px; background-color:#ccc; margin:4px 0px 0px 15px; }
.starMeter { height:9px; background-color:#ff6600; }
.actualReviews { width:320px; }
.singleReview { margin-top:15px; padding-bottom:15px; border-bottom:1px solid #CCC; }
.singleReviewHidden { display:none; }
.myTitle { font-weight:bold; padding-left:10px; }
.myAuthor { width:300px; margin:10px 0px; text-align:left; }
.myReview { width:300px; text-align:left; }
.moreReviews { margin-top:15px; }
.detailHeader {
	height:40px;
	border-top:1px solid #CCC;
	border-bottom: 1px solid #CCC;
	margin-top:10px;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #ebebeb) );
	background:-moz-linear-gradient( center top, #ffffff 5%, #ebebeb 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ebebeb');
	background-color:#fff;
}
.detailTitle { font-weight:bold; font-size:16px; padding:12px 0px 0px 15px; }
.detailContract { background:url(/images/mobile/buttons/contractDetails.gif) no-repeat; width:26px; height:24px; margin:10px 15px 0px 0px; }
.detailExpand { background:url(/images/mobile/buttons/expandDetails.gif) no-repeat; width:26px; height:24px; margin:10px 15px 0px 0px; }
.detailContent { text-align:left; padding:10px; }
.otherItemsText { margin:15px 0px; font-weight:bold; }
.alsoPurchasedItem { border-right:1px solid #CCC; padding:0px 10px; overflow:hidden; }
.alsoPurchasedPic { margin:0px auto; text-align:center; }
.alsoPurchasedText { line-height:14px; font-size:11px; height:58px; overflow:hidden; }
.alsoPurchasedPrice { color:#F00; font-weight:bold; font-size:14px; text-align:left; margin:5px 0px; }
.imgOptions { margin-top:15px; }
.imgDots { width:66px; height:30px; }
.imgDot { background-image:url(/images/mobile/icons/imgDot.gif); width:10px; height:10px; margin:0px 5px 5px 0px; }
.imgDotInactive { background-image:url(/images/mobile/icons/imgDotInactive.gif); width:10px; height:10px; margin:0px 5px 5px 0px; }
.videoLink { width:100px; height:30px; margin-left:30px; padding-top:5px; }
.zoomLink { width:100px; height:30px; padding:2px 0px 0px 10px; }
.backToTopFooter { padding:10px 0px; }
.backToTopArrow { background-image:url(/images/mobile/retina/pdp/backToTopArrow.png); background-size:10px 6px; width:10px; height:6px; }
.backToTopText { font-weight:bold; font-size:12px; }
.partNumber { font-size:10px; color:#333; padding:0px 0px 10px 10px; width:325px; text-align:left; }

.prodDescBox_b { border-top:1px solid #CCC; border-bottom:1px solid #CCC; width:100%; padding:5px 0px; text-align:left; }
.prodDesc_b { color:#000; font-size:14px; font-weight:bold; width:275px; margin:0px auto; }
.addToCart_b { width:302px; height:32px; margin:10px auto; }
.ratingInfo_b { display:table; margin:0px auto; width:220px; }
.ratingStars_b { float:left; width:100px; }
.readReviews_b { float:left; width:120px; color:#01649b; text-align:left; }
.prodPic_b { margin:10px auto; width:300px; height:300px; }
.priceRating_b { width:230px; margin:0px auto; padding-bottom:10px; }
.priceTitle { font-size:14px; text-align:left; width:110px; }
.priceValueOur { font-size:18px; color:#C00; font-weight:bold; text-align:left; width:118px; }
.priceValueRetail { font-size:14px; text-decoration:line-through; text-align:left; width:118px; }
.priceSave { font-size:14px; text-align:left; font-weight:bold; width:118px; }
.inStockRow { padding:10px 0px 10px 0px; border-top:1px solid #CCC; border-bottom:1px solid #CCC; background-color:#f7f7f7; width:100%; }
.inStockBox { width:265px; }
.inStockIcon { background-image:url(/images/mobile/retina/pdp/we-m-greenclock.png); background-size:33px 47px; width:33px; height:47px; }
.inStockMsg { margin-left:10px; width:220px; }
.inStockTxt { color:#339900; font-size:12px; font-weight:bold; margin-bottom:5px; }
.sameDayTxt { font-size:10px; text-align:left; }
.outOfStockTxt { color:#C00; font-size:14px; font-weight:bold; width:250px; margin:0px auto; text-align:center; }
.detailsTab_b_on	{ background-color:#FFF; padding:10px 5px 0px 5px; border-left:1px solid #CCC; border-right:1px solid #CCC; border-top:1px solid #CCC; color:#fe9b35; font-weight:bold; height:28px; z-index:1; width:66px; position:absolute; top:0px; left:93px; text-align:center; }
.featuresTab_b_on 	{ background-color:#FFF; padding:10px 5px 0px 5px; border-left:1px solid #CCC; border-right:1px solid #CCC; border-top:1px solid #CCC; color:#fe9b35; font-weight:bold; height:28px; z-index:1; width:76px; position:absolute; top:0px; left:0px; text-align:center; }
.detailsTab_b_off 	{ background-color:#333; color:#FFF; padding:10px 5px 0px 5px; font-weight:bold; height:29px; z-index:10; width:66px; position:absolute; top:0px; left:93px; text-align:center; }
.featuresTab_b_off 	{ background-color:#333; color:#FFF; padding:10px 5px 0px 5px; font-weight:bold; height:29px; z-index:10; width:76px; position:absolute; top:0px; left:0px; text-align:center; }
.reviewsTab_b_on { background-color:#FFF; padding:10px 5px 0px 5px; border-left:1px solid #CCC; width:70px; border-right:1px solid #CCC; border-top:1px solid #CCC; color:#fe9b35; font-weight:bold; height:28px; z-index:1; position:absolute; top:0px; left:173px; text-align:center; }
.reviewsTab_b_off { background-color:#333; color:#FFF; padding:10px 5px 0px 5px; font-weight:bold; height:29px; z-index:10; width:70px; position:absolute; top:0px; left:173px; text-align:center; }
.backToTopArrow { background-image:url(/images/mobile/retina/pdp/backToTopArrow.png); background-size:10px 6px; width:10px; height:6px; cursor:pointer; margin:20px auto 5px auto; }
.backToTopTxt { width:100%; text-align:center; margin-bottom:20px; cursor:pointer; }
.itemPartNumber { width:100%; text-align:center; font-size:12px; font-weight:bold; margin:20px 0px; }