.fl { float:left; }
.fr { float:right; }
.tb { display:table; }
.mCenter { margin:0px auto; }
.cWidth { width:748px; }

.allBreadCrumbs { border-bottom:1px solid #CCC; margin-bottom:10px; }
.bcBox { margin:10px 10px 10px 0px; }
.bcBoxLarge { margin:10px 10px 10px 0px; width:650px; }
.breadCrumbs { color:#666 !important; font-size:11px; font-weight:bold; }

.prodImgDetails { width:330px; }

.starBox { width:177px; height:35px; }
.fullStar { width:17px; height:16px; margin-right:1px; background-image:url(/images/icons/ratingFullStar.gif); }
.emptyStar { width:17px; height:16px; margin-right:1px; background-image:url(/images/icons/ratingEmptyStar.gif); }
.reviewCnt { margin-left:10px; color:#666; font-size:12px; font-weight:bold; }
.reviewLinks { margin-top:5px; width:200px; }
.reviewLink { text-decoration:underline !important; color:#336699 !important; }
.reviewLink2 { margin:0px 10px; }

.prodImg { width:300px; height:300px; margin-top:10px; }
.imgOptions { width:269px; height:34px; }
.zoomLink { width:79px; height:34px; background-image:url(/images/buttons/imgZoom.gif); margin-right:18px; }
.videoLink { width:80px; height:34px; background-image:url(/images/buttons/imgVideo.gif); margin-right:18px; }
.link360 { width:74px; height:34px; background-image:url(/images/buttons/img360.gif); }
.altImgBox { width:260px; background-color:#e6e6e6; border-radius:5px; padding:15px 20px 0px 40px; margin-top:15px; }
.altImg { border:1px solid #CCC; margin:0px 20px 15px 0px; }
.customizeText { text-align:center; margin-top:10px; width:275px; }

.prodTxtDetails { width:415px; }
.itemTitle { border-bottom:1px solid #CCC; width:385px; padding:0px 15px 10px 15px; }
.itemTitleH1 { font-size:20px !important; color:#333 !important; line-height:28px !important; font-weight:normal !important; }
.pnIdPipe { margin:0px 8px; font-weight:bold; }
.priceBox { border-right:1px solid #CCC; width:182px; }
.wePrice { font-weight:bold; color:#cc0000; font-size:32px; margin:5px 0px 5px 10px; }
.retailPrice { color:#333; text-decoration:line-through; margin:0px 0px 5px 12px; }
.saveValue { color:#333; font-weight:bold; font-size:13px; margin:0px 0px 10px 12px; }

.shipBox { width:225px; }
.shipIcon { background-image:url(/images/icons/freeShippingTruck.gif); width:214px; height:25px; margin:10px 5px; }
.shipTextBox { width:180px; text-align:center; }
.stockNotice { width:75px; }
.noticeIcon { background-image:url(/images/icons/greenCheckSmall.gif); width:12px; height:12px; margin:2px 5px 0px 0px; }
.noticeText { font-weight:bold; color:#669933; }
.shipTime { font-size:13px; width:225px; text-align:center; margin-top:5px; }

.valueProps { width:395px; border-top:1px solid #CCC; border-bottom:1px solid #CCC; padding:10px; }
.hassleFree { background-image:url(/images/icons/90-day.gif); width:183px; height:34px; margin-right:15px; }
.warranty { background-image:url(/images/icons/warranty.gif); width:153px; height:34px; }

.addToCartBox { padding:10px; border-bottom:1px solid #CCC; width:395px; }
.qtyText { font-size:18px; margin:10px 10px 0px 0px; }
.qtyBox { margin:12px 15px 0px 0px; }
.addToCartBttn { width:257px; height:47px; }
.outOfStock { width:257px; font-weight:bold; color:#F00; font-size:16px; text-align:center; border-top:1px solid #F00; border-bottom:1px solid #F00; margin-top:10px; margin-bottom:10px; }

.featureTitle { background-image:url(/images/icons/productFeatures.gif); width:169px; height:40px; margin:5px 0px 0px 5px; }
.featureList { border-bottom:1px solid #CCC; padding-bottom:8px; }
.featureRow { width:415px; margin-top:5px; }
.featureArrow { background-image:url(/images/icons/featureArrow.gif); width:4px; height:7px; margin:3px 10px; }
.featureText { font-size:11px; width:350px; }

.socialBox { margin:10px 0px 0px 10px; height:40px; }

/*
// moved to base.css
.titleIconRecommend { background-image:url(/images/icons/recommendedItems.gif); width:50px; height:45px; }
.titleIconRecent { background-image:url(/images/icons/recentlyViewed.gif); width:50px; height:45px; }
.titleIconTabs { background-image:url(/images/icons/productTabIcon.gif); width:50px; height:45px; }
.titleIconExclusiveOffer { background-image:url(/images/icons/exclusiveOffer.gif); width:50px; height:45px; }
.titleIconShareThoughts { background-image:url(/images/icons/shareThoughts.gif); width:50px; height:45px; }
.titleMainBar { height:28px; background-color:#e6e6e6; margin-top:6px; width:668px; font-size:18px; font-weight:bold; color:#000; padding:5px 0px 0px 20px; position:relative; }
.titleRight { width:10px; height:33px; background-image:url(/images/icons/titleBarRight.gif); margin-top:6px; }
*/
.prevItem { width:21px; height:103px; margin:10px 10px 0px 30px; }
.nextItem { width:21px; height:103px; margin:10px 30px 0px 10px; }
.recommenedProducts { width:600px; height:250px; overflow:hidden; }
.recommendedProductList { width:600px; height:267px; overflow:auto; }
.recCell { padding:10px; cursor:pointer; }
.recPic { width:100px; height:100px; }
.recDesc { width:130px; height:50px; margin-top:5px; font-size:13px; line-height:16px; color:#333; overflow:hidden; font-weight:bold; }
.recRetail { font-size:13px; margin-top:5px; text-decoration:line-through; color:#333; }
.recPrice { font-size:20px; margin-top:5px; color:#ff3300; font-weight:bold; }
.tabContent { width:665px; border-left:5px solid #E6E6E6; overflow:auto; border-right:5px solid #E6E6E6; border-bottom:5px solid #E6E6E6; padding:10px; margin:0px 0px 20px 43px; }
.tabContentInactive { display:none; }
.activeDetailTab { 
    border-top:1px solid #ccc; 
    border-left:1px solid #ccc; 
    border-right:1px solid #ccc; 
    border-top-left-radius:5px; 
    border-top-right-radius:5px; 
	text-align:center;
    float: left;
    width:120px; 
    height:7px; 
    position:relative; 
    top:-10px;  
    margin-right:3px;
    background: #999; /* for non-css3 browsers */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#ffffff'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#ffffff)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #ccc,  #ffffff); /* for firefox 3.6+ */
    padding:15px 5px; }
.inactiveDetailTab {
    float: left;
	text-align:center;
    width:120px; 
    height:12px; 
    position:relative; 
    top:0px;  
    margin-right:3px;
    border-right:1px solid #ccc;
    background: #e6e6e6;
    cursor:pointer;
    padding:5px 5px; }
}
.qna-normalText {font-size:13px; font-family:Arial, Helvetica, sans-serif; text-align:left;}
.qna-normalText2 {font-size:12px; font-family:Arial, Helvetica, sans-serif; text-align:left;}
.srBox { width:400px; height:50px; border:1px solid #ccc; border-radius:5px; margin-top:15px; margin-bottom:15px; }
.srInnerBox { padding-top:10px; width:300px; }
.commentDiv { margin-top:15px; }
.backToTopIcon { background-image:url(/images/icons/backToTop.gif); width:14px; height:18px; cursor:pointer; }
.backToTopText { color:#336699; font-size:12px; padding-top:3px; margin-left:5px; margin-right:15px; cursor:pointer; }

.recentViewLeftNavTitle		{ font-weight:bold; font-size:14px; color:#FFF; padding:10px 0px; text-align:center; background: #999; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#333333'); background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#333333)); background: -moz-linear-gradient(top,  #ccc,  #333333); }
.recentViewProdCell			{ cursor:pointer; }
.recentViewContainer		{ background-color:#efefef; border-left:1px solid #CCC; border-right:1px solid #CCC; border-bottom:1px solid #CCC; padding:10px 5px; border-bottom-right-radius:10px; border-bottom-left-radius:10px; }
.recentViewTopBar			{ border-top:1px solid #CCC; padding-top:10px; }


/* review section */
#reviewSubmission { font-family:'Open Sans', sans-serif; border-left:1px solid #ccc; border-right:1px solid #ccc; font-size:14px; padding-left:10px; }
#reviewSubmission div.title { border-bottom:1px solid #ccc; position:relative; float:left;width:938px; }
#reviewSubmission div.title .pageTitle { font-size:24px; margin:0; padding:0; position:relative;float:left; }
#reviewSubmission div.title .write { background:url("/images/reviews/write.png") no-repeat;position:relative;float:left;margin:0 0 0 5px; width:27px; height:27px;}

#reviewSubmission .product-details { margin: 20px 0; position:relative; float:left;}
#reviewSubmission .product-image {position:relative;float:left; padding:0 20px 0 0; width:100px; border-right:1px solid #ccc;}
#reviewSubmission .description {position:relative;float:left;width:797px; margin: 0 0 0 20px;}
#reviewSubmission .description h1 { color:#fc5f00; font-weight:bold; font-size:14px; margin:0 0 10px 0; position:relative;float:left; width:797px;}
#reviewSubmission .description p { font-size:14px; position:relative;float:left; width:797px; margin:0;}

#reviewSubmission .product-rating {border-radius:10px;position:relative;float:left;width:898px;background:#f7f7f7;padding:20px;font-size:14px;margin:0 0 20px 0;}
#reviewSubmission .header { font-size:14px; position:relative;float:left; width:898px; border-bottom:1px dashed #ccc; padding:0 0 5px 0;margin:0 0 20px 0;}
#reviewSubmission .header .header-title { font-weight:bold; position:relative;float:left; font-size:14px; }

#reviewSubmission .review-details { position:relative;float:left;width:898px;background:#f7f7f7;padding:20px;font-size:14px;margin:0 0 20px 0; }
#reviewSubmission .user-details { position:relative;float:left;width:898px;background:#f7f7f7;padding:20px;font-size:14px;margin:0 0 20px 0; }

#reviewSubmission .product-rating div:last-child, .review-details div:last-child , .user-details div:last-child { margin-bottom:0; }


#reviewSubmission .required { font-weight:normal; position:relative;float:right; font-style: italic; text-align:right; }
#reviewSubmission .asterisk{ font-weight:bold; font-style:normal; color:#fc5f00; }
#reviewSubmission .fields {position:relative;float:left;width:898px;margin:0 0 20px 0; font-size:14px;}
#reviewSubmission .label { position:relative; float:left; width:250px; margin:0 20px 0 0; font-size:14px;}

#reviewSubmission .alertField { position:relative;float:left; overflow:hidden; width:608px; padding:0 0 0 20px; font-size:14px; }
#reviewSubmission .alertField input[type="radio"] { margin-left:0; }

#reviewSubmission .field { position:relative;float:left; overflow:hidden; width:608px; padding:0 0 0 20px; font-size:14px; }
#reviewSubmission .field input[type="radio"] { margin-left:0; }

#reviewSubmission .alertField input[type="text"], .alertField textarea , .alertField select { border:2px solid #cd0000 !important; border-radius:5px; font-size:14px; font-family:'Open Sans',sans-serif;padding:3px;width:450px;}
#reviewSubmission .alertField textarea { height:200px; }
#reviewSubmission .alertField select { width:200px; }
#reviewSubmission .alertField div.describe{margin-bottom:10px; font-size:14px;}
#reviewSubmission .alertField div.describe:last-child{margin-bottom:0;}

#reviewSubmission .field input[type="text"], .field textarea , .field select { border:2px inset #eee !important; border-radius:5px; font-size:14px; font-family:'Open Sans',sans-serif;padding:3px;width:450px;}
#reviewSubmission .field textarea { height:200px; }
#reviewSubmission .field select { width:200px; }
#reviewSubmission .field div.describe{margin-bottom:10px; font-size:14px;}
#reviewSubmission .field div.describe:last-child{margin-bottom:0;}

#reviewSubmission .submit { width:938px; position:relative;float:left; text-align:center; margin:0 0 100px 0; }
#reviewSubmission .submit_review { width:212px;height:38px;background:url("/images/reviews/cta_submit_review.png") no-repeat; border:0; cursor:pointer; }
#reviewSubmission .bottom-logos { text-align:center; background:#eee; }
#reviewSubmission .field label, .field input[type="radio"] { cursor:pointer; }

#reviewSubmission .rating { overflow: hidden;display: inline-block;}
#reviewSubmission .rating-input {position: absolute;left: 0;top: -100px;}
#reviewSubmission .rating-star {display: block;float: right;width: 18px;height: 18px;background: url('/images/reviews/stars.png') 0 0 no-repeat; padding-right:5px;}
#reviewSubmission .rating-star:hover,
#reviewSubmission .rating-star:hover ~ .rating-star,
#reviewSubmission .rating-input:checked ~ .rating-star { background-position: 0 -36px;}
#reviewSubmission .rating-desc { display:inline-block; margin:0 0 0 20px; }
#reviewSubmission .humanVerifyBox { position:absolute; top:0px; right:0px; padding:10px; border:1px solid #333; width:200px; background-color:#fff; }


/* reviews on pdp */
#reviewDetails { font-family:'Open Sans', sans-serif; }
#reviewDetails .product-image {float:left; padding:0 20px 0 0; width:100px; border-right:1px solid #ccc;}

.product-reviews{float:left; font-family:'Open Sans', sans-serif;}
.product-reviews h1 {margin:0; font-size:16px; font-weight:bold; }
.review-product-image { width:170px; float:left; margin:20px 0 0 0; }
.overall-rating{width:180px;padding:0 10px;margin:20px;border-left:1px solid #e6e6e6;border-right:1px solid #e6e6e6;float:left;text-align:left;}
.customer-recommend{width:243px;float:left;margin:0;padding:0;margin:20px 0 0 0 ;}
.overall-rating p.title { font-size:14px; font-weight:bold; margin:0; }
.overall-rating p.subtitle { font-size:12px; margin:0; }
.star-rating { font-size:16px; font-weight:bold; margin:5px 0 10px;}
.star-rating span.full { width:18px; height:18px; padding-right:1px; background:url("/images/reviews/stars.png") 0 -36px no-repeat; display:inline-block; }
.star-rating span.half { width:18px; height:18px; padding-right:1px; background:url("/images/reviews/stars.png") 0 -18px no-repeat; display:inline-block; }
.star-rating span.empty { width:18px; height:18px; padding-right:1px; background:url("/images/reviews/stars.png") 0 0 no-repeat; display:inline-block; }
.star-rating span.average { margin-left:10px; }
.ratings { float:left; width:100%; }
.ratings .row { float:left;width:100%; margin:0 0 5px 0; }
.ratings .row .rating-label { float:left; width:35px; margin-right:5px; color:#fc5f00;text-decoration:underline;font-weight:bold;font-size:12px; }
.ratings .row .rating-bar { width:118px; height:15px; float:left;margin-right:5px; background:#e6e6e6; }
.ratings .row .rating-bar .fill { float:left;background:url("/images/reviews/rating-fill.png") repeat-x; height:15px; }
.ratings .row .rating-count {float:left;height:15px;}
.customer-recommend p.title { font-size:14px; font-weight:bold;margin:0 0 20px 0; }
.percentage { width:88px; height:44px; float:left;text-align:center;padding:0 5px; background:#f7f7f7; color:#fc5f00; font-size:32px; font-weight:600; border:1px solid #cccccc;border-radius:5px;margin:0 5px 0 0; }
.recommend {float:left;width:135px; padding:5px 0;margin:0 0 20px 0;}
.review-container {width:243px; float:left;margin:0 0 20px 0;}
.review-button { margin:0 auto; width:212px; height:38px;background:url("/images/reviews/cta_write_review.png") no-repeat;display:block;border:0; }

.sort {width:645px; float:left; border-top:1px solid #ccc;border-bottom:1px solid #ccc;background:#f7f7f7;padding:3px 10px;font-family:'Open Sans', sans-serif;font-size:14px;margin:0 0 20px 0;}
.sort label, .sort select{ font-size:14px; font-family:'Open Sans', sans-serif;}

.reviews {width:665px; float:left;}
.review-item { width:665px; float:left; padding:0 0 10px 0;border-bottom:1px solid #ccc;margin:0 0 10px 0; }
.review-item .review {width:400px; margin: 0 20px 0 0; float:left; padding:0;}
.review-item .review .star-rating {  float:left; width:400px;float:left; margin:0; }
.review-item .review .title { float:left; width:400px;border:0; font-size:14px;font-weight:bold; }
.review-item .review .date { float:left; width:400px;;font-size:10px; color:#ccc;font-style:italic; margin:0 0 10px 0;}
.review-item .review .content { float:left; width:400px; font-size:13px; line-height:20px; margin-bottom:20px;}
.review-item .review .helpful { float:left;width:400px; }
.review-item .review .helpful .label { float:left; height:20px;padding:8px 0;font-weight:bold;width:150px; }
.review-item .review .helpful a{ display:inline-block; }
.review-item .review .helpful .yes{ margin-left:15px; background:#f7f7f7;border:1px solid #ccc;border-radius:15px;width:30px;height:30px;float:left;}
.review-item .review .helpful .yes .yes-icon-active { background:url("/images/reviews/thumbs_up_active.png") no-repeat; width:16px; height:18px; margin:7px auto; }
.review-item .review .helpful .yes .yes-icon-inactive { background:url("/images/reviews/thumbs_up_inactive.png") no-repeat; width:16px; height:18px; margin:7px auto; }
.review-item .review .helpful .yes-count { float:left;font-weight:bold; height:20px;width:35x; color:#000;padding:8px; }
.review-item .review .helpful .no{background:#f7f7f7;border:1px solid #ccc;border-radius:15px;width:30px;height:30px;float:left;}
.review-item .review .helpful .no .no-icon-active { background:url("/images/reviews/thumbs_down_active.png") no-repeat; width:16px; height:18px; margin:7px auto; }
.review-item .review .helpful .no .no-icon-inactive { background:url("/images/reviews/thumbs_down_inactive.png") no-repeat; width:16px; height:18px; margin:7px auto; }
.review-item .review .helpful .no-count { float:left;font-weight:bold; height:20px;width:35px; color:#000;padding:8px; }
.review-item .review .content p { margin:0; }

.review-item .reviewer { float:left; width:225px; padding:10px; background:#f7f7f7; }
.review-item .reviewer .profile-photo {width:29px; float:left;margin:0 10px 0 0;}
.review-item .reviewer .username { float:left; padding:5px 0;width:185px; color:#fc5f00;font-weight:bold; }
.review-item .recommended { float:left;margin:10px 0 0 0; height:28px;width:225px;background:url("/images/reviews/recommended.png") no-repeat; }
.review-item .user-details { float:left;margin:10px 0 0 0; width:225px; padding:0 0 10px 0; font-size:12px; }
.review-item .user-details .row {float:left;width:225px;margin:0 0 5px 0;}
.review-item .user-details .row label { font-weight:bold; }
.review-item .procons {float:left;margin:10px 0 0 0; width:225px;}
.review-item .procons .row{float:left;width:225px;margin:0 0 5px 0;}
.review-item .procons .row label  { font-weight:bold; }

.share { float:right; margin:10px 0 0 0; }
.share .label { float:left; font-weight:bold;line-height:25px;margin:0 0 10px 0;width: 40px;}
.share .facebook {float:left; line-height:25px;width:25px;height:25px;margin:0 0 0 10px;background:url("/images/reviews/facebook.png") no-repeat;}
.share .twitter {float:left; line-height:25px;width:25px;height:25px;margin:0 0 0 10px;background:url("/images/reviews/twitter.png") no-repeat;}