/********************************/
/*		index_account.asp		*/
/********************************/

#AccountWrapper {
	padding-top:1.0em;
}
#AccountWrapper img {
	border:none;
}
#AccountWrapper h2 {
	margin:0;
}
.accountName {
	color:blue;
}
#accountSettings, #accountLogOff {
	float:right;
	padding-left:0.5em;
}
#accountSettings {
	display:none;
}
.accountHr {
	height:0px;
	border-top:1px solid lightgray;
	margin-top:0.5em;
	margin-bottom:0.5em;
}
.accountTitleBar {
	background: url(/images/account/header-bg-blue.jpg) repeat-x;
	color:#FFF;
	height:33px;
	line-height:33px;
	padding-left:1.0em;
	font-weight:bold;
	font-size:1.125em;

	/*border-radius-top-left: 8px;
	border-radius-top-right: 8px;*/
	
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0px;
	
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	-webkit-border-bottom-right-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
}
.flat {
	background:#EEEEEE;
	color:#5E5E5E;
	border:1px solid lightgray;
	font-size:0.875em;
}
.accountContent {
	border-left:1px solid lightgray;
	border-right:1px solid lightgray;
	border-bottom:1px solid lightgray;
	padding:1.0em;
	
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;

	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 8px;
	-moz-border-radius-bottomleft: 8px;
	
	-webkit-border-top-left-radius: 0px;
	-webkit-border-top-right-radius: 0px;
	-webkit-border-bottom-right-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	
	margin-bottom:0.5em;
}
#AccountWrapper div h3 {
	font-weight:normal;
	font-weight:lighter;
	color:#3C3C3C;
	font-size:1.45em;
	margin:0;
	margin-bottom:0.75em;
}
.quarter {
	float:left;
	min-width:10px;
	padding-left:1.5em;
	padding-right:1.5em;
	min-height:220px;
}
#first {
	padding-left:0.5em;
}
#fourth {
	padding-right:0.0em;
	border-left:1px dotted lightgray;
	max-width:168px;
}
#fourth ul li {
	/*overflow:hidden;	
	white-space:nowrap;
	text-overflow: ellipses;*/
}
.NoneFound {
	font-size:smaller;
}
.clickable {
	cursor:pointer;
}
#accessorySelectBox {
	max-width:145px !important;
}
.fourthRight {
	float:right;
	width:225px;
}
#imgPrimaryPhoto {
	margin-bottom:0.5em;
	text-align:center;
}
.pOtherPhones {
	font-weight:bold;
	font-size:0.75em;
}
ul.arrows, ul.discs {
	padding-left:0;
}
ul.arrows li, ul.discs li {
	margin-bottom:0.375em;
}
ul.discs li a {
	text-decoration:underline;
}
ul.arrows li {
	list-style-image:url(/images/account/arrow-orange.jpg);
}
ul.discs li:before {
	/*HTML HEX Encoded \bullet \spare \ non-breaking space*/
	content: "\2022 \0020 \A0";
}	
ul.discs li {
	list-style-type:none;
	width:100%;
}
ul.discs li div {
	float:right;
	padding-top:0.25em;
}
.removeModel, #PrimaryRemoveModel {
	background : url("/images/account/x.jpg") no-repeat center center;
	width : 13px;
	height :13px;
	border : none;
	color : transparent;
	font-size : 0;
	cursor:pointer;
}
.removeModel {
	background : url("/images/account/x.jpg") no-repeat center center;
	width : 13px;
	height :13px;
}
#PrimaryRemoveModel {
	background : url("/images/account/button-remove-from-account.jpg") no-repeat center center;
	width : 148px;
	height :24px;
}
.accountSuggestedProduct {
	float:left;
	padding:1.0em;
	width:158px;
	height:170px;
	text-align:center;
}
.accountSuggestedProduct .link {
	/*line-height:2.0em;
	width:100px;
	height:25px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow: ellipsis;*/
}

.accountSuggestedProduct .link a {
	color:#8A8A8A;
	text-decoration:underline;
	font-size:0.625em;
}
.accountSuggestedProduct .price {
	font-weight:bold;
	font-size:1.125em;
}
.accountSuggestedProduct .savings {
	color:#2675C0;
	font-size:0.6875em;
}

#selectAPhoneGo {
	display:none;
}


#AccountWrapper h3 {
	font-size:1.45em;
	margin-bottom:0.5em;
}
.ColumnContainer {
	position:relative;
}
.Column1, .Column2, .Column3, .Column4, .ColumnArrow {
	position:absolute;
}
.ColumnArrow {
	left:0px;
	top:2px;
}
.Column1 {
	left:50px;
}
.Column2 {
	left:230px;
}
.Column3 {
	left:415px;
}
.Column4 {
	left:675px;
}
.DateOrdered, .OrderNumber, .OrderStatus, .DetailsToggle {
	font-size:0.875em;
}
.DateOrdered {
	color:#7C7C7C;
}
.OrderNumber {
	color:#7C7C7C;
	font-weight:bold;
}
.DetailsToggle {
	color:#67A5D6;
	/*margin-left:-1.5em;*/
}
.DetailsToggle a {
	/*font-size:inherit;
	font-size:0.8125em;*/
	font-weight:normal;
	text-decoration:none;
}
.DetailsToggle img {
	margin-top:2px;
	vertical-align:text-bottom;
}
.OrderContainer {
}
.OrderRow {
	height:32px;
}
.OrderBody {
	padding-left:50px;
	display:none;
}
.OrderExplanation {
	padding:1.0em;
	background-color:PaleGoldenRod;
	border:1px solid lightgray;
	color:slategray;
	font-size:0.75em;
	margin-bottom:3.0em;

	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
	-moz-border-radius-bottomright: 8px;
	-moz-border-radius-bottomleft: 8px;
	
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;

}
.OrderStatusCancelled,.OrderStatusError {
	color:red;
}
.OrderStatusProcessing {
	color:#00A819;
}
.OrderStatusShipped {
	color:#7C7C7C;
}
.OrderStatusRMA {
	color:#000;
}
.OrderItemPhoto {
	float:left;
}
.OrderItemPhoto img {
	border:1px solid lightgray !important;
	margin-right:0.5em;
	margin-bottom:1.0em;
}
.OrderItemTitle {
	margin-bottom:0.1875em;
}
.OrderItemTitle a {
	text-decoration:underline;
}
.OrderItemNo {
	color:#AAAAAA;
	font-size:0.75em;
}
.OrderTotal {
	height:48px;
	position:relative;
	display:none;
}
.OrderTotalText, .OrderTotalAmount {
	position:absolute;
	font-size:1.25em;
	font-weight:bold;
	line-height:48px;
}
.OrderTotalText {
	left:530px;
}
.OrderTotalAmount {
	left:675px;
}
.OrderSeparator {
	margin-top:0.625em;
	border-bottom:1px solid lightgray;
	margin-bottom:1.0em;
}
