/* Start Tweaks */
#commentForm { width: 500px; }
#commentForm label { width: 250px; }
#commentForm label.error, #commentForm input.submit { margin-left: 253px; }
#signupForm { width: 670px; }
#signupForm label.error {
	margin-left: 10px;
	width: auto;
	display: inline;
}
#newsletter_topics label.error {
	display: none;
	margin-left: 103px;
}
/* End Tweaks */

#divRegisterWrapper {
	width:800px;
	margin-left:auto;
	margin-right:auto;
	/*padding:3.0em;*/
	/*margin:20px 0px 0px 20px;
	display:inline-block;*/
	font-family:Verdana, Geneva, sans-serif;
}
#divRegisterWrapper h1 {
	color:#343434;
	font-weight:normal;
	font-size:30px;
}
#divCreateANewAccount {
	font-weight:normal;
	font-size:24px;
	/*float:right;*/
	text-align:right;
	padding-top:3px;
}
.halve {
	width:49%;
	display:inline-block;
	height:40px;
	line-height:30px;
}
.aRight { float:right; }
.aLeft {  }
#divCreateANewAccount a {
	color:#343434;
	text-decoration:none;
}
#divRegisterWrapper a {
	font-size:inherit;
}
#divMyAccountIcon {
	background: url(/images/500/account/my-account-icon.png) no-repeat;
	width:23px;
	height:20px;
	display:inline-block;
	margin-left:0.25em;
}
.hr {
	border-bottom:1px solid #CCC;
	margin-left:auto;
	margin-right:auto;
}
.bow {
	margin-bottom:2.25em;
}
#divGenericContainer {
	background:#333;
}
#divLoginTower {
	width:210px;
	float:left;
	color:#FFF;
	position:relative;
}
#divLoginTower p {
	font-weight:bold;
	width:165px;
	margin-left:auto;
	margin-right:auto;
}
#divFloatingRightBracket {
	position:absolute;
	right:-16px;
	top:23px;
	background:#333;
	border-radius: 16px;
	-moz-border-radius: 16px;
	-khtml-border-radius: 16px;
	-webkit-border-radius: 16px;
	width:32px;
	height:32px;
	/*text-align:center;
	line-height:30px;
	font-weight:bold;
	font-size:16px;*/
}
#divFloatingRightBracket div {
	background:url(/images/500/account/large-white-arrow.png) no-repeat 11px 9px;
	width:32px;
	height:32px;
}#pSalesPitch {
	font-size:14px;
	color:#FFF;
	margin-top:1.75em;
	margin-bottom:1.25em;
	line-height:24px;
}
#pRegisterToday a, #pQuickEasy a {
	color:inherit;
}
#pRegisterToday, #pQuickEasy {
	text-transform:uppercase;
	font-size:11px;
	color:#FFF;
}
#pRegisterToday {
	margin-top:1.75em;
}
#pQuickEasy {
	color:#ff6600;
	line-height:0.5em;
}
.wob {
	width:190px;
	height:2px;
	border:none;
	background:url(/images/500/account/left-column-hori-div.png) no-repeat;
}
#Benefits {
	width:175px;
	/*margin-left:auto;*/
	padding-left:20px;
	margin-right:1.0em;
	/*list-style-image:url(/images/500/account/checkmark.png);*/
}
#Benefits li {
	width:140px;
	/*margin-left:auto;
	margin-right:auto;*/
	list-style-type:none;
	background:url(/images/500/account/checkmark.png) no-repeat 0px 3px transparent;
	padding: 0 0 0 30px;
	margin-bottom:2.0em;
	font-size:11px;
}
#divSignUpContainer {
	min-height:390px;
	width:586px;
	float:right;
	background:#F7F7F7;
}
#divSignUp {
	padding-left:30px;
	padding-top:25px;
	padding-bottom:6.0em;
}
#divSignUp h2 {
	font-size:24px;
	color:#333;
}
.pInstructions {
	font-size:14px;
	color:#666666;
	line-height:24px;
	margin-bottom:1.75em;
}
.pInstructions a {
	color:#006699;
	font-weight:bold;
	font-style:italic;
	text-decoration:none;
}
.pInstructions a span {
	font-size:0.66em;
	vertical-align:top;
	letter-spacing:-2px;
}
.formRow, .formRowExcception {
	height:60px;
}
#divTerms {
	height:40px;
}
#divTerms input {

}
.formRow input {
	background:url(/images/500/account/field.png) no-repeat;
	width:330px;
	height:40px;
	border:none;
	outline:none;
	line-height:40px;
	padding: 0 15px 0 15px;
	color:#999;
	font-size:14px;
}
#terms {
	/*display:none;
	visibility:hidden;*/
}
#checkBoxTermsSurrogate {
	width:20px;
	height:20px;
	display:inline-block;
}
.unchecked {
	background:url(/images/500/account/field-checkmark.png);
}
.checked {
	background:url(/images/500/account/checkmark.png);
}
#divAgreementText {
	display:inline-block;
	font-size:11px;
	line-height:11px;
	color:#999;
	padding-left:0.5em;
}
#divAgreementText a {
	color:inherit;
	text-decoration:underline;
}
.btnSubmit {
	height: 54px;
	text-indent: -1000em;
	cursor: pointer;
	border: none;
}
#createAccountButton {
	background: url(/images/500/account/btn-create-account.png) no-repeat;
	width: 224px;
}
#signInButton {
	background: url(/images/500/account/btn-sign-in.png) no-repeat;
	width: 148px;
}
#resetButton, #resetConfirmButton {
	background: url(/images/500/account/btn-continue.png) no-repeat;
	width: 148px;
}
#divPword a {
	color:#999;
	text-decoration:underline;
	line-height:54px;
}
#divSignInButton {
	position:absolute;
	top:0px;
	left:213px;
}
.relContainer {
	position:relative;
}
.divMarginBottom {
	clear:both;
}
#divSpaceAtBottom {
	height:88px;
}
.errorMessage {
	color:red;
	display:none;
	font-size:smaller;
}