/********************************/
/*	   Login Navigation Menu	*/
/********************************/

.lightBlueMenu {
	background: #4986bf; /* Old browsers */
	background: -moz-linear-gradient(top,  #4986bf 0%, #2968af 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4986bf), color-stop(100%,#2968af)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #4986bf 0%,#2968af 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #4986bf 0%,#2968af 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #4986bf 0%,#2968af 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #4986bf 0%,#2968af 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4986bf', endColorstr='#2968af',GradientType=0 ); /* IE6-9 */
	
	height:20px;
}

.lightBlueBR {
	background-image:none !important;
	width:1px !important;
}        


/********************************/
/*		Login Model Dialog		*/
/********************************/

#divLoginDialog {
	width:350px;
	height:384px;
	overflow:hidden;
	background-color:#fff;
	margin-left:auto;
	margin-right:auto;
	margin-top:142px;
	border:10px solid #32456F;
	position:relative;
}
#divLoginDialog #divLoginTop {
	background:#ECF3F9;
	position:absolute;
	top:0px;
	width:350px;
	height:42px;
	border-bottom:1px solid #CFE2F1;
}
#divLoginDialog #divLoginMiddle {
	position:absolute;
	top:42px;
	width:100%;
	height:236px;
	padding-top:28px;
	padding-left:35px;
}
#divLoginDialog #divLoginBottom {
	background:#ECF3F9;
	position:absolute;
	top:279px;
	width:100%;
	height:106px;
	border-top:1px solid #CFE2F1;
}
#divLoginDialog p {
	font-family:"Arial", "Helvetica", sans-serif;
	color:#7E7F81;
	font-size:0.75em;
	margin-bottom:-0.25em;
}
#divLoginDialog a {
	font-size:inherit;
	font-weight:normal;
	text-decoration:none;
}
#divLoginDialog #divLoginTop p {
	font-size:1.0em;
	margin:0;
	padding:0;
	line-height:1.0em;
	position:absolute;
	left:13px;
	top:14px;
}
#divLoginDialog #divLoginClose {
	position:absolute;
	right:12px;
	top:12px;
	width:19px;
	height:19px;
	background:url(/images/account/button-close.jpg) no-repeat;
	cursor:pointer;
}
#divLoginDialog label {
	display:none;
}
#divLoginDialog #inputEmail, #divLoginDialog #inputPassword, #divLoginDialog #submitButton, #divLoginDialog #divLoginMiddle p {
	float:left;
	clear:left;
}
#divLoginDialog #inputEmail, #divLoginDialog #inputPassword {
	border-radius: 4px;
	-moz-border-radius: 4px;
	-khtml-border-radius: 4px;
	-webkit-border-radius: 4px;
	border:1px solid #BBBBBB;
	width:265px;
	height:28px;
	line-height:28px;
	color:#BBBBBB;
	padding-left:0.5em;
	padding-right:0.5em;
	margin-bottom:1.0em;
	outline:none;
}
#divLoginDialog #inputEmail:focus, #divLoginDialog #inputPassword:focus {
	background:#ECF3F9;
	color:#000;
	outline-color:#000;	
	-webkit-box-shadow: 0px 1px 4px 0px darkgray; /* Saf3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
	box-shadow: 0px 1px 4px 0px darkgray; /* Opera 10.5, IE9, FF4+, Chrome 6+, iOS 5 */
	border:1px solid darkgray;
}
#divLoginDialog #submitButton {
	background:url(/images/account/button-login.jpg) no-repeat;
	width:140px;
	height:40px;
	text-indent:-1000em;
	cursor:pointer;
	border:none;
}
#divLoginDialog #divLoginFacebook {
	background:url(/images/account/button-facebook.jpg) no-repeat;
	width:175px;
	height:34px;
	position:absolute;
	left:78px;
	top:10px;
	cursor:pointer;
}
#divLoginDialog #divLoginGoogle {
	background:url(/images/account/button-google.jpg) no-repeat;
	width:175px;
	height:35px;
	position:absolute;
	left:78px;
	top:53px;
	cursor:pointer;
}
