.titleTagStyle1 { font-weight:bold; font-size:24px; padding-left:20px; }
.titleTagStyle2 { width:100%; border-bottom:1px solid #ccc; font-size:24px; font-weight:bold; padding-bottom:5px; }
.titleTagStyle3 { width:100%; font-size:26px; font-weight:bold; }
.jumpToContainer { background-color:#ebebeb; padding:10px; border:1px solid #ccc; height:20px; }
.fl { float:left; }
.fr { float:right; }
.catTopText { font-size:11px; color:#494949; border-bottom:3px double #ccc; padding:3px; }
.topBoldHeader { margin-bottom:10px; }
.sortByContainer { padding:10px 0px 10px 0px; float:left; width:100%; }
.sortByTitle { color:#494949; font-weight:bold; padding:4px 0px 0px 10px; }
.sortByOptions { padding-left:20px; }
.margR3 { margin-right:3px; }
.pagination { width:100%; }
.musicSkinsSelectContainer { border-bottom:1px solid #CCC; border-top:1px solid #CCC; padding:5px 0px 5px 0px; width:100%; }
.musicSkinsSelectTitle { font-weight:bold; font-size:12px; padding-right:10px; padding-top:3px; }
.musicSkinsSelectOption { padding-right:20px; border-right:1px dotted #CCC; margin-right:20px; }
.w130 { width:130px; }

#modelDetails { height:150px; margin-top:5px; }
#modelDetailImg { float:left; width:120px; padding:0px 20px 0px 20px; }
#modelDetailText { float:left; width:560px; padding-top:15px; }
#nothingAvailable { padding:30px; font-size:30px; color:#FF6100; width:600px; text-align:center; margin:0px auto 0px auto; }
#availableCategories { float:left; margin:0px 20px 0px 20px; width:700px; }
#catMainBox { float:left; width:165px; padding:15px 5px 30px 5px; height:150px; }
#catDetails { padding-top:10px; text-align:center; width:155px; }
#relatedModelsHeader { width:726px; border-left:1px solid #999; border-right:1px solid #999; padding:0px 10px 0px 10px; }
#allRelatedModels { float:left; margin:20px 20px 0px 20px; width:700px; }
#relatedModelBox { width:130px; padding-top:5px; height:215px; float:left; text-align:center; margin-right:10px; }

#diviPhone5Rumors h2, #diviPhone5Rumors h3, #diviPhone5Rumors dt { color:slategray; }
#diviPhone5Rumors dt, #diviPhone5Rumors dd { margin-bottom: 1.0em; /*margin-left: 1.5em;*/ }
#diviPhone5Rumors dt { font-weight: bold; font-size:1.25em; }
#diviPhone5Rumors dl dd dt { color: #000; margin-top: 1.0em; font-weight: inherit; font-style: italic; }
.divPhotoR { margin-top:2.5em; margin-left:2.0em; margin-bottom:1.5em; min-width:1px; min-height:1px; float:right; }
.firstPhoto { padding-top:0.0em; }
.nonFirstPhoto { margin-top:0.5em; }
#diviPhone5Rumors .italic { font-style: italic; }
#diviPhone5Rumors .empty { display:none; }
#diviPhone5Rumors img { border:none; }