#h1BrandLogo { height:50px; }
#brandH1 { float:left; width:600px; }
#brandLogo { float:right; width:100px; height:41px; }
#selectModelBox { background:url(/images/brands/sort-by-background-middle.gif) repeat-x; height:68px; }
#selectModelBoxPart1 { float:left; }
#selectModelBoxPart2 { float:left; padding:25px 10px 0px 10px; }
#selectModelBoxPart3 { float:left; padding-top:25px; font-size:14px; font-weight:bold; color:#666; }
#selectModelBoxPart4 { float:left; padding:25px 0px 0px 10px; }
#selectModelBoxPart4_inner1 { position:relative; }
#searchHelpBox { position:absolute; bottom:0px; right:0px; }
#selectModelBoxPart5 { float:right; cursor:pointer; }
#topModelsHeaderBox { background:url(/images/brands/gray-header-right.gif) repeat-x; }
#topModelsHeader { background:url(/images/brands/gray-header-left.jpg) no-repeat; width:330px; height:30px; color:#fff; font-size:14px; padding:4px 0px 0px 10px; }
#standardModelsHeaderBox { margin-top:10px; background:url(/images/brands/gray-header-right.gif) repeat-x; }
#standardModelsHeader { background:url(/images/brands/gray-header-left.jpg) no-repeat; width:330px; height:30px; color:#fff; font-size:14px; padding:4px 0px 0px 10px; }
#viewOtherModelsBox { cursor:pointer; background:url(/images/brands/bottom-header-center.gif) repeat-x; height:45px; margin-top:10px; }
#viewOtherModelsBox_inner1 { float:left; }
#viewOtherModelsBox_inner2 { float:left; padding-top:10px; text-align:right; width:550px; font-size:18px; font-weight:bold; color:#494949; }
#viewOtherModelsBox_inner3 { float:left; padding:10px 0px 0px 20px; }
#viewOtherModelsBox_inner4 { float:right; }