.main-banner{position:relative;float:left;width:708px;height:140px;margin:10px 0 0 0;padding:10px 20px;background:url("/images/bmcdb/banner.png") no-repeat;color:#fff;}
.main-banner h1{font-family:Arial,Helvetica,sans-serif;font-size:36px;font-weight:bold;margin:0;color:#fff;width:708px;display:block;}
.main-banner h2{font-family:Arial,Helvetica,sans-serif;font-size:18px;font-weight:normal;margin:0;color:#fff;width:708px;display:block;}
.main-banner .title{font-family: Arial,Helvetica,sans-serif; font-size: 36px; font-weight: bold; margin: 0; color: #fff; width: 708px; display: block;}
.main-banner .subtitle{font-family: Arial,Helvetica,sans-serif; font-size: 18px; font-weight: normal; margin: 0; color: #fff; width: 708px; display: block;}
.main-banner .headline{font-family:Arial,Helvetica,sans-serif; font-size:14px;font-weight:bold;line-height:18px; position:absolute; bottom:15px; left:20px; }
.b-sort{position:relative;float:left;margin:10px 0 0 0;padding:0 0 0 10px;}
.b-sort label{font-family:Arial,Helvetica,sans-serif;font-weight:bold;font-size:14px;}
.b-sort select{font-family:Arial,Helvetica,sans-serif;border:1px solid #ccc;border-radius:3px;padding:3px;font-size:14px;}
.b-pagination{font-family:Arial,Helvetica,sans-serif;position:relative;float:right;text-align:left;font-size:14px;margin:10px 0 0 0;line-height:30px;}
.b-pagination a{color:#006699;text-decoration:underline;}
.b-pagination .activePageNum{color:#000000;font-weight:bold;text-decoration:none;}

.type-filter{width:200px;margin:0 0 10px 0;}
.type-filter .header{width:200px;height:14px;position:relative;float:left;background:url("/images/bmcdb/leftnav-header-background1.jpg") no-repeat;text-align:center;font-size:14px;padding:16px 0;color:#fff;font-weight:bold;}
.filters{position:relative;float:left;width:200px;}
.filters div.filter{position:relative;float;left;width:184px;height:17px;padding:9px 8px 9px 8px;background:url("/images/bmcdb/filter-bg.png") no-repeat;font-size:14px;}
.filters div.tall-filter{position:relative;float;left;width:184px;height:28px;padding:9px 8px 9px 8px;background:url("/images/bmcdb/filter-bg-tall2.png") no-repeat;font-size:14px;}
.filters div.filter:last-child{position:relative;float;left;width:184px;height:17px;padding:9px 8px 9px 8px;background:url("/images/bmcdb/filter-bg-bottom.png") no-repeat;font-size:14px;}
.filters div.tall-filter:last-child{position:relative;float;left;width:184px;height:28px;padding:9px 8px 9px 8px;background:url("/images/bmcdb/filter-bg-bottom-tall.png") no-repeat;font-size:14px;}
.filters .filter .chkbox{position:relative;float:left;height:17px;color:#666;font-weight:bold;text-align:left;font-size:12px;}
.filters .filter .chkbox input[type="checkbox"]{display:none;}
.filters .filter .chkbox input[type="checkbox"] + label span {display:inline-block;width:145px;padding:0 0 0 20px; height:17px;background:url("/images/bmcdb/chkbox.png") left -17px no-repeat;cursor:pointer;}
.filters .filter .chkbox input[type="checkbox"]:checked + label span{background:url("/images/bmcdb/chkbox.png") left top no-repeat;color:#f36b2d;}
.filters .filter .qmark{position:relative;float:right;background:url("/images/bmcdb/qmark.png") no-repeat;width:16px;height:17px;}

.filters .tall-filter .chkbox{position:relative;float:left;height:28px;color:#666;font-weight:bold;text-align:left;font-size:12px;}
.filters .tall-filter .chkbox input[type="checkbox"]{display:none;}
.filters .tall-filter .chkbox input[type="checkbox"] + label span {display:inline-block;width:145px;padding:0 0 0 20px; height:17px;background:url("/images/bmcdb/chkbox.png") left -17px no-repeat;cursor:pointer;}
.filters .tall-filter .chkbox input[type="checkbox"]:checked + label span{background:url("/images/bmcdb/chkbox.png") left top no-repeat;color:#f36b2d;}
.filters .tall-filter .qmark{position:relative;float:right;background:url("/images/bmcdb/qmark.png") no-repeat;width:16px;height:28px;}

.other-categories{width:200px;height:387px;position:relative;float:left;background:url("/images/bmcdb/other-categories.png") no-repeat;}

.tooltip{position:relative;float:right;}
.tooltip-show{height:100px;}
.tooltip-show .tip{width:9px;height:100px;position:relative;float:left;background:url("/images/bmcdb/tip.png") left center no-repeat;}
.tooltip-show .ttcontent{position:relative;float:left;box-shadow:3px 3px 3px 0px #888888;background:#fff;}
.tooltip-show .ttcontent .image{position:relative;float:left;width:90px; min-height:105px;background:#f36b2d;text-align:center;padding:15px 5px 5px 5px;}
.tooltip-show .ttcontent .text{position:relative;float:left;width:190px;padding:10px;background:#fefefe;}
