body #google_amark_b, body #google_amark_b * { text-align:left !important; padding:0 !important; margin:0 !important; border:0 !important; position:relative !important; font-weight:normal !important; text-decoration:none !important; font-size:11px !important; font-family:Arial, sans-serif !important; background:#fff !important; float:none !important; }
#google_amark_b .m img, #google_amark_b #t img, #google_amark_b #x a { display:block !important; }
#google_amark_b .h { position:absolute !important; width:325px !important; border:1px solid #ccc !important; }
#google_amark_b #t { padding:6px 0 1px 0px !important; }
#google_amark_b #l { left:10px !important; }
#google_amark_b #x { position:absolute !important; right:0px !important; top:0px !important; border-left:1px solid #ccc !important; border-bottom:1px solid #ccc !important; }
#google_amark_b #c { padding:5px 10px 10px 10px !important; color:#676767 !important; border-top:1px solid #ccc !important;  }
#google_amark_b #c p { padding:5px 0 0 0 !important; }
#google_amark_b #c p.p { padding:0 !important; }
#google_amark_b #c p.p img { top: 5px !important; }
#google_amark_b #c p a:link, #google_amark_b #c p a:visited { color:#0000CC !important; text-decoration:underline !important; }
