/* CSS Document */

#topBar-hotmodels			{ width:210px; height:32px; background:url(/images/stitch/index_new.jpg) -0px -0px no-repeat;}
#topBar-leadingManu-left	{ width:325px; height:30px; background:url(/images/stitch/index_new.jpg) -211px -0px no-repeat; float:left;}
#topBar-featuredPro-left	{ width:325px; height:30px; background:url(/images/stitch/index_new.jpg) -211px -31px no-repeat; float:left;}
#topBar-topselling-left		{ width:325px; height:30px; background:url(/images/stitch/index_new.jpg) -211px -62px no-repeat; float:left;}
#topBar-salesdeals-left		{ width:325px; height:30px; background:url(/images/stitch/index_new.jpg) -211px -93px no-repeat; float:left;}
#topBar-topCategories-left	{ width:413px; height:30px; background:url(/images/headers/header-top-categories.jpg); float:left;}
#commentSubmitHome			{ width:142px; height:22px; background:url(/images/stitch/index_new.jpg) -0px -32px no-repeat; float:right;}
#topBar-middle				{ height:30px; background:url(/images/template/index/background-header-middle.jpg) repeat-x; float:left; }
#topBar-right				{ width:10px; height:30px; background:url(/images/stitch/index_new.jpg) -537px -0px no-repeat; float:left;}

.leadingMenu-leftArrow			{ width:47px; height:99px; background:url(/images/stitch/index_new.jpg) -0px -33px no-repeat; cursor:pointer; float:left;}
.leadingMenu-leftArrow:hover	{ width:47px; height:99px; background:url(/images/stitch/index_new.jpg) -48px -33px no-repeat; cursor:pointer; float:left;}
.leadingMenu-rightArrow			{ width:47px; height:99px; background:url(/images/stitch/index_new.jpg) -96px -33px no-repeat; cursor:pointer; float:left;}
.leadingMenu-rightArrow:hover	{ width:47px; height:99px; background:url(/images/stitch/index_new.jpg) -144px -33px no-repeat; cursor:pointer; float:left;}

#topBar-blog					{ width:280px; height:80px; background:url(/images/stitch/index_new.jpg) -0px -133px no-repeat; cursor:pointer;}

.xtrasmlIndexText 				{ font-size:10px; color:#666666;}
a.xtrasmlIndexLink:link			{ font-size:10px; font-weight: normal; text-decoration:none; color:#666666;}
a.xtrasmlIndexLink:visited		{ font-size:10px; font-weight: normal; text-decoration:none; color:#666666;}
a.xtrasmlIndexLink:active		{ font-size:10px; font-weight: normal; text-decoration:none; color:#666666;}
a.xtrasmlIndexLink:hover		{ font-size:10px; font-weight: normal; text-decoration:underline; color:#666666;}

.indexBlogText	 				{ font-size:11px; color:#0082D0;}
a.indexBlogLink:link			{ font-size:12px; font-weight:bold; text-decoration:none; color:#0082D0;}
a.indexBlogLink:visited			{ font-size:12px; font-weight:bold; text-decoration:none; color:#0082D0;}
a.indexBlogLink:active			{ font-size:12px; font-weight:bold; text-decoration:none; color:#0082D0;}
a.indexBlogLink:hover			{ font-size:12px; font-weight:bold; text-decoration:underline; color:#0082D0;}
