#divDealContainer {
	width:958px;
	min-height:100px;
	position:relative;
	font-family:Verdana, Geneva, sans-serif;
}
#divTopBanner {
	/*background:url(/images/blackFriday2012/banner.png);
	width:958px;
	height:60px;*/
	margin-bottom:10px;
}
#divUpperPortion {
	width:958px;
	height:690px;
}
#divLeftColumn {
	position:absolute;
	top:70px;
	left:0px;
	width:318px;
	height:620px;
}
#divRightColumn {
	width:580px;
	height:560px;
	padding:20px;
	border:10px solid #CCC;
	position:absolute;
	top:70px;
	right:0px;
}
#divCountdownArrow {
	position:absolute;
	top:11px;
	height:61px;
	width:327px;
	padding:8px;
	background: url(/images/blackFriday2012/gray-arrow.png) no-repeat; 
}
#divCountdownArrow h2 {
	font-weight:bold;
	font-size:12px;
	color:#ff9900;
	text-transform:uppercase;
}
#divCountdownDigits {
	color:#FFF;
	font-weight:bold;
	font-size:36px;
}
#divPeoplePurchased {
	position:absolute;
	top:98px;
	width:276px;
	height:26px;
	padding-left:36px;
	color:#666;
	line-height:26px;
}
.thumbUp {
	background:#f7f7f7 url(/images/blackFriday2012/thumbs-up.png) no-repeat 9px 2px;
}
#divShareThisDeal {
	position:absolute;
	top:140px;
	text-transform:uppercase;
	font-weight:bold;
	color:#666;
}
#divShareThisDeal a, #divShareThisDeal a:hover  {
	text-decoration:none;
}
#divTwit, #divFace, #divPint { width:29px;	height:28px;	display:inline-block; margin:9px 6px 0 0; background-repeat:no-repeat;	}
#divTwit {
	background-image:url(/images/blackFriday2012/twitter.png);
}
#divFace {
	background-image:url(/images/blackFriday2012/facebook.png);
}
#divPint {
	background-image:url(/images/blackFriday2012/pinterest.png);
}
#divUpcomingDeals {
	position:absolute;
	top:223px;
}
#divUpcomingDeals h2, #soldOutHover h2 {
	text-transform:uppercase;
	color:#666;
	font-weight:bold;
	line-height:3.5em;
}
.upcomingItemContainer {
	height:110px;
	clear:both;
	color:#666;
	line-height:18px;
	margin-bottom:30px;
	position:relative;
}
.upcomingItemHoverContainer, #soldOutHover {
	height:95px;
	width:318px;
	position:absolute;
	top:-3px;
	left:-10px;
	background-color:rgba(0,0,0,0.8);
	text-align:center;
	padding-top:21px;
}
.upcomingItemHoverContainer h2, #soldOutHover h2 {
	color:#f90 !important;
	font-weight:bold;
}
.upcomingItemHoverContainer div, #soldOutHover div {
	color:#fff;
}
#soldOutHover {
	top:100px;
}
.divSecondaryTimer {
	font-weight:bold;
}
.upcomingItemContainer .img {
	border:1px solid #ccc;
	height:108px;
	width:108px;
	/*background-image:url(/productpics/big/anodized-aluminum-pencil-shaped-stylus-for-capacitive-touchscreens-blue-24824.jpg);*/
	background-repeat:none;
	background-size:110px 110px;

	border-radius: 8px;
	-moz-border-radius: 8px;
	-khtml-border-radius: 8px;
	-webkit-border-radius: 8px;
	
	float:left;
	margin-right:10px;
}
.upcomingItemContainer .desc {
	width:175px;
	height:57px;
	overflow:hidden;
	-o-text-overflow: ellipsis;
	-webkit-text-overflow: ellipsis;
	text-overflow: ellipsis;
}
.upcomingItemContainer .priceDeal {
	font-weight:bold;
	color:#cc0000;
	margin-top:4px;
}
.upcomingItemContainer .priceRetail {
	text-decoration:line-through;
}
#divExtremeDeals {
	position:absolute;
	top:550px;
	background:url(/images/blackFriday2012/timer.png) no-repeat 0px 2px;
	padding-left:42px;
	color:#666;
	height:30px
}
#divExtremeDeals h2 {
	font-weight:bold;
	text-transform:uppercase;
	color:#666;
}
.hr {
	margin:20px 0 0px 0;
	width:100%;
	border-bottom:1px solid #ccc;
}
.hrGrid {
	/*margin:0px 0 40px 0;*/
	clear:both;
}
.hrMini {
	margin:3px 0 0px 0;
	width:100%;
	border-bottom:1px solid #ccc;
}	
#divFeaturedItemContainer {
	position:relative;
}
#divFeaturedItemContainer h1 {
	font-weight:normal;
	font-size:18px;
}
#divPhotoContainer {
	position:absolute;
	left:0px;
	top:100px;
	height:400px;
	width:300px;
}
#divMainPhoto {
	/*background-image:url(/productpics/big/apple-iphone-5-3-in-1-armor-case-w-stand-black-red-33703.jpg);*/
	background-repeat:no-repeat;
	background-size:300px 300px;
	height:300px;
	width:300px;
}
#divThumbnails {
	margin-top:15px;
	padding-left:38px;
}
.divThumbnailSingle {
	background-size:50px 50px;
	width:48px;
	height:48px;
	background-repeat:no-repeat;
	border:1px solid #ccc;
	display:inline-block;
	margin:0 10px 0 10px;
	
	border-radius: 4px;
	-moz-border-radius: 4px;
	-khtml-border-radius: 4px;
	-webkit-border-radius: 4px;
}
.justRound {
	border-radius: 4px;
	-moz-border-radius: 4px;
	-khtml-border-radius: 4px;
	-webkit-border-radius: 4px;
}
#ts1 {
	/*background-image:url(/productpics/AltViews/apple-iphone-5-3-in-1-armor-case-w-stand-black-red-33703-0_thumb.jpg);*/
}
#ts2 {
	/*background-image:url(/productpics/AltViews/apple-iphone-5-3-in-1-armor-case-w-stand-black-red-33703-1_thumb.jpg);*/
}
#ts3 {
	/*background-image:url(/productpics/AltViews/apple-iphone-5-3-in-1-armor-case-w-stand-black-red-33703-2_thumb.jpg);*/
}
#divDescContainer {
	position:absolute;
	top:58px;
	right:0px;
	width:258px;
}
#divRoundedBox {
	position:relative;
	color:#666;
	text-align:center;
	
	height:390px;
	width:258px;
	
	border:1px solid #ccc;	
	border-radius: 8px;
	-moz-border-radius: 8px;
	-khtml-border-radius: 8px;
	-webkit-border-radius: 8px;
	/* */
	background:#fff;
	/* */
	-webkit-box-shadow: 0px 2px 4px 1px #ccc; /* Saf3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
	box-shadow: 0px 2px 4px 1px #ccc; /* Opera 10.5, IE9, FF4+, Chrome 6+, iOS 5 */
}
#divInvBlow {
	margin-top:17px;
	text-transform:uppercase;
	font-size:11px;
}
#divPriceBlowout {
	font-size:30px;
	color:#cc0000;
	font-weight:bold;
	margin-top:6px;
}
#divFreeSameDayShipping {
	color:#369;
	font-weight:bold;
	font-size:12px;
	text-transform:uppercase;
	margin-top:16px;
}
#divTheNumbers {
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	height:72px;
	
	padding-left:11px;
	margin-top:20px;

	background: #f9f9f9; /* Old browsers */
	background: -moz-linear-gradient(top,  #f9f9f9 0%, #e9e9e9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#e9e9e9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f9f9f9 0%,#e9e9e9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f9f9f9 0%,#e9e9e9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f9f9f9 0%,#e9e9e9 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f9f9f9 0%,#e9e9e9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0 ); /* IE6-9 */

}
.third, .divider {
	float:left;
	margin-top:6px;
	height:60px;
	width:20px;
	overflow:hidden;
}

.third {
	width:31%;
}
.divider {
	border-left:1px solid #ccc;
	border-right:1px solid #fff;
	width:0px;
}
.third .title {
	font-weight:bold;
	margin-top:1.0em;
}
.third .price {
	font-weight:bold;
	font-size:16px;
	color:#690;
	margin-top:0.3em;
}
#divQty {
	margin-top:20px;
	font-size:14px;
}
#qty {
	width:37px;
	height:24px;

	border:none;
	outline:none;
	/*border-right:1px solid #ccc;
	border-bottom:1px solid #ccc;*/

	border-radius: 4px;
	-moz-border-radius: 4px;
	-khtml-border-radius: 4px;
	
	-moz-box-shadow:    inset 0px 1px 1px 1px #ccc;
	-webkit-box-shadow: inset 0px 1px 1px 1px #ccc;
	box-shadow:         inset 0px 1px 1px 1px #ccc;
	text-align:center;
	color:#666;
	font-size:14px;

	margin-left:0.5em;
}

#divLimitedQty {
	margin-top:10px;
	color:#666;
}
#divLimitedQty h2 {
	font-weight:bold;
	color:#666;
	line-height:2.25em;
}
#QtyContainer {
	line-height:22px;
	height:22px;
}
#varQtyRemaining {
	display:inline-block;
	color:white;
	font-weight:bold;
	min-width:22px;
	height:22px;
	padding:0 6px; 0 6px;

	border-radius: 11px;
	-moz-border-radius: 11px;
	-khtml-border-radius: 11px;
	-webkit-border-radius: 11px;
}
.varQtyINS {
	background:#690;
}
.varQtyOOS {
	background:#999;
}

#divAddToCartButton {
	width:274px;
	height:54px;
	margin-left:-8px;
	margin-top:20px;
}
.addCartButtonINS {
	background:url(/images/blackFriday2012/add-to-cart.png) no-repeat;
}
.addCartButtonOOS {
	background:url(/images/blackFriday2012/out-of-stock.png) no-repeat;
}
#divFeaturedItemDetailsContainer {
	position:absolute;
	top:530px;
	width:580px;
	height:33px;
	width:100%;
	margin-left:-20px;
	background:url(/images/blackFriday2012/show-details-bg.png) no-repeat;
}
#divButtonShowToggle {
	width:117px;
	margin-left:218px;
	text-align:center;	
	padding-right:20px;
	/*padding-left:20px;*/
	text-transform:uppercase;
	font-weight:bold;
	color:#666;
	line-height:8px;
	height:18px;
	background:url(/images/blackFriday2012/show-details-down-arrow.png) no-repeat right 0px;
}
.arrowUp {
	background:url(/images/blackFriday2012/show-details-up-arrow.png) no-repeat right 0px !important;
}
.clickable {
	cursor:pointer;
}
#divStarRating {
	position:relative;
	margin-bottom:10px;
	width:200px;
	margin-left:auto;
	margin-right:auto;
}
#divStarRating a {
	color:#369;
	text-decoration:underline;
	margin-left:0.5em;
}
#divStarRating div {
	display:inline-block;
}
.star {
	width:17px;
	height:16px;
	display:inline-block;
	text-align:center;
}
.full {
	background:url(/images/blackFriday2012/star-sm-full.png) no-repeat 0px 0px;
}
.empty {
	background:url(/images/blackFriday2012/star-sm-empty.png) no-repeat 0px 0px;
}
.half {
	background:url(/images/blackFriday2012/star-sm-half.png) no-repeat 0px 0px;
}
.sup {
	background:none;
	width:100px;
	padding-top:0px;
}
#divLowerPortion {
	/*padding-top:696px;
	background-color:lightyellow;*/
}
.divOtherProducts {
	color:#666;
	clear:both;
	/*padding-top:20px;*/
}
.divSectionTitle {
	padding:20px 0 10px 0;
}
.divOtherProducts h2 {
	color:#333;
	font-size:18px;
	/*line-height:60px;*/
}
.divOtherProducts h2 span {
	color:#c00;
	font-style:italic;
	font-weight:bold;
}
.divOnSale {
	/**/
}
.strike {
	text-decoration:line-through;
}
.divOnSaleSingle {
	width:20%;
	min-height:200px;
	float:left;
	position:relative;
	text-align:center;
	padding-top:20px;
	padding-bottom:20px;
}
.divPhoto {
	width:146px;
	height:146px;
	/*background-image:url(/productpics/big/apple-iphone-5-panda-protector-faceplate.jpg);*/
	background-size:146px 146px;
	background-repeat:no-repeat;
	margin-left:auto;
	margin-right:auto;
}
.divTitle {
	margin-top:1.0em;
	line-height:18px;
	height:38px;
	overflow:hidden;
	-o-text-overflow: ellipsis;
	-webkit-text-overflow: ellipsis;
	text-overflow: ellipsis;
}
.divExclamation {
	line-height:24px;
	color:#c00;
	font-weight:bold;
}
.divStartingAt {
	line-height:18px;
	margin-bottom:2.0em;
}
.divShopNowButton {
	width:117px;
	height:29px;
	background:#c00;
	
	font-weight:bold;
	text-transform:uppercase;
	line-height:29px;
	color:#fff;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}
.clear {
	clear:both;
}
#divExpandedDetails {
	background:#fff;
	width:580px;
	min-height:350px;
	padding:20px;
	border:10px solid #CCC;
	border-top:none;
	position:absolute;
	top:560px;
	right:-10px;
	z-index:2;
}
.hideBorder {
	border-bottom-width: 0px !important;
	/*border:10px solid orange !important;
	border-top:none !important;*/
}
#divExpandedDetailsContainer {
	color:#666;
}
#divExpandedDetailsContainer h2 {
	text-transform:uppercase;
	color:#666;
	font-weight:bold;
}
#divExpandedDetailsContainer ul {
	padding-left:2.0em;
}
#divExpandedDetailsContainer ul li {
	line-height:24px;
	font-size:11px;
}
#divExpandedDetailsContainer p {
	line-height:24px;
}
.fDate {
	float:right;
	font-style:italic;
	margin-top:20px;
	font-size:11px;
}
#divExpandedDetailsContainer h3 {
	color:#666;
	font-size:24px;
	font-weight:normal;
}
#divSquareStars {
	width:200px;
	margin-top:20px;
}
.squareStar {
	width:25px;
	height:24px;
	display:inline-block;
	text-align:center;
	margin-right:3px;
}
.ssFull {
	background:url(/images/blackFriday2012/star-lrg-full.png) no-repeat 0px 0px;
}
.ssEmpty {
	background:url(/images/blackFriday2012/star-lrg-empty.png) no-repeat 0px 0px;
}
#divReviewContainer {
	margin-top:20px;
}
#divProductFeatures {
	
}
#divProductDetails {
	margin-top:3.0em;
}
#divProductReviews {
	margin-top:3.0em;
}
#revBy {
	font-weight:bold;
	text-transform:uppercase;
}
/*
#divReviewsPop {
	position:absolute;
	top:4px;
	right:10px;
	border:10px solid #CCC;
	-webkit-box-shadow: -2px 2px 8px 0px #000;
	box-shadow: -2px 2px 8px 0px #000;
	width:440px;
	min-height:220px;
	padding:20px;
	z-index:2;
	background:#fff;
}
#closeButton {
	text-transform: uppercase;
	position: absolute;
	right: -30px;
	top: -30px;
	width: 34px;
	height: 34px;
	background: #2C2C2C;
	text-align: center;
	border-radius: 20px;
	font: bold 16px/34px Verdana, Geneva, sans-serif;
	border: 3px solid white;
	cursor: pointer;
	color: white;
	z-index: 100;
	-webkit-box-shadow: -2px 2px 8px 0px #000;
	box-shadow: -2px 2px 8px 0px #000;
}
*/
