#qtyBox { height:190px; }  /* qty box - includes 90 day badge (75 small, 190 big) */
/* #satBadge { display:none; } 90 day badge */
#confedenceBox { display:none; } /* confedence value prop */
#trustLogos { display:none; } /* trust logos */