#featureBox1 { display:none; } /* new feature box in gray box */
#featureBox2 { display:; }  /* og features */
#featureBox3 { display:none; } /* old style feature tucked under pricing */
#descTags { display:none; }