#qtyBox { height:75px; }  /* qty box - includes 90 day badge (75 small, 190 big) */
#satBadge { display:none; } /* 90 day badge */
#confedenceBox { display:; } /* confedence value prop */
#trustLogos { display:none; } /* trust logos */