/* CSS Document */

.fieldWrapper-HL	{ border:2px solid #cd0000; width:298px; height:24px; padding-top:7px; text-align:center; margin:5px 0px 5px 0px; background-color:#ffece8; position:relative; }
.fieldWrapper		{ border:1px solid #b2b2b2; width:300px; height:25px; padding-top:8px; text-align:center; margin:5px 0px 5px 0px; background-color:#fff; position:relative; }
.frmField-HL		{ width:287px; height:19px; padding:5px; border:0px; background-color:#ffece8; color:#cd0000; position:absolute; top:1px; left:1px; }
.frmField			{ width:290px; height:20px; padding:5px; padding-top:8px; border:0px; color:#999; position:absolute; top:0px; left:0px; }
.orangeRoundBox		{ border:1px solid #ff6600; border-radius:10px; background-color:#ff6600; }
.greyRoundBox		{ border:1px solid #e6e6e6; border-radius:10px; background-color:#f2f2f2; }	
.greenRoundBox		{ border:1px solid #64c6af; border-radius:10px; background-color:#64c6af; }
.contactEmail		{ width:330px; height:25px; padding:5px; color:#666; font-size:15px; border:1px solid #ccc; -moz-box-shadow: inset 0 0 1px 1px #ccc; -webkit-box-shadow: inset 0 0 1px 1px #ccc; box-shadow: inset 0 0 1px 1px #ccc; }
.contactContent		{ width:330px; height:150px; padding:5px; color:#666; font-size:15px; border:1px solid #ccc; -moz-box-shadow: inset 0 0 1px 1px #ccc; -webkit-box-shadow: inset 0 0 1px 1px #ccc; box-shadow: inset 0 0 1px 1px #ccc; vertical-align:top; }	

.tracking-form{float:left;background:#f2f2f2;width:795px;border-radius:10px;padding:20px 60px;font-size:14px;}
.track-zip-email{float:left;width:329px;margin:0 0 0 20px;}
.or{float:left;margin:0 25px;background:url("/images/orderstatus/or.png") no-repeat;width:48px;height:207px;}
.track-order-number{float:left;}
.track-title{font-weight:bold;display:block;margin:0 0 20px 0;font-size:16px;}
.field-label{font-weight:normal;display:block;margin:0 0 10px 0;}
.field-label .asterisk{color:#ff6600;font-weight:bold;}
.field{display:block;margin:0 0 10px 0;}
.field input{border:1px solid #999;padding:5px;font-size:14px;width:315px;color:#999;height:20px;}
.field input.error{border:#cd0000;background:url("/images/orderstatus/icon-alert.png") no-repeat 300px 5px #ffece8;border:2px solid #cd0000;color:#cd0000;}
.field span.error-msg{font-size:10px;color:#cd0000;display:block;margin:5px 0 0 0;font-weight:bold;}
.submit-container{float:left;width:795px;text-align:center;margin:20px 0 0 0;}
.track-your-order{background:url("/images/orderstatus/icon-location.png")no-repeat 25px 16px #ff6600;width:282px;height:54px;color:#fff;border:0;border-radius:10px;font-weight:bold;font-size:18px;cursor:pointer;}
.note {width:795px;float:left;font-size:11px;color:#999;text-align:center;margin:20px 0 10px 0;}
.divider{width:795px;height:1px;border-top:1px solid #ccc;float:left;}
.subdivider{width:795px;border-bottom:1px solid #fff;float:left;}
.shipping-notes{width:795px;float:left;text-align:center;margin:10px 0 0 0;color:#999;}
.shipping-icons{width:795px;float:left;margin:20px 0 0 0;}
.ups{float:left;margin:0 0 0 340px;background:url("/images/orderstatus/logo-ups.png") no-repeat;width:42px;height:50px;}
.usps{float:left;margin:0 0 0 30px;background:url("/images/orderstatus/logo-usps.png") no-repeat;width:63px;height:50px;}
.info{background:url("/images/orderstatus/icon-info.png") no-repeat 15px 15px #f2f2f2;width:855px;float:left;margin:0 0 30px 20px;padding:15px 15px 15px 45px;border-radius:10px;font-size:14px;}
.info a{font-weight:bold;color:#046590;text-decoration:underline;}	

.SBSCONF-1Background {
width: 650px;
border: 0px  !important;
background-color: #f2f2f2 !important;
}

.SBSCONF-1HeaderWrap {
    width: 100%;
    overflow: hidden;
	margin-top:350px !important;
}
