body{width:904px; padding:28px; background:#fff; font-family:'Open Sans', sans-serif; font-size:14px; margin:0 auto;}
thead { display: table-header-group; }
tbody { font-size:14px; font-weight:normal; }
tfoot { display:table-footer-group;}

.page	{ padding-bottom:30px; }
.header{ background-color:#ccc; font-size:14px; font-weight:normal; color:#222; text-align:center; padding:5px 0; }
.logo {margin:20px 0 0 0;width:416px;border:0;position:relative;float:left;}
.barcode-container{margin:10px 0 0 0;width:300px;position:relative;float:right;}
.barcode-top {width:100%;position:relative;float:left;}
.date{position:relative;float:left;text-align:center;width:50%;}
.ordernum{position:relative;float:right;text-align:center;width:50%;}
.barcode {width:100%;position:relative;float:left;height:40px;padding:0px 10px;margin:5px 0 0 0;}
.barcode-bottom {position:relative;float:left;width:100%;font-size:12px;font-weight:bold;margin:10px 0 0 0;text-align:center;}
.bestbuy{position:relative;float:left;margin:30px 0 0 60px;width:100px;height:41px;}

.billing{margin:20px 0 20px 0;padding:0 0 0 20px;width:442px;position:relative;float:left;}
.shipping{margin:20px 0 20px 0;padding:0 0 0 20px;width:412px;position:relative;float:left;}
.bill-label, .ship-label{ position:relative;float:left;font-weight:bold; margin:0 10px 0 0;}
.bill-address, .ship-address{position:relative;float:left;}

.paginate { text-align:right; width:100%; padding:10px 0; }

.items-header{margin-top:10px; background-color:#ccc; color:#333; font-size:12px;text-align:center; }
.items-header table td {font-size:14px; font-weight:bold; padding:5px; }

.col-itemnum, .col-product, .col-qty, .col-desc, .col-price { border-right:1px solid #b9b9b9; }

.col-itemnum { width:167px; }
.col-product{ width: 100px; }
.col-qty { width: 47px; font-weight:bold; }
.col-price{width:103px;}
.col-total{width:103px;}

.items {margin:0 0 20px 0;}
.items td { text-align:center; padding:5px; border-bottom:1px solid #b9b9b9; font-size:14px; }

.total-title { text-align:right; font-weight:bold; background:#ccc; padding:5px 20px; margin: 0 0 20px 0;}
.totals { position:relative;float:left; margin-bottom:20px; border-bottom: 1px solid #ccc; width:904px; }

.total-left{ position:relative;float:left;width:511px; padding:0 0 20px 0; }
.paid-by { width:511px;position:relative;float:left; margin:0 0 30px 10px; }
.shoprunner-logo {position:relative;float:left;margin:0 20px 0 0; width:66px;}
.shoprunner-notes { position:relative;float:left;font-size:10px;width:425px; padding:5px 0; }

.total-right{position:relative;float:right; width:350px;}
.total-right .total-item { width:100%; position:relative;float:left; padding: 5px 0; }
.total-item .label { position:relative;float:left;font-weight:bold; text-align:left; width:120px;}
.total-item .amount {position:relative;float:left; font-weight:normal; text-align:right; width:220px; padding-right:10px;}

.WE .stamp-zone	{ border:4px solid #f15e1a; text-align:center; vertical-align:middle; position:relative;float:left;margin:0 14px 0 0;width:184px; padding:16px 0; }
.WE .offer 		{ border:4px solid #f15e1a; text-align:center; vertical-align:middle; width:690px; position:relative;float:left; padding:32px 0;}

.CO .stamp-zone	{ border:4px solid #017AC1; text-align:center; vertical-align:middle; position:relative;float:left;margin:0 14px 0 0;width:184px; padding:16px 0; }
.CO .offer 		{ border:4px solid #017AC1; text-align:center; vertical-align:middle; width:690px; position:relative;float:left; padding:32px 0;}


.page-break	{ display: none; }

@media print {
	/*	
	thead { display: table-header-group;}
	tfoot { display:table-footer-group;}
	*/

	.page { page-break-after: always; page-break-inside: avoid; }
}