/* CSS Document */

#toast 		{ 	display:none; font-size:15px; font-family:Arial, Helvetica, sans-serif; position:fixed; width:100px; height:20px; margin-left:-50px; left:50%; top:20px; 
				z-index:7000; text-align:center; padding:10px; border:1px solid #c1e0b2; border-radius:3px; background-color:#eaf5e5;	}

.phoneorder	{ display:table; width:80%; min-width:1200px; color:#333; font-size:15px; font-family:Arial, Helvetica, sans-serif; margin-bottom:100px; }
.phoneorder	.left		{ float:left; width:47%; padding:0px 1% 0px 1%; border-right:1px solid #ccc; }
.phoneorder	.right		{ float:left; width:49%; padding-left:1%; }
.phoneorder	.headings	{ float:left; width:100%; font-size:16px; background-color:#ebebeb; padding:10px 0px 10px 0px; font-weight:bold; }	
.phoneorder	.logoOn		{ float:left; background-color:#fff; border:2px solid #0878C2; padding:10px; border-radius:3px; width:116px; height:60px; margin-right:30px; cursor:pointer; }
.phoneorder	.logoOff	{ float:left; background-color:#ebebeb; border:2px solid #ccc; padding:10px; border-radius:3px; width:116px; height:60px; margin-right:30px; cursor:pointer; }	
.phoneorder	.coLogoOn	{ float:left; background:url(/images/admin/phoneorder/co_logo.png) no-repeat; width:65px; height:60px; margin-left:25px; }
.phoneorder	.coLogoOff	{ float:left; background:url(/images/admin/phoneorder/co_logo_off.png) no-repeat; width:65px; height:60px; margin-left:25px; }	
.phoneorder	.weLogoOn	{ float:left; background:url(/images/admin/phoneorder/we_logo.png) no-repeat; width:116px; height:45px; margin-top:8px; }
.phoneorder	.weLogoOff	{ float:left; background:url(/images/admin/phoneorder/we_logo_off.png) no-repeat; width:116px; height:45px; margin-top:8px; }	

.phoneorder	.itemDesc	{ float:left; width:62%; text-align:left; }
.phoneorder	.qty		{ float:left; width:20%; text-align:left; }
.phoneorder	.subtotal	{ float:left; width:16%; text-align:center; }
.phoneorder	.store		{ float:left; width:20%; text-align:center; }
.phoneorder	.orderid	{ float:left; width:20%; text-align:left; }
.phoneorder	.orderdate	{ float:left; width:20%; text-align:center; }
.phoneorder	.ordertotal	{ float:left; width:20%; text-align:center; }
.phoneorder	.approved	{ float:left; width:20%; text-align:center; }

.phoneorder	a.lnk		{ color:#0878C2; }
.phoneorder	.row1		{ padding:10px 0px 10px 0px; float:left; width:100%; background-color:#fff; }
.phoneorder	.row2		{ padding:10px 0px 10px 0px; float:left; width:100%; background-color:#eee; }	

.phoneorder	.slides1							{ position:relative; z-index:1; width:100%; height:330px; padding:10px 0px 0px 0px; }
.phoneorder .slides1 .slides_container 			{ display:none; width:525px; padding:5px 0px 5px 10px; }
.phoneorder .slides1 .slide			 			{ width:525px; height:330px; }
.phoneorder .slides1 .pagination 				{ position:absolute; bottom:-15px; right:10px; display:inline-block; z-index:5; }
.phoneorder .slides1 .pagination li 			{ float:left; margin:0 2px; list-style:none; }
.phoneorder .slides1 .pagination li a 			{ float:left; display:inline-block; width:20px; height:0px; padding-top:20px; background-image:url(/images/admin/phoneorder/dot-gray.png); background-position:0 0; overflow:hidden; }
.phoneorder .slides1 .pagination li.current a 	{ background-image:url(/images/admin/phoneorder/dot-blue.png);}
.phoneorder	.slides1 .arrow-left				{ position:absolute; z-index:6; top:100px; left:0px; width:28px; height:52px; background:url(/images/admin/phoneorder/arrow-left.png) no-repeat; cursor:pointer; float:left; }
.phoneorder	.slides1 .arrow-left:hover			{ position:absolute; z-index:6; top:100px; left:0px; width:28px; height:52px; background:url(/images/admin/phoneorder/arrow-left.png) no-repeat; cursor:pointer; float:left; }
.phoneorder	.slides1 .arrow-right				{ position:absolute; z-index:6; top:100px; right:0px; width:28px; height:52px; background:url(/images/admin/phoneorder/arrow-right.png) no-repeat; cursor:pointer; float:left; }
.phoneorder	.slides1 .arrow-right:hover			{ position:absolute; z-index:6; top:100px; right:0px; width:28px; height:52px; background:url(/images/admin/phoneorder/arrow-right.png) no-repeat; cursor:pointer; float:left; }

.phoneorderLightbox	{ font-family:Arial, Helvetica, sans-serif; font-weight:bold; font-size:15px; width:1000px; padding:15px; border:0px; background-color:#FFF; margin-left:auto; margin-right:auto; -moz-box-shadow: 0px 0px 10px #222; -webkit-box-shadow: 0px 0px 10px #222; box-shadow: 0px 0px 10px #222; color:#333; text-align:left; }

.lbl		{ padding-top:8px; }
.btn		{ float:left; font-size:16px; font-weight:bold; color:#333; width:63px; height:19px; padding:7px; border:1px solid #ccc; border-radius:4px; text-align:center; cursor:pointer;
				background: #fcfcfc;
				background: -webkit-linear-gradient(#fff, #ebebeb); /* For Safari 5.1 to 6.0 */
				background: -o-linear-gradient(#fff, #ebebeb); /* For Opera 11.1 to 12.0 */
				background: -moz-linear-gradient(#fff, #ebebeb); /* For Firefox 3.6 to 15 */
				background: linear-gradient(#fff, #ebebeb); /* Standard syntax */	}	
.btnSearch	{ float:left; background:url(/images/admin/phoneorder/ico-search.png) no-repeat; width:17px; height:17px; margin:10px 0px 0px 5px; cursor:pointer;}	
.xxsField	{ float:left; border:1px solid #ccc; border-radius:3px; padding:8px 5px 5px 5px; height:22px; width:35px; color:#333; font-size:15px; text-align:center; -moz-box-shadow:inset 0 1px 0px #333; -webkit-box-shadow:inset 0 1px 0px #333; box-shadow:inset 0 1px 0px #333;}
.xsField	{ float:left; border:1px solid #ccc; border-radius:3px; color:#888; padding:8px 5px 5px 5px; height:22px; width:100px; font-size:15px; text-align:left; -moz-box-shadow:inset 0 1px 0px #333; -webkit-box-shadow:inset 0 1px 0px #333; box-shadow:inset 0 1px 0px #333;}
.sField		{ float:left; border:1px solid #ccc; border-radius:3px; color:#888; padding:8px 5px 5px 5px; height:22px; width:150px; font-size:15px; text-align:left; -moz-box-shadow:inset 0 1px 0px #333; -webkit-box-shadow:inset 0 1px 0px #333; box-shadow:inset 0 1px 0px #333;}
.mField		{ float:left; border:1px solid #ccc; border-radius:3px; color:#888; padding:8px 5px 5px 5px; height:22px; width:200px; font-size:15px; text-align:left; -moz-box-shadow:inset 0 1px 0px #333; -webkit-box-shadow:inset 0 1px 0px #333; box-shadow:inset 0 1px 0px #333;}
.lField		{ float:left; border:1px solid #ccc; border-radius:3px; color:#888; padding:8px 5px 5px 5px; height:22px; width:300px; font-size:15px; text-align:left; -moz-box-shadow:inset 0 1px 0px #333; -webkit-box-shadow:inset 0 1px 0px #333; box-shadow:inset 0 1px 0px #333;}	
.xlField	{ float:left; border:1px solid #ccc; border-radius:3px; color:#888; padding:8px 5px 5px 5px; height:22px; width:500px; font-size:15px; text-align:left; -moz-box-shadow:inset 0 1px 0px #333; -webkit-box-shadow:inset 0 1px 0px #333; box-shadow:inset 0 1px 0px #333;}
.sCbBox		{ float:left; border:1px solid #ccc; border-radius:3px; color:#333; padding:8px 5px 5px 5px; width:150px; margin-right:10px; font-size:14px; text-align:left; -moz-box-shadow:inset 0 1px 0px #333; -webkit-box-shadow:inset 0 1px 0px #333; box-shadow:inset 0 1px 0px #333;}	
.mCbBox		{ float:left; border:1px solid #ccc; border-radius:3px; color:#333; padding:8px 5px 5px 5px; width:210px; font-size:14px; text-align:left; -moz-box-shadow:inset 0 1px 0px #333; -webkit-box-shadow:inset 0 1px 0px #333; box-shadow:inset 0 1px 0px #333;}
.lCbBox		{ float:left; border:1px solid #ccc; border-radius:3px; color:#333; padding:8px 5px 5px 5px; width:350px; font-size:14px; text-align:left; -moz-box-shadow:inset 0 1px 0px #333; -webkit-box-shadow:inset 0 1px 0px #333; box-shadow:inset 0 1px 0px #333;}	
.addressField	{ float:left; width:150px; text-align:left; padding-top:5px; font-size:16px; }
.btnAddToCart	{ 	border: 1px solid #007dc1; background: #2BA8EB; color: #FFF !important; cursor: pointer; display: inline-block; font-weight: bold; font-size: 11px; padding: 2px; width: 85px; text-align: center; position: relative;
					line-height: 18px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
					
.nxt-ac-main	{ display:none !important; z-index:6000px !important; }