.ReviewEntryHeaderContainer{ padding-top: 7px; padding-left: 10px;}
.ReviewEntryContainer{ border-top: #9d9d9d 1px solid; padding-top: 7px; padding-left: 10px;}
.ReviewContainerBuffer{  padding-bottom: 7px;}
.ReviewRating, .ReviewPostedBy, .ReviewName, .ReviewEntry, .ReviewDate, .ReviewShare, .ReviewBeTheFirst { font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;}
.ReviewTitle, .ReviewAverageRating, .SortReviewBy, .ReviewOrderDate, .ReviewOrderRating, .ReviewDivider{ font-family: Arial, Helvetica, sans-serif;}

.ReviewTitle, .ReviewAverageRating, .SortReviewBy{ font-size: 24px;}
.ReviewRating, .ReviewPostedBy, .ReviewName, .ReviewEntry, .ReviewDate, .ReviewShare, .ReviewBeTheFirst{ font-size: 12px;}
.ReviewOrderDate, .ReviewOrderRating{ font-size: 13px;}

.ReviewTitle, .ReviewRating, .ReviewName, .ReviewEntry, .ReviewAverageRating, .SortReviewBy, .ReviewOrderDate, .ReviewOrderRating{ color: #000000;} 
.ReviewPostedBy, .ReviewDate, .ReviewShare{ color: #9d9d9d;}
.ReviewBeTheFirst{ color: #ff3f02;}

.ReviewName, .ReviewDate{ padding-left: 5px;}
.SortReviewBy{ padding-bottom: 3px;}
.ReviewEntry{ padding-top: 7px; padding-bottom: 5px;}
.ReviewRating{ padding-top: 2px; padding-left: 7px;}
.ReviewDividerRight{ padding-right: 9px; border-right: #adadad 1px solid;}
.ReviewOrderDate, .ReviewOrderRating{ width: 150px;}

.ReviewBeTheFirst{ text-decoration: none;}
.ReviewPanelTop{ background-image: url( /images/reviews/boxTopLineBG.jpg); background-repeat: repeat-x; padding-left: 7px; padding-right: 7px;}
.ReviewPanelLeft{ background-image: url( /images/reviews/boxLeftBG.gif); background-repeat: repeat-y; width: 18px;}
.ReviewPanelRight{ background-image: url( /images/reviews/boxRightBG.gif); background-repeat: repeat-y; width: 18px;}
.ReviewPanelBottom{ background-image: url( /images/reviews/boxBottomBG.jpg); background-repeat: repeat-x;}
.ReviewPanelCenter{ padding-bottom: 7px}

.ProductDetailCustomerReviewCount, .ProductDetailReadWriteReviewLink{ font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;}
.ProductDetailRatingLevel, .ProductDetailRatingLevelLabel{ font-family: Arial, Helvetica, sans-serif;}
.ProductDetailReadWriteReviewLink{ color:#ff5c40; font-weight: bold;}
.ProductDetailRatingLevelLabel{ font-weight: bold;}
.ProductDetailCustomerReviewCount{ font-weight: bold;}
.ProductDetailRatingLevelLabel{ font-size: 13px;}
.ProductDetailRatingPanel{ border-top: #c3c3c3 1px solid; border-bottom: #c3c3c3 1px solid;}
