/* ######### CSS for Shade Tabs. */
.shadetabs { padding: 4px 0px; margin-left: 0px; margin-top: 0px; margin-bottom: -2px; font: bold 12px; font-family: Arial, Helvetica, sans-serif; list-style-type: none; text-align: left; }

.shadetext { border: 0px solid #CCCCCC; width: 140px; height: 25px; position: relative; left: 30px; top: 4px; }

.shadetabs li { display: inline; }

.shadetabs li a { text-decoration: none; position: relative; z-index: 1; margin-right: 0px; margin-bottom: 0px; padding: 3px 25px; color: #FFFFFF; background: white url(/images/product/tab_background_off.jpg) top left; }

.shadetabs li a:visited { color: #FFFFFF; }

.shadetabs li a:hover { text-decoration: none; color: #FFFFFF; border-bottom-color: #CCCCCC; top: 0px; }

.shadetabs li a.selected { position: relative; top: 0px; color: #FFFFFF; border-bottom-color: #CCCCCC; background-image: url(/images/product/tab_background_on.jpg); }

.shadetabs li a.selected:hover { text-decoration: none; }

.tabcontent { display: none; font-size: 10pt; color: black; font-family: Arial, Helvetica, sans-serif; }

