/* CSS Document */

#container 					{ width:530px; padding:0px; margin:0; position:relative; z-index:0;		}
#slides 					{ position:absolute; top:0px; left:0px; z-index:1;						}
#slides .slides_container 			{ width:530px; overflow:hidden; position:relative; display:none; 		}
#slides .slides_container div.slide { width:530px; height:320px; display:block; 							}
#slides ul.pagination 				{ padding-left: 5px; }
#slides .pagination 				{ margin:0; position:absolute; left:0px; top:0px; z-index:5; }
#slides .pagination li 				{ float:left; margin:1px 1px 0px 0px; list-style:none; }
#slides .pagination li a 			{ display:block; width:12px; height:0; padding-top:12px; background-image:url(/images/pagination.png); background-position:0 0; float:left; overflow:hidden; }
#slides .pagination li.current a 	{ background-position:0 -12px; }


#container2							{ width:748px; height:99px; padding:0px; margin:0; position:relative; z-index:0;		}
#leading_manu_slides				{ width:748px; position:absolute; top:0px; left:0px; z-index:1;}
#leading_manu_slides .slides_container 					{ width:654px; height:92px; display:none; 	}
#leading_manu_slides .slides_container div.slide 		{ width:634px; height:92px; padding-left:20px; display:block;}
#leading_manu_slides .item							 	{ float:left; width:138px; height:87px; margin-right:20px; 	}

#iphone-latest								{ width:748px; position:absolute; top:0px; left:0px; z-index:1;}
#iphone-latest .slides_container 			{ width:678px; height:220px; display:none; 	}
#iphone-latest .slides_container div.slide 	{ width:678px; height:220px; display:block;}
#iphone-latest .item						{ width:149px; height:220px; padding:0px 10px 0px 10px; float:left;}

#iphone-topselling								{ width:748px; position:absolute; top:0px; left:0px; z-index:1;}
#iphone-topselling .slides_container 			{ width:678px; height:220px; display:none; 	}
#iphone-topselling .slides_container div.slide 	{ width:678px; height:220px; display:block;}
#iphone-topselling .item						{ width:149px; height:220px; padding:0px 10px 0px 10px; float:left;}

#latest									{ width:748px; position:absolute; top:0px; left:0px; z-index:1;}
#latest .slides_container 				{ width:678px; height:220px; display:none; 	}
#latest .slides_container div.slide 	{ width:678px; height:220px; display:block;}
#latest .item							{ width:149px; height:220px; padding:0px 10px 0px 10px; float:left;}

#topselling									{ width:748px; position:absolute; top:0px; left:0px; z-index:1;}
#topselling .slides_container 				{ width:678px; height:220px; display:none; 	}
#topselling .slides_container div.slide 	{ width:678px; height:220px; display:block;}
#topselling .item							{ width:149px; height:220px; padding:0px 10px 0px 10px; float:left;}

