body { font-family: Arial, Helvetica, sans-serif; }
.headerTxt { font-size: 10px; color: #000000; font-weight: bold; }
.xtrasmlIndexText { font-size: 8pt; color: #666666; line-height: 14px; }
a.xtrasmlIndexLink { font-size: 8pt; font-weight: normal; text-decoration: none; color: #CC3300; }
a.topnav { font-size: 10pt; font-weight: bold; text-decoration: none; color: #FFFFFF; }
.signLink { font-size: 9pt; font-weight: normal; color: #666666; text-decoration: none; }
a.sign-link { font-size: 9pt; font-weight: bold; color: #666666; text-decoration: none; }
a.category { font-size: 10pt; font-weight: bold; color: #000000; text-decoration: none; margin-bottom: 0px; }
a.product-description4 { font-size: 10pt; font-weight: normal; color: #000000; text-decoration: none; }
.pricing-gray { font-size: 10pt; color: #999999; font-weight: normal; }
.pricing-orange { font-size: 12pt; color: #FF6633; font-weight: bold; }
.TopModelLink { font-size: 9pt; font-weight: normal; color: #999999; text-decoration: none; }
a.TopModelLink { font-size: 9pt; font-weight: bold; color: #999999; text-decoration: none; }
a.bottom-links { font-size: 8pt; font-weight: bold; color: #000000; text-decoration: none; }
a.bottom-accessory-links { font-size: 8pt; font-weight: normal; color: #000000; text-decoration: none; }
.bottom-text { font-size: 8pt; font-weight: bold; color: #000000; }
.bottomText { font-size: 8pt; color: #333333; font-weight: normal; letter-spacing:-1px; }
a.bottomText-link { font-size: 8pt; font-weight: normal; color: #CC3300; text-decoration: none; letter-spacing:-1px; }
a.leftnav { font-size: 11pt; font-weight: bold; text-decoration: none; color: #666666; line-height: 22px; }
a.blog-link { font-size: 11pt; font-weight: bold; text-decoration: none; color: #6699CC; }
a.blog-full { font-size: 9pt; font-weight: bold; text-decoration: underline; color: #3366AA; }
.smlText { font-size: 8pt; }