body { height:100%; width:100%; margin:3px; padding:0px; background:#fff; font-size:11px; font-family:Trebuchet MS, Arial, Helvetica, sans-serif; }

h1 { font-size: 12pt; color: #000000; font-family: Trebuchet MS, Arial, Helvetica, sans-serif; margin-top:0px; }
h2 { font-size: 12pt; color: #999999; font-family: Trebuchet MS, Arial, Helvetica, sans-serif; margin-top:0px; margin-bottom:5px; }
h3 { font-size: 12pt; color: #333333; font-family: Trebuchet MS, Arial, Helvetica, sans-serif; margin-top:0px; }
h4 { font-size: 24pt; color: #669933; font-weight: normal; font-family: Tahoma, Trebuchet MS, Arial, Helvetica, sans-serif; margin-bottom:0px; }

.normalText { font-size: 10pt; color: #000000; font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; }
.smlText { font-size: 8pt; font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; }
.xtrasmlText { font-size: 7pt; font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; }
.xtrasmlIndexText { font-size: 8pt; color: #666666; font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; line-height: 14px; }
.bigText { font-size: 9pt; font-weight: bolder; color: #f86a11; font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; }
.boldText { font-size: 11pt; font-weight: bold; color: #000000; font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; }
.biggerText { font-size: 12pt; font-weight: bolder; color: #f86a11; font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; }
.product-desc { font-size: 10pt; color: black; font-family: Trebuchet MS, Arial, Helvetica, sans-serif; }
.pricing-large { font-size: 18pt; color: #000000; font-weight: normal; font-family: Tahoma, Trebuchet MS, Arial, Helvetica, sans-serif; }
.pricing-large-red { font-size: 18pt; color: #FF0000; font-weight: normal; font-family: Tahoma, Trebuchet MS, Arial, Helvetica, sans-serif; }
.pricing-large-bold {  font-weight: bold; font-size: 18px; }
.pricing-large-bold-red {  font-weight: bold; font-size: 20px; }
.pricing-large-bold { color: #000000; }
.pricing-large-bold-red, .pricing-smaller-bold-red { color: #FF0000; }
.pricing-smaller-bold-red { font-size: 10pt;  font-weight: bold; }
.pricing-black { font-size: 10pt; color: #000000; font-weight: bold; font-family: Tahoma, Trebuchet MS, Arial, Helvetica, sans-serif; }
.pricing-gray { font-size: 10pt; color: #999999; font-weight: normal; font-family: Arial, Helvetica, sans-serif; }
.pricing-orange { font-size: 12pt; color: #FF6633; font-weight: bold; font-family: Arial, Helvetica, sans-serif; }
.pricing-gray2 { font-size: 9pt; color: #999999; font-weight: normal; font-family: Arial, Helvetica, sans-serif; }
.pricing-orange2 { font-size: 11pt; color: #FF6633; font-weight: bold; font-family: Arial, Helvetica, sans-serif; }
.pricing-red { font-size: 14pt; color: #FF0000; font-weight: bold; font-family: Tahoma, Trebuchet MS, Arial, Helvetica, sans-serif; }
.pricing-small-red { font-size: 11pt; color: #FF0000; font-weight: bold; font-family: Tahoma, Trebuchet MS, Arial, Helvetica, sans-serif; }
.item-large { font-size: 22pt; color: #693; font-weight: normal; font-family: Trebuchet MS, Arial, Helvetica, sans-serif; }
.breadcrumbFinal { font-size: 8pt; color: #000; font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; }
.minicart { font-size: 8pt; color: #999999; font-family: Verdana, Arial, Helvetica, sans-serif; }
.bottom-text { font-size: 8pt; font-weight: bold; color: #000000; font-family: Trebuchet MS, Arial, Helvetica, sans-serif; }
.note-text { font-size: 8pt; font-weight: normal; color: #CC3300; text-decoration: none; font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; }

.search { font-size: 10pt; font-weight: bold; color: #FFFFFF; font-family: Arial, Helvetica, sans-serif; }
.login { font-size: 9pt; font-weight: bolder; color: #FFFFFF; font-family: Arial, Helvetica, sans-serif; border-bottom: #666666 2px solid;  background-color: #999999 }

.altImgText { font-size: 8pt; font-weight: bold; color: #333333; font-family: Verdana, Arial, Helvetica, sans-serif; margin-top: 0px; margin-bottom: 4px; }
.altImgBorder { border: 1px solid gray; }

.related-1 { font-size: 16pt; color: #003399; font-weight: normal; font-family: Trebuchet MS, Arial, Helvetica, sans-serif; }

a:link { font-size: 12px; color: #CC3300; text-decoration: underline; font-family: Arial, Verdana; }
a:visited { font-size: 12px; color: #CC3300; text-decoration: underline; font-family: Arial, Verdana; }
a:active { font-size: 12px; color: #CC3300; text-decoration: none; font-family: Arial, Verdana; }
a:hover { font-size: 12px; color: #CC3300; text-decoration: none; font-family: Arial, Verdana; }

.top-link { font-size: 16pt; font-weight: bold; color: #000000; text-decoration: none; font-family: Arial, Helvetica, sans-serif; font-style: italic; }

.promoLink { font-size: 12pt; font-weight: bold; color: #CC3300; text-decoration: none; font-family: Arial, Helvetica, sans-serif; }
a.promo-link:link { font-size: 12pt; font-weight: bold; color: #CC3300; text-decoration: underline; font-family: Arial, Helvetica, sans-serif; }
a.promo-link:visited { font-size: 12pt; font-weight: bold; color: #CC3300; text-decoration: underline; font-family: Arial, Helvetica, sans-serif; }
a.promo-link:active { font-size: 12pt; font-weight: bold; color: #CC3300; text-decoration: underline; font-family: Arial, Helvetica, sans-serif; }
a.promo-link:hover { font-size: 12pt; font-weight: bold; color: #CC3300; text-decoration: underline; font-family: Arial, Helvetica, sans-serif; }

.signLink { font-size: 9pt; font-weight: normal; color: #666666; text-decoration: none; font-family: Arial, Helvetica, sans-serif; }
a.sign-link:link { font-size: 9pt; font-weight: bold; color: #666666; text-decoration: none; font-family: Arial, Helvetica, sans-serif; }
a.sign-link:visited { font-size: 9pt; font-weight: bold; color: #666666; text-decoration: none; font-family: Arial, Helvetica, sans-serif; }
a.sign-link:active { font-size: 9pt; font-weight: bold; color: #666666; text-decoration: none; font-family: Arial, Helvetica, sans-serif; }
a.sign-link:hover { font-size: 9pt; font-weight: bold; color: #666666; text-decoration: none; font-family: Arial, Helvetica, sans-serif; }
.signLink2 { font-size: 9pt; font-weight: bold; color: #FF6633; text-decoration: none; font-family: Arial, Helvetica, sans-serif; }
a.sign-link2:link { font-size: 9pt; font-weight: bold; color: #FF6633; text-decoration: none; font-family: Arial, Helvetica, sans-serif; }
a.sign-link2:visited { font-size: 9pt; font-weight: bold; color: #FF6633; text-decoration: none; font-family: Arial, Helvetica, sans-serif; }
a.sign-link2:active { font-size: 9pt; font-weight: bold; color: #FF6633; text-decoration: none; font-family: Arial, Helvetica, sans-serif; }
a.sign-link2:hover { font-size: 9pt; font-weight: bold; color: #FF6633; text-decoration: none; font-family: Arial, Helvetica, sans-serif; }

.TopModelLink { font-size: 9pt; font-weight: normal; color: #999999; text-decoration: none; font-family: Arial, Helvetica, sans-serif; }
a.TopModelLink:link { font-size: 9pt; font-weight: bold; color: #999999; text-decoration: none; font-family: Arial, Helvetica, sans-serif; }
a.TopModelLink:visited { font-size: 9pt; font-weight: bold; color: #999999; text-decoration: none; font-family: Arial, Helvetica, sans-serif; }
a.TopModelLink:active { font-size: 9pt; font-weight: bold; color: #999999; text-decoration: none; font-family: Arial, Helvetica, sans-serif; }
a.TopModelLink:hover { font-size: 9pt; font-weight: bold; color: #999999; text-decoration: none; font-family: Arial, Helvetica, sans-serif; }

.topText { font-size: 9pt; color: #333333; font-family: Trebuchet MS, Arial, Helvetica, sans-serif; line-height:14px; text-align:justify; }
a.topText-link:link { font-size: 9pt; font-weight: bold; color: #CC3300; text-decoration: none; font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; line-height:14px; }
a.topText-link:visited { font-size: 9pt; font-weight: bold; color: #CC3300; text-decoration: none; font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; line-height:14px; }
a.topText-link:active { font-size: 9pt; font-weight: bold; color: #CC3300; text-decoration: none; font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; line-height:14px; }
a.topText-link:hover { font-size: 9pt; font-weight: bold; color: #CC3300; text-decoration: underline; font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; line-height:14px; }

.bottomText { font-size: 8pt; color: #333333; font-weight: normal; font-family: Trebuchet MS, Arial, Helvetica, sans-serif; letter-spacing:-1px; }
a.bottomText-link:link { font-size: 8pt; font-weight: normal; color: #CC3300; text-decoration: none; font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; letter-spacing:-1px; }
a.bottomText-link:visited { font-size: 8pt; font-weight: normal; color: #CC3300; text-decoration: none; font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; letter-spacing:-1px; }
a.bottomText-link:active { font-size: 8pt; font-weight: normal; color: #CC3300; text-decoration: underline; font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; letter-spacing:-1px; }
a.bottomText-link:hover { font-size: 8pt; font-weight: normal; color: #CC3300; text-decoration: underline; font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; letter-spacing:-1px; }

.carrierText { font-size: 8pt; color: #999999; font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; }
a.carrier:link { font-size: 8pt; color: #999999; text-decoration: underline; font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; }
a.carrier:visited { font-size: 8pt; color: #999999; text-decoration: underline; font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; }
a.carrier:active { font-size: 8pt; color: #999999; text-decoration: none; font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; }
a.carrier:hover { font-size: 8pt; color: #999999; text-decoration: none; font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; }

a.promoText-link:link { font-size: 9pt; font-weight: normal; color: #666666; text-decoration: none; font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; line-height:14px; }
a.promoText-link:visited { font-size: 9pt; font-weight: normal; color: #666666; text-decoration: none; font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; line-height:14px; }
a.promoText-link:active { font-size: 9pt; font-weight: normal; color: #666666; text-decoration: none; font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; line-height:14px; }
a.promoText-link:hover { font-size: 9pt; font-weight: normal; color: #666666; text-decoration: underline; font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; line-height:14px; }

a.product-description:link { font-size: 10pt; font-weight: normal; color: #000000; text-decoration: none; font-family: Trebuchet MS, Arial, Helvetica, sans-serif; }
a.product-description:visited { font-size: 10pt; font-weight: normal; color: #000000; text-decoration: none; font-family: Trebuchet MS, Arial, Helvetica, sans-serif; }
a.product-description:active { font-size: 10pt; font-weight: normal; color: #000000; text-decoration: none; font-family: Trebuchet MS, Arial, Helvetica, sans-serif; }
a.product-description:hover { font-size: 10pt; font-weight: normal; color: #000000; text-decoration: none; font-family: Trebuchet MS, Arial, Helvetica, sans-serif; }

a.product-description2:link { font-size: 10pt; font-weight: bold; color: #000000; text-decoration: underline; font-family: Trebuchet MS, Arial, Helvetica, sans-serif; }
a.product-description2:visited { font-size: 10pt; font-weight: bold; color: #000000; text-decoration: underline; font-family: Trebuchet MS, Arial, Helvetica, sans-serif; }
a.product-description2:active { font-size: 10pt; font-weight: bold; color: #000000; text-decoration: underline; font-family: Trebuchet MS, Arial, Helvetica, sans-serif; }
a.product-description2:hover { font-size: 10pt; font-weight: bold; color: #000000; text-decoration: underline; font-family: Trebuchet MS, Arial, Helvetica, sans-serif; }

a.product-description3:link { font-size: 8pt; font-weight: normal; color: #CC3300; text-decoration: none; font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; line-height:14px; }
a.product-description3:visited { font-size: 8pt; font-weight: normal; color: #CC3300; text-decoration: none; font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; line-height:14px; }
a.product-description3:active { font-size: 8pt; font-weight: normal; color: #CC3300; text-decoration: none; font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; line-height:14px; }
a.product-description3:hover { font-size: 8pt; font-weight: normal; color: #CC3300; text-decoration: none; font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; line-height:14px; }

a.product-description4:link { font-size: 10pt; font-weight: normal; color: #000000; text-decoration: none; font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; }
a.product-description4:visited { font-size: 10pt; font-weight: normal; color: #000000; text-decoration: none; font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; }
a.product-description4:active { font-size: 10pt; font-weight: normal; color: #000000; text-decoration: none; font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; }
a.product-description4:hover { font-size: 10pt; font-weight: normal; color: #000000; text-decoration: underline; font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; }

a.product-description5:link { font-size: 9pt; font-weight: normal; color: #000000; text-decoration: none; font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; line-height: 10pt;}
a.product-description5:visited { font-size: 9pt; font-weight: normal; color: #000000; text-decoration: none; font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; line-height: 10pt;}
a.product-description5:active { font-size: 9pt; font-weight: normal; color: #000000; text-decoration: none; font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; line-height: 10pt;}
a.product-description5:hover { font-size: 9pt; font-weight: normal; color: #000000; text-decoration: underline; font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; line-height: 10pt;}

a.category:link { font-size: 10pt; font-weight: bold; color: #000000; text-decoration: none; font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; margin-bottom: 0px; }
a.category:visited { font-size: 10pt; font-weight: bold; color: #000000; text-decoration: none; font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; margin-bottom: 0px; }
a.category:active { font-size: 10pt; font-weight: bold; color: #000000; text-decoration: none; font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; margin-bottom: 0px; }
a.category:hover { font-size: 10pt; font-weight: bold; color: #000000; text-decoration: none; font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; margin-bottom: 0px; }

a.cellphone-font:link { font-size: 10pt; font-weight: bold; color: #669933; text-decoration: none; font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; }
a.cellphone-font:visited { font-size: 10pt; font-weight: bold; color: #669933; text-decoration: none; font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; }
a.cellphone-font:active { font-size: 10pt; font-weight: bold; color: #669933; text-decoration: none; font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; }
a.cellphone-font:hover { font-size: 10pt; font-weight: bold; color: #669933; text-decoration: none; font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; }

a.cellphone-font2:link { font-size: 10pt; font-weight: bold; color: #000000; text-decoration: none; font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; }
a.cellphone-font2:visited { font-size: 10pt; font-weight: bold; color: #000000; text-decoration: none; font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; }
a.cellphone-font2:active { font-size: 10pt; font-weight: bold; color: #000000; text-decoration: none; font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; }
a.cellphone-font2:hover { font-size: 10pt; font-weight: bold; color: #000000; text-decoration: none; font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; }

a.cellphone-category-font:link { font-size: 8pt; font-weight: normal; color: #000000; text-decoration: none; font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; }
a.cellphone-category-font:visited { font-size: 8pt; font-weight: normal; color: #000000; text-decoration: none; font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; }
a.cellphone-category-font:active { font-size: 8pt; font-weight: normal; color: #000000; text-decoration: none; font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; }
a.cellphone-category-font:hover { font-size: 8pt; font-weight: normal; color: #000000; text-decoration: none; font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; }

a.bottom-links:link { font-size: 8pt; font-weight: bold; color: #000000; text-decoration: none; font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; }
a.bottom-links:visited { font-size: 8pt; font-weight: bold; color: #000000; text-decoration: none; font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; }
a.bottom-links:active { font-size: 8pt; font-weight: bold; color: #000000; text-decoration: none; font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; }
a.bottom-links:hover { font-size: 8pt; font-weight: bold; color: #000000; text-decoration: none; font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; }

a.bottom-accessory-links:link { font-size: 8pt; font-weight: normal; color: #000000; text-decoration: none; font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; }
a.bottom-accessory-links:visited { font-size: 8pt; font-weight: normal; color: #000000; text-decoration: none; font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; }
a.bottom-accessory-links:active { font-size: 8pt; font-weight: normal; color: #000000; text-decoration: none; font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; }
a.bottom-accessory-links:hover { font-size: 8pt; font-weight: normal; color: #000000; text-decoration: none; font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; }

a.breadcrumb:link { font-size: 8pt; color: #FF6600; text-decoration: none; font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; }
a.breadcrumb:visited { font-size: 8pt; color: #FF6600; text-decoration: none; font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; }
a.breadcrumb:active { font-size: 8pt; color: #FF6600; text-decoration: none; font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; }
a.breadcrumb:hover { font-size: 8pt; color: #FF6600; text-decoration: none; font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; }

a.linktopcart:link { font-size: 10pt; text-decoration: none; color: #666666; font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; }
a.linktopcart:visited { font-size: 10pt; text-decoration: none; color: #666666; font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; }
a.linktopcart:active { font-size: 10pt; text-decoration: none; color: #666666; font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; }
a.linktopcart:hover { font-size: 10pt; text-decoration: none; color: #666666; font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; }

a.leftnav:link { font-size: 11pt; font-weight: bold; text-decoration: none; color: #666666; font-family: Arial, Helvetica, sans-serif; line-height: 22px; }
a.leftnav:visited { font-size: 11pt; font-weight: bold; text-decoration: none; color: #666666; font-family: Arial, Helvetica, sans-serif; line-height: 22px; }
a.leftnav:active { font-size: 11pt; font-weight: bold; text-decoration: none; color: #666666; font-family: Arial, Helvetica, sans-serif; line-height: 22px; }
a.leftnav:hover { font-size: 11pt; font-weight: bold; text-decoration: none; color: #FF6633; font-family: Arial, Helvetica, sans-serif; line-height: 22px; }

a.topnav:link { font-size: 9pt; font-weight: bold; text-decoration: none; color: #FFFFFF; font-family: Arial, Helvetica, sans-serif }
a.topnav:visited { font-size: 9pt; font-weight: bold; text-decoration: none; color: #FFFFFF; font-family: Arial, Helvetica, sans-serif }
a.topnav:active { font-size: 9pt; font-weight: bold; text-decoration: none; color: #FFEA8E; font-family: Arial, Helvetica, sans-serif }
a.topnav:hover { font-size: 9pt; font-weight: bold; text-decoration: none; color: #FFEA8E; font-family: Arial, Helvetica, sans-serif; }

a.brand-cat:link { font-size: 10pt; font-weight: normal; text-decoration: underline; color: #000000; font-family: Arial, Helvetica, sans-serif; }
a.brand-cat:visited { font-size: 10pt; font-weight: normal; text-decoration: underline; color: #000000; font-family: Arial, Helvetica, sans-serif; }
a.brand-cat:active { font-size: 10pt; font-weight: normal; text-decoration: underline; color: #000000; font-family: Arial, Helvetica, sans-serif; }
a.brand-cat:hover { font-size: 10pt; font-weight: normal; text-decoration: underline; color: #999999; font-family: Arial, Helvetica, sans-serif; }

a.brand-cat2:link { font-size: 9pt; font-weight: normal; text-decoration: underline; color: #666666; font-family: Arial, Helvetica, sans-serif; }
a.brand-cat2:visited { font-size: 9pt; font-weight: normal; text-decoration: underline; color: #666666; font-family: Arial, Helvetica, sans-serif; }
a.brand-cat2:active { font-size: 9pt; font-weight: normal; text-decoration: underline; color: #666666; font-family: Arial, Helvetica, sans-serif; }
a.brand-cat2:hover { font-size: 9pt; font-weight: normal; text-decoration: underline; color: #333333; font-family: Arial, Helvetica, sans-serif; }

a.xtrasmlIndexLink:link { font-size: 8pt; font-weight: normal; text-decoration: none; color: #CC3300; font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif }
a.xtrasmlIndexLink:visited { font-size: 8pt; font-weight: normal; text-decoration: none; color: #CC3300; font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif }
a.xtrasmlIndexLink:active { font-size: 8pt; font-weight: normal; text-decoration: none; color: #CC3300; font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif }
a.xtrasmlIndexLink:hover { font-size: 8pt; font-weight: normal; text-decoration: none; color: #CC3300; font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; }

a.blog-link:link { font-size: 11pt; font-weight: bold; text-decoration: none; color: #6699CC; font-family: Arial, Helvetica, sans-serif }
a.blog-link:visited { font-size: 11pt; font-weight: bold; text-decoration: none; color: #6699CC; font-family: Arial, Helvetica, sans-serif }
a.blog-link:active { font-size: 11pt; font-weight: bold; text-decoration: none; color: #CC3300; font-family: Arial, Helvetica, sans-serif }
a.blog-link:hover { font-size: 11pt; font-weight: bold; text-decoration: none; color: #CC3300; font-family: Arial, Helvetica, sans-serif; }

a.blog-full:link { font-size: 9pt; font-weight: bold; text-decoration: underline; color: #3366AA; font-family: Arial, Helvetica, sans-serif }
a.blog-full:visited { font-size: 9pt; font-weight: bold; text-decoration: underline; color: #3366AA; font-family: Arial, Helvetica, sans-serif }
a.blog-full:active { font-size: 9pt; font-weight: bold; text-decoration: underline; color: #CC3300; font-family: Arial, Helvetica, sans-serif }
a.blog-full:hover { font-size: 9pt; font-weight: bold; text-decoration: underline; color: #CC3300; font-family: Arial, Helvetica, sans-serif; }

a.ShopByBrand:link { font-size: 8pt; font-weight: bold; color: #999999; text-decoration: none; font-family: Arial, Helvetica, sans-serif; }
a.ShopByBrand:visited { font-size: 8pt; font-weight: bold; color: #999999; text-decoration: none; font-family: Arial, Helvetica, sans-serif; }
a.ShopByBrand:active { font-size: 8pt; font-weight: bold; color: #999999; text-decoration: none; font-family: Arial, Helvetica, sans-serif; }
a.ShopByBrand:hover { font-size: 8pt; font-weight: bold; color: #999999; text-decoration: none; font-family: Arial, Helvetica, sans-serif; }

ul.SimpleMenu2 { list-style-type: none; margin-top: 0px; margin-left: 0px; padding-left: 0px; }
ul.SimpleMenu2 li { background-color: #EEEEEE; border-style: outset; border-width: 1px; }
ul.SimpleMenu2 li a { background-color: #EEEEEE; font-size: 9pt; display: block; width: 180px; text-decoration: none; }
ul.SimpleMenu2 li a:hover { background-color: #FFFFFF; font-size: 9pt; }

.thin-border {
	border: 1px solid #000000;
}

.nicetextbox {
	padding-left: 5px;
	/*margin-top: 9px;*/
	border-style: solid;
	border-color: black;
	border-width: 1px;
	font-size: 10pt;
	font-family: Arial, Helvetica, sans-serif;
}

.grid_header 		{ background-color:#BDBDBD; font-size: 10pt; color: #000000; font-family: Arial, Helvetica, sans-serif;}
.grid_header_td		{ border-right-color:#FFFFFF; border-right-width:1px; border-right-style:solid;}
.grid_row_0 		{ background-color:#FFFFFF;}
.grid_row_1 		{ background-color:#E5E5E5;}

.tab-header-on	{ border-top:2px solid #E95516; border-left:2px solid #E95516; border-right:2px solid #E95516;}
.tab-header-off	{ border-bottom:2px solid #E95516; }	

.colorBoxSelected			{ display:inline-block; width:12px; height:12px; padding:1px; border:1px solid #999;}
.colorBoxSelected:hover		{ display:inline-block; width:12px; height:12px; padding:1px; border:1px solid #ccc;}
.colorBoxUnselected			{ display:inline-block; width:12px; height:12px; padding:1px; border:1px solid #fff;}
.colorBoxUnselected:hover	{ display:inline-block; width:12px; height:12px; padding:1px; border:1px solid #ccc;}

/* added by Terry on 7/27, some useful common css */
.mCenter					{ margin:0px auto; }
.left						{ float:left; }
.fl							{ float:left; }
.right						{ float:right; }
.fr							{ float:right; }
.tb							{ display:table; }
.ftb						{ display:table; width:100%; }
.ffl						{ display:table; width:100%; }
.clear						{ clear:both; }
.w100						{ width:100%; }
.talign-c					{ text-align:center; }
.talign-l					{ text-align:left; }
.talign-r					{ text-align:right; }
.padding5					{ padding:5px; }
.padding-v					{ padding-top:5px; padding-bottom:5px; }
.padding-h					{ padding-left:5px; padding-right:5px; }
.margin5					{ margin:5px; }	
.margin-v					{ margin-top:5px; margin-bottom:5px; }
.margin-h					{ margin-left:5px; margin-right:5px; }
.bold						{ font-weight:bold; }
.border-b					{ border-bottom:1px solid #ccc; }
.border						{ border:1px solid #ccc; }
.roundBorder				{ border:1px solid #ccc; border-radius:5px; }
.wrapper					{ display:inline-block; }
.bl							{ font-weight:bold; }
.pr15						{ padding-right:15px; }
.p10						{ padding:10px; }

.filter-box-header	{ padding:3px; float:left; border-radius:3px; margin-left:13px; text-align:center; font-size:13px; font-weight:bold; background-color:#fff; border:1px solid #e1e1e1; }
.filter-box			{ padding:0px 3px 3px 3px; float:left; border-radius:3px; margin-left:15px; text-align:center;}
.table-row			{ width:100%; height:15px; margin:0px; border-radius:3px; padding:5px; }
.table-cell			{ float:left; padding:3px 1px 3px 1px; display:table-cell; vertical-align:middle;}

#sortDesc			{position:absolute; top:0px; right:0px; width:14px; height:9px; background: url(/images/sort_icon.gif) 0px -9px no-repeat; cursor:pointer;}
#sortAsc			{position:absolute; top:0px; right:0px; width:14px; height:9px; background: url(/images/sort_icon.gif) 0px 0px no-repeat; cursor:pointer;}

.copyPnText { font-weight:bold; margin:2px 5px 0px 0px; }
.copyPnInput { margin-right:5px; }