.cartItemCnt { width:100%; height:40px; background-color:#000034; color:#FFF; font-weight:bold; }
.orangeCntTxt { color:#ff9801; }
.cartReview { background-color:#f7f7f7; padding-top:20px; display:table; width:100%; border-bottom:1px solid #CCC; }
.cartItem { 
	display:table;
	width:300px;
	margin:0px auto;
	border-top:1px solid #CCC;
	border-left:1px solid #CCC;
	border-right:1px solid #CCC;
	background-color:#FFF;
	margin-bottom:15px;
	-moz-box-shadow: 0px 10px 5px #888;
	-webkit-box-shadow: 0px 10px 5px #888;
	box-shadow: 0px 5px 5px #888;
}
.itemPic { width:100px; height:100px; padding-top:15px; }
.cartItemDetails { width:190px; color:#666; line-height:16px; }
.itemDesc { padding:10px; }
.itemQty { padding:10px; }
.qtyTxt { font-size:14px; padding:5px 10px 0px 0px; }
.qtySelect { background:url(/images/mobile/backgrounds/qtyBox.gif); width:65px; height:30px; overflow:hidden; }
.lockQtySelect { width:65px; height:30px; overflow:hidden; font-weight:bold; font-size:14px; text-align:center; }
.invisibleSelect { background-color:transparent; border:0px; font-size:14px; width:80px; margin:5px 0px 0px 10px; }
.inStock { display:table; width:190px; padding-top:10px; margin-bottom:10px; }
.greenCheck { background:url(/images/mobile/icons/greenCheck.gif); width:13px; height:12px; }
.inStockTxt { color:#666; font-weight:bold; padding-left:5px; }
.basePrice { color:#666; }
.totalPrice { font-weight:bold; color:#cc0200; }
.deleteItem { display:table; margin-top:15px; }
.deleteItemIcon { background:url(/images/mobile/icons/deleteItem.gif); width:20px; height:20px; }
.deleteItemTxt { color:#666; padding-left:10px; }
.cartSummaryTitle { background-color:#000034; width:140px; height:24px; margin:0px auto; border-bottom-left-radius:10px; border-bottom-right-radius:10px; color:#FFF; font-weight:bold; text-align:center; padding-top:8px; }
.summaryRow { color:#000034; font-weight:bold; padding:10px; display:table; width:280px; }
.summaryRowBlue { background-color:#000034; color:#FFF; font-weight:bold; padding:10px; display:table; width:280px; }
.checkoutBox { width:300px; margin:20px auto; border:1px solid #CCC; background-color:#f7f7f7; border-radius:5px; }
.checkoutBttn { width:282px; height:52px; background:url(/images/mobile/buttons/proceed-2-checkout.png); margin:10px auto; }
.creditCards { width:185px; height:29px; background:url(/images/mobile/icons/creditCards.gif); margin:10px auto; }
.otherCheckouts { color:#000034; font-weight:bold; width:100%; text-align:center; margin-bottom:15px; }
.payPal { background:url(/images/mobile/buttons/payPal.gif); width:282px; height:52px; margin:0px auto; }

.payPalBox 			{ display:table; background-color:#f7f7f7; border:2px solid #cacaca; border-radius:10px; padding:0px 9px 9px 9px; width:268px; margin:15px auto 0px auto; }
.payPalText 		{ color:#2d2d2d; font-size:14px; width:100%; text-align:center; font-weight:bold; padding:10px 0px; }
.payPalPrimary 		{ background:url(/images/mobile/buttons/co-m-paypal.png); background-size:282px 52px; width:282px; height:52px; margin:0px auto; }
.otherCheckouts2	{ color:#000034; font-weight:bold; width:100%; text-align:center; margin:15px 0px; }
.checkoutBoxBlank	{ width:300px; margin:10px auto; }
.checkoutBttn2		{ width:201px; height:42px; background:url(/images/mobile/buttons/co-m-checkout.png); background-size:201px 42px; margin:0px auto; }
.creditCards2		{ width:201px; height:29px; background:url(/images/mobile/icons/co-m-cclogos.png); background-size:201px 29px; margin:10px auto 20px auto; }

.continueShopping {
	width:158px;
	height:25px;
	border:1px solid #CCC;
	border-radius:5px;
	-moz-box-shadow: 0px 10px 5px #888;
	-webkit-box-shadow: 0px 10px 5px #888;
	box-shadow: 0px 5px 5px #888;
	margin:10px auto;
}
.continueShoppingArrows { background:url(/images/mobile/icons/continueShoppingArrows.gif); width:9px; height:5px; margin:10px 0px 0px 8px; }
.continueShoppingTxt { width:125px; font-weight:bold; font-size:10px; margin:6px 0px 0px 4px; }
.linkBlue { text-decoration:none; color:#326799; }
.noItemsInCart { font-size:14px; font-weight:bold; text-align:center; padding:20px 10px; }
.pd10 { padding:10px; }

.basketValues { border-top:1px solid #CCC; border-bottom:1px solid #CCC; background-color:#ededed; height:48px; width:100%; }
.propBox1 { width:130px; text-align:right; }
.propBox2 { width:135px; }
.blueProp { color:#336699; font-size:14px; }
.grayProp { color:#666; font-size:11px; }
.propThumb { width:27px; height:30px; background-image:url(/images/mobile/icons/propThumb.gif); margin-left:10px; margin-right:10px; }
.proceedToCheckout { margin:15px auto; width:302px; height:42px; background-image:url(/images/mobile/buttons/proceedToCheckout_02.gif); cursor:pointer; }
.ready2ShipIcon { width:26px; height:26px; background-image:url(/images/mobile/icons/ready2Ship.gif); margin-left:10px; }
.ready2ShipText { color:#333; font-size:12px; width:250px; margin-left:10px; line-height:18px; }
.greenText { color:#669900; }
.topSubTotal { margin-top:10px; border-top:1px solid #CCC; border-bottom:1px solid #CCC; padding:10px 0px; font-size:14px; }
.blueText { color:#336699; }
.basicCartItem { display:table;	width:100%; margin:0px auto; border-bottom:1px solid #CCC; margin-bottom:15px; }
.cartItemDetailsLarge { width:270px; color:#666; line-height:16px; }
.itemPicIcon { width:45px; height:45px; padding-top:15px; }
.itemDescBold { padding:10px; font-weight:bold; color:#000; width:170px; }
.qtySelectFloat { background:url(/images/mobile/backgrounds/qtyBox.gif); width:65px; height:30px; overflow:hidden; margin-top:15px; }
.basePriceSmall { color:#000; font-size:11px; padding-left:10px; line-height:20px; }
.priceText { margin-right:5px; width:65px; text-align:right; }
.redText { color:#cc0000; }
.retailText { color:#999; text-decoration:line-through; margin-left:10px; }
.totalBox { border:8px solid #dedede; border-radius:3px; width:280px; margin:0px auto; }
.promoBox { padding:10px; font-weight:bold; font-size:11px; }
.expandPromo { background-image:url(/images/mobile/buttons/promoExpand.gif); width:16px; height:16px; margin-left:15px; cursor:pointer; }
.orderTotal { background-color:#336699; padding:10px; color:#FFF; font-weight:bold; width:100%; border-bottom-left-radius:3px; border-bottom-right-radius:3px; }
.checkText { font-weight:bold; font-size:11px; margin-left:10px; }
.checkLine { margin:15px 0px 0px 30px; }
.paymentMethods { margin:15px auto; width:300px; height:56px; background-image:url(/images/mobile/icons/creditCards_02.gif); }
.payPal2 { margin:15px auto; width:144px; height:46px; background-image:url(/images/mobile/buttons/payPal_02.gif); }
.bottomLink { border-top:1px solid #CCC; padding:10px; width:100%; }
.cellphoneIcon { background:url(/images/mobile/icons/bottomLinkCellphone.gif) no-repeat center; width:18px; height:18px; margin-left:15px; }
.returnsIcon { background:url(/images/mobile/icons/bottomLinkReturns.gif) no-repeat center; width:18px; height:18px; margin-left:15px; }
.shopMoreIcon { background:url(/images/mobile/icons/bottomLinkShopMore.gif) no-repeat center; background-position:center; width:18px; height:18px; margin-left:15px; }
.bottomLinkText { font-size:14px; margin-left:15px; }
.bottomHref { color:#336699; text-decoration:none; }
.otherItemsText { color:#000; font-weight:bold; font-size:11px; width:100%; margin:0px auto; padding:10px 0px; border-top:1px solid #CCC; }
.wishCartItem { display:table;	width:100%; margin:0px auto; border-bottom:1px solid #CCC; margin-bottom:15px; background-color:#f6f7fb; }
.swipeBox { width:300px; height:165px; margin:0px auto; overflow:hidden; }
.innerSwipeBox { width:300px; height:185px; overflow:auto; }
.alsoPurchasedItem { border-right:1px solid #CCC; padding:0px 10px; overflow:hidden; }
.alsoPurchasedPic { margin:0px auto; text-align:center; }
.alsoPurchasedText { line-height:14px; font-size:11px; height:58px; overflow:hidden; }
.alsoPurchasedPrice { color:#F00; font-weight:bold; font-size:14px; text-align:left; margin:5px 0px; }
.hidePromoBox { display:none; }
.showPromoBox { margin:0px 0px 10px 15px; height:25px; width:250px; }
.promoSubmit { border:1px solid #CCC; color:#336699; text-align:center; width:60px; height:18px; padding-top:2px; font-weight:bold; border-top-right-radius:5px; border-bottom-right-radius:5px; cursor:pointer; }
.promoError { margin:10px 0px; background-color:#FCC; font-weight:bold; font-size:14px; border-top:1px solid #F00; border-bottom:1px solid #F00; text-align:center; padding:10px 0px; }
.promoApplied { padding:5px; }
.removePromo { padding:5px; text-align:center; }
.addToCart_swipe {
	font-size:11px;
	font-weight:bold;
	color:#333;
	text-align:center;
	width:90px;
	padding-top:2px;
	border:1px solid #CCC;
	height:15px;
	margin:5px auto;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #fb9e25) );
	background:-moz-linear-gradient( center top, #ffc477 5%, #fb9e25 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc477', endColorstr='#fb9e25');
	background-color:#ffc477;
	border-radius:5px;
	-moz-box-shadow: 0px 10px 5px #888;
	-webkit-box-shadow: 0px 10px 5px #888;
	box-shadow: 0px 5px 5px #888;
	cursor:pointer;
}

a.promoLnk	{ color:#336799; font-weight:bold; text-decoration:underline; }
.promoBox	{ display:table; padding:0px 0px 10px 10px; }
.promoApply	{  	cursor:pointer;
				background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fff), color-stop(1, #ececec) );
				background:-moz-linear-gradient( center top, #fff 5%, #ececec 100% );
				filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#ececec');
				background-color:#fff;
				padding-top:6px;
				margin-left:6px; 
				width:50px; 
				height:22px; 
				color:#336799; 
				font-weight:bold; 
				text-align:center; 
				border:1px solid #cbcbcb; 
				border-radius:3px;	}
.promoField { border-radius:3px; color:#888; border:1px solid #cbcbcb; height:28px; width:200px; padding:0px 5px 0px 5px; }
.iconRemovePromo { width:18px; height:18px; background:url(/images/mobile/icons/removepromo.png) no-repeat; cursor:pointer; margin:-1px 0px 0px 5px; }
