/* CSS Document */
.freeShippingBanner		{ background:url(/images/banners/we-free-sameday-shipping2.jpg) no-repeat; width:748px; height:68px; }
.productPicWrapper		{ float:right; width:300px; position:relative;}
.fullBuyNowWrapper		{ float:right; width:430px; }
.buyNowTop				{ float:left; border:1px solid #CCC; background-color:#ebebeb; padding:5px; border-radius:15px; }
.reviewWrapper			{ float:left; padding-left:10px; width:300px; }
.limitedWrapper			{ float:left; width:100px; height:40px; border-right:2px groove #fff; font-weight:bold; font-size:12px; text-align:left; padding-top:10px; }
.priceDetailWrapper		{ width:300px; float:left; padding-top:10px; height:75px; }
.qtyWrapper				{ width:100px; float:left; border-right:2px groove #fff; padding-top:10px; }
.buyNowBottom			{ display:none; }
.qnaWrapper				{ width:726px; height:400px; padding-top:10px; overflow:auto; }
.shipWithin				{ float:left; width:100px; height:40px; border-right:2px groove #fff; font-weight:bold; font-size:10px; text-align:left; }

#prodDescription		{ width:700px; text-align:left; padding:0px 10px 0px 10px; overflow:auto; font-size:14px; }