/* CSS Document */

#normalPdpBanner { display:; }
#promoPdpBanner { display:none; }

#fcAddBttn { display:; }
#fcAddBttnPromo { display:none; }

#promoFreeGiftMsg { display:none; }

#popCartRemove { display:none; }
#popCartRemoveWithPromo { display:; }