/* CSS Document */
.freeShippingBanner		{ background:url(/images/banners/freeshipping-banner.jpg) no-repeat; width:958px; height:68px; }
.productPicWrapper		{ float:right; padding-left:30px; width:350px; position:relative;}
.fullBuyNowWrapper		{ float:right; width:560px;}
.buyNowTop				{ float:left; border:1px solid #CCC; background-color:#ebebeb; padding:5px; border-radius:15px; }
.reviewWrapper			{ float:left; padding:15px 0px 0px 10px; width:400px;}
.limitedWrapper			{ float:left; width:110px; height:40px; font-weight:bold; font-size:12px; text-align:left; padding-top:10px; }
.priceDetailWrapper		{ width:375px; float:left; padding-top:10px; height:75px; }
.qtyWrapper				{ width:130px; float:left; border-right:2px groove #fff; padding-top:10px; }
.buyNowBottom			{ display:; padding-top:5px; float:left; }
.buyNowBottomLeft		{ float:left; width:250px; height:85px; border:1px solid #CCC; background-color:#f7f7f7; padding:5px; border-radius:15px; margin-right:6px; }
.buyNowBottomRight		{ float:left; width:250px; height:85px; border:1px solid #CCC; background-color:#f7f7f7; padding:5px; border-radius:15px; }
.qnaWrapper				{ width:930px; height:300px; padding-top:10px; overflow:auto; }
.shipWithin				{ float:left; width:120px; height:30px; font-weight:bold; font-size:10px; text-align:left; padding:10px 0px 0px 10px;}

#featureBox1			{ display:none; }
#prodDescription		{ width:900px; text-align:left; padding:0px 10px 0px 10px; overflow:auto; font-size:14px; }