.fl { float:left; }
.fr { float:right; }
.tb { display:table; }
.mCenter { margin:0px auto; }
.cWidth { width:748px; }

.allBreadCrumbs { border-bottom:1px solid #CCC; margin-bottom:10px; }
.bcBox { margin:10px 10px 10px 0px; }
.bcBoxLarge { margin:10px 10px 10px 0px; width:650px; }
.breadCrumbs { color:#666 !important; font-size:11px; font-weight:bold; }

.prodImgDetails { width:330px; }

.starBox { width:177px; height:35px; }
.fullStar { width:17px; height:16px; margin-right:1px; background-image:url(/images/icons/ratingFullStar.gif); }
.emptyStar { width:17px; height:16px; margin-right:1px; background-image:url(/images/icons/ratingEmptyStar.gif); }
.reviewCnt { margin-left:10px; color:#666; font-size:12px; font-weight:bold; }
.reviewLinks { margin-top:5px; width:200px; }
.reviewLink { text-decoration:underline !important; color:#336699 !important; }
.reviewLink2 { margin:0px 10px; }

.prodImg { width:300px; height:300px; margin-top:10px; }
.imgOptions { width:269px; height:34px; }
.zoomLink { width:79px; height:34px; background-image:url(/images/buttons/imgZoom.gif); margin-right:18px; }
.videoLink { width:80px; height:34px; background-image:url(/images/buttons/imgVideo.gif); margin-right:18px; }
.link360 { width:74px; height:34px; background-image:url(/images/buttons/img360.gif); }
.altImgBox { width:260px; background-color:#e6e6e6; border-radius:5px; padding:15px 20px 0px 40px; margin-top:15px; }
.altImg { border:1px solid #CCC; margin:0px 20px 15px 0px; }
.customizeText { text-align:center; margin-top:10px; width:275px; }

.prodTxtDetails { width:415px; }
.itemTitle { border-bottom:1px solid #CCC; width:385px; padding:0px 15px 10px 15px; }
.itemTitleH1 { font-size:20px !important; color:#333 !important; line-height:28px !important; font-weight:normal !important; }
.pnIdPipe { margin:0px 8px; font-weight:bold; }
.priceBox { border-right:1px solid #CCC; width:182px; }
.wePrice { font-weight:bold; color:#cc0000; font-size:32px; margin:5px 0px 5px 10px; }
.retailPrice { color:#333; text-decoration:line-through; margin:0px 0px 5px 12px; }
.saveValue { color:#333; font-weight:bold; font-size:13px; margin:0px 0px 10px 12px; }

.shipBox { width:225px; }
.shipIcon { background-image:url(/images/icons/freeShippingTruck.gif); width:214px; height:25px; margin:10px 5px; }
.shipTextBox { width:180px; text-align:center; }
.stockNotice { width:75px; }
.noticeIcon { background-image:url(/images/icons/greenCheckSmall.gif); width:12px; height:12px; margin:2px 5px 0px 0px; }
.noticeText { font-weight:bold; color:#669933; }
.shipTime { font-size:13px; width:225px; text-align:center; margin-top:5px; }

.valueProps { width:395px; border-top:1px solid #CCC; border-bottom:1px solid #CCC; padding:10px; }
.hassleFree { background-image:url(/images/icons/90-day.gif); width:183px; height:34px; margin-right:15px; }
.warranty { background-image:url(/images/icons/warranty.gif); width:153px; height:34px; }

.addToCartBox { padding:10px; border-bottom:1px solid #CCC; width:395px; }
.qtyText { font-size:18px; margin:10px 10px 0px 0px; }
.qtyBox { margin:12px 15px 0px 0px; }
.addToCartBttn { width:257px; height:47px; }
.outOfStock { width:257px; font-weight:bold; color:#F00; font-size:16px; text-align:center; border-top:1px solid #F00; border-bottom:1px solid #F00; margin-top:10px; margin-bottom:10px; }

.featureTitle { background-image:url(/images/icons/productFeatures.gif); width:169px; height:40px; margin:5px 0px 0px 5px; }
.featureList { border-bottom:1px solid #CCC; padding-bottom:8px; }
.featureRow { width:415px; margin-top:5px; }
.featureArrow { background-image:url(/images/icons/featureArrow.gif); width:4px; height:7px; margin:3px 10px; }
.featureText { font-size:11px; width:350px; }

.socialBox { margin:10px 0px 0px 10px; height:40px; }

.titleIconRecommend { background-image:url(/images/icons/recommendedItems.gif); width:50px; height:45px; }
.titleIconRecent { background-image:url(/images/icons/recentlyViewed.gif); width:50px; height:45px; }
.titleIconTabs { background-image:url(/images/icons/productTabIcon.gif); width:50px; height:45px; }
.titleIconExclusiveOffer { background-image:url(/images/icons/exclusiveOffer.gif); width:50px; height:45px; }
.titleIconShareThoughts { background-image:url(/images/icons/shareThoughts.gif); width:50px; height:45px; }
.titleMainBar { height:28px; background-color:#e6e6e6; margin-top:6px; width:668px; font-size:18px; font-weight:bold; color:#000; padding:5px 0px 0px 20px; position:relative; }
.titleRight { width:10px; height:33px; background-image:url(/images/icons/titleBarRight.gif); margin-top:6px; }
.prevItem { width:21px; height:103px; margin:10px 10px 0px 30px; }
.nextItem { width:21px; height:103px; margin:10px 30px 0px 10px; }
.recommenedProducts { width:600px; height:250px; overflow:hidden; }
.recommendedProductList { width:600px; height:267px; overflow:auto; }
.recCell { padding:10px; cursor:pointer; }
.recPic { width:100px; height:100px; }
.recDesc { width:130px; height:50px; margin-top:5px; font-size:13px; line-height:16px; color:#333; overflow:hidden; font-weight:bold; }
.recRetail { font-size:13px; margin-top:5px; text-decoration:line-through; color:#333; }
.recPrice { font-size:20px; margin-top:5px; color:#ff3300; font-weight:bold; }
.tabContent { width:665px; border-left:5px solid #E6E6E6; overflow:auto; border-right:5px solid #E6E6E6; border-bottom:5px solid #E6E6E6; padding:10px; margin:0px 0px 20px 43px; }
.tabContentInactive { display:none; }
.activeDetailTab { 
    border-top:1px solid #ccc; 
    border-left:1px solid #ccc; 
    border-right:1px solid #ccc; 
    border-top-left-radius:5px; 
    border-top-right-radius:5px; 
	text-align:center;
    float: left;
    width:120px; 
    height:7px; 
    position:relative; 
    top:-10px;  
    margin-right:3px;
    background: #999; /* for non-css3 browsers */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#ffffff'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#ffffff)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #ccc,  #ffffff); /* for firefox 3.6+ */
    padding:15px 5px; }
.inactiveDetailTab {
    float: left;
	text-align:center;
    width:120px; 
    height:12px; 
    position:relative; 
    top:0px;  
    margin-right:3px;
    border-right:1px solid #ccc;
    background: #e6e6e6;
    cursor:pointer;
    padding:5px 5px; }
}
.qna-normalText {font-size:13px; font-family:Arial, Helvetica, sans-serif; text-align:left;}
.qna-normalText2 {font-size:12px; font-family:Arial, Helvetica, sans-serif; text-align:left;}
.srBox { width:400px; height:50px; border:1px solid #ccc; border-radius:5px; margin-top:15px; margin-bottom:15px; }
.srInnerBox { padding-top:10px; width:300px; }
.commentDiv { margin-top:15px; }
.backToTopIcon { background-image:url(/images/icons/backToTop.gif); width:14px; height:18px; cursor:pointer; }
.backToTopText { color:#336699; font-size:12px; padding-top:3px; margin-left:5px; margin-right:15px; cursor:pointer; }