.pdpMain	{ width:100%; display:table; font-family:Arial, Helvetica, sans-serif; }
.pdpMainLeft	{ width:448px; margin-right:10px; float:left; }
.pdpMainRight	{ width:500px; float:left; color:#333; }
.AddToCartBox	{ border:1px solid #ccc; border-radius:5px; background-color:#f9f9f9; padding:10px; width:478px; float:left; margin:5px 0px 15px 0px;}
.AddToCartBox .horiBar	{ width:100%; float:left; border-top:1px solid #ccc; height:0px; margin:7px 0px 7px 0px; }
.ourPrice		{ font-size:13px; color:#000; font-weight:bold; }
.qtyBox			{ border:2px solid #ccc; padding:5px; width:30px; border-radius:3px; background-color:#fff; text-align:center; }
.stockPresentation	{ font-size:14px; }

.productFeatures	{ font-size:1px; }
.productFeatures .title	{ padding-left:10px; font-size:20px; }
.productFeatures .list ul li { font-size:14px; line-height:20px; }

.prodDescTabs	{ float:left; width:100%; }
.prodDescTabs .left { float:left; width:20px; height:40px; border-bottom:3px solid #ccc; border-right:1px solid #ccc; }
.prodDescTabs .middle { float:left; border-top:1px solid #ccc; width:650px; height:42px; }
.prodDescTabs .middle .on 	{ cursor:pointer; float:left; border-right:1px solid #ccc; padding-top:10px; text-align:center; height:32px; font-weight:bold; color:#ff6600; font-size:14px; }
.prodDescTabs .middle .off 	{ cursor:pointer; float:left; border-right:1px solid #ccc; border-bottom:3px solid #ccc; padding-top:10px; text-align:center; height:29px; background-color:#f2f2f2; color:#222; font-weight:bold; font-size:14px; }
.prodDescTabs .right { float:left; border-bottom:3px solid #ccc; width:286px; height:40px; }

.prodContent				{ float:left; font-size:14px; width:938px; padding:10px; display:inline-block; text-align:left; }
.prodContent .desc 			{ width:740px; text-align:left; position:relative; font-size:14px; }
.prodContent .review 		{ width:100%; float:left; text-align:left; }
.prodContent .comp 			{ width:100%; float:left; text-align:left; height:200px; overflow:auto; }
.prodContent .comp .title 	{ font-size:18px; }
.prodContent .qna 			{ width:100%; float:left; text-align:left; }
.prodContent .warranty		{ width:100%; float:left; text-align:left; font-size:14px; color:#222; }

.floatingValuePropBox 		{ width:300px; z-index:2000px; font-size:12px; color:#555; border-radius:5px; padding:10px; position:absolute; background-color:#fff; border:1px solid #ccc; -moz-box-shadow: 3px 5px 5px #ccc; -webkit-box-shadow: 3px 5px 5px #ccc; box-shadow: 3px 5px 5px #ccc; }

.altImage					{ border:1px solid #ccc; padding:10px; border-radius:5px; }
a.breadCrumb	{ color:#336699; text-decoration:none; font-size:12px; font-weight:normal; }

.clickable			{ cursor:pointer; }
.btn-arrow-left		{ background:url(/images/buttons/prevImg.gif) no-repeat; width:33px; height:50px; }
.btn-arrow-right	{ background:url(/images/buttons/nextImg.gif) no-repeat; width:33px; height:50px; }

.pagination 				{ position:absolute; top:-35px; right:20px; display:inline-block; z-index:5; }
.pagination li 				{ float:left; margin:0 2px; list-style:none; }
.pagination li a 			{ float:left; display:inline-block; width:20px; height:0px; padding-top:20px; background-image:url(/images/product/dot-gray.png); overflow:hidden; }
.pagination li.current a 	{ background-image:url(/images/product/dot-blue.png);}

.fWidth		{ width:100%; }
.breadCrumbs	{ width:100%; float:left; color:#333; padding:0px 0px 5px 0px; margin-bottom:10px; border-bottom:1px solid #ccc; }

.cls		{ clear:both; }
.fl 		{ float:left; }
.fr 		{ float:right; }
.ffl 		{ float:left; width:100%; }
.ffr 		{ float:right; width:100%; }

.fullStar { width:17px; height:16px; margin-right:1px; background-image:url(/images/icons/ratingFullStar.gif); }
.emptyStar { width:17px; height:16px; margin-right:1px; background-image:url(/images/icons/ratingEmptyStar.gif); }

h1.product		{ color:#333; font-size:18px; font-weight:normal; font-family:Arial, Helvetica, sans-serif; }
