<table>
	<tr>
		<td align="center" valign="bottom">
			<div class="NormalText" style="position:relative">
            <div class="bmc_productOnSale[ONSALE]"></div>
        <form action="http://www.cellularoutfitter.com/cart/item_add.asp" method="post">
          <input type="hidden" name="prodid" value="[SKU]">
          <input type="hidden" name="qty" value="1">

          <input type="hidden" name="relatedid" value="0">

					<a href="[URL]" title="[NAME]"><img OnError="src='/images/nopic_new_white.gif'" src="[IMG]" border="0" alt="[NAME]" title="[NAME]" /></a>
					<br>
					<a href="[URL]" title="[NAME]">[NAME]</a>
					<br>
					<div style="padding-top:8px;"><input class="nxt_addtocart" type="image" src="http://www.cellularoutfitter.com/images/buttons/addToCart.png" width="94" height="20" border="0" alt="Buy It Now!"></div>
					<br>
					<span style="TEXT-DECORATION: line-through">[REGULARPRICE]</span><font color="red"><b>&nbsp;&nbsp;[PRICE]</b></font>
				</form>
			</div>
		</td>
	</tr>
</table>