<TR class="smlText">
	<TD ALIGN=right VALIGN=top><BR></TD>
	<TD COLSPAN=2 valign=top><A HREF='[URL]' title="[NAME]"><b>[NAME]</b></A></TD>
	<TD ALIGN=right valign=top rowspan="2">
    	<form action="http://www.cellularoutfitter.com/cart/item_add.asp" method="post" style="margin:0px; padding:0px;">
          <input type="hidden" name="prodid" value="[SKU]">
          <input type="hidden" name="qty" value="1">
        <span style="TEXT-DECORATION: line-through">[REGULARPRICE]</span><br />
        [PRICE]
        <div style="padding-top:5px;"><input type="image" src="http://www.cellularoutfitter.com/images/buttons/addToCart.png" width="94" height="20" border="0" alt="Buy It Now!"></div>
        </form>
    </TD>
</TR>
<TR class="smlText">
	<TD></TD>
	<TD align=center valign="top"><A HREF='[URL]' title="[NAME]"><img border=0 OnError="src='/images/nopic_new_white.gif'" src='[IMG]' title="[NAME]" alt="[NAME]"></A></TD>
	<TD valign=top valign=left>[DESCRIPTION]</TD>
</TR>
<TR><TD colspan=4><TABLE width='100%'><TR><TD height=1 bgcolor='#c0c0c0'></TD></TR></TABLE>